<div class="usa-grid-full" *ngIf="pageReady" [ngClass]="'assistance-listing-operations'">
  <page
    theme="inside"
    [attr.id]="'page-title'"
    [breadcrumbs]="crumbs"
    section="Workspace"
    [options]="options"
    [badge]="'Draft'"
    [title]="pageTitle">

    <div class="twelve wide mobile eleven wide tablet seven wide computer column">
      <div class="sam-ui hidden divider"></div>
      <div id="page-data" class="sam-ui segment" *ngIf="program">
        <div class="sam-ui medium header">
          Title
          <div class="sub header">{{program.data.title}}</div>
        </div>
        <div class="sam-ui medium header">
          CFDA Number
          <div class="sub header">{{program.data.programNumber}}</div>
        </div>
      </div>

      <div class="sam-ui hidden divider"></div>

      <form [formGroup]="falChangeRequestForm">
        <div class="sam-ui segment">
          <check-active-assistance-administrator
            *ngIf="(currentOrganization && requestType != 'agency_request' && isChangeRequestPermissionType('request')) || (newOrganization && requestType == 'agency_request')"
            [organization]="newOrganization || currentOrganization">
          </check-active-assistance-administrator>

          <ng-container *ngIf="requestType == 'archive_request'">
            <sam-checkbox class="cb-request"
                          [required]="true"
                          [label]="'Have you verified there is $0 funding for two years (current and prior), and no active awards against this listing on USASpending.gov?*'"
                          [name] ="'active-awards'"
                          aria-label="Request Checkbox"
                          [attr.id]="'archive-checkbox'"
                          [options]="archiveRequestActiveAwardsOptions"
                          [hasSelectAll]="false"
                          [control]="falChangeRequestForm.controls['activeAwards']"
                          formControlName="activeAwards">
            </sam-checkbox>
          </ng-container>

          <ng-container *ngIf="program && (requestType == 'agency_request')">

            <sam-alert [type]="'error'" [title]="'Same Agency'" *ngIf="falChangeRequestForm.controls['organizationPicker'].hasError('error')">
              The chosen agency is the same as the current one. Please choose a different agency.
            </sam-alert>

            <h4 class="sam-ui header">Current Organization</h4>

            <div class="sam-ui medium header" *ngIf="currentOrganization.l1Name">
              Department
              <div class="sub header">{{currentOrganization.l1Name}}</div>
            </div>
            <div class="sam-ui medium header" *ngIf="currentOrganization.l2Name">
              Sub-Tier
              <div class="sub header">{{currentOrganization.l2Name}}</div>
            </div>
            <div class="sam-ui medium header" *ngIf="currentOrganization.l3Name">
              Office
              <div class="sub header">{{currentOrganization.l3Name}}</div>
            </div>

            <sam-agency-picker-v2
            [attr.id]="agencyPickerConfig.id"
            [control]="falChangeRequestForm.get('organizationPicker')"
            [formControl]="falChangeRequestForm.get('organizationPicker')"
            [hint]="agencyPickerConfig.hint"
            [label]="agencyPickerConfig.label"
            [limit]="agencyPickerConfig.levelLimit"
            [required]="agencyPickerConfig.required"
            formControlName="organizationPicker"
            [type]="agencyPickerConfig.type">
          </sam-agency-picker-v2>

            <sam-alert [type]="'warning'" [title]="'Agency outside of your users scope'" *ngIf="agencyChangeAlertShow">
              The chosen agency is outside your users scope. If you continue and this request is approved, you will no longer have access to this program.
            </sam-alert>
          </ng-container>

          <div class="sam-ui hidden divider"></div>

          <sam-fal-text *ngIf="requestType == 'program_number_request' && cfdaCode"
                    [maxlength]="3"
                    [control]="falChangeRequestForm.controls['programNumber']"
                    [name]="'program-number-input'"
                    [label]="'Proposed CFDA Number'"
                    [required]="true"
                    [cfdaCode]="cfdaCode"
                    [pending]="falChangeRequestForm.controls['programNumber'].pending"
                    formControlName="programNumber">
          </sam-fal-text>

          <sam-text *ngIf="requestType == 'title_request'"
                    [control]="falChangeRequestForm.controls['newTitle']"
                    [name]="'new-title-input'"
                    [label]="'New Title'"
                    [required]="true"
                    formControlName="newTitle">
          </sam-text>

          <sam-text-area [label]="'Reason'"
                         [name]="'comment-input'"
                         [control]="falChangeRequestForm.controls['comment']"
                         [required]="true"
                         formControlName="comment">
          </sam-text-area>
        </div>

        <div class="text-align-right">
          <sam-button [buttonType]="'tertiary'"
                      [attr.id]="'cancel-btn'"
                      [buttonText]="'Cancel'"
                      [buttonDisabled]="buttonDisabled"
                      (onClick)="cancelChangeRequest()">
          </sam-button>
          <sam-button [buttonType]="buttonType"
                      [attr.id]="'submit-btn'"
                      [buttonText]="submitButtonText"
                      [buttonDisabled]="buttonDisabled"
                      (onClick)="submitChangeRequest()">
          </sam-button>
        </div>

        <ng-container *ngIf="buttonDisabled === true">Processing Request...</ng-container>
      </form>
    </div>

    <div class="sam-ui hidden section divider"></div>

  </page>
</div>
