<div class="usa-grid-full" *ngIf = "pageReady">
  <form *ngIf="falChangeRequestActionForm" [formGroup]="falChangeRequestActionForm">
    <h1 class="m_T-0 p_T-6x"> {{pageTitle}} </h1>
    <div class="usa-grid-full usa-bgcolor-gray-lightest p_All-3x" *ngIf="programRequest">
      <div class="usa-width-one-half">
        <div class="content"><strong>Title:</strong> {{programRequest.program.title}}</div>
        <div class="content"><strong>CFDA Number:</strong> {{programRequest.program.programNumber}}</div>
      </div>
      <div class="usa-width-one-half">
        <div class="content">
          <sam-label *ngIf="programRequest && isRequestStatus('pending')" [labelType]="'big'" [labelText]="'Pending'"></sam-label>
          <sam-label *ngIf="programRequestAction && isRequestStatus('rejected')" [labelType]="'big'" [labelText]="'Rejected'"></sam-label>
          <sam-label *ngIf="programRequestAction && isRequestStatus('approved')" [labelType]="'big'" [labelText]="'Approved'"></sam-label>
          <sam-label *ngIf="programRequestAction && isRequestStatus('cancelled')" [labelType]="'big'" [labelText]="'Cancelled'"></sam-label>
        </div>
        <div class="content"><strong>Submitted Date:</strong> {{ programRequest.entryDate | dateFormat: 'MMM DD, YYYY' }}</div>
        <div class="content"><strong>Submitted By:</strong> {{ programRequest.createdBy }}</div>
      </div>
    </div>

    <div class="sam-ui section divider"></div>

    <!--Display Form-->
    <ng-container *ngIf="programRequest && programRequest.completed===false">
      <ng-container *ngIf="requestType == 'archive_request'">
        <sam-checkbox class="cb-request"
                      [hint]="'Have you verified there is $0 funding and no active awards against this listing on USASpending.gov?*'"
                      [name] ="'active-awards'"
                      [options]="formOptions.archive"
                      [hasSelectAll]="false"
                      [control]="falChangeRequestActionForm.controls['activeAwards']"
                      formControlName="activeAwards"
                      >
        </sam-checkbox>
      </ng-container>

      <ng-container *ngIf="requestType == 'program_number_request'">
        <strong>New CFDA Number:</strong> {{ toJSON(programRequest.data).programNumber }}
      </ng-container>

      <div class="sam-ui hidden divider"></div>

      <div class="usa-grid-full">
        <div *ngIf="requestType == 'title_request'">
          <h4>Proposed Title</h4>
          <strong>{{ programRequestData.title}}</strong>
        </div>

        <div class="sam-ui hidden divider"></div>

        <div class="usa-grid-full" *ngIf="requestType == 'agency_request'">
          <h4>New Organization</h4>
          <div class="usa-grid-full">
            <div class="content" *ngIf="federalHierarchy.l1Name"><strong>Department: </strong>{{federalHierarchy.l1Name}}</div>
            <div class="content" *ngIf="federalHierarchy.l2Name"><strong>Sub-Tier: </strong>{{federalHierarchy.l2Name}}</div>
            <div class="content" *ngIf="federalHierarchy.l3Name"><strong>Office: </strong>{{federalHierarchy.l3Name}}</div>
          </div>
          <sam-text *ngIf="isPermissionType('approve_reject')"
                    [maxlength]="3"
                    [control]="falChangeRequestActionForm.controls['programNumber']"
                    [name]="'program-number-input'"
                    [label]="'CFDA Number*'"
                    [required]="true"
                    [errorMessage]="falChangeRequestActionForm.controls['programNumber'].hasError('duplicateProgram') ? 'CFDA Number already exists. Please enter a valid Number.' : '' "
                    formControlName="programNumber"></sam-text>
        </div>

        <h4>Comments</h4>
        <strong>{{ programRequest.createdBy }}:</strong> {{ programRequest.reason }}

        <div class="sam-ui hidden divider"></div>

        <sam-text-area *ngIf="isPermissionType('cancel')"
                       [label]="'Comment'"
                       [name]="'comment-input'"
                       [control]="falChangeRequestActionForm.controls['comment']"
                       formControlName="comment"
                       >
        </sam-text-area>
        <sam-text-area *ngIf="!isPermissionType('cancel')"
                        [label]="'Comment*'"
                        [name]="'comment-input'"
                        [control]="falChangeRequestActionForm.controls['comment']"
                        [required]="true"
                        formControlName="comment"
                        >
        </sam-text-area>
      </div>

      <div class="usa-grid-full">
        <sam-button [buttonType]="buttonType"
          [buttonText]="'Back'"
          [buttonClass]="'usa-button-outline'"
          (onClick)="goBack()">
        </sam-button>

        <!--Reviewer-->
        <ng-container *ngIf="isPermissionType('approve_reject')">
          <sam-button [buttonType]="buttonType"
            [buttonText]="'Reject'"
            [buttonClass]="'usa-button-primary-alt'"
            (onClick)="rejectRequest()">
          </sam-button>
          <sam-button [buttonType]="buttonType"
            [buttonText]="'Approve'"
            [buttonClass]="'usa-button-primary'"
            (onClick)="approveRequest()">
          </sam-button>
        </ng-container>

        <!--Submitter-->
        <ng-container  *ngIf="isPermissionType('cancel')">
          <sam-button [buttonType]="buttonType"
            [buttonText]="'Cancel Request'"
            [buttonClass]="'usa-button-primary'"
            (onClick)="cancelRequest()">
          </sam-button>
        </ng-container>
      </div>
    </ng-container>

    <!--Display view request-->
    <ng-container *ngIf="programRequest && programRequestAction && programRequest.completed===true">
      <div class="usa-grid-full">

        <div *ngIf="requestType == 'title_request'">
          <h4>Proposed Title</h4>
          <strong>{{ programRequestData.title}}</strong>
        </div>

        <h4>Comments</h4>
        <p><strong>{{ programRequest.createdBy }}:</strong> {{ programRequest.reason }}</p>
        <p><strong>{{ programRequestAction.createdBy }}:</strong> {{ programRequestAction.reason }}</p>
      </div>

      <div class="sam-ui hidden divider"></div>

      <div class="usa-grid-full">
        <sam-button [buttonType]="buttonType"
          [buttonText]="'Back'"
          [buttonClass]="'usa-button-outline'"
          (onClick)="goBack()">
        </sam-button>
      </div>
    </ng-container>
  </form>
</div>
