<div class="usa-grid-full" *ngIf="pageReady" [ngClass]="'assistance-listing-operations'">
  <page
    theme="inside"
    [breadcrumbs]="crumbs"
    section="Workspace"
    [attr.id]="'page-title'"
    [options]="options"
    [badge]="requestStatusName"
    [title]="pageTitle">

    <div class="twelve wide mobile eleven wide tablet seven wide computer column">
      <div class="sam-ui hidden divider"></div>
      <div class="sam-ui segment" *ngIf="programRequest">
        <div class="sam-ui attached equal width grid">
          <div id="page-data" class="column">
            <div class="sam-ui medium header">
              Title
              <div class="sub header">{{programRequest.program.title}}</div>
            </div>
            <div class="sam-ui medium header">
              CFDA Number
              <div class="sub header">{{programRequest.program.programNumber}}</div>
            </div>
          </div>
          <div class="column">
            <div id="submitted-date" class="sam-ui medium header">
              Submitted Date
              <div class="sub header">{{programRequest.entryDate | dateFormat: 'MMM DD, YYYY'}}</div>
            </div>
            <div  id="submitted-by" class="sam-ui medium header">
              Submitted By
              <div class="sub header">{{programRequest.createdBy}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="sam-ui hidden divider"></div>

      <form *ngIf="falChangeRequestActionForm" [formGroup]="falChangeRequestActionForm">

        <!--Display Form-->
        <ng-container *ngIf="programRequest && programRequest.completed===false">
          <div class="sam-ui segment">
            <ng-container *ngIf="requestType == 'archive_request' && showActiveAwards">
              <sam-checkbox class="cb-request"
                            [label]="'Have you verified there is $0 funding for two years(current and prior), and no active awards against this listing on USASpending.gov?'"
                            [name] ="'active-awards'"
                            aria-label="Request Action Checkbox"
                            [attr.id]="'archive-checkbox'"
                            [options]="formOptions.archive"
                            [hasSelectAll]="false"
                            [control]="falChangeRequestActionForm.controls['activeAwards']"
                            formControlName="activeAwards">
              </sam-checkbox>
            </ng-container>

            <ng-container *ngIf="requestType == 'program_number_request'">
              <h4 class="sam-ui header">Proposed CFDA Number</h4>
              <strong>{{ toJSON(programRequest.data).programNumber }}</strong>
              <div class="sam-ui hidden divider"></div>
            </ng-container>

            <ng-container *ngIf="requestType == 'title_request'">
              <h4 id="title-label" class="sam-ui header">Proposed Title</h4>
              <strong id="title-data" >{{ toJSON(programRequest.data).title}}</strong>
              <div class="sam-ui hidden divider"></div>
            </ng-container>

            <ng-container *ngIf="requestType == 'agency_request' && federalHierarchy">
              <ng-container *ngFor="let fh of federalHierarchy">
                <h4 class="sam-ui header">
                  {{(fh.org.orgKey == programRequest.program.organizationId) ? 'Current' : 'New' }} Organization
                </h4>
                <div class="sam-ui medium header" *ngIf="fh.org.l1Name">
                  Department
                  <div class="sub header">{{fh.org.l1Name}}</div>
                </div>
                <div class="sam-ui medium header" *ngIf="fh.org.l2Name">
                  Sub-Tier
                  <div class="sub header">{{fh.org.l2Name}}</div>
                </div>
                <div class="sam-ui medium header" *ngIf="fh.org.l3Name">
                  Office
                  <div class="sub header">{{fh.org.l3Name}}</div>
                </div>
                <div class="sam-ui hidden divider"></div>
              </ng-container>
              <sam-fal-text *ngIf="isPermissionType('approve_reject') && cfdaCode"
                [maxlength]="3"
                [control]="falChangeRequestActionForm.controls['programNumber']"
                [name]="'program-number-input'"
                [label]="'Proposed CFDA Number*'"
                [required]="true"
                [cfdaCode]="cfdaCode"
                [pending]="falChangeRequestActionForm.controls['programNumber'].pending"
                formControlName="programNumber">
              </sam-fal-text>
            </ng-container>

            <h4 class="sam-ui header">Comments</h4>
            <div id="request-comment" class="sam-ui medium header">
              {{ programRequest.createdBy }}
              <div class="sub header">{{ programRequest.reason }}</div>
            </div>

            <ng-container *ngIf="isPermissionType('cancel') || isPermissionType('approve_reject')">
              <sam-text-area *ngIf="isPermissionType('cancel')"
                             [label]="'Reason'"
                             [name]="'comment-input'"
                             [control]="falChangeRequestActionForm.controls['comment']"
                             formControlName="comment">
              </sam-text-area>
              <sam-text-area *ngIf="!isPermissionType('cancel')"
                              [label]="'Reason'"
                              [name]="'comment-input'"
                              [control]="falChangeRequestActionForm.controls['comment']"
                              [required]="true"
                              formControlName="comment">
              </sam-text-area>
            </ng-container>
          </div>

          <div class="text-align-right">
            <sam-button
              [buttonType]="backButtonType"
              [buttonText]="'Back'"
              [buttonDisabled]="buttonDisabled"
              [attr.id]="'back-btn'"
              (onClick)="goBack()">
            </sam-button>

            <!--Reviewer-->
            <ng-container *ngIf="isPermissionType('approve_reject')">
              <sam-button
                [buttonType]="rejectButtonType"
                [buttonDisabled]="buttonDisabled"
                [buttonText]="'Reject'"
                [attr.id]="'reject-btn'"
                (onClick)="rejectRequest()">
              </sam-button>
              <sam-button
                [buttonType]="approveButtonType"
                [buttonDisabled]="buttonDisabled"
                [buttonText]="'Approve'"
                [attr.id]="'approve-btn'"
                (onClick)="approveRequest()">
              </sam-button>
            </ng-container>

            <!--Submitter-->
            <ng-container  *ngIf="isPermissionType('cancel')">
              <sam-button
                [buttonType]="cancelButtonType"
                [buttonDisabled]="buttonDisabled"
                [buttonText]="'Cancel Request'"
                [attr.id]="'cancel-btn'"
                (onClick)="cancelRequest()">
              </sam-button>
            </ng-container>
          </div>
          <ng-container *ngIf="buttonDisabled === true">Processing Request...</ng-container>
        </ng-container>

        <!--Display view request-->
        <ng-container *ngIf="programRequest && programRequestAction && programRequest.completed===true">
          <div class="sam-ui segment">
            <ng-container *ngIf="requestType == 'title_request'">
              <h4 id="rejected-title-label" *ngIf="isRequestStatus('rejected')" class="sam-ui header">
                Rejected Title
              </h4>
              <h4 id="approved-title-label" *ngIf="isRequestStatus('approved')" class="sam-ui header">
                New Title
              </h4>
              <h4 id="cancelled-title-label" *ngIf="isRequestStatus('cancelled')" class="sam-ui header">
                Cancelled Title
              </h4>
              <div id="change-title-data" class="sub header">{{ toJSON(programRequest.data).title}}</div>
              <ng-container *ngIf="isRequestStatus('approved')">
                <h4 id="previous-title-label" class="sam-ui header">
                  Previous Title
                </h4>
                <div id="previous-title-data" class="sub header">{{ programRequest.program.title}}</div>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="requestType == 'program_number_request'">
              <h4 *ngIf="isRequestStatus('rejected')" class="sam-ui header">
                Rejected CFDA Number
              </h4>
              <h4 *ngIf="isRequestStatus('approved')" class="sam-ui header">
                New CFDA Number
              </h4>
              <h4 *ngIf="isRequestStatus('cancelled')" class="sam-ui header">
                Cancelled CFDA Number
              </h4>
              <div class="sub header">{{ toJSON(programRequest.data).programNumber}}</div>
              <ng-container *ngIf="isRequestStatus('approved')">
                <h4 class="sam-ui header">
                  Previous CFDA Number
                </h4>
                <div class="sub header">{{ programRequest.program.programNumber}}</div>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="requestType == 'agency_request' && federalHierarchy">
              <ng-container *ngFor="let fh of federalHierarchy">
                <ng-container *ngIf="programRequestAction && isRequestStatus('approved')">
                  <h4 class="sam-ui header">
                    {{(fh.org.orgKey == programRequest.program.organizationId) ? 'Previous' : 'New' }} Organization
                  </h4>
                  <div class="sam-ui medium header" *ngIf="fh.org.l1Name">
                    Department
                    <div class="sub header">{{fh.org.l1Name}}</div>
                  </div>
                  <div class="sam-ui medium header" *ngIf="fh.org.l2Name">
                    Sub-Tier
                    <div class="sub header">{{fh.org.l2Name}}</div>
                  </div>
                  <div class="sam-ui medium header" *ngIf="fh.org.l3Name">
                    Office
                    <div class="sub header">{{fh.org.l3Name}}</div>
                  </div>
                  <div class="sam-ui hidden divider"></div>
                  <ng-container *ngIf="(fh.org.orgKey == programRequest.program.organizationId) && programRequest.program.programNumber">
                    <h4 class="sam-ui medium header">
                      Previous CFDA Number
                    </h4>
                    <div class="sub header">{{programRequest.program.programNumber}}</div>
                  </ng-container>
                  <ng-container *ngIf="(fh.org.orgKey != programRequest.program.organizationId) && toJSON(programRequest.data).programNumber">
                    <h4 class="sam-ui medium header">
                      New CFDA Number
                    </h4>
                    <div class="sub header">{{toJSON(programRequest.data).programNumber}}</div>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="programRequestAction && (isRequestStatus('rejected') || isRequestStatus('cancelled')) && (fh.org.orgKey != programRequest.program.organizationId)">
                  <h4 *ngIf="isRequestStatus('rejected')" class="sam-ui header">
                    Rejected Organization
                  </h4>
                  <h4 *ngIf="isRequestStatus('cancelled')" class="sam-ui header">
                    Cancelled Organization
                  </h4>
                  <div class="sam-ui medium header" *ngIf="fh.org.l1Name">
                    Department
                    <div class="sub header">{{fh.org.l1Name}}</div>
                  </div>
                  <div class="sam-ui medium header" *ngIf="fh.org.l2Name">
                    Sub-Tier
                    <div class="sub header">{{fh.org.l2Name}}</div>
                  </div>
                  <div class="sam-ui medium header" *ngIf="fh.org.l3Name">
                    Office
                    <div class="sub header">{{fh.org.l3Name}}</div>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>

            <h4 class="sam-ui header">Comments</h4>
            <div id="request-reason" class="sam-ui medium header">
              {{ programRequest.createdBy }}
              <div class="sub header">{{ programRequest.reason }}</div>
            </div>
            <div id="action-reason" class="sam-ui medium header">
              {{ programRequestAction.createdBy }}
              <div class="sub header">{{ programRequestAction.reason }}</div>
            </div>
          </div>

          <div class="text-align-right">
            <sam-button
              [buttonType]="backButtonType"
              [buttonText]="'Back'"
              (onClick)="goBack()">
            </sam-button>
          </div>
        </ng-container>

      </form>

    </div>

    <div class="sam-ui hidden section divider"></div>

  </page>
</div>
