<div class="usa-grid-full" *ngIf = "pageReady">
  <form [formGroup]="falChangeRequestForm">
    <h1 class="m_T-0 p_T-6x"> {{pageTitle}} </h1>
    <div class="usa-grid-full usa-bgcolor-gray-lightest p_All-3x" *ngIf="program">
      <div class="content"><strong>Title:</strong> {{program.data.title}}</div>
      <div class="content"><strong>CFDA Number:</strong> {{program.data.programNumber}}</div>
    </div>

    <div class="sam-ui section divider"></div>

    <div class="usa-grid-full">
      <ng-container *ngIf="requestType == 'archive_request'">
        <sam-checkbox class="cb-request"
                      [hint]="'Have you verified there is $0 funding and no active awards against this listing on USASpending.gov?*'"
                      [name] ="'active-awards'"
                      [options]="archiveRequestActiveAwardsOptions"
                      [hasSelectAll]="false"
                      [control]="falChangeRequestForm.controls['activeAwards']"
                      formControlName="activeAwards"
        ></sam-checkbox>
      </ng-container>
      <ng-container *ngIf="program && (requestType == 'agency_request')">
        <h4>Current Organization</h4>
        <div class="usa-grid-full p_All-3x">
          <div class="content" *ngIf="currentOrganization.l1Name"><strong>Department: </strong>{{currentOrganization.l1Name}}</div>
          <div class="content" *ngIf="currentOrganization.l2Name"><strong>Sub-Tier: </strong>{{currentOrganization.l2Name}}</div>
          <div class="content" *ngIf="currentOrganization.l3Name"><strong>Office: </strong>{{currentOrganization.l3Name}}</div>
        </div>
      </ng-container>
      <sam-agency-picker *ngIf="(requestType == 'agency_request')"
                         [label]="'New Agency'"
                         [multimode]="false"
                         [advancedMode]="false"
                         [required]="true"
                         (organization)="onOrganizationChange($event)"
                         [levelLimit]='3'
                         formControlName="organizationPicker"></sam-agency-picker>
      <sam-alert [type]="'warning'" [title]="'Agency outside of your users scope'" *ngIf="agencyChangeAlertShow">
        The chosen agency is outside your users scope. If you continue and this request is approved, you will no longer have access to this program.
      </sam-alert>
      <sam-text *ngIf="requestType == 'program_number_request'"
                [maxlength]="3"
                [control]="falChangeRequestForm.controls['programNumber']"
                [name]="'program-number-input'"
                [label]="'CFDA Number*'"
                [required]="true"
                [errorMessage]="falChangeRequestForm.controls['programNumber'].hasError('duplicateProgram') ? 'CFDA Number already exists. Please enter a valid Number.' : '' "
                formControlName="programNumber"></sam-text>
      <sam-text *ngIf="requestType == 'title_request'"
                [maxlength]="144"
                [control]="falChangeRequestForm.controls['newTitle']"
                [name]="'new-title-input'"
                [label]="'New Title*'"
                [required]="true"
                formControlName="newTitle"></sam-text>

      <sam-text-area [label]="'Comment*'"
                     [name]="'comment-input'"
                     [control]="falChangeRequestForm.controls['comment']"
                     [required]="true"
                     formControlName="comment"
      ></sam-text-area>
      <sam-button [buttonType]="buttonType"
                  [buttonText]="submitButtonText"
                  [buttonClass]="'usa-button-primary usa-search-submit search-btn'"
                  (onClick)="submitChangeRequest()">
      </sam-button>
      <sam-button [buttonType]="buttonType"
                  [buttonText]="'Cancel'"
                  [buttonClass]="'usa-button-primary usa-search-submit'"
                  (onClick)="cancelChangeRequest()">
      </sam-button>
    </div>
  </form>
</div>
