<h2 [innerText]="store.title"></h2>

<div>
  <form *ngIf="detailsForm" class="usa-form-large" [formGroup]="detailsForm">
    <section class="system-information" [ngClass]="{ editable: isEditable('system') }">
      <h3 id="system-information">System Information<a class="usa-edit" href="javascript:void(0);" (click)="edit('system')" *ngIf="states.edit">Edit</a></h3>

      <div class="content content-editable">
        <sam-label-wrapper name="system-email" label="System Email Address" required="true" [errorMessage]="$errors('email')">
          <input type="text" id="system-email" formControlName="email" />
        </sam-label-wrapper>
        <sam-label-wrapper name="system-id" label="Unique ID" required="true" [errorMessage]="$errors('_id')">
          <input type="text" id="system-id" formControlName="_id" />
        </sam-label-wrapper>
        <sam-label-wrapper name="system-name" label="System Name" required="true" [errorMessage]="$errors('systemName')">
          <input type="text" id="system-name" formControlName="systemName" />
        </sam-label-wrapper>
        <sam-label-wrapper name="system-comments" label="Comments" [errorMessage]="$errors('comments')">
          <textarea id="system-comments" formControlName="comments"></textarea>
        </sam-label-wrapper>
      </div>

      <div class="content content-readonly" *ngIf="states.edit">
        <div class="usa-form-group">
          <label>System Email</label>
          <div class="usa-form-control" [innerText]="detailsForm.controls['email'].value"></div>
        </div>
        <div class="usa-form-group">
          <label>Unique ID</label>
          <div class="usa-form-control" [innerText]="detailsForm.controls['_id'].value"></div>
        </div>
        <div class="usa-form-group">
          <label>System Name</label>
          <div class="usa-form-control" [innerText]="detailsForm.controls['systemName'].value"></div>
        </div>
        <div class="usa-form-group">
          <label>Comments</label>
          <div class="usa-form-control comments" [innerText]="detailsForm.controls['comments'].value"></div>
        </div>
      </div>

      <div class="usa-button-controls content content-editable" *ngIf="states.edit">
        <sam-button [buttonType]="(states.loading ? 'disabled' : 'default')" buttonClass="usa-button-outline" buttonText="Cancel" (onClick)="cancel('system')"></sam-button>
        <sam-button [buttonType]="(states.loading ? 'disabled' : 'default')" buttonClass="usa-save" buttonText="Save" (onClick)="save('system')"></sam-button>
      </div>
    </section>

    <section [class]="states.gov ? 'organization-information' : 'business-information'" [ngClass]="{ editable: isEditable('organization') }">
      <h3 id="organization-information">
        <span [innerText]="states.gov ? 'Organization Information' : 'Business Information'"></span>
        <a class="usa-edit" href="javascript:void(0);" (click)="edit('organization')" *ngIf="states.edit">Edit</a>
      </h3>

      <div class="content content-editable">
        <sam-agency-picker *ngIf="states.gov"
                      [advancedMode]="false"
                      [multimode]="false"
                      [label]="'Select the office you work for:'"
                      [orgRoot]="user.departmentID"
                      [(orgId)]="system.department"
                      [initial]="system.department ? [system.department] : []"
                      (organization)="setOrganization($event)"></sam-agency-picker>

        <sam-label-wrapper name="system-duns-search" label="Duns Search" *ngIf="!states.gov">
          <input type="text" id="system-duns-search" formControlName="duns" />
        </sam-label-wrapper>

        <sam-label-wrapper name="system-ip" label="System IP Address">
          <input type="text" id="system-ip" formControlName="ipAddress" />
        </sam-label-wrapper>

        <sam-label-wrapper name="system-business-name" label="Business Name" [errorMessage]="$errors('businessName')" *ngIf="!states.gov">
          <input type="text" id="system-business-name" formControlName="businessName" />
        </sam-label-wrapper>
        <sam-label-wrapper name="system-primary-owner" label="Business Address" [errorMessage]="$errors('businessAddress')" *ngIf="!states.gov">
          <input type="text" id="system-business-name" formControlName="businessAddress" />
        </sam-label-wrapper>

        <sam-label-wrapper name="system-primary-owner" label="Primary Owner Name" required="true" [errorMessage]="$errors('primaryOwnerName')">
          <input type="text" id="system-primary-owner" formControlName="primaryOwnerName" />
        </sam-label-wrapper>
        <sam-label-wrapper name="system-primary-email" label="Primary Owner Email" required="true" [errorMessage]="$errors('primaryOwnerEmail')">
          <input type="text" id="system-primary-email" formControlName="primaryOwnerEmail" />
        </sam-label-wrapper>
      </div>

      <div class="content content-readonly" *ngIf="states.edit">
        <div class="usa-form-group" *ngIf="states.gov">
          <label>Department/Agency/Office</label>
          <div class="usa-form-control" [innerText]="organization"></div>
        </div>
        <div class="usa-form-group" *ngIf="!states.gov">
          <label>DUNS Search</label>
          <div class="usa-form-control" [innerText]="detailsForm.controls['duns'].value"></div>
        </div>
        <div class="usa-form-group" *ngIf="!states.gov">
          <label>Business Name</label>
          <div class="usa-form-control" [innerText]="detailsForm.controls['businessName'].value"></div>
        </div>
        <div class="usa-form-group" *ngIf="!states.gov">
          <label>Business Address</label>
          <div class="usa-form-control" [innerText]="detailsForm.controls['businessAddress'].value"></div>
        </div>
        <div class="usa-form-group">
          <label>IP Address</label>
          <div class="usa-form-control" [innerText]="detailsForm.controls['ipAddress'].value"></div>
        </div>
        <div class="usa-form-group">
          <label>Primary Owner Name</label>
          <div class="usa-form-control" [innerText]="detailsForm.controls['primaryOwnerName'].value"></div>
        </div>
        <div class="usa-form-group">
          <label>Primary Owner Email</label>
          <div class="usa-form-control comments" [innerText]="detailsForm.controls['primaryOwnerEmail'].value"></div>
        </div>
      </div>

      <div class="usa-button-controls content content-editable" *ngIf="states.edit">
        <sam-button [buttonType]="(states.loading ? 'disabled' : 'default')" buttonClass="usa-button-outline" buttonText="Cancel" (onClick)="cancel('organization')"></sam-button>
        <sam-button [buttonType]="(states.loading ? 'disabled' : 'default')" buttonClass="usa-save" buttonText="Save" (onClick)="save('organization')"></sam-button>
      </div>
    </section>

    <section class="point-of-contact">
      <h3 id="point-of-contact">Point of Contact</h3>

      <div class="content">
        <sam-label-wrapper name="system-user-search" label="User Search Capability">
          <input type="text" id="system-user-search" [(ngModel)]="store.search.users" [ngModelOptions]="{ standalone: true }" />
        </sam-label-wrapper>

        <div class="usa-system-pocs">
          <div *ngFor="let poc of detailsForm.controls.pointOfContact.value; let $index = index;" class="usa-system-poc">
            <h4>
              <a href="javascript:void(0);" [innerText]="poc.firstName + ' ' + poc.lastName"></a>
              <div class="usa-edit">
                <a href="javascript:void(0);" (click)="removePOC($index)">Remove</a>
              </div>
            </h4>
            <div class="usa-form-group">
              <label>Email</label>
              <div class="usa-form-control" [innerText]="poc.email"></div>
            </div>
            <div class="usa-form-group">
              <label>Business Phone</label>
              <div class="usa-form-control" [innerText]="poc.phone"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr *ngIf="states.edit" />

    <section *ngIf="states.edit" class="deactivate-account">
      <h3 id="deactivate-account">Deactivate Account</h3>
      <div>
        Once you deactivate your account, you will not be able to recover any of your account information or permissions.
        All your My Access information will permanantely be inaccessible.
      </div>

      <sam-button id="button-deactivate" [buttonType]="(states.loading ? 'disabled' : 'secondary')" buttonText="Deactivate Account" (onClick)="confirmDeactivation()"></sam-button>

      <sam-alert type="error" [title]="states.alert.message" [hidden]="!states.alert.show" [showClose]="true" (dismiss)="alert()"></sam-alert>
    </section>

    <div *ngIf="!states.edit" class="usa-button-controls submit">
      <a class="usa-button usa-button-outline" [routerLink]="[states.cancel]">Cancel</a>
      <button type="button" (click)="create()">Save</button>
      <sam-alert [type]="states.alert.type" [title]="states.alert.message" [hidden]="!states.alert.show" [showClose]="true" (dismiss)="alert()"></sam-alert>
    </div>
  </form>
</div>

<sam-modal #confirmModal
           type="warning"
           title="Are you sure you want to deactivate your system account?"
           showClose="true"
           submitButtonLabel="Yes, deactivate my account"
           cancelButtonLabel="No, cancel account deactivation"
           (onSubmit)="reconfirmDeactivation()"
           *ngIf="states.edit"></sam-modal>

<sam-modal #reconfirmModal
           type="warning"
           title="Warning"
           description="If you deactivate your system account it cannot be reactivated for future use and you will be immediately redirected to the system account creation page. Are you sure you want to deactivate your account?"
           showClose="true"
           submitButtonLabel="Yes, continue with deactivation"
           cancelButtonLabel="No, cancel deactivation"
           (onSubmit)="deactivate()"
           *ngIf="states.edit"></sam-modal>
