<div id="stickyLabel" class="sticky-label" *ngIf="!viewModel.isNew">Edit Overview - {{ viewModel.title }}</div>

<form *ngIf="falOverviewForm" [formGroup]="falOverviewForm">

  <sam-text-area
    [hint]="objectiveHint"
    [control]="falOverviewForm.controls['objective']"
    [name]="'objectives-input'"
    [label]="'Objectives'"
    [required]="true"
    [attr.id]="'fal-objective'"
    formControlName="objective"
  ></sam-text-area>

  <falFYTable [config]="fundedProjectsConfig"
              [formControlName]="'fundedProjects'"
              [attr.id]="'fal-funded-projects'"
              [control]="falOverviewForm.get('fundedProjects')"
              #fundedProjects
  ></falFYTable>

  <sam-text-area
    [hint]="'Provide an introduction to the listing that tells the public in plain, clear language its purpose, who it serves, and what makes it unique.'"
    [control]="falOverviewForm.controls['description']"
    [name]="'falDesc-input'"
    [label]="'Assistance Listing Description'"
    [attr.id]="'assistance-listing-overview'"
    formControlName="description"
  ></sam-text-area>

  <sam-autocomplete-multiselect
    [options]="fcTypeOptions"
    [name]="'functional-codes-control'"
    formControlName="functionalTypes"
    [control]="falOverviewForm.controls['functionalTypes']"
    [keyValueConfig]="fcAutocompleteConfig.keyValueConfig"
    [required]="true"
    [label]="'Functional Codes'"
    [attr.id]="'fal-functional-codes'"
    [hint]="'Select one or more Functional Codes to help public users search for this listing.'">
  </sam-autocomplete-multiselect>

  <sam-autocomplete-multiselect
      autofill-falProgram
      [name]="'subjectTermsSearch'"
      formControlName="subjectTermsTypes"
      [control]="falOverviewForm.controls['subjectTermsTypes']"
      [keyValueConfig]="stAutocompleteConfig.keyValueConfig"
      [serviceOptions]="{index:'D'}"
      [required]="true"
      [label]="'Subject Terms'"
      [attr.id]="'fal-subject-terms'"
      [hint]="'Select one or more Subject Terms to help public users search for this listing.'">
    </sam-autocomplete-multiselect>
</form>