.alert-item.edit {
  padding: 1em;
  margin-bottom: 8px;

  .alert-edit-title {
    margin-top: 0;
  }

  .publish-date label {
    margin-top: 0;
  }

  // The next three group fixes the insanely large checkboxes in the USA design library
  .input-group {
    display: inline-block;

    label {
      display: inline-block;
      line-height: 44px;
      margin-top: 8px;
    }

    input[type=checkbox] {
      pointer-events: none;
    }
  }


}

alert-item {
  .alert-body {
    margin-top: 8px;
  }

  .alert-title {
    margin-top: 8px !important;
  }

  .alert-type-icon {
    margin-right: 4px;
  }

  .alert-right-item:not(:last-child) {
    margin-bottom: 8px;
  }

  .alert-type-indicator {
    width: 8em;
    display: inline-block;
    padding: 4px;
    border: 1px solid black;
  }

}
