$usa-btn-small-width:   4.5rem;
$usa-btn-medium-width:  8.5rem;
$usa-btn-big-width:     4.5rem;
$small-font-size:  1.4rem;
$small-screen: 481px;
$base-font-size: 1.7rem;
$h3-font-size: 2rem;

@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
@mixin media($bp) {
  @media screen and (min-width: #{$bp}) {
    @content;
  }
}
@mixin search-icon {
  background-image: url('~uswds/src/img/search.png');
  background-image: url('~uswds/src/img/search.svg');
  background-position: 50%;
  background-repeat: no-repeat;
}

.usa-input-error{
  input{
    width:100%;
  } 
  /*
  .usa-agency-picker-browse-area .helpme select{
    width:100%!important;
    background:#ccc;
  }*/
}
.usa-agency-picker-browse-area{
  clear:both;
}
.usa-agency-picker-selection-area{
  position:relative;
}

.usa-agency-picker-autocomplete{
  position:absolute;
  top:44px;
  background:#fff;
  margin-top:0;
  margin-left: 0;
  margin-right: 0;
  padding:0;
  border:1px solid #5b616b;
  border-top:none;
  width: calc(100% - 120px);
  z-index: 10;
  max-height:300px;
  overflow:auto;

  li{
    list-style:none;
    padding: 0 10px;
    margin: 0;
    max-width:inherit;
  }
  li:hover{
    cursor:pointer;
    background:#e1f3f8;
  }

  li.autocomplete-selected{
    background:#e1f3f8; 
  }
}

.usa-agency-picker-readonly-area{
  padding:15px 10px;
  border:1px #5b616b solid;
  position:relative;
  width:460px;
  margin-left:0;
  min-height:55px;

  span:hover{
    cursor:pointer;
  }

  ul{
    list-style:none;
    margin:0;
    padding:0;
  }
}
.usa-agency-picker-dropdown-area{
  padding-top:15px;
  padding-bottom:15px;
  border:1px #5b616b solid;
  position:relative;
  width:460px;
  margin-left:0;
  background:#eee;
  .usa-agency-picker-search-area{
    height:52px;
    position:relative;
    clear: both;
    overflow:visible;
  }
}

.usa-agency-picker-icon-area{
  float:left;
  line-height: 52px;
  margin: 0px 10px 0 4px;

  .usa-agency-picker-icon{
    font-size:1.5em;
    &:hover{
      cursor:pointer;
    }
  }
}

.usa-agency-picker-search-input-wrapper{
  position:relative;
  width: calc(100% - 120px);
  float:left;
  min-height:1px;
  .usa-agency-picker-search-input{
    position:absolute;
    padding-right:28px;
  }
  .usa-agency-picker-search-reset{
    position:absolute;
    right:7px;
    line-height:46px;

    i{
      color: #d9d9d9;
    }
  }
  .usa-agency-picker-search-reset-active{
    position:absolute;
    right:7px;
    line-height:46px;

    &:hover{
      cursor:pointer;
    }

    i{
      color: #777;
    }
  }
}

.usa-agency-picker-browse-toggle-area{
  float:left;
  line-height:52px;

  a:hover{
    cursor:pointer;
  }
}

/* not used */
.usa-agency-picker {
  @include clearfix;
  max-width: none;
  position: relative;

  .usa-agency-picker-input {
    padding-top: 0;
    padding-bottom: 0;
    -webkit-appearance: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    box-sizing: border-box;
    float: left;
    font-size: $small-font-size;
    height: 3.3rem;
    margin: 0;
    width: calc(100% - #{$usa-btn-small-width});

    @include media($small-screen) {
      width: calc(100% - #{$usa-btn-medium-width});
    }
  }

  [type="submit"],
  .usa-agency-picker-submit {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 3.3rem;
    margin: 0;
    padding: 0;
    width: $usa-btn-small-width;

    @include media($small-screen) {
      background-image: none;
      width: $usa-btn-medium-width;
    }
  }
  .usa-agency-picker-icon-area{
    float:right;
    text-align:center;
    height: 4.4rem;
    width: #{$usa-btn-big-width};
    align-items:flex-start;

    @include media($small-screen) {
      float: left;
    }
  }
  .usa-agency-picker-submit-text {
    line-height:4.4rem;

    @include media($small-screen) {
      display: block;
    }
  }

  &.usa-agency-picker-big {
    @include media($small-screen) {
      $height: 4.4rem;
      $width: $usa-btn-big-width;

      .usa-agency-picker-input {
        font-size: $base-font-size;
        height: $height;
        width: calc(100% - #{$width});
      }

      [type="submit"],
      .usa-agency-picker-submit {
        font-size: $h3-font-size;
        height: $height;
        width: $width;
      }
    }
  }

  &.usa-agency-picker-small {
    @include media($small-screen) {
      $width: $usa-btn-small-width;

      .usa-agency-picker-input {
        width: calc(100% - #{$width});
      }

      [type="submit"],
      .usa-agency-picker-submit {
        @include search-icon;
        width: $width;
      }
    }
  }
}
