
<page
  (breadcrumbOut)="breadcrumbHandler($event)"
  *ngIf="opportunity"
  theme="inside"
  [breadcrumbs]="crumbs"
  section="Contract Opportunity"
  [title]="opportunity?.data?.title">


  <sidebar>
    <div sam-sticky limit=1200 container="page-content">
      <!-- Logo -->
      <ng-container *ngIf="opportunity && (errorOrganization || logoUrl===null || errorLogo)">
        <img src="src/assets/img/logo-not-available.png" class="sidenav-logo" alt="Logo Not Available" width="160px" height="160px">
      </ng-container>
      <ng-container *ngIf="opportunity && logoUrl && !errorOrganization">
        <img class="sidenav-logo" [src]="logoUrl" [alt]="logoInfo" [title]="'Organization Logo'" width="160px" height="160px">
      </ng-container>

      <!--Side Navigation-->
      <sam-sidenav
        type="step"
        (data)="navHandler($event)"
        [labelLookup]="sideNavSelection"
        [model]="sideNavModel">
      </sam-sidenav>
    </div>
  </sidebar>


  <!--Main Content-->
  <div class="usa-width-three-fourths" *ngIf="opportunity">
    <!-- Alert -->
    <ng-container *ngIf="alerts && alerts.length > 0">
      <div *ngFor="let alert of alerts; let i = index">
        <sam-alert
          [attr.id]="'organization-alert-' + i"
          labelname="alerts[i].labelname"
          [type]="alerts[i].config.type"
          [title]="alerts[i].config.title">
          <div [innerHTML]="alerts[i].config.description"></div>
        </sam-alert>
      </div>
    </ng-container>

    <!-- Tabs -->
    <tabs-opp
      [data]="opportunity"
      (tabClick)="tabsClicked($event)">
    </tabs-opp>


    <!-- Intro Content -->
    <section [attr.id]="generateID(opportunityFields.Header)" *ngIf="shouldBeDisplayed(opportunityFields.Header)">
      <a name="#/opportunities/{{opportunity.id}}/review#header"></a>
      <div class="sam-ui hidden divider"></div>

      <div class="sam-ui padded raised segment">
        <div class="sam-ui attached grid">
          <div class="column">
            <div class="sam-ui relaxed divided list">
              <div class="item" [attr.id]="generateID(opportunityFields.Solicitation, 'header')" *ngIf="shouldBeDisplayed(opportunityFields.Solicitation)">
                <div class="content">
                  <div class="header">
                    <ng-container *ngIf="opportunity.data?.type && (originalOpportunity?.data?.type || opportunity.parentOpportunityId == null)">{{  numberLabel()}}</ng-container>
                  </div>
                  <div class="description">
                    {{ opportunity.data?.solicitationNumber }}
                  </div>
                </div>
              </div>
              <div class="item" [attr.id]="generateID(opportunityFields.HierarchyName, 'header')" *ngIf="organization && shouldBeDisplayed(opportunityFields.HierarchyName)">
                <div class="content">
                  <div class="header" [ngSwitch]='organization.type'>
                    <ng-container *ngSwitchCase="'DEPARTMENT'">Department/Ind. Agency</ng-container>
                    <ng-container *ngSwitchCase="'AGENCY'">Sub-tier</ng-container>
                    <ng-container *ngSwitchCase="'OFFICE'">Office</ng-container>
                  </div>
                  <div class="description">
                    <ng-container *ngIf="organization.l2Name">
                      {{ organization.l2Name }}
                    </ng-container>
                    <ng-container *ngIf="errorOrganization">
                      Organization ID: {{opportunity.data.organizationId}} NOTE: Complete Federal Hierarchy information is currently unavailable.
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="item" [attr.id]="generateID(opportunityFields.Location, 'header')" *ngIf="shouldBeDisplayed(opportunityFields.Location)">
                <div class="content">
                  <div class="header">
                    Location
                  </div>
                  <div class="description">
                    <ng-container *ngIf="organization?.name">
                      {{ organization.name }}
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sam-ui hidden divider"></div>
    </section>


    <div [class.hide]="selectedPage !== 0">

      <!-- Award Details -->
      <section [attr.id]="generateID(opportunityFields.Award)" *ngIf="shouldBeDisplayed(opportunityFields.Award) && ready">

        <h2 class="sam-ui header">
          Award Details
          </h2>

        <ul class="usa-unstyled-list">
          <li [attr.id]="generateID(opportunityFields.AwardDate)" *ngIf="shouldBeDisplayed(opportunityFields.AwardDate)">
            <strong>Contract Award Date: </strong>
            {{ opportunity.data?.award?.date | dateFormat: 'MMM DD, YYYY' }}
          </li>
          <li [attr.id]="generateID(opportunityFields.AwardNumber)" *ngIf="shouldBeDisplayed(opportunityFields.AwardNumber)">
            <strong>Contract Award Number: </strong>
            {{ opportunity.data?.award?.number }}
          </li>
          <li [attr.id]="generateID(opportunityFields.OrderNumber)" *ngIf="shouldBeDisplayed(opportunityFields.OrderNumber)">
            <strong>Task/Delivery Order Number: </strong>
            {{ opportunity?.data?.award?.deliveryOrderNumber }}
          </li>
          <li [attr.id]="generateID(opportunityFields.AwardedDUNS)" *ngIf="shouldBeDisplayed(opportunityFields.AwardedDUNS)">
            <strong>Contractor Awarded UEI: </strong>
            <span>{{ opportunity.data?.award?.awardee?.duns }}</span>
          </li>
          <li [attr.id]="generateID(opportunityFields.AwardedName)" *ngIf="shouldBeDisplayed(opportunityFields.AwardedName)">
            <strong>Contractor Awarded Name: </strong>
            <span>{{opportunity.data?.award?.awardee?.name}}</span>
          </li>
          <li [attr.id]="generateID(opportunityFields.AwardedAddress)" *ngIf="shouldBeDisplayed(opportunityFields.AwardedAddress)">
            <strong>Contractor Awarded Address: </strong>
            <span>
              {{opportunity.data?.award?.awardee?.location?.streetAddress}}
              {{opportunity.data?.award?.awardee?.location?.city}}
              {{opportunity.data?.award?.awardee?.location?.state}}
              {{opportunity.data?.award?.awardee?.location?.zip}}
              {{opportunity.data?.award?.awardee?.location?.country}}
            </span>
          </li>
          <li [attr.id]="generateID(opportunityFields.AwardAmount)" *ngIf="shouldBeDisplayed(opportunityFields.AwardAmount)">
            <strong>Contract Award Dollar Amount: </strong>
            <span>{{opportunity.data?.award?.amount}}</span>
          </li>
          <li [attr.id]="generateID(opportunityFields.LineItemNumber, 'award')" *ngIf="shouldBeDisplayed(opportunityFields.LineItemNumber)">
            <strong>Contract Line Item Number: </strong>
            <span>{{opportunity.data?.award?.lineItemNumber}}</span>
          </li>
        </ul>
        <div class="sam-ui hidden section divider"></div>
      </section>

      <!-- General Information -->
      <section [attr.id]="generateID(opportunityFields.General)" *ngIf="shouldBeDisplayed(opportunityFields.General)">
        <a name="#/opportunities/{{opportunity.id}}/review#general"></a>
        <div class="sam-ui hidden divider"></div>
        <h2 class="sam-ui header">
          General Information
        </h2>
        <div class="sam-ui segment">
        <ul class="usa-unstyled-list">
          <li [attr.id]="generateID(opportunityFields.Type, 'general')" *ngIf="shouldBeDisplayed(opportunityFields.Type)">
            <strong>Contract Opportunity Type: </strong>
            <ng-container *ngIf="opportunity.data?.type !== 'm'">Original {{ opportunity.data?.type | opportunityTypeLabel }}</ng-container>
            <ng-container *ngIf="opportunity.data?.type === 'm'">
              <ng-container *ngIf="opportunity.data?.statuses?.isCanceled">Canceled </ng-container>
              <ng-container *ngIf="!opportunity.data?.statuses?.isCanceled">Updated </ng-container>
              {{ originalOpportunity?.data?.type | opportunityTypeLabel}}
            </ng-container>
          </li>
          <li [attr.id]="generateID(opportunityFields.PostedDate, 'general')" *ngIf="shouldBeDisplayed(opportunityFields.PostedDate)">
            <strong>Update/Amendment Posted Date: </strong>
            {{ opportunity?.postedDate | dateFormat: 'MMM DD, YYYY' }}
          </li>
          <li [attr.id]="generateID(opportunityFields.OriginalPostedDate, 'general')" *ngIf="shouldBeDisplayed(opportunityFields.OriginalPostedDate)">
            <strong>Original Posted Date: </strong>
            <ng-container *ngIf="opportunity.parent != null">{{ originalOpportunity?.postedDate | dateFormat: 'MMM DD, YYYY' }}</ng-container>
            <ng-container *ngIf="opportunity.parent == null">{{ opportunity?.postedDate | dateFormat: 'MMM DD, YYYY' }}</ng-container>
          </li>
          <li [attr.id]="generateID(opportunityFields.ResponseDate, 'general')" *ngIf="shouldBeDisplayed(opportunityFields.ResponseDate)">
            <strong>Update/Amendment Response Date: </strong>
            {{ opportunity.data?.solicitation?.deadlines?.response | dateFormat: 'MMM DD, YYYY' }}
          </li>
          <li [attr.id]="generateID(opportunityFields.OriginalResponseDate, 'general')" *ngIf="shouldBeDisplayed(opportunityFields.OriginalResponseDate)">
            <strong>Original Response Date: </strong>
            <ng-container *ngIf="opportunity.parent != null">{{ originalOpportunity?.data?.solicitation?.deadlines?.response | dateFormat: 'MMM DD, YYYY' }}</ng-container>
            <ng-container *ngIf="opportunity.parent == null">{{ opportunity?.data?.solicitation?.deadlines?.response | dateFormat: 'MMM DD, YYYY' }}</ng-container>
          </li>
          <li [attr.id]="generateID(opportunityFields.ArchivePolicy, 'general')" *ngIf="shouldBeDisplayed(opportunityFields.ArchivePolicy)"
              [ngSwitch]="opportunity.data?.archive?.type">
            <!-- <sam-label *ngIf="differences?.archivingPolicy" [labelType]="'small'" [labelText]="' '"></sam-label> -->
            <strong>Archiving Policy: </strong>
            <ng-container *ngSwitchCase="'manual'">Manual Archive</ng-container>
            <ng-container *ngSwitchCase="'auto15'">Automatic, 15 days after response date</ng-container>
            <ng-container *ngSwitchCase="'autocustom'">Automatic, on specified date</ng-container>
          </li>
          <li [attr.id]="generateID(opportunityFields.ArchiveDate, 'general')" *ngIf="shouldBeDisplayed(opportunityFields.ArchiveDate)">
            <strong>Update/Amendment Archive Date: </strong>
            {{ opportunity.data?.archive?.date | dateFormat: 'MMM DD, YYYY' }}
          </li>
          <li [attr.id]="generateID(opportunityFields.OriginalArchiveDate, 'general')" *ngIf="shouldBeDisplayed(opportunityFields.OriginalArchiveDate)">
            <strong>Original Archive Date: </strong>
            <ng-container *ngIf="opportunity.parent != null">{{ originalOpportunity?.data?.archive?.date | dateFormat: 'MMM DD, YYYY' }}</ng-container>
            <ng-container *ngIf="opportunity.parent == null">{{ opportunity?.data?.archive?.date | dateFormat: 'MMM DD, YYYY' }}</ng-container>
          </li>
          <li [attr.id]="generateID(opportunityFields.StatutoryAuthority, 'general')" *ngIf="shouldBeDisplayed(opportunityFields.StatutoryAuthority)">
            <strong>J&A Statutory Authority: </strong>
            {{ opportunity?.data?.award?.justificationAuthority?.authority }}
          </li>
          <li [attr.id]="generateID(opportunityFields.JustificationAuthority, 'general')" *ngIf="shouldBeDisplayed(opportunityFields.JustificationAuthority)">
            <strong>Fair Opportunity / Limited Sources Justification Authority: </strong>
            <ng-container *ngIf="opportunity?.data?.award?.fairOpportunity?.authority && dictionariesUpdated === true">
              {{ (opportunity?.data?.award?.fairOpportunity?.authority | filterMultiArrayObject:findDictionary('fo_justification_authority'):'elementId':false:'')[0]?.value }}
            </ng-container>
          </li>
          <li [attr.id]="generateID(opportunityFields.ModificationNumber, 'general')" *ngIf="shouldBeDisplayed(opportunityFields.ModificationNumber)">
            <strong>Modification Number: </strong>
            {{ opportunity?.data?.award?.justificationAuthority?.modificationNumber }}
          </li>
          <li [attr.id]="generateID(opportunityFields.SpecialLegislation, 'general')" *ngIf="shouldBeDisplayed(opportunityFields.SpecialLegislation)">
            <strong>Special Legislation: </strong>
            <ng-container *ngIf="opportunity?.data?.isRecoveryRelated == true">
              Recovery and Reinvestment Act
            </ng-container>
          </li>
        </ul>
        <div class="sam-ui hidden section divider"></div>
        </div>
      </section>

      <!-- Classification -->
      <section [attr.id]="generateID(opportunityFields.Classification)" *ngIf="shouldBeDisplayed(opportunityFields.Classification)">
        <a name="#/opportunities/{{opportunity.id}}/review#classification"></a>
        <div class="sam-ui hidden divider"></div>
        <h2 class="sam-ui header">Classification</h2>
        <div class="sam-ui segment">
            <ul class="usa-unstyled-list">
              <li [attr.id]="generateID(opportunityFields.OriginalSetAside, 'classification')" *ngIf="shouldBeDisplayed(opportunityFields.OriginalSetAside)">
                <strong> Original Set Aside: </strong>
                <ng-container *ngIf="opportunity.parent != null && originalOpportunity?.data?.solicitation?.setAside && dictionariesUpdated === true">
                  <ng-container *ngFor = "let element of [originalOpportunity?.data?.solicitation?.setAside] | filterMultiArrayObject:findDictionary('set_aside_type'):'elementId':false:''">
                    <ng-container>{{ element.value }}</ng-container>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="opportunity.parent == null && opportunity?.data?.solicitation?.setAside && dictionariesUpdated === true">
                  <ng-container *ngFor = "let element of [opportunity?.data?.solicitation?.setAside] | filterMultiArrayObject:findDictionary('set_aside_type'):'elementId':false:''">
                    <ng-container>{{ element.value }}</ng-container>
                  </ng-container>
                </ng-container>
              </li>
              <li [attr.id]="generateID(opportunityFields.SetAside, 'classification')" *ngIf="shouldBeDisplayed(opportunityFields.SetAside)">
                <ng-container *ngIf="(opportunity.data?.solicitation?.setAside != originalOpportunity?.data?.solicitation?.setAside) && dictionariesUpdated === true">
                  <strong>Update/Amendment Set Aside: </strong>
                  <ng-container *ngFor = "let element of [opportunity.data?.solicitation?.setAside] | filterMultiArrayObject:findDictionary('set_aside_type'):'elementId':false:''">
                    <ng-container> {{ element.value }}</ng-container>
                  </ng-container>
                </ng-container>
              </li>
              <li [attr.id]="generateID(opportunityFields.ClassificationCode, 'classification')" *ngIf="shouldBeDisplayed(opportunityFields.ClassificationCode)">
                <strong>Classification Code: </strong>
                <ng-container *ngIf="opportunity.data?.classificationCode && dictionariesUpdated === true">
                  <ng-container *ngFor = "let element of [opportunity.data?.classificationCode] | filterMultiArrayObject:findDictionary('classification_code'):'elementId':false:''">
                    {{ element.value }}
                  </ng-container>
                </ng-container>
              </li>
              <li [attr.id]="generateID(opportunityFields.NAICSCode, 'classification')" *ngIf="shouldBeDisplayed(opportunityFields.NAICSCode)">
                <strong>NAICS Code(s): </strong>
                <ng-container *ngIf="opportunity.data?.naicsCode && opportunity.data?.naicsCode[0] != null && dictionariesUpdated === true">
                  <ul>
                    <li *ngFor = "let element of opportunity.data?.naicsCode | filterMultiArrayObject:findDictionary('naics_code'):'elementId':false:''">
                      <ng-container *ngIf="element != null">{{ element.value }}</ng-container>
                    </li>
                  </ul>
                </ng-container>
              </li>
              <li [attr.id]="generateID(opportunityFields.POP, 'classification')" *ngIf="shouldBeDisplayed(opportunityFields.POP)">
               <strong >Place of Performance: </strong>
                <div [attr.id]="generateID(opportunityFields.POPLocation, 'classification')" *ngIf="shouldBeDisplayed(opportunityFields.POPLocation)">
                  {{opportunity.data?.placeOfPerformance?.streetAddress}}
                </div>

                <div>
                  <span [attr.id]="generateID(opportunityFields.POPCity, 'classification')" *ngIf="shouldBeDisplayed(opportunityFields.POPCity)">
                    {{opportunity.data?.placeOfPerformance?.city}}
                  </span>
                  <ng-container *ngIf="opportunity.data?.placeOfPerformance?.city && opportunity.data?.placeOfPerformance?.state">,</ng-container>
                  <span [attr.id]="generateID(opportunityFields.POPState, 'classification')" *ngIf="shouldBeDisplayed(opportunityFields.POPState)">
                    {{opportunity.data?.placeOfPerformance?.state}}
                  </span>
                  <span [attr.id]="generateID(opportunityFields.POPZip, 'classification')" *ngIf="shouldBeDisplayed(opportunityFields.POPZip)">
                    {{opportunity.data?.placeOfPerformance?.zip}}
                  </span>
                </div>

                <div [attr.id]="generateID(opportunityFields.POPCountry, 'classification')" *ngIf="shouldBeDisplayed(opportunityFields.POPCountry)">
                  {{opportunity.data?.placeOfPerformance?.country}}
                </div>
              </li>
            </ul>
            <div class="sam-ui hidden section divider"></div>
        </div>
      </section>

      <!-- Synopsis -->
      <section [attr.id]="generateID(opportunityFields.Description)" *ngIf="shouldBeDisplayed(opportunityFields.Description)">
        <a name="#/opportunities/{{opportunity.id}}/review#description"></a>
        <div class="sam-ui hidden divider"></div>
        <h2 class="sam-ui header">Description</h2>
        <div class="sam-ui segment">
          <h3 class="sam-ui dividing header">
            <ng-container *ngIf="opportunity.data?.type === 'i'">Description of Benefits</ng-container>
            <ng-container *ngIf="opportunity.data?.type !== 'i'">Description</ng-container>
          </h3>
          <div [innerHTML]="opportunity.description?.body | fixhtml"></div>
          <div class="sam-ui hidden section divider"></div>
        </div>
      </section>


      <!-- Packages -->
      <section [attr.id]="generateID(opportunityFields.Packages)" *ngIf="shouldBeDisplayed(opportunityFields.Packages) && ready">
        <a name="#/opportunities/{{opportunity.id}}/review#packages"></a>
        <div class="sam-ui hidden divider"></div>
        <h2 class="sam-ui header">Packages</h2>
        <div class="sam-ui segment">
          <sam-download
            [attachmentError]="attachmentError"
            [packages]="packages"
            [downloadAllUrl]="getDownloadAllPackagesURL(opportunity.id, opportunity.archived)"></sam-download>
          <div class="sam-ui hidden section divider"></div>
        </div>
      </section>

      <!-- Contact Information -->
      <section [attr.id]="generateID(opportunityFields.Contact)" *ngIf="shouldBeDisplayed(opportunityFields.Contact)">
        <a name="#/opportunities/{{opportunity.id}}/review#contact"></a>
        <div class="sam-ui hidden divider"></div>
        <h2 class="sam-ui header">Contact Information</h2>
        <div class="sam-ui segment">

          <div class="usa-grid-full">
            <div class="usa-width-one-whole" [attr.id]="generateID(opportunityFields.Office, 'contact')" *ngIf="shouldBeDisplayed(opportunityFields.Office)">
              <h3 class="sam-ui dividing header">
                Contracting Office Address:
              </h3>
              <span [attr.id]="generateID(opportunityFields.OfficeStreet, 'contact')" *ngIf="shouldBeDisplayed(opportunityFields.OfficeStreet)">
                {{opportunityLocation?.street}}
              </span>
              <span [attr.id]="generateID(opportunityFields.OfficeCity, 'contact')" *ngIf="shouldBeDisplayed(opportunityFields.OfficeCity)">
                {{opportunityLocation?.city}}
              </span>
              <span [attr.id]="generateID(opportunityFields.OfficeState, 'contact')" *ngIf="shouldBeDisplayed(opportunityFields.OfficeState)">
                {{opportunityLocation?.state}}
              </span>
              <span [attr.id]="generateID(opportunityFields.OfficeCountry, 'contact')" *ngIf="shouldBeDisplayed(opportunityFields.OfficeCountry)">
                {{opportunityLocation?.country}}
              </span>
              <span [attr.id]="generateID(opportunityFields.OfficeZip, 'contact')" *ngIf="shouldBeDisplayed(opportunityFields.OfficeZip)">
                {{opportunityLocation?.zip}}
              </span>
            </div>
          </div>
          <div class="sam-ui hidden divider"></div>

          <div class="usa-grid-full">
            <div class="usa-width-one-half" [attr.id]="generateID(opportunityFields.POC, 'contact-primary')" *ngIf="shouldBeDisplayed(opportunityFields.POC)">
              <h3 class="sam-ui dividing header">
                Primary Point of Contact
              </h3>
              <ul class="usa-unstyled-list">
                <li [attr.id]="generateID(opportunityFields.POCFullName, 'contact-primary')"
                    *ngIf="opportunity.data?.pointOfContact[0]?.fullName && shouldBeDisplayed(opportunityFields.POCFullName)">
                  <strong>{{opportunity.data?.pointOfContact[0].fullName}}</strong>
                </li>
                <li [attr.id]="generateID(opportunityFields.POCTitle, 'contact-primary')"
                    *ngIf="opportunity.data?.pointOfContact[0]?.title && shouldBeDisplayed(opportunityFields.POCTitle)">
                  <!--TODO: fix capitalize pipe-->
                  <em [innerHTML]="opportunity.data?.pointOfContact[0].title"></em>
                </li>
                <li [attr.id]="generateID(opportunityFields.POCEmail, 'contact-primary')"
                    *ngIf="opportunity.data?.pointOfContact[0]?.email && shouldBeDisplayed(opportunityFields.POCEmail)">
                  <i class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp;
                  <a href="mailto:{{opportunity.data?.pointOfContact[0].email}}">
                    {{opportunity.data?.pointOfContact[0].email}}
                  </a>
                </li>
                <li [attr.id]="generateID(opportunityFields.POCPhone, 'contact-primary')"
                    *ngIf="opportunity.data?.pointOfContact[0]?.phone && shouldBeDisplayed(opportunityFields.POCPhone)">
                  <i class="fa fa-phone" aria-hidden="true"></i> &nbsp;
                  {{opportunity.data?.pointOfContact[0].phone}}
                </li>
                <li [attr.id]="generateID(opportunityFields.POCFax, 'contact-primary')"
                    *ngIf="opportunity.data?.pointOfContact[0]?.fax && shouldBeDisplayed(opportunityFields.POCFax)">
                  <i class="fa fa-fax" aria-hidden="true"></i> &nbsp;
                  {{opportunity.data?.pointOfContact[0].fax}}
                </li>
              </ul>
            </div>
            <div class="usa-width-one-half" [attr.id]="generateID(opportunityFields.POC, 'contact-secondary')" *ngIf="shouldBeDisplayed(opportunityFields.POC)">
              <h3 class="sam-ui dividing header">
                Secondary Point of Contact
              </h3>
              <ul class="usa-unstyled-list">
                <li [attr.id]="generateID(opportunityFields.POCFullName, 'contact-secondary')"
                    *ngIf="opportunity.data?.pointOfContact[1]?.fullName && shouldBeDisplayed(opportunityFields.POCFullName)">
                  <strong>{{opportunity.data?.pointOfContact[1].fullName}}</strong>
                </li>
                <li [attr.id]="generateID(opportunityFields.POCTitle, 'contact-secondary')"
                    *ngIf="opportunity.data?.pointOfContact[1]?.title && shouldBeDisplayed(opportunityFields.POCTitle)">
                  <!--TODO: fix capitalize pipe-->
                  <em [innerHTML]="opportunity.data?.pointOfContact[1].title"></em>
                </li>
                <li [attr.id]="generateID(opportunityFields.POCEmail, 'contact-secondary')"
                    *ngIf="opportunity.data?.pointOfContact[1]?.email && shouldBeDisplayed(opportunityFields.POCEmail)">
                  <i class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp;
                  <a href="mailto:{{opportunity.data?.pointOfContact[1].email}}">
                    {{opportunity.data?.pointOfContact[1].email}}
                  </a>
                </li>
                <li [attr.id]="generateID(opportunityFields.POCPhone, 'contact-secondary')"
                    *ngIf="opportunity.data?.pointOfContact[1]?.phone && shouldBeDisplayed(opportunityFields.POCPhone)">
                  <i class="fa fa-phone" aria-hidden="true"></i> &nbsp;
                  {{opportunity.data?.pointOfContact[1].phone}}
                </li>
                <li [attr.id]="generateID(opportunityFields.POCFax, 'contact-secondary')"
                    *ngIf="opportunity.data?.pointOfContact[1]?.fax && shouldBeDisplayed(opportunityFields.POCFax)">
                  <i class="fa fa-fax" aria-hidden="true"></i> &nbsp;
                  {{opportunity.data?.pointOfContact[1].fax}}
                </li>
              </ul>
            </div>
          </div>
          <div class="sam-ui hidden section divider"></div>
        </div>
      </section>

      <!-- History -->
      <section [attr.id]="generateID(opportunityFields.History)" *ngIf="shouldBeDisplayed(opportunityFields.History)">
        <a name="#/opportunities/{{opportunity.id}}/review#history"></a>
        <div class="sam-ui hidden divider"></div>
        <h2 class="sam-ui header">History</h2>
        <div class="sam-ui segment">
          <sam-history *ngIf="processedHistory" [data]="processedHistory" [currentId]="opportunity.id"></sam-history>
          <span *ngIf="noHistory === true">History not available</span>
        </div>
      </section>
    </div>


    <div *ngIf="selectedPage > 0 && (selectedPageLabel == 'Award Notices' || selectedPageLabel == 'Award Summary')">

      <section  [attr.id]="generateID(opportunityFields.AwardSummary)"
                *ngIf="shouldBeDisplayed(opportunityFields.AwardSummary)">

        <div class="sam-ui hidden divider"></div>

        <h2 class="sam-ui header" id="opportunity-award-summary">
          Awards Summary
        </h2>

        <!-- Awards Metadata -->

        <ng-container *ngIf="relatedOpportunitiesMetadata">

          <div class="sam-ui three column divided center aligned vertically padded grid">
            <div class="row">
              <div class="column">
                <div class="sam-ui statistic">
                  <div class="value">
                    {{ relatedOpportunitiesMetadata.count }}
                  </div>
                  <div class="label">
                    Total Number of Awards
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="sam-ui statistic">
                  <div class="value">
                    {{ relatedOpportunitiesMetadata.totalAwardAmt
                    | currency:'USD':true:'1.2-2'}}
                  </div>
                  <div class="label">
                    Total Amount Awarded<br>
                    <em *ngIf="relatedOpportunitiesMetadata.unparsableCount > 0">
                      (Plus {{relatedOpportunitiesMetadata.unparsableCount}} other
                      variable amounts)
                    </em>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="sam-ui statistic">
                  <div class="value">
                    {{ relatedOpportunitiesMetadata.recipientCount }}
                  </div>
                  <div class="label">
                    Total Number of Recipients
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="sam-ui section divider"></div>

          <h2 class="sam-ui header">
            Award Notices
          </h2>

          <div class="sam-ui vertically middle aligned padded grid">
            <div class="nine wide column">
              <p>
                Showing results
                <strong>
                  {{min +1}}
                  <span class="usa-sr-only">through</span> -
                  {{(relatedOpportunitiesMetadata.count < max) ? relatedOpportunitiesMetadata.count : max}}
                </strong>
                of
                <strong>{{relatedOpportunitiesMetadata.count}}</strong>
              </p>
            </div>
            <div class="three wide column">
              <sam-select class="sort-select"
                          [(model)]="awardSort"
                          [options]="awardSortOptions"
                          [name]='awardSort'
                          [label]="'Sort by'"
                          (modelChange)="reloadRelatedOpportunities()">
              </sam-select>
            </div>
          </div>

        </ng-container>

        <div class="sam-ui grid" id="awards-list" tabindex="-1">
          <ng-container *ngFor="let element of relatedOpportunities">

            <div class="twelve wide column">
              <div class="sam-ui hidden divider"></div>
              <div tabindex="0">
                <h3 class="sam-ui header">
                  {{element.data?.award?.awardee?.name}}
                </h3>
                <div class="sam-ui equal width divided segment grid">
                  <div class="row">
                    <div class="column">
                      <h4 class="sam-ui dividing header">
                        Contractor Awarded
                      </h4>
                      <div class="">
                        <div class="sam-ui medium header">
                          UEI
                          <div class="sub header">
                            {{element.data?.award?.awardee?.duns}}
                          </div>
                        </div>
                        <div class="sam-ui medium header">
                          Address
                          <div class="sub header">
                            {{element.data?.award?.awardee?.location?.streetAddress}}
                            {{element.data?.award?.awardee?.location?.city}}
                            {{element.data?.award?.awardee?.location?.state}}
                            {{element.data?.award?.awardee?.location?.zip}}
                            {{element.data?.award?.awardee?.location?.country}}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                      <h4 class="sam-ui dividing header">
                        Contract Award
                      </h4>
                      <div class="">
                        <div class="sam-ui medium header">
                          Dollar Amount
                          <div class="sub header">
                            {{element.data?.award?.amount}}
                          </div>
                        </div>
                        <div class="sam-ui medium header">
                          Number
                          <div class="sub header">
                            {{element.data?.award?.number}}
                          </div>
                        </div>
                        <div class="sam-ui medium header">
                          Date
                          <div class="sub header">
                            {{element.data?.award?.date | dateFormat: 'MMM DD, YYYY'}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </ng-container>
        </div>

      </section>

      <sam-pagination *ngIf="totalPages"
                      (pageChange)="pageChange($event-1)"
                      [currentPage]="pageNum+1"
                      [totalPages]="totalPages">
      </sam-pagination>

    </div>

    <div *ngIf="selectedPage > 0 && selectedPageLabel == 'Interested Vendors List'">

      <section  [attr.id]="generateID(opportunityFields.IVL)"
                *ngIf="ivls">

        <div class="sam-ui hidden divider"></div>

        <div class="usa-width-one-whole">
          <div class="pull-right">
            <input type="text" [(ngModel)] = "keyword">
            <sam-button
              [buttonType]="'default'"
              [buttonText]="'Search' "
              [buttonClass]="'usa-button usa-search-submit search-btn'"
              (onClick)="reloadIVLs(0)">
            </sam-button>
          </div>
        </div>
        <h2 class="sam-ui header" id="opportunity-ivl-summary">
          Interested Vendors List
        </h2>

        <div class="sam-ui info message">
          <div class="header">
            <i class="fa fa-id-badge" aria-hidden="true"></i>
            This vendor list is only visible to owners of this opportunity
          </div>
        </div>

        <div class="sam-ui vertically middle aligned padded grid">
          <div class="five wide column">
            <p>
              Showing results
              <strong>
                {{ivls.page.number+1}}
                <span class="usa-sr-only">through</span> -
                {{ivls.page.totalPages}}
              </strong>
              of
              <strong>{{ivls.page.totalElements}}</strong>
            </p>
          </div>
          <div class="three wide column middle right aligned">
          </div>
          <div class="four wide column">
            <sam-sort
              [options]="ivlSortOptions"
              [(ngModel)]="ivlSort"
              (ngModelChange)="reloadIVLs(0)">
            </sam-sort>
          </div>
        </div>

        <div class="sam-ui grid" id="ivl-list" tabindex="-1" *ngIf="ivls.page?.totalElements > 0">
          <ng-container *ngFor="let element of ivls._embedded?.ivl">

            <div class="sam-ui hidden divider"></div>
            <div tabindex="0">

              <a *ngIf="element.contractorDuns" class="sam-ui" [routerLink]="['/entity', element.contractorDuns]">
                {{ element.contractorName }}
              </a>
              <ng-container *ngIf="!element.contractorDuns" class="sam-ui">
                {{ element.contractorName }}
              </ng-container>
              <div class="sam-ui equal width divided segment grid">
                <div class="row">
                  <div class="column">
                    <div class="sam-ui medium header">
                      UEI (Unique Entity Identifier)
                      <div class="sub header">
                        {{element.contractorDuns}}
                      </div>
                    </div>
                    <div class="sam-ui medium header">
                      CAGE Code
                      <div class="sub header">
                        {{element.contractorCageNumber}}
                      </div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="sam-ui medium header">
                      Address
                      <div class="sub header">
                        {{ element.contractorStreet }} {{ element.contractorCity }} {{ element.contractorState }} {{ element.contractorZip }} {{ element.contractorCountry }}
                      </div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="sam-ui medium header">
                      Contact
                      <div class="sub header">
                        {{element.contactFirstName}} {{element.contactLastName}} <br />
                        <ng-container *ngIf="element.contactEmail"><strong><i class="fa fa-envelope-o" aria-hidden="true"></i></strong> <a href="mailto:{{element.contactEmail}}">{{element.contactEmail}}</a> <br></ng-container>
                        <ng-container *ngIf="element.contactPhone"><strong><i class="fa fa-phone" aria-hidden="true"></i></strong> {{element.contactPhone}}<br></ng-container>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="ivlNaicsCodeList && element.naics && element.contractorDuns && dictionariesUpdated === true">
                  <div class="usa-width-one-whole">
                    <sam-accordion>
                      <sam-accordion-section headerText="NAICS Classifications" name="aria-friendly-section-name">
                        <table>
                          <thead>
                          <tr>
                            <!--<th>NAICS</th>-->
                            <th>Name</th>
                            <th>Small Business?</th>
                          </tr>
                          </thead>
                          <tbody>
                          <ng-container *ngFor="let naics of element.naics.naicsList | filterMultiArrayObject:findDictionary('naics_code'):'code':false:''">
                            <tr>
                              <!--<td>{{ naics.code }}</td>-->
                              <td>
                                {{ naics.value }}
                              </td>
                              <td>N/A</td>
                            </tr>
                          </ng-container>
                          </tbody>
                        </table>
                      </sam-accordion-section>
                    </sam-accordion>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <ng-container *ngIf="ivls.page.totalElements == 0">
          No results found.
        </ng-container>
      </section>
      <sam-pagination *ngIf="ivls.page && ivls.page.totalPages && ivls.page.totalPages > 0"
                      (pageChange)="reloadIVLs($event-1)"
                      [currentPage]="ivls.page.number+1"
                      [totalPages]="ivls.page.totalPages">
      </sam-pagination>
    </div>

    <br><br>

  </div>
</page>
