@import 'authentication/shared/kba';
@import 'authentication/shared/password';

@import 'authentication/login';
@import 'authentication/forgot';
@import 'authentication/register';
@import 'authentication/profile';
@import 'authentication/system';

.usa-authentication {
  padding-top: 80px;
  padding-bottom: 80px;

  > .usa-grid {
    margin-top: 30px;
  }

  legend {
    line-height: 3rem;
  }

  hr {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .usa-title {
    color: #0071BC;
  }

  .usa-subtitle {
    font-size: 2.5rem;
  }

  .usa-alert-static {
    position: absolute;
  }

  .organization-container {
    display: inline-block;
  }
}
