
div.sam-collapsible div.collapsible-header {
  clear: both;
  margin: 0;
  padding: 1.5rem;
  width: 100%;
  background-color: $color-gray-lightest;
}
div.sam-collapsible div.collapsible-header .label {
  color: $color-base;
  font-weight: 700;
  width: 90%;
  line-height: 1;
  margin-bottom: 0;
}
div.sam-collapsible div.collapsible-header .expand-hide {
  float: right;
}

div.sam-collapsible div.collapsible-content{
  padding: .5rem 1.5rem;
  position: relative;
}

div.sam-collapsible div.collapsible-content.closed {
  display: none;
}
div.sam-collapsible div.collapsible-content.open {
  display: block;
}

// Content inside collapsible
div.sam-collapsible legend{
  font-size: 1.9rem;
  line-height: 2rem;
}

div.sam-collapsible .label-wrapper label{
  margin-top: 0;
}
// Agency picker
// Need to create another version of agency picker
agencypicker .organization-container > label{
  margin-top: 1rem;
}
div.sam-collapsible .usa-agency-picker-dropdown-area{
  padding: 10px;
  .usa-agency-picker-search-input-wrapper,
  .usa-agency-picker-autocomplete{
    width: calc(100% - 40px);
  }
  .usa-agency-picker-browse-toggle-area{
    margin-top: -10px;
    line-height: normal;
  }
  select{
    padding-right: 3rem;
  }
  .usa-agency-picker-readonly-area ul:empty{
    content: "No organizations added"
  }
}