body.feedback-open {
  overflow: hidden;
}

.feedback-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
  opacity: .5;
}

.sam-feedback{

  h4{
    margin: 0;
  }


  .feedback-form-div{
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 30vh;
    left: 30vw;
    z-index: 1050;
    width: 550px;
    border: 2px solid black;
    background: $color-white;
  }

  .feedback-question-div{
    margin-right: 10px;
    margin-left: 20px;
    padding: 10px;
    width: auto;

  }

  .feedback-header-span{
    border-bottom: 2px solid black;
  }

  .feedback-question-rating{
    text-align: center;
  }

  .feedback-pagination{
    position: absolute;
    bottom: 70px;
    left: 0;
    text-align: center;
  }

  .feedback-page, .feedback-current-page{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid $color-primary;
    text-align: center;
  }

  .feedback-page{
    color: $color-primary;
    background-color: $color-white;

  }

  .feedback-current-page{
    background-color: $color-primary;
    color: $color-white;
  }

  .feedback-page:first-child{
    margin-left: 0;
  }

  .feedback-page:last-child{
    margin-right: 0;
  }

  .feedback-icon-div:hover, .hide-form-icon:hover, .thumb:hover, .fa-times-circle-o:hover{
    cursor: pointer;
  }

  .feedback-icon-font{
    font-size: 175%;
  }


  .feedback-dash{
    width: 30px;
    display: inline-block;
    border: 1px solid $color-primary;
  }

  .text-align-center{
    text-align: center;
  }

  .feedback-form-link{
    color: #003264;
    text-decoration: underline;
  }

  .feedback-btns-div{
    z-index: 1070;

    .prev-btn{
      padding-left: 0px;
    }

    .next-btn{
      padding-right: 15px;
    }
  }

  .feedback-email-input{
    height: 36px;
  }

  .feedback-pagination-span{
    display: inline-block;
  }

  .feedback-alert-warning{
    background: #fff1d2;
    height: 36px;
    font-size: 90%;
    font-weight: 400;
    padding-top: 8px;
  }
}
