body.feedback-open {
  overflow: hidden;
}

.feedback-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
  opacity: .5;
}

.sam-feedback{

  h4{
    margin: 0;
  }


  .feedback-form-div{
    position: fixed;
    left: 30vw;
    top: 30vh;
    z-index: 1050;
    width: 500px;
    border: 2px solid black;
    background: $color-white;
  }

  .hide-form-icon{
    position: absolute;
    right: 0;
    top: 50%;
  }

  .feedback-question-div{
    margin-right: 10px;
    margin-left: 20px;
    padding: 10px;
    width: auto;

  }

  .feedback-header-span{
    border-bottom: 2px solid black;
  }

  .feedback-question-rating{
    text-align: center;
  }

  .feedback-question-checkbox{

  }

  .feedback-question-radio{

  }

  .feedback-pagination{
    position: absolute;
    bottom: 70px;
    left: 0;
    text-align: center;
  }

  .feedback-page, .feedback-current-page{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid $color-primary;
    text-align: center;
  }

  .feedback-page{
    color: $color-primary;
    background-color: $color-white;

  }

  .feedback-current-page{
    background-color: $color-primary;
    color: $color-white;
  }

  .feedback-page:first-child{
    margin-left: 0;
  }

  .feedback-page:last-child{
    margin-right: 0;
  }

  .feedback-icon-div:hover, .hide-form-icon:hover, .thumb:hover, .fa-times-circle-o:hover{
    cursor: pointer;
  }

  .feedback-icon-font{
    font-size: 175%;
  }

  .feedback-background{
    background: $color-primary-alt;
  }

  .feedback-dash{
    width: 30px;
    display: inline-block;
    border: 1px solid $color-primary;
  }
}
