$header-box-shadow: rgba(1, 2, 2, 0.1);

samHeader {
  header {
    background-color: $color-primary-darkest;
    box-shadow: 0 2px 4px $header-box-shadow;
    padding: 3px 0;
    text-align: center;
    height: 65px;
  }

  .align-top{
    display: inline-block;
    vertical-align: top;
  }

  img{
    margin-top:1.25rem;
    width:30rem;
    height:3rem;
  }
}

