.label-wrapper-horizontal {
  display: table;

  > * {
    display: table-cell;
    vertical-align: middle;
  }

  &:first-child {
    padding-right: 8px;
  }

  label {
    display: inline-block;
  }

  .usa-form-group {
    display: inline-block;
    float: none;
  }

  .date-group {
    display: inline-block;
  }
}

sam-label-wrapper{
  .usa-form-hint{
    max-width: 46rem;
    display: block;
  }

  legend{
    font-size: $medium;
  }

  .hint-toggle{
    .usa-form-hint{
      height:3em;
      overflow:hidden;
      display:block;
    }
  }
  .usa-form-hint-showmore-toggler{
    display:block;
    text-align:right;
    max-width: 46rem;
    a{
      &:hover{
        cursor:pointer;
      }
    }
  }
  .usa-input-error{
    margin-top: 0;
  }
}
