.label-wrapper-horizontal {
  display: table;

  > * {
    display: table-cell;
    vertical-align: middle;
  }

  &:first-child {
    padding-right: 8px;
  }

  label {
    display: inline-block;
  }

  .usa-form-group {
    display: inline-block;
    float: none;
  }

  .date-group {
    display: inline-block;
  }
}

sam-label-wrapper{
  label{
    font-weight: 600;
    max-width: 100%;
    margin-top: 0;
    overflow:auto;
  }
  .usa-form-hint{
    display: block;
  }

  legend{
    font-size: $medium;
  }

  .hint-toggle{
    .usa-form-hint{
      height:2.88em;
      overflow:hidden;
      display:block;
    }
  }
  .usa-form-hint-showmore-toggler{
    margin-bottom: 1.7rem;
  }
  .usa-input-error{
    margin-top: 0;
  }
}
sam-fieldset-wrapper{
  .usa-form-hint{
    max-width: 46rem;
    display: block;
  }

  legend{
    font-size: $medium;
  }
  .hint-toggle{
    & > .usa-fieldset-inputs > .usa-form-hint{
      height:3em;
      overflow:hidden;
      display:block;
    }
  }
  .usa-form-hint-showmore-toggler{
    display:block;
    margin-bottom: 1.7rem;
  }
  .usa-input-error{
    margin-top: 0;
  }
}
