#search-div {
  margin-bottom: 0 !important;
}

.search-header {
  background-color:#112e51;
  padding-top: 2px;
  padding-bottom: 2px;
  min-height:40px;

  .search-bar-container{
    height: 100%;
    width: 60%;
    display: inline-block;
  }

  .logo-img {
    width: 140px;
    height: 25px;
    float: left;
    margin-left: 15px;
    padding-right: 10px;
    padding-top: 8px;
  }

  samSearchbar {
    min-width: 290px;
    max-width: 550px;
    width:100%;
    margin-top: 2px;
    float: left;
  }

  .search-btn {
    background-color: #02bfe7;
  }

  .search-inputbar {
    border: none;
  }

  select {
    background-color: #e4e2e0;
  }

  .align-top{
    display: inline-block;
    vertical-align: top;
  }
}

