sam-sort{
    .label-wrapper{
        display:inline-block;
        label{
            height: 51px;
            line-height: 45px;
            margin-top:0;
            margin-right:5px;
            display:inline;
        }
        &>div{
            display:inline-block;
        }
    }
    select{
        min-width:140px;
        display:inline-block;
    }
}