<div class="usa-grid">
  <div class="usa-width-one-whole">
    <div class="usa-forgot-init">
      <form class="usa-form-large" autocomplete="off" (ngSubmit)="init($event)">
        <fieldset>
          <h2>Forgot Password?</h2>
          <span>Enter your email address below and we will send you instructions to reset your password.</span>

          <div [ngClass]="{ 'usa-input-error': states.submitted && (email.invalid || states.error) }">
            <label for="email">Email</label>
            <span class="usa-input-error-message" *ngIf="states.submitted && (email.invalid || states.error.length)" role="alert">
              <span *ngIf="states.error.length">{{ states.error }}</span>
              <span *ngIf="email.errors && email.errors.email">Enter a valid email address</span>
            </span>
            <input type="text"
                   id="email"
                   name="email"
                   autocomplete="off"
                   readonly="readonly"
                   onfocus="this.removeAttribute('readonly');"
                   [formControl]="email"/>
          </div>

          <div class="usa-button-controls">
            <button type="submit">Submit</button>
          </div>

          <hr />

          <ul class="links">
            <li class="home">
              <a routerLink="/">Return to SAM.gov Home</a>
            </li>
          </ul>
        </fieldset>
      </form>
    </div>
  </div>
</div>
