<div class="usa-grid">
  <div class="usa-width-one-whole">
    <span class="usa-forgot usa-forgot-confirm text-center">
      <h2>Email Sent</h2>
      <div *ngIf="email">We just sent an email to {{ email }}.</div>

      <section>
        <ul class="steps">
          <li class="header">Your Next Steps</li>
          <li>Check your inbox for an email</li>
          <li>Click the password reset link in the email</li>
          <li>Reset your password</li>
        </ul>

        <p>The password reset link will remain valid for 20 minutes.</p>

        <div class="relative">
          <ul class="links">
            <li *ngIf="email" class="email">
              <a href="javascript:void(0);" (click)="resendEmail()" #target>Resend Email</a>
            </li>
            <li class="home">
              <a routerLink="/">Return to SAM.gov Home</a>
            </li>
          </ul>
          <samAlert class="usa-alert-static"
                    [type]="states.alert.type"
                    [title]="states.alert.title"
                    [showClose]="true"
                    [hidden]="!states.alert.show"
                    (dismiss)="dismissAlert()"></samAlert>
        </div>
      </section>
    </span>
  </div>
</div>
