<div class="usa-grid">
  <div class="usa-width-one-whole">
    <div class="usa-forgot-init">
      <form (ngSubmit)="verify()" class="usa-form-large" autocomplete="off">
        <fieldset #form>
          <legend>Answer your security questions</legend>
          <span>
            Provide the answer to the following question: You have 7 attempts to answer two security
            questions correctly before your account is temporarily locked.
          </span>

          <div *ngIf="!states.reset" [ngClass]="{ 'usa-input-error': states.submitted && (answer.invalid || states.error) }">
            <label for="answer" [innerText]="question"></label>
            <span class="usa-input-error-message" *ngIf="states.submitted && (answer.invalid || states.error.length)" role="alert">
              <span *ngIf="states.error.length">{{ states.error }}</span>
              <span *ngIf="answer.errors && answer.errors.answer">Enter a valid answer address</span>
            </span>
            <input type="text"
                   id="answer"
                   autocomplete="off"
                   readonly="readonly"
                   onfocus="this.removeAttribute('readonly');"
                   [formControl]="answer"/>
          </div>

          <div *ngIf="states.reset">
            <sam-password [password]="password"></sam-password>
          </div>

          <div class="usa-button-controls">
            <button type="submit">Submit</button>
          </div>

          <ul class="links">
            <li class="home">
              <a routerLink="/">Return to SAM.gov Home</a>
            </li>
          </ul>
        </fieldset>
        <samAlert [type]="states.alert.type"
                  [title]="states.alert.title"
                  [description]="states.alert.message"
                  [target]="form"
                  [placement]="states.alert.placement"
                  [(hidden)]="!states.alert.show"
                  showClose="true"></samAlert>
      </form>
    </div>
  </div>
</div>
