<div class="usa-grid">
  <div class="usa-width-one-whole">
    <div class="usa-forgot-main">
      <form (ngSubmit)="verify()" class="usa-form-large" autocomplete="off">
        <fieldset class="relative" #form>
          <legend>Answer your security questions</legend>
          <span>
            Provide the answer to the following question: You have 7 attempts to answer two security
            questions correctly before your account is temporarily locked.
          </span>

          <div *ngIf="!states.reset" [ngClass]="{ 'usa-input-error': states.submittedCount && answer.invalid }">
            <label for="answer" [innerText]="question"></label>
            <span class="usa-input-error-message" *ngIf="states.submittedCount && answer.invalid" role="alert">
              <span>Enter a valid answer</span>
            </span>
            <input type="text"
                   id="answer"
                   autocomplete="off"
                   readonly="readonly"
                   onfocus="this.removeAttribute('readonly');"
                   [formControl]="answer" />
          </div>

          <div *ngIf="states.reset">
            <sam-password [password]="password" #samPassword></sam-password>
          </div>

          <div class="usa-button-controls">
            <button type="submit" [disabled]="states.submitted">Submit</button>
          </div>

          <ul class="links">
            <li class="home">
              <a routerLink="/">Return to SAM.gov Home</a>
            </li>
          </ul>

          <samAlert class="usa-alert-static"
                    [type]="states.alert.type"
                    [title]="states.alert.title"
                    [description]="states.alert.message"
                    [hidden]="!states.alert.show"
                    showClose="true"></samAlert>
        </fieldset>
      </form>
    </div>
  </div>
</div>
