<!--Delete Modal-->
<sam-modal #deleteModal
          [showClose]="true"
          [closeOnOutsideClick]="true"
          [closeOnEscape]="true"
          [type]="'warning'"
          [title]="modalConfig.title"
          [description]="modalConfig.description"
          [submitButtonLabel]="'Ok'"
          [cancelButtonLabel]="'Cancel'"
          (onSubmit)="onDeleteModalSubmit()">
</sam-modal>

<table [class.hide]="assistInfo.length == 0" class="sam-ui table celled">
  <thead>
  <tr>
    <th scope="col">Deadline(s)</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let assist of assistInfo; let i=index">
    <td>
      {{assist}}
    </td>
    <td>
      <ng-container *ngIf="!hideAddButton">
        <a class="fal-table-edit" (click)="editAssist(i)" >Edit</a>
        <em class="fa fa-pencil fal-table-edit" aria-hidden="true" (click)="editAssist(i)"></em>
        <a class="fal-table-delete" (click)="removeAssist(i)">Delete</a>
        <em class="fa fa-trash fal-table-delete" aria-hidden="true" (click)="removeAssist(i)"></em>
      </ng-container>

      <ng-container *ngIf="hideAddButton">
        <span class="fal-table-edit disabled">Edit</span>
        <em class="fa fa-pencil fal-table-edit disabled" aria-hidden="true"></em>
        <span class="fal-table-delete disabled">Delete</span>
        <em class="fa fa-trash fal-table-delete disabled" aria-hidden="true"></em>
      </ng-container>

    </td>
  </tr>
  </tbody>
</table>
