<div class="assistance-listing-operations">
  <div class="usa-grid" >
    <fal-form-side-nav></fal-form-side-nav>

    <div class="usa-width-three-fourths">
      <div class="usa-width-one-whole m_L-4x">
        <fal-form-header-information *ngIf="isSection('header-information')" [viewModel]="falFormViewModel"></fal-form-header-information>
        <fal-form-overview *ngIf="isSection('overview')" [viewModel]="falFormViewModel"></fal-form-overview>
        <fal-form-authorization *ngIf="isSection('authorization')" [viewModel]="falFormViewModel"></fal-form-authorization>
        <fal-form-obligation-info *ngIf="isSection('financial-information-obligations')" [viewModel]="falFormViewModel"></fal-form-obligation-info>
        <fal-form-financial-info-other *ngIf="isSection('financial-information-other')" [viewModel]="falFormViewModel"></fal-form-financial-info-other>
        <fal-form-criteria-info *ngIf="isSection('criteria-information')" [viewModel]="falFormViewModel"></fal-form-criteria-info>
        <fal-form-assistance *ngIf="isSection('applying-for-assistance')" [viewModel]="falFormViewModel"></fal-form-assistance>
        <fal-form-compliance-requirements *ngIf="isSection('compliance-requirements')" [viewModel]="falFormViewModel"></fal-form-compliance-requirements>
        <fal-form-contact-info *ngIf="isSection('contact-information')" [viewModel]="falFormViewModel"></fal-form-contact-info>

        <div>
          <div class="pull-left">
            <samButton buttonText="Cancel" (onClick)="onCancelClick($event)"></samButton>
            <samButton buttonText="Save and Exit" (onClick)="onSaveExitClick($event)"></samButton>
            <samButton *ngIf="currentSection - 1 >= 0" buttonText="Previous" (onClick)="onSaveBackClick($event)"></samButton>
            <samButton *ngIf="currentSection + 1 < sections.length" buttonText="Save and Continue" (onClick)="onSaveContinueClick($event)"></samButton>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
