<div class="assistance-listing-operations">
  <div class="usa-grid" >
    <fal-form-side-nav></fal-form-side-nav>

    <div class="usa-width-three-fourths">
      <div class="usa-width-one-whole m_L-4x">
        <fal-form-header-information *ngIf="isSection('header-information')" [viewModel]="falFormViewModel"></fal-form-header-information>
        <fal-form-overview *ngIf="isSection('overview')" [viewModel]="falFormViewModel"></fal-form-overview>
        <fal-form-contact-info *ngIf="isSection('contact-information')" [viewModel]="falFormViewModel"></fal-form-contact-info>
        <fal-form-action (cancel)="onCancel($event)" (saveExit)="onSaveExit($event)" (saveContinue)="onSaveContinue($event)"></fal-form-action>
      </div>
    </div>
  </div>
</div>
