<sam-fieldset-wrapper [label]="label" [required]="required" [attr.id]="name">
    <div [formGroup]="pocEntryGroup">
        <input type="hidden" formControlName="contactId" />
        <sam-text
            label="Title"
            [name]="name + '-title'"
            [disabled]="disabledFlag"
            [control]="pocEntryGroup.get('title')"
            formControlName="title"
        ></sam-text>
        <sam-autocomplete
            *ngIf="!manualList"
            allowAny="true"
            labelText="Name"
            [name]="name + '-full-name'"
            [id]="name + '-full-name'"
            required="true"
            peoplepicker-autofill
            [control]="pocEntryGroup.get('fullName')"
            [config]="{keyValueConfig:{keyProperty:'givenName',valueProperty:'givenName'}}"
            formControlName="fullName"
        ></sam-autocomplete>
        <sam-autocomplete
            *ngIf="manualList"
            allowAny="true"
            labelText="Name"
            [name]="name + '-full-name'"
            [id]="name + '-full-name'"
            required="true"
            [options]="nameOptions"
            [config]="{keyValueConfig:acConfig}"
            [control]="pocEntryGroup.get('fullName')"
            (ngModelChange)="nameSelection($event)"
            formControlName="fullName"
        ></sam-autocomplete>
        <sam-autocomplete
            *ngIf="!manualList"
            allowAny="true"
            labelText="Email Address"
            [name]="name + '-email'"
            [id]="name + '-email'"
            required="true"
            peoplepicker-autofill
            [control]="pocEntryGroup.get('email')"
            [config]="{keyValueConfig:{keyProperty:'email',valueProperty:'email'}}"
            formControlName="email"
        ></sam-autocomplete>
        <sam-autocomplete
            *ngIf="manualList"
            allowAny="true"
            labelText="Email Address"
            [name]="name + '-email'"
            [id]="name + '-email'"
            required="true"
            [options]="emailOptions"
            [config]="{keyValueConfig:acConfig}"
            [control]="pocEntryGroup.get('email')"
            (ngModelChange)="emailSelection($event)"
            formControlName="email"
        ></sam-autocomplete>
        <sam-phone-entry
            [required]="true"
            label="Business Phone"
            [prefix]="name + '-phone-input'"
            phoneNumberTemplate="1+(___)___-____"
            numbersOnly="true"
            [useDefaultValidations]="false"
            [control]="pocEntryGroup.get('phone')"
            formControlName="phone"></sam-phone-entry>
        <sam-phone-entry
            label="Fax"
            [prefix]="name + '-fax'"
            phoneNumberTemplate="1+(___)___-____"
            numbersOnly="true"
            [useDefaultValidations]="false"
            [control]="pocEntryGroup.get('fax')"
            formControlName="fax"
        ></sam-phone-entry >
        <ng-container *ngIf="showAddress">
            <sam-text-area
                label="Street Address 1"
                [name]="name + '-street'"
                required="true"
                [control]="pocEntryGroup.get('streetAddress')"
                formControlName="streetAddress"
            ></sam-text-area>
            <sam-text-area
                label="Street Address 2"
                [name]="name + '-street2'"
                [control]="pocEntryGroup.get('streetAddress2')"
                formControlName="streetAddress2"
            ></sam-text-area>
            <sam-text
                city
                label="City"
                [name]="name + '-city'"
                required="true"
                [control]="pocEntryGroup.get('city')"
                formControlName="city"
            ></sam-text>
            <!--sam-text
                label="State"
                name="state"
                required="true"
                [control]="pocEntryGroup.get('state')"
                formControlName="state"
            ></sam-text-->
            <sam-autocomplete
                state
                labelText="State"
                [config]="locationConfig"
                [name]="name + '-state'"
                [id]="name + '-state'"
                required="true"
                [control]="pocEntryGroup.get('state')"
                formControlName="state"
            ></sam-autocomplete>
            <sam-number
                label="Zip Code"
                [name]="name + '-zip'"
                required="true"
                [control]="pocEntryGroup.get('zip')"
                formControlName="zip"
            ></sam-number>
            <!--sam-text
                label="Country"
                name="country"
                required="true"
                [control]="pocEntryGroup.get('country')"
                formControlName="country"
            ></sam-text-->
            <sam-autocomplete
                country
                labelText="Country"
                [config]="locationConfig"
                [name]="name + 'country'"
                [id]="name + 'country'"
                required="true"
                [control]="pocEntryGroup.get('country')"
                formControlName="country"
            ></sam-autocomplete>
        </ng-container>
        <div class="button-row">
            <sam-button
                [buttonText]="'Cancel'"
                [buttonType]="'tertiary'"
                (onClick)="formCancel()">
            </sam-button>
            <sam-button
                [buttonText]="mode === 'Add' ? 'Add' : 'Update'"
                [buttonType]="'secondary'"
                (onClick)="formSubmit()">
            </sam-button>
        </div>
    </div>
</sam-fieldset-wrapper>
