<div class="usa-grid user-directory-page">
  <label>Organization Id:</label>
  <input type="number" [(ngModel)]="orgId">
  <hr>
  <div class="user-details-row">
    <h1 class="user-name">
      <a href="#">Adams, Chris</a>
    </h1>
  </div>
  <div class="user-details-row">Phone <a href="tel:+15555551234">(123) 456-7890</a></div>
  <div class="user-details-row">Organization: <a [routerLink]="['/organization', orgId]">General Services Administration (GSA)</a>&nbsp;
    <button class="usa-button-transparent org-dropdown-button" (click)="onToggleHierarchyClick()" [disabled]="isToggleButtonDisabled()">
      <span class="sr-only">show hierarchy</span>
      <i class="fa" [ngClass]="toggleButtonClass()"></i>
    </button>
  </div>
  <div [ngSwitch]="loadState">
    <div *ngSwitchCase='"loading"'><sam-spinner></sam-spinner></div>
    <div *ngSwitchCase="'success'">
      <parent-orgs [orgLevels]="orgLevels" *ngIf="orgLevels"></parent-orgs>
      <p *ngIf="!orgLevels"><i>Organization information unavailable</i></p>
    </div>
    <p *ngSwitchCase='"error"' ><i>Organization information unavailable</i></p>
  </div>
</div>
