<div>
  <form *ngIf="states.init">
    <!--============================-->
    <!--=== Identity Information ===-->
    <!--============================-->
    <section id="identifying-information" class="identity">
      <h3>Identifying Information</h3>
      <div class="usa-form-group">
        <label>Name:</label>
        <div class="usa-form-control" [innerText]="name"></div>
      </div>
      <div class="usa-form-group">
        <label>Suffix:</label>
        <div class="usa-form-control" [innerText]="user.suffix"></div>
      </div>
      <div class="usa-form-group">
        <label>Email:</label>
        <div class="usa-form-control" [innerText]="user.email"></div>
      </div>
      <div class="usa-form-group">
        <label>Notifications:</label>
        <div class="usa-form-control" [innerText]="(user.emailNotification ? 'On' : 'Off')"></div>
      </div>
    </section>
    <!--============================-->
    <!--=== Business Information ===-->
    <!--============================-->
    <section id="organization-information" class="business">
      <h3>
        <span [innerText]="states.isGov ? 'Organization Information' : 'Business Information'"></span>
      </h3>

      <div class="usa-form-group" *ngIf="states.isGov">
        <label>Department:</label>
        <div class="usa-form-control" [innerText]="hierarchy.department"></div>
      </div>
      <div class="usa-form-group" *ngIf="states.isGov">
        <label>Agency:</label>
        <div class="usa-form-control" [innerText]="hierarchy.agency"></div>
      </div>
      <div class="usa-form-group" *ngIf="states.isGov">
        <label>Office:</label>
        <div class="usa-form-control" [innerText]="hierarchy.office"></div>
      </div>
      <div class="usa-form-group" *ngIf="states.isGov">
        <label>Activity Access Code:</label>
        <div class="usa-form-control" [innerText]="hierarchy.aac"></div>
      </div>

      <div class="usa-form-group">
        <label>Business Phone:</label>
        <div class="usa-form-control" [innerText]="phone"></div>
      </div>
    </section>
    <!--==========================-->
    <!--=== Security Questions ===-->
    <!--==========================-->
    <section id="security-questions" *ngIf="user.kbaAnswerList.length" class="kba">
      <h3>Security Questions</h3>

      <div class="fsd-kba-toggle">
        <input type="checkbox" id="usa-kba-toggle" name="usa-kba-toggle" [(ngModel)]="states.kba" (ngModelChange)="onKBAToggle($event)">
        <label for="usa-kba-toggle">{{ states.kba ? 'Hide' : 'Show' }} Answers</label>
      </div>

      <div *ngFor="let kbaAnswer of user.kbaAnswerList; let $index = index;" class="usa-form-group kba">
        <label [innerText]="getQuestion(kbaAnswer.questionId)"></label>
        <div class="usa-form-control" [innerHTML]="!states.kba ? getHashedAnswer(kbaAnswer.answer) : kbaAnswer.answer"></div>
      </div>
    </section>
    <section id="deactivate-account">
      <h3>Deactivate Account</h3>
      <div>
        Once you deactivate this account, the user will not be able to recover any account information or permissions.
        All access information will permanently be deleted.
      </div>

      <div class="usa-button-controls">
        <sam-button buttonType="negative" buttonText="Deactivate Account" [buttonDisabled]="states.loading" (onClick)="confirmDeactivation()"></sam-button>
        <sam-alert [type]="alerts.deactivate.type"
                   [title]="alerts.deactivate.message"
                   [showClose]="true"
                   [hidden]="!alerts.deactivate.show"
                   (dismiss)="dismiss('deactivate')"></sam-alert>
      </div>
    </section>
    <section id="password-reset">
      <h3>Password Reset Email</h3>
      <div>
        Push send to send an email to the account holder; allowing them to reset their password.
      </div>

      <div class="usa-button-controls">
        <sam-button buttonType="tertiary" buttonText="Send" (onClick)="sendPasswordReset()"></sam-button>
        <sam-alert [type]="alerts.password.type"
                   [title]="alerts.password.message"
                   [showClose]="true"
                   [hidden]="!alerts.password.show"
                   (dismiss)="dismiss('password')"></sam-alert>
      </div>
    </section>
  </form>
</div>

<sam-modal #confirmModal
           type="warning"
           title="Are you sure you want to deactivate this account?"
           showClose="true"
           submitButtonLabel="Yes, deactivate this account"
           cancelButtonLabel="No, cancel account deactivation"
           (onSubmit)="reconfirmDeactivation()"></sam-modal>
<sam-modal #reconfirmModal
           type="warning"
           title="Warning"
           description="If you deactivate this account it cannot be reactivated for future use and you will be immediately redirected to the user's directory page. Are you sure you want to deactivate this account?"
           showClose="true"
           submitButtonLabel="Yes, continue with deactivation"
           cancelButtonLabel="No, cancel deactivation"
           (onSubmit)="deactivate()"></sam-modal>
