<div class="usa-grid">
  <div class="usa-width-one-whole">
    <div class="usa-forgot-main">
      <form (ngSubmit)="verify()" class="usa-form-large" autocomplete="off">
        <fieldset class="relative" #form>
          <legend *ngIf="!states.reset">Answer your security questions</legend>
          <span *ngIf="!states.reset">
            Provide the answer to the following question: You have 7 attempts to answer two security
            questions correctly before your account is temporarily locked.
          </span>

          <div class="forgot-content" *ngIf="!states.reset" [ngClass]="{ 'usa-input-error': states.submittedCount && answer.invalid }">
            <span class="usa-input-error-message" *ngIf="states.submittedCount && answer.invalid" role="alert">
              <span>Enter a valid answer</span>
            </span>
            <label for="kba-answer" [innerText]="question"></label>
            <input type="text"
                   id="kba-answer"
                   name="answer"
                   autocomplete="off"
                   readonly="readonly"
                   onfocus="this.removeAttribute('readonly');"
                   title="KBA Security Answer"
                   [formControl]="answer" />
          </div>

          <div *ngIf="states.reset">
            <sam-password [password]="password" #samPassword></sam-password>
          </div>

          <div class="usa-button-controls">
            <button type="submit" [disabled]="states.submitted">Submit</button>
            <sam-alert [type]="states.alert.type"
                       [title]="states.alert.title"
                       [description]="states.alert.message"
                       [showClose]="true"
                       [hidden]="!states.alert.show"
                       (dismiss)="hideAlert()"></sam-alert>
          </div>

          <ul class="links">
            <li class="home">
              <a routerLink="/">Return to SAM.gov Home</a>
            </li>
          </ul>
        </fieldset>
      </form>
    </div>
  </div>
</div>
