<div class="usa-grid-full usa-authentication">
  <aside class="usa-width-one-fourth usa-system">
    <h1 [innerText]="store.title"></h1>
    <ul class="usa-sidenav-list">
      <li *ngFor="let nav of store.nav; let $index = index;">
        <a *ngIf="nav.routerLink" [routerLink]="[nav.routerLink]" [routerLinkActive]="[nav.routerLinkActive]" [innerText]="nav.text"></a>
        <a *ngIf="!nav.routerLink" [routerLinkActive]="[nav.routerLinkActive]" [innerText]="nav.text"></a>
        <ul class="usa-sidenav-sub_list" [hidden]="!router.isActive('/system/' + nav.routerLink)" *ngIf="nav.children">
          <li *ngFor="let subnav of nav.children; let $subIndex = index;">
            <a *ngIf="!subnav.anchor" [routerLink]="[subnav.routerLink]" [routerLinkActive]="[subnav.routerLinkActive]" [innerText]="nav.text"></a>
            <a *ngIf="subnav.anchor" [href]="subnav.routerLink" [innerText]="subnav.text" pageScroll></a>
          </li>
        </ul>
      </li>
    </ul>
  </aside>
  <section class="usa-width-three-fourths" [ngClass]="[activeRouteClass]">
     <router-outlet></router-outlet>
  </section>
</div>
