<page class="usa-grid-full usa-authentication usa-profile" section="Profile" [title]="store.title" [breadcrumbs]="breadcrumbs">
  <sidebar>
    <ul class="usa-sidenav-list" *ngIf="states.sidenav">
      <li *ngFor="let nav of store.nav; let $index = index;">
        <a *ngIf="nav.routerLink.length" [routerLink]="nav.routerLink" [routerLinkActive]="[nav.routerLinkActive]" [innerText]="nav.text" queryParamsHandling="merge"></a>
        <a *ngIf="!nav.routerLink.length" [routerLinkActive]="nav.routerLinkActive" [innerText]="nav.text"></a>
      </li>
    </ul>
    <side-nav-filter></side-nav-filter>
  </sidebar>

  <div class="occupy-page">
  <sam-alert class="usa-alert-main" type="info" [title]="store.alert.title" message *ngIf="store.alert.content">
    <div [innerHTML]="store.alert.content"></div>
  </sam-alert>

  <section class="usa-profile" [ngClass]="[activeRouteClass]">
     <router-outlet></router-outlet>
  </section>
  </div>
</page>
