<div class="background-white permissions-block" *ngIf="role.isOpen">
  <div class="border-bottom-black permissions-table-header">
    <div class="usa-grid-full">
      <div class="usa-width-one-fourth">
        Object
      </div>
      <div class="usa-width-one-fourth">
        Permissions
      </div>
    </div>
  </div>
  <div class="usa-grid-full permissions-table" *ngFor="let obj of role.organizationMapContent[0].functionMapContent">
    <div class="usa-width-one-fourth">
      {{obj.function.val || 'object not found'}}
    </div>
    <div class="usa-width-three-fourths">
      <span *ngFor="let perm of obj.permission; let lastPermission=last">{{perm.val || 'Permission not Found'}}<span *ngIf="!lastPermission">, </span></span>
    </div>
  </div>
</div>

