<h2>Reset Password</h2>
<div>
  <form *ngIf="passwordForm" [formGroup]="passwordForm" (ngSubmit)="reset()" class="usa-form-large usa-form-password" autocomplete="off">
    <fieldset>
      <sam-password [password]="passwordForm.controls.userPassword"></sam-password>
    </fieldset>
    <fieldset>
      <div class="usa-button-controls">
        <button type="submit">Submit</button>
      </div>
    </fieldset>
  </form>
</div>

<samAlert class="usa-alert-static" type="info" title="Migrate Your Roles">
  If you have a user account at any of the <a [href]="config.alert.sites">websites</a> that are moving to the new SAM.gov,
  you may migrate your roles and keep your same permissions. <a [href]="config.alert.migrate">Begin Now</a>.
</samAlert>

<samAlert type="success" title="Password Successfully Reset" showClose="true" [dismissTimer]="1000"></samAlert>
