<div grid>
  
  <div columns="12" *ngIf="toggleControl.assistanceListings">
    <workspace-widget 
      [title]="'Assistance Listings'" 
      [actions]="actions"
      [shortcut]="{ text: 'Assistance Listings Workspace', routerLink: ['/fal/workspace'] }">
      <assistance-listing-widget></assistance-listing-widget>
    </workspace-widget>
  </div>
  
  <div columns="6" *ngIf="toggleControl.opportunities">
    <workspace-widget [title]="'Opportunities'"></workspace-widget>
  </div>
  <div columns="6" *ngIf="toggleControl.subAward">
    <workspace-widget [title]="'Sub-Award'"></workspace-widget>
  </div>
  
  <div columns="6" *ngIf="toggleControl.entity">
    <workspace-widget [title]="'Entity'"></workspace-widget>
  </div>
  <div columns="6" *ngIf="toggleControl.exclusions">
    <workspace-widget [title]="'Exclusions'"></workspace-widget>
  </div>
  
  <div columns="6" *ngIf="toggleControl.award">
    <workspace-widget [title]="'Award'"></workspace-widget>
  </div>
  
</div>