<div grid>

  <div columns="12" *ngIf="toggleControl.assistanceListings">
    <workspace-widget
      [title]="'Assistance Listings'"
      [actions]="setHelpNavigation('assistanceListings')"
      [shortcut]="{ text: 'Go to Assistance Listings', routerLink: ['/fal/workspace'] }">
      <assistance-listing-widget></assistance-listing-widget>
    </workspace-widget>
  </div>

  <div columns="12" *ngIf="toggleControl.opportunities">
      <workspace-widget
          [title]="'Contract Opportunities'"
          [actions]="setHelpNavigation('opportunities')"
          [shortcut]="{ text: 'Contract Opportunities Workspace', routerLink: ['/opp/workspace'] }">
          <opp-widget></opp-widget>
      </workspace-widget>
  </div>

  <div columns="12">
    <workspace-widget
      [title]="'Collective Bargaining Agreements'"
      [actions]="setHelpNavigation('wageDeterminations')">
      <cba-widget></cba-widget>
    </workspace-widget>
  </div>
</div>
