<div class="sam-autocomplete-multiselect">
    <!-- Markup for input area -->
    <sam-label-wrapper #wrapper
                      [label]="label"
                      [hint]="hint"
                      [name]="name? name+'-ac-textarea': name"
                      [required]="required"
                      [errorMessage]="errorMessage"
                      tab
                      sam-click-outside
                      (clickOutside)="checkForFocus($event)"
                      sam-tab-outside
                      (tabOutside)="checkForFocus($event)">
  
      <div class="sam-autocomplete-multiselect-input chips"
        (click)="focusTextArea()"
        [ngClass]="{ 'active': displayList() }">
  
          <div tabIndex="0" class="sam-ui mini label"
              *ngFor="let item of value"
              [@label]=""
              (click)="deselectItem(item)"
              (keydown)="deselectItemOnEnter($event,item)">
              <div class="label">
                {{ keyValueConfig ? item[keyValueConfig?.valueProperty] : item?.value }}
                <span *ngIf="item?.value !== item[keyValueConfig?.categoryProperty]"
                  class="selected-category">
                  <br>{{ item[keyValueConfig?.categoryProperty] }}
                </span>
              </div>
              <i class="icon close fa fa-times"></i>
          </div>
          <label *ngIf="name && !label" [attr.for]="name+'-ac-textarea'" class="sr-only">textarea input</label>
          <textarea #textArea rows="1"
                    [attr.id]="name+'-ac-textarea'"
                    [(ngModel)]="searchText"
                    (input)="applyTextAreaWidth($event)"
                    (keydown)="selectOnEnter(handleEscapeEvent(handleUpArrow(handleDownArrow(handleBackspaceEvent(handleEnterEvent($event))))))"
                    (keyup)="applyTextAreaWidth(handleEnterEvent($event))"
                    [disabled]="isDisabled"
                    (focus)="filterOptions('')">
          </textarea>
  
  
          <!-- Hidden span used to approximate the width of the content in the text area.
              This helps us calculate when the textArea should be on the same row as the
              spans of selected content and when the textarea should be on a line by
              itself. -->
          <span #hiddenText class="usa-sr-only measure text">
            {{searchText}}
          </span>
      </div>
  
      <div class="clear-all-container">
        <button type="button"
                class="usa-button-link"
                (click)="focusTextArea(clearSearch(deselectAll()))">
                Clear All
        </button>
      </div>
  
    </sam-label-wrapper>
  </div>
  
  