<page *ngIf="pageReady"
  theme="inside"
  [attr.id]="'page-title'"
  [breadcrumbs]=""
  section="Workspace"
  title="CFDA Number Configuration Change">

  <div class="sam-ui grid">
    <div class="twelve wide mobile eleven wide tablet seven wide computer column">
      <div id="page-data" class="sam-ui segment" *ngIf="organization">
        <div class="sam-ui medium header">
          Organization
          <div class="sub header">{{organization.name}}</div>
        </div>
      </div>
      <div class="sam-ui hidden divider"></div>

      <form [formGroup]="cfdaNumberConfigForm">
        <div class="sam-ui segment">
          <sam-radio-button [name]="'assignment-radio-buttons'"
                            [options]="assignmentOptions"
                            [label]="'Assignment'"
                            [formControlName]="'assignemnt'"
                            [required] = "true"
                            [control]="cfdaNumberConfigForm.get('assignemnt')">
          </sam-radio-button>
          <sam-alert [type]="'error'" [title]="'High Number should be greater than Low Number'" *ngIf="numberAlertShow">
          </sam-alert>

          <sam-text [control]="cfdaNumberConfigForm.controls['lowNumber']"
                    [name]="'low-number-input'"
                    [label]="'Low Number*'"
                    [required]="true"
                    [maxlength]="3"
                    formControlName="lowNumber">
          </sam-text>

          <sam-text [control]="cfdaNumberConfigForm.controls['highNumber']"
                    [name]="'high-number-input'"
                    [label]="'High Number*'"
                    [required]="true"
                    [maxlength]="3"
                    formControlName="highNumber">
          </sam-text>
        </div>

        <sam-button [buttonType]="buttonType"
                    [attr.id]="'submit-btn'"
                    [buttonText]="'Submit'"
                    [buttonClass]="'usa-button-primary usa-search-submit search-btn'"
                    (onClick)="submitCFDANumberConfigChange()">
        </sam-button>
        <sam-button [buttonType]="buttonType"
                    [attr.id]="'cancel-btn'"
                    [buttonText]="'Cancel'"
                    [buttonClass]="'usa-button-primary usa-search-submit'"
                    (onClick)="cancelCFDANumberConfigChange()">
        </sam-button>
      </form>
    </div>
  </div>
</page>
