<sam-complex-form-template 
  [crumbs]="crumbs"
  pageTitle="Complex Form Example" 
  [sectionTitle]="getSectionTitle()"
  [sideNavSelection]="sidenavSelection" 
  [sideNavModel]="sidenavModel"
  sideNavImage="src/assets/img/logo-not-found.png"
  sideNavImageAlt="logo not found"
  [sectionIndex]="currentSection"
  [numberOfSections]="sections.length"
  [statusBannerLeadingText]="statusBannerText"
  (action)="formActionHandler($event)"
  (sideNavOutput)="navHandler($event)"
  >
  <div status-banner>
    this is a test, there weren't really any errors
  </div>
  <div form-sections>
    <sample-form-page1 *ngIf="isSection('page1')" [viewModel]="SampleFormViewModel" #form></sample-form-page1>
    <sample-form-page2 *ngIf="isSection('page2')" [viewModel]="SampleFormViewModel" #form></sample-form-page2>
    <sample-form-page3 *ngIf="isSection('page3')" [viewModel]="SampleFormViewModel" #form></sample-form-page3>
  </div>
</sam-complex-form-template>