<div class="sam-ui-kit">
  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <h2>SAM people-picker &lt;sam-autocomplete[peoplepicker-autofill]&gt;</h2>
      <sam-autocomplete 
        labelText="People Picker example (single)" hint="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text" 
        [required]="true"
        peoplepicker-autofill
        [config]="autocompletePeoplePickerConfig"></sam-autocomplete>
      <!--sam-autocomplete-multiselect 
        hint="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text"
        label="People Picker example (multiple)" required="true"
        peoplepicker-autofill
        [keyValueConfig]="autocompletePeoplePickerConfig.keyValueConfig">
      </sam-autocomplete-multiselect-->
    </div>
  </div>

  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <h2>SAM status banner &lt;sam-status-banner&gt;</h2>
      <sam-status-banner type="error">
        <div leading-content>This is the leading text...</div>
        <div main-content>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of <a [routerLink]="['/help']">Lorem Ipsum.</a></div>
      </sam-status-banner>
    </div>
  </div>

  <div class="usa-grid">
    <div class="usa-width-half">
      <h2>SAM Editor &lt;sam-editor&gt;</h2>
      <sam-editor 
        (action)="editorActionHandler($event)"
        label="SAM Editor Example Label" 
        hint="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.">
        <div editor-display-view>
          <p>
            Editor text value 1: {{ editorExampleText1 }}<br/>
            Editor text value 2: {{ editorExampleText2 }}<br/>
            Editor text value 3: {{ editorExampleText3 }}
          </p>
        </div>
        <div editor-input-view>
          <form>
            <sam-text [ngModel]="editorExampleDraftText1" (ngModelChange)="editorExampleDraftText1 = $event" name="text1" label="Label for text 1" hint="Hint for text input #1"></sam-text>
            <sam-text [ngModel]="editorExampleDraftText2" (ngModelChange)="editorExampleDraftText2 = $event" name="text2" label="Label for text 2" hint="Hint for text input #2"></sam-text>
            <sam-text [ngModel]="editorExampleDraftText3" (ngModelChange)="editorExampleDraftText3 = $event" name="text3" label="Label for text 3" hint="Hint for text input #3"></sam-text>
          </form>
        </div>
      </sam-editor>
    </div>

    <div class="usa-width-half">

    </div>
  </div>

  <div class="usa-grid">
    <h2>Accordions Component &lt;sam-accordions&gt;</h2>
    <div class="usa-width-one-whole">
      <h3>Accordions without border</h3>
      <sam-accordion>
        <sam-accordion-section headerText="Section title 1" name="aria-friendly-section-name">
          <a href>A link</a>
        </sam-accordion-section>
        <sam-accordion-section headerText="Section title 2" name="aria-friendly-section-name-2">
          <a href>A second link</a>
        </sam-accordion-section>
      </sam-accordion>
    </div>
    <div class="usa-width-one-whole">
      <h3>Accordions with border, and initial selected tab</h3>
      <sam-accordion [expandIndex]="1" [bordered]="true">
        <sam-accordion-section headerText="Section title 1" name="aria-friendly-section-name">
          <a href>A link</a>
        </sam-accordion-section>
        <sam-accordion-section headerText="Section title 2" name="aria-friendly-section-name-2">
          <a href>A second link</a>
        </sam-accordion-section>
      </sam-accordion>
    </div>
  </div>

  <div class="usa-grid">
    <h2>Toggle Switch Component &lt;sam-toggle-switch&gt;</h2>
    <sam-toggle-switch (switchStatusChange)="OnSwitchChange($event)" [disableSwitch]="switchDisable"></sam-toggle-switch>
    <label>Switch Status: {{switch_status}}</label>
    <input type="checkbox" (click)="disableSwitchClick($event.target.checked)"><label>Disable Switch</label>
  </div>

  <div class="usa-grid">
    <h2>Location Services Demo</h2>
    <div class="usa-width-one-whole">
      <div class="usa-width-one-half m_R-0">
        <button class="usa-button-primary" (click)="getAllCountriesJSON()">Get All Countries</button>
        <button class="usa-button-transparent" (click)="clearAllCountriesJSON()">Clear <i class="fa fa-trash" aria-hidden="true"></i></button>
        <div class="usa-width-one-whole m_T-1x">
          <textarea readonly style="overflow-y: scroll;height: 250px;resize: none;">{{locationAllCountryJSON | json}}</textarea>
        </div>
        <div class="usa-width-one-whole m_T-1x">
          <sam-select [(model)]="locationResultModel"
                     [name]="locationResultConfig.name"
                     [options]="locationResultConfig.options"
                     [label]="locationResultConfig.label"
                     [hint]="locationResultConfig.hint"
                     [errorMessage]="locationResultConfig.errorMessage"
                     [disabled]="locationResultConfig.disabled">

          </sam-select>
        </div>
      </div>
      <div class="usa-width-one-half">
        <div class="usa-width-one-third relative m_R-0"> &nbsp;
          <sam-select class="usa-width-one-whole" style="position:absolute;top:-27px"
                     [(model)]="locationSelectModel"
                     [name]="locationSelectConfig.name"
                     [options]="locationSelectConfig.options"
                     [label]="''"
                     [hint]="locationSelectConfig.hint"
                     [errorMessage]="locationSelectConfig.errorMessage"
                     [disabled]="locationSelectConfig.disabled">
          </sam-select>
        </div>
        <input class="usa-width-one-third m_R-0" [(ngModel)]="locationQueryStr">
        <button class="usa-button-big m_0" (click)="searchCountry(locationSelectModel,locationQueryStr)">Search</button>
        <div class="usa-width-one-whole m_T-1x">
          <textarea readonly style="overflow-y: scroll;height: 250px;resize: none;">{{locationSearchCountryJSON | json}}</textarea>
          <button class="usa-button-transparent" (click)="clearSearchCountryJSON()">Clear <i class="fa fa-trash" aria-hidden="true"></i></button>

        </div>
      </div>
    </div>



    <div class="usa-width-one-whole">
      <div class="usa-width-one-half m_R-0">
        <button class="usa-button-primary" (click)="getAllStatesJSON(countryQueryStr)">Get All States</button>
        <button class="usa-button-transparent" (click)="clearAllStatesJSON()">Clear <i class="fa fa-trash" aria-hidden="true"></i></button>
        <div class="usa-width-one-whole m_T-1x">
          <textarea readonly style="overflow-y: scroll;height: 250px;resize: none;">{{locationAllStateJSON | json}}</textarea>
        </div>
        <div class="usa-width-one-whole m_T-1x">
          <sam-select [(model)]="stateResultModel"
                     [name]="stateResultConfig.name"
                     [options]="stateResultConfig.options"
                     [label]="stateResultConfig.label"
                     [hint]="stateResultConfig.hint"
                     [errorMessage]="stateResultConfig.errorMessage"
                     [disabled]="stateResultConfig.disabled">

          </sam-select>
        </div>
      </div>
      <div class="usa-width-one-half">
        <div class="usa-width-one-third relative m_R-0"> &nbsp;
          <sam-select class="usa-width-one-whole" style="position:absolute;top:-27px"
                     [(model)]="stateSelectModel"
                     [name]="stateSelectConfig.name"
                     [options]="stateSelectConfig.options"
                     [label]="''"
                     [hint]="stateSelectConfig.hint"
                     [errorMessage]="stateSelectConfig.errorMessage"
                     [disabled]="stateSelectConfig.disabled">
          </sam-select>
        </div>
        <input class="usa-width-one-fifth m_R-0" [(ngModel)]="stateQueryStr">
        Country:
        <input class="usa-width-one-fifth m_R-0" [(ngModel)]="countryQueryStr">
        <button class="usa-button-big m_0" (click)="searchState(stateSelectModel,stateQueryStr,countryQueryStr)">Search</button>
        <div class="usa-width-one-whole m_T-1x">
          <textarea readonly style="overflow-y: scroll;height: 250px;resize: none;">{{locationSearchStateJSON | json}}</textarea>
          <button class="usa-button-transparent" (click)="clearSearchStateJSON()">Clear <i class="fa fa-trash" aria-hidden="true"></i></button>

        </div>
      </div>
    </div>


  </div>
<div class="usa-grid">
  <div class="usa-width-one-whole">
      <div class="usa-width-one-half m_R-0">
        <button class="usa-button-primary" (click)="getAllCountiesJSON(statQueryStr)">Get All Counties</button>
        <button class="usa-button-transparent" (click)="clearAllCountiesJSON()">Clear <i class="fa fa-trash" aria-hidden="true"></i></button>
        <div class="usa-width-one-whole m_T-1x">
          <textarea readonly style="overflow-y: scroll;height: 250px;resize: none;">{{locationAllCountyJSON | json}}</textarea>
        </div>
        <div class="usa-width-one-whole m_T-1x">
          <sam-select [(model)]="countyResultModel"
                     [name]="countyResultConfig.name"
                     [options]="countyResultConfig.options"
                     [label]="countyResultConfig.label"
                     [hint]="countyResultConfig.hint"
                     [errorMessage]="countyResultConfig.errorMessage"
                     [disabled]="countyResultConfig.disabled">

          </sam-select>
        </div>
      </div>
      <div class="usa-width-one-half">
        <div class="usa-width-one-third relative m_R-0"> &nbsp;
          <sam-select class="usa-width-one-whole" style="position:absolute;top:-27px"
                     [(model)]="countySelectModel"
                     [name]="countySelectConfig.name"
                     [options]="countySelectConfig.options"
                     [label]="''"
                     [hint]="countySelectConfig.hint"
                     [errorMessage]="countySelectConfig.errorMessage"
                     [disabled]="countySelectConfig.disabled">
          </sam-select>
        </div>
        State:
        <input class="usa-width-one-fifth m_R-0" [(ngModel)]="statQueryStr">
        County:
        <input class="usa-width-one-fifth m_R-0" [(ngModel)]="countyQueryStr">
        <button class="usa-button-big m_0" (click)="searchCounty(countySelectModel,statQueryStr,countyQueryStr)">Search</button>
        <div class="usa-width-one-whole m_T-1x">
          <textarea readonly style="overflow-y: scroll;height: 250px;resize: none;">{{locationSearchCountyJSON | json}}</textarea>
          <button class="usa-button-transparent" (click)="clearSearchCountyJSON()">Clear <i class="fa fa-trash" aria-hidden="true"></i></button>

        </div>
      </div>
    </div>
  </div>

  <div class="usa-grid">
    <h2>Location Service Demo with Autocomplete</h2>
    <div class="usa-width-one-third">
     <sam-autocomplete country [(ngModel)]="locationOutput" [id]="'h1231029380938489'" [labelText]="'Country Picker'" [config]="locationDemoConfig"></sam-autocomplete>
    </div>
    <div class="usa-width-one-third">
     <sam-autocomplete state [(ngModel)]="locationOutput" [id]="'h1231029380938489'" [labelText]="'State Picker'" [config]="locationDemoConfig"></sam-autocomplete>
    </div>
    <div class="usa-width-one-third">
     <sam-autocomplete county [(ngModel)]="locationOutput" [id]="'h1231029380938489'" [labelText]="'County Picker'" [config]="locationDemoConfig"></sam-autocomplete>
    </div>
  </div>


  <div class="usa-grid">
    <h2>Button Component &lt;sam-button&gt;</h2>
    <div class="usa-width-one-whole">
      <div class="usa-width-one-fourth">
        <sam-button [buttonId]="'defaultBtn'" [buttonText]="'Default'" [buttonType]="btnType" (click)="onDefaultBtnClick()"></sam-button>
      </div>
      <div class="usa-width-one-fourth">
        <sam-button [buttonId]="'altBtn'" [buttonText]="'Alt'" [buttonType]="'alt'"></sam-button>
      </div>
      <div class="usa-width-one-fourth">
        <sam-button [buttonId]="'secondaryBtn'" [buttonText]="'Secondary'" [buttonType]="'secondary'"></sam-button>
      </div>
      <div class="usa-width-one-fourth">
        <sam-button [buttonId]="'grayBtn'" [buttonText]="'Gray'" [buttonType]="'gray'"></sam-button>
      </div>
    </div>
    <div class="usa-width-one-whole">
      <div class="usa-width-one-fourth">
        <sam-button [buttonId]="'outlineBtn'" [buttonText]="'Outline'" [buttonType]="'outline'"></sam-button>
      </div>
      <div class="usa-width-one-fourth">
        <sam-button [buttonId]="'invertedBtn'" [buttonText]="'Inverted'" [buttonType]="'inverted'"></sam-button>
      </div>
      <div class="usa-width-one-fourth">
        <sam-button [buttonId]="'disabledBtn'" [buttonText]="'Disabled'" [buttonType]="'disabled'"></sam-button>
      </div>
      <div class="usa-width-one-fourth">
        <sam-button [buttonId]="'bigBtn'" [buttonText]="'Big'" [buttonType]="'big'"></sam-button>
      </div>
    </div>
  </div>

  <div class="usa-grid">
    <h2>Label Component &lt;sam-label&gt;</h2>
    <div class="usa-width-one-sixth">
      <sam-label [labelType]="'big'" [labelText]="'Big Label'"></sam-label>
    </div>
    <div class="usa-width-one-sixth">
      <sam-label
        [labelType]="'small'"
        [labelText]="'Small Label'"></sam-label>
    </div>
  </div>

  <div class="usa-grid">
    <h2>Select Component &lt;sam-select&gt;</h2>
    <div class="usa-width-one-third">
      <sam-select
        [(model)]="selectModel"
        [name]="selectConfig.name"
        [options]="selectConfig.options"
        [hint]="selectConfig.hint"
        [errorMessage]="selectConfig.errorMessage"
        [disabled]="selectConfig.disabled">
      </sam-select>
    </div>
    <div class="usa-width-one-third">
      <fieldset class="usa-fieldset-inputs usa-sans">
        <legend><h3>Options</h3></legend>
        <ul class="usa-unstyled-list">
          <li>
            <input id="hasEmptyOption" type="checkbox" (change)="onEmptyOptionChanged($event)">
            <label for="hasEmptyOption">Add an empty option</label>
          </li>
          <li>
            <input id="isDisabled" type="checkbox" [(ngModel)]="selectConfig.disabled">
            <label for="isDisabled">Disabled</label>
          </li>
          <li>
            <label>Label text</label>
            <input type="text" [(ngModel)]="selectConfig.label">
          </li>
          <li>
            <label>Error message text</label>
            <input type="text" [(ngModel)]="selectConfig.errorMessage">
          </li>
          <li>
            <label>Hint text</label>
            <input type="text" [(ngModel)]="selectConfig.hint">
          </li>
        </ul>
      </fieldset>
    </div>
    <div class="usa-width-one-third">
      <h3>Model</h3>
      <pre><code>{{selectModel | json}}</code></pre>
    </div>
  </div>

  <div class="usa-grid">
    <h2>Select Text &lt;sam-text&gt;</h2>
    <div class="usa-width-one-third">
      <sam-text
        [(ngModel)]="textModel"
        [name]="textConfig.name"
        [label]="textConfig.label"
        [hint]="textConfig.hint"
        [errorMessage]="textConfig.errorMessage"
        [disabled]="textConfig.disabled">
      </sam-text>
    </div>
    <div class="usa-width-one-third">
      <fieldset class="usa-fieldset-inputs usa-sans">
        <legend><h3>Options</h3></legend>
        <ul class="usa-unstyled-list">
          <li>
            <input id="isDisabled" type="checkbox" [(ngModel)]="textConfig.disabled">
            <label for="isDisabled">Disabled</label>
          </li>
          <li>
            <label>Label text</label>
            <input type="text" [(ngModel)]="textConfig.label">
          </li>
          <li>
            <label>Error message text</label>
            <input type="text" [(ngModel)]="textConfig.errorMessage">
          </li>
          <li>
            <label>Hint text</label>
            <input type="text" [(ngModel)]="textConfig.hint">
          </li>
        </ul>
      </fieldset>
    </div>
    <div class="usa-width-one-third">
      <h3>Model</h3>
      <pre><code>{{textModel}}</code></pre>
    </div>
  </div>

  <div class="usa-grid">
    <h2>Select Text &lt;samTextarea&gt;</h2>
    <div class="usa-width-one-third">
      <sam-text-area
        [(ngModel)]="textareaModel"
        [name]="textareaConfig.name"
        [label]="textareaConfig.label"
        [hint]="textareaConfig.hint"
        [errorMessage]="textareaConfig.errorMessage"
        [disabled]="textareaConfig.disabled">
      </sam-text-area>
    </div>
    <div class="usa-width-one-third">
      <fieldset class="usa-fieldset-inputs usa-sans">
        <legend><h3>Options</h3></legend>
        <ul class="usa-unstyled-list">
          <li>
            <input id="isDisabled" type="checkbox" [(ngModel)]="textareaConfig.disabled">
            <label for="isDisabled">Disabled</label>
          </li>
          <li>
            <label>Label text</label>
            <input type="text" [(ngModel)]="textareaConfig.label">
          </li>
          <li>
            <label>Error message text</label>
            <input type="text" [(ngModel)]="textareaConfig.errorMessage">
          </li>
          <li>
            <label>Hint text</label>
            <input type="text" [(ngModel)]="textareaConfig.hint">
          </li>
        </ul>
      </fieldset>
    </div>
    <div class="usa-width-one-third">
      <h3>Model</h3>
      <pre><code>{{textareaModel}}</code></pre>
    </div>
  </div>

  <div class="usa-grid">
    <h2>SAM Number &lt;sam-number&gt;</h2>
    <div class="usa-width-one-third">
      <sam-number
        [value]="2"
        [name]="textConfig.name"
        [label]="textConfig.label"
        [hint]="textConfig.hint"
        [errorMessage]="textConfig.errorMessage"
        [disabled]="textConfig.disabled">
      </sam-number>
    </div>
    <!--div class="usa-width-one-third">
      <fieldset class="usa-fieldset-inputs usa-sans">
        <legend><h3>Options</h3></legend>
        <ul class="usa-unstyled-list">
          <li>
            <input id="isDisabled" type="checkbox" [(ngModel)]="textConfig.disabled">
            <label for="isDisabled">Disabled</label>
          </li>
          <li>
            <label>Label text</label>
            <input type="text" [(ngModel)]="textConfig.label">
          </li>
          <li>
            <label>Error message text</label>
            <input type="text" [(ngModel)]="textConfig.errorMessage">
          </li>
          <li>
            <label>Hint text</label>
            <input type="text" [(ngModel)]="textConfig.hint">
          </li>
        </ul>
      </fieldset>
    </div>
    <div class="usa-width-one-third">
      <h3>Model</h3>
      <pre><code>{{textModel}}</code></pre>
    </div-->
  </div>

  <div class="usa-grid">
    <h2>Checkboxes Component &lt;sam-checkbox&gt;</h2>
    <div class="usa-width-one-third">
      <sam-checkbox
        [(model)]="checkboxModel"
        [name]="checkboxConfig.name"
        [options]="checkboxConfig.options"
        [label]="checkboxConfig.label"
        [hint]="checkboxConfig.hint"
        [errorMessage]="checkboxConfig.errorMessage"
        [hasSelectAll]="checkboxConfig.hasSelectAll">
      </sam-checkbox>
    </div>
    <div class="usa-width-one-third">
      <fieldset class="usa-fieldset-inputs usa-sans">
        <legend><h3>Options</h3></legend>
        <ul class="usa-unstyled-list">
          <li>
            <input id="hasSelectAll" type="checkbox" [(ngModel)]="checkboxConfig.hasSelectAll">
            <label for="hasSelectAll">Add a select all button</label>
          </li>
          <li>
            <label>Label text</label>
            <input type="text" [(ngModel)]="checkboxConfig.label">
          </li>
          <li>
            <label>Error message text</label>
            <input type="text" [(ngModel)]="checkboxConfig.errorMessage">
          </li>
          <li>
            <label>Hint text</label>
            <input type="text" [(ngModel)]="checkboxConfig.hint">
          </li>
        </ul>
      </fieldset>
    </div>
    <div class="usa-width-one-third">
      <h3>Model</h3>
      <pre><code>{{checkboxModel | json}}</code></pre>
    </div>
  </div>

  <div class="usa-grid">
    <h2>Radiobuttons Component &lt;samRadioButtons&gt;</h2>
    <div class="usa-width-one-third">
      <sam-radio-button
        [(model)]="radioModel"
        [options]="radioConfig.options"
        [label]="radioConfig.label"
        [hint]="radioConfig.hint"
        [name]="radioConfig.name"
        [errorMessage]="radioConfig.errorMessage">
      </sam-radio-button>
    </div>
    <div class="usa-width-one-third">
      <fieldset class="usa-fieldset-inputs usa-sans">
        <legend><h3>Options</h3></legend>
        <ul class="usa-unstyled-list">
          <li>
            <label>Label text</label>
            <input type="text" [(ngModel)]="radioConfig.label">
          </li>
          <li>
            <label>Error message text</label>
            <input type="text" [(ngModel)]="radioConfig.errorMessage">
          </li>
          <li>
            <label>Hint text</label>
            <input type="text" [(ngModel)]="radioConfig.hint">
          </li>
        </ul>
      </fieldset>
    </div>
    <div class="usa-width-one-third">
      <h3>Model</h3>
      <pre><code>{{radioModel | json}}</code></pre>
    </div>
  </div>

  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <h2>Alert Component &lt;sam-alert&gt;</h2>
      <sam-alert [type]="'success'" [title]="'Sample Title'" [description]="'lorem ipsum lorem ipsum lorem ipsum lorem ipsum.'"></sam-alert>
      <sam-alert [type]="'warning'" [title]="'Sample Title'" [description]="'lorem ipsum lorem ipsum lorem ipsum lorem ipsum.'"></sam-alert>
      <sam-alert [type]="'error'" [title]="'Sample Title'" [description]="'lorem ipsum lorem ipsum lorem ipsum lorem ipsum.'"></sam-alert>
      <sam-alert [type]="'info'" [title]="'Sample Title'" [description]="'lorem ipsum lorem ipsum lorem ipsum lorem ipsum.'"></sam-alert>
      <sam-alert [type]="'infovv'" [title]="'Sample Title'" [description]="'lorem ipsum lorem ipsum lorem ipsum lorem ipsum.'"></sam-alert>
    </div>
  </div>

  <div class="usa-grid">
    <div class="usa-width-one">
      <h2>Pagination &lt;sam-pagination&gt;</h2>
      <sam-label [labelType]="'small'" [labelText]="'Current Page'"></sam-label><input [(ngModel)]="paginationConfig.currentPage" type="number">
      <sam-label [labelType]="'small'" [labelText]="'Total Page'"></sam-label><input [(ngModel)]="paginationConfig.totalPages" type="number">
      <sam-pagination [currentPage]="paginationConfig.currentPage" [totalPages]="paginationConfig.totalPages"></sam-pagination>
    </div>
  </div>

  <div class="usa-grid">
    <div class="usa-width-one">
      <h2>Point of Contact &lt;sam-poc&gt;</h2>
      <sam-poc [data]="pointOfContact"></sam-poc>
    </div>
  </div>

  <div class="usa-grid">
    <h2 class="usa-width-one">Name Entry &lt;sam-name-entry&gt;</h2>
    <div class="usa-width-one-half">
      <sam-name-entry [model]="nameModel" [prefix]="'ui-kit'"></sam-name-entry>
    </div>
    <div class="usa-width-one-half">
      <h3>Model</h3>
      <pre><code>{{nameModel | json}}</code></pre>
    </div>
  </div>

  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <h2>Agency picker &lt;sam-agency-picker&gt;</h2>
    </div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-third"><sam-agency-picker (orgFullPath)="checkFullParentOrgs($event)" [hint]="'Please select one or more organization filters'" [label]="'Filter by Organization(s):'" [multimode]="true"></sam-agency-picker></div>
    <div class="usa-width-one-third"><sam-agency-picker [hint]="'Please select one organization'" [label]="'Filter by Organization:'" [multimode]="false"></sam-agency-picker></div>
    <div class="usa-width-one-third"><sam-agency-picker [orgRoot]="100006688" [hint]="'Please select one or more organization filters under GSA'" [label]="'Filter by Organization(s):'" [multimode]="true"></sam-agency-picker></div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-third">
      <sam-agency-picker
        (orgFullPath)="checkFullParentOrgs($event)"
        [initial]="[100184736,100182416]"
        [orgRoot]="100011753"
        [orgId]="100184736"
        [hint]="'Please select one or more organization filters (prepopulated, preselected, locked)'" [label]="'Filter by Organization(s):'" [multimode]="true"></sam-agency-picker>
      </div>
  </div>

  <div class="usa-grid">
    <h2 class="usa-width-one">Phone Entry &lt;sam-phone-entry&gt;</h2>
    <div class="usa-width-one-third">
      <sam-phone-entry [(model)]="phoneModel" (emitter)="phoneModelChange($event)"></sam-phone-entry>
      <sam-phone-entry [phoneNumberTemplate]="phoneTemplate2" [(model)]="phoneModel2" (emitter)="phoneModelChange($event)"></sam-phone-entry>
      <sam-phone-entry [phoneNumberTemplate]="phoneTemplate3" [numbersOnly]="true" [(model)]="phoneModel3" (emitter)="phoneModelChange($event)"></sam-phone-entry>
    </div>
    <div class="usa-width-one-third">
      <h3>Model</h3>
      <pre><code>{{phoneModel | json}}</code></pre>
    </div>
  </div>

  <div class="usa-grid">
    <h2 class="usa-width-one">Alert Footer</h2>
    <div>
      <label>Title</label>
      <input [(ngModel)]="footerAlertModel.title" type="text">
      <label>Description</label>
      <input [(ngModel)]="footerAlertModel.description" type="text">
      <label>Type</label>
      <select [(ngModel)]="footerAlertModel.type">
        <option *ngFor="let type of footerAlertTypes">{{ type }}</option>
      </select>
      <label>Dismiss Timer (in milliseconds, 0 is infinite)</label>
      <input [(ngModel)]="footerAlertModel.timer" type="number" min="0">
      <button (click)="onFooterAlertBtnClick()">Add Footer alert</button>
    </div>
  </div>

  <div class="usa-grid">
    <h2>DateTime &lt;sam-date-time&gt;</h2>
    <sam-date-time name="example-date" [(value)]="dateTime"></sam-date-time>
    <p>{{dateTime | json}}</p>
  </div>

  <div class="usa-grid">
    <h2>Time &lt;sam-time&gt;</h2>
    <sam-time name="example-time" [(ngModel)]="time"></sam-time>
    <p>{{time | json}}</p>
  </div>

  <div class="usa-grid">
    <h2 class="usa-width-one">Date Entry &lt;sam-date&gt;</h2>
    <div class="usa-width-one-half">
      <sam-date name="example-date" [(ngModel)]='dateModel'></sam-date>
    </div>
    <div class="usa-width-one-half">
      <h3>Model</h3>
      <pre><code>{{dateModel | json}}</code></pre>
    </div>
  </div>

  <div class="usa-grid">
    <h2 class="usa-width-one">Date Range Entry &lt;sam-date-range&gt;</h2>
    <div class="usa-width-one-half">
      <sam-date-range name="example-date" #dateRangeVar="ngModel" [control]="dateRangeVar.control" [(ngModel)]='dateRangeModel'></sam-date-range>
    </div>
    <div class="usa-width-one-half">
      <h3>Model</h3>
      <pre><code>{{dateRangeModel | json}}</code></pre>
    </div>
  </div>

  <div class="usa-grid">
    <h2 class="usa-width-one">Autocomplete &lt;sam-phone-entry&gt;</h2>
    <div class="usa-width-one">
      <sam-input-autocomplete [serviceName]="'suggestions'"></sam-input-autocomplete>
    </div>
  </div>

  <div class="usa-grid relative">
    <h2 class="usa-grid-full">Info Accordion Component &lt;sam-info-accordion&gt;</h2>
    <div class="usa-grid-full">
      <sam-info-accordion [name]="'ImageLibrarySample'" [data]="imageLibraryData"></sam-info-accordion>
    </div>
  </div>

  <div class="usa-grid">
    <h2 class="usa-width-one">Modal &lt;sam-modal&gt;</h2>
    <div class="usa-width-one-half">
      <sam-modal [showClose]="true" #modal1 [title]="modalConfig.title" [type]="modalConfig.type" [description]="modalConfig.description" [submitButtonLabel]="'Yes'" [cancelButtonLabel]="'No'" (onSubmit)="onModalClose()">
      </sam-modal>
      <label>Title</label>
      <input [(ngModel)]="modalConfig.title" type="text">
      <label>Description</label>
      <input [(ngModel)]="modalConfig.description" type="text">
      <label>Type</label>
      <select [(ngModel)]="modalConfig.type">
        <option *ngFor="let type of modalAlertTypes">{{ type }}</option>
      </select>
      <button (click)="onModalInitClick()">Show Modal</button>

      <p>Modal with 'transclude content' and disabled 'close on outside click'</p>
      <button (click)="onModalInitClick2()">Show Modal 2</button>
      <sam-modal #modal2 [title]="modalConfig2.title" [type]="modalConfig2.type" [closeOnOutsideClick]="false">
        <p>This is a notification...</p>
        <div style="text-align:center;">
          <button (click)="modal2.closeModal()">Ok</button>
        </div>
      </sam-modal>
    </div>
  </div>
</div>

<div class="usa-grid">
  <h2 class="usa-width-one">Sam Collapsible</h2>
  <div class="usa-width-one-fourth">
    <sam-collapsible [label]="collapsibleLabel">
      <h1>I got projected in here</h1>
    </sam-collapsible>
  </div>
</div>
<br/>

<div class="usa-grid">
  <h2 class="usa-width-one">Sam Filter Container</h2>
  <div class="usa-width-one-fourth">
    <sam-filters-container>
      <sam-collapsible [label]="'Test 1'" [startOpened]="true">
        <h4>Filter 1</h4>
      </sam-collapsible>
      <sam-collapsible [label]="'Test 2'">
        <sam-date name="example-date" [(value)]='dateModel'></sam-date>
      </sam-collapsible>
      <sam-collapsible label="'Test 3'">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate ex aliquam, molestiae tempora. Nihil alias blanditiis excepturi architecto rerum repellendus adipisci ducimus minus, modi porro nostrum repudiandae perferendis placeat et.</p>
      </sam-collapsible>
    </sam-filters-container>
  </div>
</div>
<div class="usa-grid">
  <div class="usa-grid">
    <h2 class="usa-width-one">Sam Autocomplete Dropdown</h2>
    <div class="usa-width-one-half">
      <sam-autocomplete-dropdown [(ngModel)]="searchValue" [name]="searchName" [options]="dropdownSearch"></sam-autocomplete-dropdown>
    </div>
    <div class="usa-width-one-half">
      {{searchValue}}
    </div>
  </div>

  <div class="usa-grid">
    <h2 class="usa-width-one">MultiSelect Dropdown</h2>
    <div class="usa-width-one-half">
      <sam-list-display [newValue]="searchValue1" (emitSelectedItems)="getDropdownListItems($event)" [(ngModel)]="testModel1">
        <sam-autocomplete-dropdown [(ngModel)]="searchValue1" [name]="searchName1" [options]="dropdownSearch1" [button]="button" (onButtonPressed)="getButton($event)"></sam-autocomplete-dropdown>
      </sam-list-display>
    </div>
    <div class="usa-width-one-half">
      Model value: {{testModel1}}
    </div>
  </div>

  <div class="usa-grid">
    <h2 class="usa-width-one">SAM Download</h2>
    <div class="usa-width-one-whole">
      <sam-download [packages]="packages" [downloadAllUrl]="'fakedownloadlink'"></sam-download>
    </div>
  </div>

  <div class="usa-grid">
    <h2 class="usa-width-one">Autocomplete Categories</h2>
    <sam-autocomplete class="usa-width-one-half" [options]="autocompleteCategoryOptions" [config]="autocompleteConfig" [categories]="categories" [(ngModel)]="autocompleteCategoryDemo"></sam-autocomplete>
    <p class="usa-width-one-half">Selected Value: {{autocompleteCategoryDemo?.value}}</p>
  </div>

  <div class="usa-grid">
    <h2 class="usa-width-one">Autocomplete Multiselect (Selectable Categories)</h2>
    <sam-autocomplete-multiselect class="usa-width-one-half" 
                                  label="Team Members" required="true"
                                  [keyValueConfig]="multiselectConfigSelectable" 
                                  [options]="multiselectOptions"
                                  [categoryIsSelectable]="true"
                                  [categories]="autocompleteCategoryObjects"
                                  [(ngModel)]="modellz1">
      </sam-autocomplete-multiselect>
    <div class="usa-width-one-half">{{modellz1 | json}}</div>
  </div>

  <div class="usa-grid">
    <h2 class="usa-width-one">Autocomplete Multiselect (Not Selectable Categories)</h2>
    <sam-autocomplete-multiselect class="usa-width-one-half" 
                                  label="Team Members" required="true"
                                  [keyValueConfig]="multiselectConfig" 
                                  [options]="multiselectOptions"
                                  [(ngModel)]="modellz2">
      </sam-autocomplete-multiselect>
    <div class="usa-width-one-half">{{modellz2 | json}}</div>
  </div>
<br>
</div>
