<div class="sam-ui grid container">
  <div class="twelve wide column">
      <div class="sam-ui segment">
          <h2 class="sam-ui header">
            Table-Entry
            <div class="sub header">&lt; sam-table-entry &gt;</div>
          </h2>
        <sam-table-entry
          [formArray]="tableFormArray"
          [columnHeaders]="['Col1','Col2','Col3']"
          subRows="true"
          [controlTemplate]="tableFormItemTemplate"
          [subControlTemplate]="tableSubFormItemTemplate">
          <ng-template #display let-control>
            <td class="one wide">{{control.value.col1}}</td>
            <td class="four wide">{{control.value.col2}}</td>
            <td class="four wide">{{control.value.col3}}</td>
          </ng-template>

          <ng-template #subDisplay let-subControl>
            <td class="one wide">{{subControl.value.subcol1}}</td>
            <td class="four wide">{{subControl.value.subcol2}}</td>
            <td class="four wide">{{subControl.value.subcol3}}</td>
          </ng-template>


          <ng-template #edit let-control>
            <div [formGroup]="control">
              <sam-text
                name="col1"
                label="Column 1"
                [control]="control.get('col1')"
                formControlName="col1"></sam-text>
              <sam-text
                name="col2"
                label="Column 2"
                [control]="control.get('col2')"
                formControlName="col2"></sam-text>
              <sam-text
                name="col3"
                label="Column 3"
                [control]="control.get('col3')"
                formControlName="col3"></sam-text>
            </div>
          </ng-template>

          <ng-template #subEdit let-control>
              <div [formGroup]="control">
                <sam-text
                  name="subcol1"
                  label="Sub-Column 1"
                  [control]="control.get('subcol1')"
                  formControlName="subcol1"></sam-text>
                <sam-text
                  name="subcol2"
                  label="Sub-Column 2"
                  [control]="control.get('subcol2')"
                  formControlName="subcol2"></sam-text>
                <sam-text
                  name="subcol3"
                  label="Sub-Column 3"
                  [control]="control.get('subcol3')"
                  formControlName="subcol3"></sam-text>
              </div>
            </ng-template>
        </sam-table-entry>
      </div>
  </div>
</div>
<div class="sam-ui hidden section divider"></div>

<!-- Buttons -->
<div class="sam-ui grid container">
  <div class="twelve wide column">
    <div class="sam-ui segment">
      <h2 class="sam-ui header">
        Buttons
        <div class="sub header">&lt; sam-button &gt;</div>
      </h2>

      <!-- Actions -->
      <h3 class="sam-ui header">Actions</h3>
      <sam-button
        [buttonId]="'primaryBtn'"
        [buttonText]="'Primary'"
        [buttonType]="'primary'"
        (click)="onDefaultBtnClick()">
      </sam-button>
      <sam-button
        [buttonId]="'secondaryBtn'"
        [buttonText]="'Secondary'"
        [buttonType]="'secondary'"
        (click)="onDefaultBtnClick()">
      </sam-button>
      <sam-button
        [buttonId]="'tertiaryBtn'"
        [buttonText]="'Tertiary'"
        [buttonType]="'tertiary'"
        (click)="onDefaultBtnClick()">
      </sam-button>
      <sam-button
        [buttonId]="'negativeBtn'"
        [buttonText]="'Negative'"
        [buttonType]="'negative'"
        (click)="onDefaultBtnClick()">
      </sam-button>
      <sam-button
        [buttonId]="'submitBtn'"
        [buttonText]="'Submit'"
        [buttonType]="'submit'"
        (click)="onDefaultBtnClick()">
      </sam-button>

      <!-- State: Disabled -->
      <h3 class="sam-ui header">Disabled</h3>
      <sam-button
        [buttonId]="'primaryDisabledBtn'"
        [buttonText]="'Primary'"
        [buttonType]="'primary'"
        buttonDisabled=true>
      </sam-button>
      <sam-button
        [buttonId]="'secondaryDisabledBtn'"
        [buttonText]="'Secondary'"
        [buttonType]="'secondary'"
        buttonDisabled=true >
      </sam-button>
      <sam-button
        [buttonId]="'tertiaryDisabledBtn'"
        [buttonText]="'Tertiary'"
        [buttonType]="'tertiary'"
        buttonDisabled=true >
      </sam-button>
      <sam-button
        [buttonId]="'negativeDisabledBtn'"
        [buttonText]="'Negative'"
        [buttonType]="'negative'"
        buttonDisabled=true >
      </sam-button>
      <sam-button
        [buttonId]="'submitDisabledBtn'"
        [buttonText]="'Submit'"
        [buttonType]="'submit'"
        buttonDisabled=true >
      </sam-button>

      <!-- Size -->
      <h3 class="sam-ui header">Size</h3>
      <sam-button
        [buttonId]="'smallBtn'"
        [buttonText]="'Small'"
        [buttonSize]="'small'">
      </sam-button>
      <sam-button
        [buttonId]="'mediumBtn'"
        [buttonText]="'Medium'">
      </sam-button>
      <sam-button
        [buttonId]="'largeBtn'"
        [buttonText]="'Large'"
        [buttonSize]="'large'">
      </sam-button>

    </div>
  </div>
</div>

<div class="sam-ui hidden section divider"></div>


<div class="sam-ui-kit">
  <div class="usa-grid">
    <div class="usa-width-one-half">
      <sam-poc-entry name="poc"></sam-poc-entry>
    </div>
  </div>
  <div class="usa-grid">
    <h2 class="usa-width-one">Location Group</h2>
    <sam-location-component class="usa-width-one"
     [(location)]="locationObj"
      [cityConfig]="{name: 'city'}"
      [stateConfig]="{name: 'state'}"
      [countryConfig]="{name: 'country'}"
      [countyConfig]="{name: 'county'}"
      [zipConfig]="{name: 'zip'}">
    </sam-location-component><br/>
    <h4 class="usa-width-one">{{ locationObj | json }}</h4>
  </div>
   <div class="usa-grid">
    <div class="usa-width-one-whole">
        <sam-autocomplete-multiselect country class="usa-width-one-half"
                                  label="Country Autocomplete Multiselect" required="true"
                                  [keyValueConfig]="multiselectConfigSelectable">
        </sam-autocomplete-multiselect>
    </div>
  </div> <br/>
  <div class="usa-grid">
    <div class="usa-width-one-whole">
        <sam-autocomplete-multiselect state class="usa-width-one-half"
                                  label="State Autocomplete Multiselect" required="true"
                                  [keyValueConfig]="multiselectConfigSelectable">
        </sam-autocomplete-multiselect>
    </div>
  </div> <br/>
  <div class="usa-grid">
    <div class="usa-width-one-whole">
        <sam-autocomplete-multiselect county class="usa-width-one-half"
                                  label="County Autocomplete Multiselect" required="true"
                                  [keyValueConfig]="multiselectConfigSelectable">
        </sam-autocomplete-multiselect>
    </div>
  </div> <br/>
 <div class="usa-grid">
    <div class="usa-width-one-whole">
        <sam-autocomplete-multiselect city class="usa-width-one-half"
                                  label="City Autocomplete Multiselect" required="true"
                                  [keyValueConfig]="multiselectConfigSelectable">
        </sam-autocomplete-multiselect>
    </div>
  </div> <br/><br/><br/>

 <div class="usa-grid">
    <div class="usa-width-one-half">
      <sam-autocomplete [(ngModel)]="selectedPSC1"
                        pscpicker-autofill [activeVal] = "'Y'"
                        [labelText]="'PSC Picker (Active Only)'"
                        [config]="{
                          keyValueConfig: {
                            keyProperty: 'key',
                            valueProperty: 'value'
                          }
                        }"
                        [name]="'pscpicker'"
                        [id]="'pscpicker'">
      </sam-autocomplete><br/>
      {{ selectedPSC1 | json }}
    </div>
    <div class="usa-width-one-half">
      <sam-autocomplete [(ngModel)]="selectedPSC2"
                        pscpicker-autofill [activeVal] = "'ALL'"
                        [labelText]="'PSC Picker (Including Inactive) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Inactive code'"
                        [config]="{
                          keyValueConfig: {
                            keyProperty: 'key',
                            valueProperty: 'value'
                          }
                        }"
                        [name]="'pscpicker'"
                        [id]="'pscpicker'">
      </sam-autocomplete><br/>
      {{ selectedPSC2 | json }}
    </div>
  </div> <br/>

  <div class="usa-grid">
    <div class="usa-width-one-half">
      <sam-autocomplete-multiselect [(ngModel)]="multiSelectedPSC1"
                        pscpicker-autofill [activeVal] = "'Y'"
                        label="PSC Picker Multiselect (Active Only)"
                        [keyValueConfig]=" {
                            keyProperty: 'key',
                            valueProperty: 'value'
                        }">
      </sam-autocomplete-multiselect><br/>
      {{ multiSelectedPSC1 | json }}
    </div>
    <div class="usa-width-one-half">
      <sam-autocomplete-multiselect [(ngModel)]="multiSelectedPSC2"
                        pscpicker-autofill [activeVal] = "'ALL'"
                        label="PSC Picker Multiselect (Including Inactive) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * Inactive code"
                        [keyValueConfig]=" {
                            keyProperty: 'key',
                            valueProperty: 'value'
                        }">
      </sam-autocomplete-multiselect><br/>
      {{ multiSelectedPSC2 | json }}
    </div>
  </div> <br/><br/><br/>

<div class="usa-grid">
    <div class="usa-width-one-half">
      <sam-autocomplete [(ngModel)]="selectedNAICS1"
                        naicspicker-autofill
                        [labelText]="'NAICS Picker (Latest Year)'"
                        [config]="{
                          keyValueConfig: {
                            keyProperty: 'key',
                            valueProperty: 'value'
                          }
                        }"
                        [name]="'naicspicker'"
                        [id]="'naicspicker'">
      </sam-autocomplete><br/>
      {{ selectedNAICS1 | json }}
    </div>
    <div class="usa-width-one-half">
      <sam-autocomplete [(ngModel)]="selectedNAICS2"
                        naicspicker-autofill [maxLevel] = "'4'"
                        [labelText]="'NAICS Picker (Max Level = 4)'"
                        [config]="{
                          keyValueConfig: {
                            keyProperty: 'key',
                            valueProperty: 'value'
                          }
                        }"
                        [name]="'naicspicker'"
                        [id]="'naicspicker'">
      </sam-autocomplete><br/>
      {{ selectedNAICS2 | json }}
    </div>
  </div> <br/>

  <div class="usa-grid">
    <div class="usa-width-one-half">
      <sam-autocomplete-multiselect [(ngModel)]="multiSelectedNAICS1"
                        naicspicker-autofill
                        label="NAICS Picker Multiselect (Latest Year)"
                        [keyValueConfig]=" {
                            keyProperty: 'key',
                            valueProperty: 'value'
                        }">
      </sam-autocomplete-multiselect><br/>
      {{ multiSelectedNAICS1 | json }}
    </div>
    <div class="usa-width-one-half">
      <sam-autocomplete-multiselect [(ngModel)]="multiSelectedNAICS2"
                        naicspicker-autofill [sourceYears] = "['2012']"
                        label="NAICS Picker Multiselect (Source Year 2012)"
                        [keyValueConfig]=" {
                            keyProperty: 'key',
                            valueProperty: 'value'
                        }">
      </sam-autocomplete-multiselect><br/>
      {{ multiSelectedNAICS2 | json }}
    </div>
  </div> <br/><br/><br/>

  <div class="usa-grid m_B-5x">
    <div class="usa-width-one-whole">
      <h3>Entity Picker Component(Multiple)</h3>
      <div class="usa-width-one-half">
        <sam-entity-picker
          label="Entity Picker (multi-picker)"
          required="true"
          [(ngModel)]="entitypicker_selections"
          [isDefaultOrg]="true"
          [isAssignableOrg]="true"
          hint="Pick entity">

        </sam-entity-picker>
      </div>
      <div class="usa-width-one-half">
        <h3>Selection Model</h3>
        <div *ngFor="let selection of entitypicker_selections">{{selection | json}}</div>
      </div>
    </div>

    <div class="usa-width-one-whole m_T-3x m_B-3x">
      <h3>Entity Picker Component(Single)</h3>
      <div class="usa-width-one-half">
        <sam-entity-picker
          label="Entity Picker (single-picker)"
          required="true"
          [(ngModel)]="entitypicker_selection_single"
          [isDefaultOrg]="true"
          [isAssignableOrg]="true"
          hint="Pick entity"
          [isMultiple]="false">
        </sam-entity-picker>
      </div>
      <div class="usa-width-one-half">
        <h3>Selection Model</h3>
        <div>{{entitypicker_selection_single | json}}</div>
      </div>
    </div>
  </div>


  <div class="usa-grid">
    <div class="usa-width-one-half">
      <h2>SAM agency-picker-v2 &lt;sam-agency-picker-v2&gt;</h2>
      <sam-agency-picker-v2
        type="single"
        label="Agency Picker (single)"
        required="true"
        [(ngModel)]="agv2_selections1"
        hint="Pick a single agency">
      </sam-agency-picker-v2>
      <sam-agency-picker-v2
        type="multiple"
        label="Agency Picker (multiple)"
        required="true"
        [(ngModel)]="agv2_selections2"
        hint="Pick multiple agencies">
      </sam-agency-picker-v2>
    </div>
    <div class="usa-width-one-half">
      <p>{{ agv2_selections1 | json }}</p>
      <p>{{ agv2_selections2 | json }}</p>
    </div>
  </div>

  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <h2>SAM Sort &lt;sam-sort&gt;</h2>
      <sam-sort [(ngModel)]="sortModel"
      [options]="[{label:'Name',name:'Name',value:'name'},{label:'Fruit',name:'Fruit',value:'fruit'}]">
      </sam-sort>
      <br/>{{ sortModel | json }}
    </div>
  </div>

  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <h2>SAM people-picker &lt;sam-autocomplete[peoplepicker-autofill]&gt;</h2>
      <sam-autocomplete
        labelText="People Picker example (single)" hint="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text"
        [required]="true"
        peoplepicker-autofill
        [config]="autocompletePeoplePickerConfig"></sam-autocomplete>
      <sam-autocomplete-multiselect
        hint="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text"
        label="People Picker example (multiple)" required="true"
        peoplepicker-autofill
        [keyValueConfig]="autocompletePeoplePickerConfig.keyValueConfig">
      </sam-autocomplete-multiselect>
    </div>
  </div>

  <div class="usa-grid">
    <div class="usa-width-one-half">
      <h2>Date Range Filter &lt;sam-date-range-filter&gt;</h2>
      <sam-date-range-filter #dateRangeFilterVar="ngModel" [control]="dateRangeFilterVar.control" [(ngModel)]="samDateRangeAdvModel"></sam-date-range-filter>
      <br/>
      <sam-date-range-filter radioName="select-filter2" rangeType="date-time" [(ngModel)]="samDateRangeAdvModel2"></sam-date-range-filter>
    </div>
    <div class="usa-width-one-half">
      {{ samDateRangeAdvModel | json }}<br/>
      {{ samDateRangeAdvModel2 | json }}
    </div>
  </div>

  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <h2>SAM status banner &lt;sam-status-banner&gt;</h2>
      <sam-status-banner type="error">
        <div leading-content>This is the leading text...</div>
        <div main-content>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of <a [routerLink]="['/help']">Lorem Ipsum.</a></div>
      </sam-status-banner>
    </div>
  </div>

  <div class="usa-grid">
    <div class="usa-width-half">
      <h2>SAM Editor &lt;sam-editor&gt;</h2>
      <sam-editor
        (action)="editorActionHandler($event)"
        label="SAM Editor Example Label"
        hint="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.">
        <div editor-display-view>
          <p>
            Editor text value 1: {{ editorExampleText1 }}<br/>
            Editor text value 2: {{ editorExampleText2 }}<br/>
            Editor text value 3: {{ editorExampleText3 }}
          </p>
        </div>
        <div editor-input-view>
          <form>
            <sam-text [ngModel]="editorExampleDraftText1" (ngModelChange)="editorExampleDraftText1 = $event" name="text1" label="Label for text 1" hint="Hint for text input #1"></sam-text>
            <sam-text [ngModel]="editorExampleDraftText2" (ngModelChange)="editorExampleDraftText2 = $event" name="text2" label="Label for text 2" hint="Hint for text input #2"></sam-text>
            <sam-text [ngModel]="editorExampleDraftText3" (ngModelChange)="editorExampleDraftText3 = $event" name="text3" label="Label for text 3" hint="Hint for text input #3"></sam-text>
          </form>
        </div>
      </sam-editor>
    </div>

    <div class="usa-width-half">

    </div>
  </div>

  <div class="usa-grid">
    <h2>Accordions Component &lt;sam-accordions&gt;</h2>
    <div class="usa-width-one-whole">
      <h3>Accordions without border</h3>
      <sam-accordion>
        <sam-accordion-section headerText="Section title 1" name="aria-friendly-section-name">
          <a href>A link</a>
        </sam-accordion-section>
        <sam-accordion-section headerText="Section title 2" name="aria-friendly-section-name-2">
          <a href>A second link</a>
        </sam-accordion-section>
      </sam-accordion>
    </div>
    <div class="usa-width-one-whole">
      <h3>Accordions with border, and initial selected tab</h3>
      <sam-accordion [expandIndex]="1" [bordered]="true">
        <sam-accordion-section headerText="Section title 1" name="aria-friendly-section-name">
          <a href>A link</a>
        </sam-accordion-section>
        <sam-accordion-section headerText="Section title 2" name="aria-friendly-section-name-2">
          <a href>A second link</a>
        </sam-accordion-section>
      </sam-accordion>
    </div>
  </div>

  <div class="usa-grid">
    <h2>Toggle Switch Component &lt;sam-toggle-switch&gt;</h2>
    <sam-toggle-switch (switchStatusChange)="OnSwitchChange($event)" [disableSwitch]="switchDisable"></sam-toggle-switch>
    <label>Switch Status: {{switch_status}}</label>
    <input type="checkbox" (click)="disableSwitchClick($event.target.checked)"><label>Disable Switch</label>
  </div>

 <div class="usa-grid">
    <h2>Label Component &lt;sam-label&gt;</h2>
    <div class="usa-width-one-sixth">
      <sam-label [labelType]="'big'" [labelText]="'Big Label'"></sam-label>
    </div>
    <div class="usa-width-one-sixth">
      <sam-label
        [labelType]="'small'"
        [labelText]="'Small Label'"></sam-label>
    </div>
  </div>

  <div class="usa-grid">
    <h2>Select Component &lt;sam-select&gt;</h2>
    <div class="usa-width-one-third">
      <sam-select
        [(model)]="selectModel"
        [name]="selectConfig.name"
        [options]="selectConfig.options"
        [hint]="selectConfig.hint"
        [errorMessage]="selectConfig.errorMessage"
        [disabled]="selectConfig.disabled">
      </sam-select>
    </div>
    <div class="usa-width-one-third">
      <fieldset class="usa-fieldset-inputs usa-sans">
        <legend><h3>Options</h3></legend>
        <ul class="usa-unstyled-list">
          <li>
            <input id="hasEmptyOption" type="checkbox" (change)="onEmptyOptionChanged($event)">
            <label for="hasEmptyOption">Add an empty option</label>
          </li>
          <li>
            <input id="isDisabled" type="checkbox" [(ngModel)]="selectConfig.disabled">
            <label for="isDisabled">Disabled</label>
          </li>
          <li>
            <label>Label text</label>
            <input type="text" [(ngModel)]="selectConfig.label">
          </li>
          <li>
            <label>Error message text</label>
            <input type="text" [(ngModel)]="selectConfig.errorMessage">
          </li>
          <li>
            <label>Hint text</label>
            <input type="text" [(ngModel)]="selectConfig.hint">
          </li>
        </ul>
      </fieldset>
    </div>
    <div class="usa-width-one-third">
      <h3>Model</h3>
      <pre><code>{{selectModel | json}}</code></pre>
    </div>
  </div>

  <div class="usa-grid">
    <h2>Select Text &lt;sam-text&gt;</h2>
    <div class="usa-width-one-third">
      <sam-text
        [(ngModel)]="textModel"
        [name]="textConfig.name"
        [label]="textConfig.label"
        [hint]="textConfig.hint"
        [errorMessage]="textConfig.errorMessage"
        [disabled]="textConfig.disabled">
      </sam-text>
    </div>
    <div class="usa-width-one-third">
      <fieldset class="usa-fieldset-inputs usa-sans">
        <legend><h3>Options</h3></legend>
        <ul class="usa-unstyled-list">
          <li>
            <input id="isDisabled" type="checkbox" [(ngModel)]="textConfig.disabled">
            <label for="isDisabled">Disabled</label>
          </li>
          <li>
            <label>Label text</label>
            <input type="text" [(ngModel)]="textConfig.label">
          </li>
          <li>
            <label>Error message text</label>
            <input type="text" [(ngModel)]="textConfig.errorMessage">
          </li>
          <li>
            <label>Hint text</label>
            <input type="text" [(ngModel)]="textConfig.hint">
          </li>
        </ul>
      </fieldset>
    </div>
    <div class="usa-width-one-third">
      <h3>Model</h3>
      <pre><code>{{textModel}}</code></pre>
    </div>
  </div>

  <div class="usa-grid">
    <h2>Select Text &lt;samTextarea&gt;</h2>
    <div class="usa-width-one-third">
      <sam-text-area
        [(ngModel)]="textareaModel"
        [name]="textareaConfig.name"
        [label]="textareaConfig.label"
        [hint]="textareaConfig.hint"
        [errorMessage]="textareaConfig.errorMessage"
        [disabled]="textareaConfig.disabled">
      </sam-text-area>
    </div>
    <div class="usa-width-one-third">
      <fieldset class="usa-fieldset-inputs usa-sans">
        <legend><h3>Options</h3></legend>
        <ul class="usa-unstyled-list">
          <li>
            <input id="isDisabled" type="checkbox" [(ngModel)]="textareaConfig.disabled">
            <label for="isDisabled">Disabled</label>
          </li>
          <li>
            <label>Label text</label>
            <input type="text" [(ngModel)]="textareaConfig.label">
          </li>
          <li>
            <label>Error message text</label>
            <input type="text" [(ngModel)]="textareaConfig.errorMessage">
          </li>
          <li>
            <label>Hint text</label>
            <input type="text" [(ngModel)]="textareaConfig.hint">
          </li>
        </ul>
      </fieldset>
    </div>
    <div class="usa-width-one-third">
      <h3>Model</h3>
      <pre><code>{{textareaModel}}</code></pre>
    </div>
  </div>

  <div class="usa-grid">
    <h2>SAM Number &lt;sam-number&gt;</h2>
    <div class="usa-width-one-third">
      <sam-number
        [value]="2"
        [name]="textConfig.name"
        [label]="textConfig.label"
        [hint]="textConfig.hint"
        [errorMessage]="textConfig.errorMessage"
        [disabled]="textConfig.disabled">
      </sam-number>
    </div>
    <!--div class="usa-width-one-third">
      <fieldset class="usa-fieldset-inputs usa-sans">
        <legend><h3>Options</h3></legend>
        <ul class="usa-unstyled-list">
          <li>
            <input id="isDisabled" type="checkbox" [(ngModel)]="textConfig.disabled">
            <label for="isDisabled">Disabled</label>
          </li>
          <li>
            <label>Label text</label>
            <input type="text" [(ngModel)]="textConfig.label">
          </li>
          <li>
            <label>Error message text</label>
            <input type="text" [(ngModel)]="textConfig.errorMessage">
          </li>
          <li>
            <label>Hint text</label>
            <input type="text" [(ngModel)]="textConfig.hint">
          </li>
        </ul>
      </fieldset>
    </div>
    <div class="usa-width-one-third">
      <h3>Model</h3>
      <pre><code>{{textModel}}</code></pre>
    </div-->
  </div>

  <div class="usa-grid">
    <h2>Checkboxes Component &lt;sam-checkbox&gt;</h2>
    <div class="usa-width-one-third">
      <sam-checkbox
        [(model)]="checkboxModel"
        [name]="checkboxConfig.name"
        [options]="checkboxConfig.options"
        [label]="checkboxConfig.label"
        [hint]="checkboxConfig.hint"
        [errorMessage]="checkboxConfig.errorMessage"
        [hasSelectAll]="checkboxConfig.hasSelectAll">
      </sam-checkbox>
    </div>
    <div class="usa-width-one-third">
      <fieldset class="usa-fieldset-inputs usa-sans">
        <legend><h3>Options</h3></legend>
        <ul class="usa-unstyled-list">
          <li>
            <input id="hasSelectAll" type="checkbox" [(ngModel)]="checkboxConfig.hasSelectAll">
            <label for="hasSelectAll">Add a select all button</label>
          </li>
          <li>
            <label>Label text</label>
            <input type="text" [(ngModel)]="checkboxConfig.label">
          </li>
          <li>
            <label>Error message text</label>
            <input type="text" [(ngModel)]="checkboxConfig.errorMessage">
          </li>
          <li>
            <label>Hint text</label>
            <input type="text" [(ngModel)]="checkboxConfig.hint">
          </li>
        </ul>
      </fieldset>
    </div>
    <div class="usa-width-one-third">
      <h3>Model</h3>
      <pre><code>{{checkboxModel | json}}</code></pre>
    </div>
  </div>

  <div class="usa-grid">
    <h2>Radiobuttons Component &lt;samRadioButtons&gt;</h2>
    <div class="usa-width-one-third">
      <sam-radio-button
        [(model)]="radioModel"
        [options]="radioConfig.options"
        [label]="radioConfig.label"
        [hint]="radioConfig.hint"
        [name]="radioConfig.name"
        [errorMessage]="radioConfig.errorMessage">
      </sam-radio-button>
    </div>
    <div class="usa-width-one-third">
      <fieldset class="usa-fieldset-inputs usa-sans">
        <legend><h3>Options</h3></legend>
        <ul class="usa-unstyled-list">
          <li>
            <label>Label text</label>
            <input type="text" [(ngModel)]="radioConfig.label">
          </li>
          <li>
            <label>Error message text</label>
            <input type="text" [(ngModel)]="radioConfig.errorMessage">
          </li>
          <li>
            <label>Hint text</label>
            <input type="text" [(ngModel)]="radioConfig.hint">
          </li>
        </ul>
      </fieldset>
    </div>
    <div class="usa-width-one-third">
      <h3>Model</h3>
      <pre><code>{{radioModel | json}}</code></pre>
    </div>
  </div>

  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <h2>Alert Component &lt;sam-alert&gt;</h2>
      <sam-alert [type]="'success'" [title]="'Sample Title'" [description]="'lorem ipsum lorem ipsum lorem ipsum lorem ipsum.'"></sam-alert>
      <sam-alert [type]="'warning'" [title]="'Sample Title'" [description]="'lorem ipsum lorem ipsum lorem ipsum lorem ipsum.'"></sam-alert>
      <sam-alert [type]="'error'" [title]="'Sample Title'" [description]="'lorem ipsum lorem ipsum lorem ipsum lorem ipsum.'"></sam-alert>
      <sam-alert [type]="'info'" [title]="'Sample Title'" [description]="'lorem ipsum lorem ipsum lorem ipsum lorem ipsum.'"></sam-alert>
      <sam-alert [type]="'infovv'" [title]="'Sample Title'" [description]="'lorem ipsum lorem ipsum lorem ipsum lorem ipsum.'"></sam-alert>
    </div>
  </div>

  <div class="usa-grid">
    <div class="usa-width-one">
      <h2>Pagination &lt;sam-pagination&gt;</h2>
      <sam-label [labelType]="'small'" [labelText]="'Current Page'"></sam-label><input [(ngModel)]="paginationConfig.currentPage" type="number">
      <sam-label [labelType]="'small'" [labelText]="'Total Page'"></sam-label><input [(ngModel)]="paginationConfig.totalPages" type="number">
      <sam-pagination [currentPage]="paginationConfig.currentPage" [totalPages]="paginationConfig.totalPages"></sam-pagination>
    </div>
  </div>

  <div class="usa-grid">
    <div class="usa-width-one">
      <h2>Point of Contact &lt;sam-poc&gt;</h2>
      <sam-poc [data]="pointOfContact"></sam-poc>
    </div>
  </div>

  <div class="usa-grid">
    <h2 class="usa-width-one">Name Entry &lt;sam-name-entry&gt;</h2>
    <div class="usa-width-one-half">
      <sam-name-entry [(ngModel)]="nameModel" [prefix]="'ui-kit'"></sam-name-entry>
    </div>
    <div class="usa-width-one-half">
      <h3>Model</h3>
      <pre><code>{{nameModel | json}}</code></pre>
    </div>
  </div>

  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <h2>Agency picker &lt;sam-agency-picker&gt;</h2>
    </div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-third"><sam-agency-picker (orgFullPath)="checkFullParentOrgs($event)" [hint]="'Please select one or more organization filters'" [label]="'Filter by Organization(s):'" [multimode]="true"></sam-agency-picker></div>
    <div class="usa-width-one-third"><sam-agency-picker [hint]="'Please select one organization'" [label]="'Filter by Organization:'" [multimode]="false"></sam-agency-picker></div>
    <div class="usa-width-one-third"><sam-agency-picker [orgRoot]="100006688" [hint]="'Please select one or more organization filters under GSA'" [label]="'Filter by Organization(s):'" [multimode]="true"></sam-agency-picker></div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-third">
      <sam-agency-picker
        (orgFullPath)="checkFullParentOrgs($event)"
        [initial]="[100184736,100182416]"
        [orgRoot]="100011753"
        [orgId]="100184736"
        [hint]="'Please select one or more organization filters (prepopulated, preselected, locked)'" [label]="'Filter by Organization(s):'" [multimode]="true"></sam-agency-picker>
      </div>
  </div>

  <div class="usa-grid">
    <h2 class="usa-width-one">Phone Entry &lt;sam-phone-entry&gt;</h2>
    <div class="usa-width-one-third">
      <sam-phone-entry [(model)]="phoneModel" (emitter)="phoneModelChange($event)"></sam-phone-entry>
      <sam-phone-entry [phoneNumberTemplate]="phoneTemplate2" [(model)]="phoneModel2" (emitter)="phoneModelChange($event)"></sam-phone-entry>
      <sam-phone-entry [phoneNumberTemplate]="phoneTemplate3" [numbersOnly]="true" [(model)]="phoneModel3" (emitter)="phoneModelChange($event)"></sam-phone-entry>
    </div>
    <div class="usa-width-one-third">
      <h3>Model</h3>
      <pre><code>{{phoneModel | json}}</code></pre>
    </div>
  </div>

  <div class="usa-grid">
    <h2 class="usa-width-one">Alert Footer</h2>
    <div>
      <label>Title</label>
      <input [(ngModel)]="footerAlertModel.title" type="text">
      <label>Description</label>
      <input [(ngModel)]="footerAlertModel.description" type="text">
      <label>Type</label>
      <select [(ngModel)]="footerAlertModel.type">
        <option *ngFor="let type of footerAlertTypes">{{ type }}</option>
      </select>
      <label>Dismiss Timer (in milliseconds, 0 is infinite)</label>
      <input [(ngModel)]="footerAlertModel.timer" type="number" min="0">
      <button (click)="onFooterAlertBtnClick()">Add Footer alert</button>
    </div>
  </div>

  <div class="usa-grid">
    <h2>DateTime &lt;sam-date-time&gt;</h2>
    <sam-date-time name="example-date" [(ngModel)]="dateTime"></sam-date-time>
    <p>{{dateTime | json}}</p>
  </div>

  <div class="usa-grid">
    <h2>Time &lt;sam-time&gt;</h2>
    <sam-time name="example-time" [(ngModel)]="time"></sam-time>
    <p>{{time | json}}</p>
  </div>

  <div class="usa-grid">
    <h2 class="usa-width-one">Date Entry &lt;sam-date&gt;</h2>
    <div class="usa-width-one-half">
      <sam-date name="example-date" [(ngModel)]='dateModel'></sam-date>
    </div>
    <div class="usa-width-one-half">
      <h3>Model</h3>
      <pre><code>{{dateModel | json}}</code></pre>
    </div>
  </div>

  <div class="usa-grid">
    <h2 class="usa-width-one">Date Range Entry &lt;sam-date-range&gt;</h2>
    <div class="usa-width-one-half">
      <sam-date-range name="example-date" #dateRangeVar="ngModel" [control]="dateRangeVar.control" [(ngModel)]='dateRangeModel'></sam-date-range>
    </div>
    <div class="usa-width-one-half">
      <h3>Model</h3>
      <pre><code>{{dateRangeModel | json}}</code></pre>
    </div>
  </div>

  <div class="usa-grid relative">
    <h2 class="usa-grid-full">Info Accordion Component &lt;sam-info-accordion&gt;</h2>
    <div class="usa-grid-full">
      <sam-info-accordion [name]="'ImageLibrarySample'" [data]="imageLibraryData"></sam-info-accordion>
    </div>
  </div>

  <div class="usa-grid">
    <h2 class="usa-width-one">Modal &lt;sam-modal&gt;</h2>
    <div class="usa-width-one-half">
      <sam-modal [showClose]="true" #modal1 [title]="modalConfig.title" [type]="modalConfig.type" [description]="modalConfig.description" [submitButtonLabel]="'Yes'" [cancelButtonLabel]="'No'" (onSubmit)="onModalClose()">
      </sam-modal>
      <label>Title</label>
      <input [(ngModel)]="modalConfig.title" type="text">
      <label>Description</label>
      <input [(ngModel)]="modalConfig.description" type="text">
      <label>Type</label>
      <select [(ngModel)]="modalConfig.type">
        <option *ngFor="let type of modalAlertTypes">{{ type }}</option>
      </select>
      <button (click)="onModalInitClick()">Show Modal</button>

      <p>Modal with 'transclude content' and disabled 'close on outside click'</p>
      <button (click)="onModalInitClick2()">Show Modal 2</button>
      <sam-modal #modal2 [title]="modalConfig2.title" [type]="modalConfig2.type" [closeOnOutsideClick]="false">
        <p>This is a notification...</p>
        <div style="text-align:center;">
          <button (click)="modal2.closeModal()">Ok</button>
        </div>
      </sam-modal>
    </div>
  </div>
</div>

<div class="usa-grid">
  <h2 class="usa-width-one">Sam Collapsible</h2>
  <div class="usa-width-one-fourth">
    <sam-collapsible [label]="collapsibleLabel">
      <h1>I got projected in here</h1>
    </sam-collapsible>
  </div>
</div>
<br/>

<div class="usa-grid">
  <h2 class="usa-width-one">Sam Filter Container</h2>
  <div class="usa-width-one-fourth">
    <sam-filters-container>
      <sam-collapsible [label]="'Test 1'" [startOpened]="true">
        <h4>Filter 1</h4>
      </sam-collapsible>
      <sam-collapsible [label]="'Test 2'">
        <sam-date name="example-date" [(ngModel)]='dateModel'></sam-date>
      </sam-collapsible>
      <sam-collapsible label="'Test 3'">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate ex aliquam, molestiae tempora. Nihil alias blanditiis excepturi architecto rerum repellendus adipisci ducimus minus, modi porro nostrum repudiandae perferendis placeat et.</p>
      </sam-collapsible>
    </sam-filters-container>
  </div>
</div>
<div class="usa-grid">

  <div class="usa-grid">
    <h2 class="usa-width-one">SAM Download</h2>
    <div class="usa-width-one-whole">
      <sam-download [packages]="packages" [downloadAllUrl]="'fakedownloadlink'"></sam-download>
    </div>
  </div>

  <div class="usa-grid">
    <h2 class="usa-width-one">Autocomplete Categories</h2>
    <sam-autocomplete class="usa-width-one-half" [options]="autocompleteCategoryOptions" [config]="autocompleteConfig" [categories]="categories" [(ngModel)]="autocompleteCategoryDemo"></sam-autocomplete>
    <p class="usa-width-one-half">Selected Value: {{autocompleteCategoryDemo?.value}}</p>
  </div>

  <div class="usa-grid">
    <h2 class="usa-width-one">Autocomplete Multiselect (Selectable Categories)</h2>
    <sam-autocomplete-multiselect class="usa-width-one-half"
                                  label="Team Members" required="true" hint="Look at my cool hint"
                                  [keyValueConfig]="multiselectConfigSelectable"
                                  [options]="multiselectOptions"
                                  [categoryIsSelectable]="true"
                                  [categories]="autocompleteCategoryObjects"
                                  [(ngModel)]="modellz1">
      </sam-autocomplete-multiselect>
    <div class="usa-width-one-half">{{modellz1 | json}}</div>
  </div>

  <div class="usa-grid">
    <h2 class="usa-width-one">Autocomplete Multiselect (Not Selectable Categories)</h2>
    <sam-autocomplete-multiselect class="usa-width-one-half"
                                  label="Team Members" required="true"
                                  [keyValueConfig]="multiselectConfig"
                                  [options]="multiselectOptions"
                                  [(ngModel)]="modellz2">
      </sam-autocomplete-multiselect>
    <div class="usa-width-one-half">{{modellz2 | json}}</div>
  </div>

  <div class="usa-grid">
    <h2 class="usa-width-one">Sam Comments Component</h2>
    <sam-comments class="usa-width-one">
    </sam-comments>
  </div>

  <div class="usa-grid">
    <h2 class="usa-width-one">Actions Components</h2>
    <div class="usa-width-one-half">
      <h3>Sam Actions Dropdown</h3>
      <sam-actions-dropdown [disabled]="false"
                            [actions]="actions"
                            (emitCallback)="handleAction($event)"
                            (emitAction)="handleAction($event)"></sam-actions-dropdown>
    </div>
    <div class="usa-width-one-half">
      <h3>Sam Actions Dropdown (disabled)</h3>
      <sam-actions-dropdown [disabled]="true"></sam-actions-dropdown>
    </div>
    <div class="usa-width-one-half">
      <h3>Sam Action Button</h3>
      <sam-action-button [action]="action"
                         (emitCallback)="handleActionButton($event)"></sam-action-button>
    </div>
    <div class="usa-width-one-half">
      <h3>Sam Action Button (disabled)</h3>
      <sam-action-button [action]="action"
                         [disabled]="true"></sam-action-button>
    </div>
  </div>
  <br>
  <div class="usa-grid">
    <h2 class="usa-width-one">Image Component</h2>
    <sam-image name="urmom"
               class="usa-width-one"
               src="https://upload.wikimedia.org/wikipedia/commons/c/c6/Georgewashington.jpg"
               (fileChange)="fileChangeHandler($event)"
               [editable]="true"></sam-image>
    <p class="usa-width-one">
      {{bob}}
    </p>
  </div>

  <div class="usa-grid">
    <h2 class="usa-width-one">Autocomplete Refactor</h2>
    <div class="usa-width-one">
      <sam-autocomplete-refactor
        [(ngModel)]="howdydo"
        [options]="[
          {
            key: 'ca',
            value: 'Colin',
            category: 'People'
          },
          {
            key: 'cv',
            value: 'Carlos',
            category: 'People'
          },
          {
            key: 'dr',
            value: 'Diego',
            category: 'People'
          }
        ]"
        [config]="{
          keyValueConfig: {
            keyProperty: 'key',
            valueProperty: 'value',
            categoryProperty: 'category'
          }
        }"
        [categories]="[
          { key: 'People', value: 'People' }
        ]"
        [isCategorySelectable]="true"
        [label]="'KV Options with Selectable Categories'"
        [name]="'kvoptions'"
        [id]="'kvoptions'">
      </sam-autocomplete-refactor>
      {{ howdydo | json }}
    </div>
    <br />
    <div class="usa-width-one">
      <sam-autocomplete-refactor
        [(ngModel)]="howdy"
        class="usa-width-one"
        [options]="[
          'Colin',
          'Carlos',
          'Diego'
        ]"
        allowAny="true"
        [label]="'String Options'"
        [name]="'stringoptions'"
        [id]="'stringoptions'">
      </sam-autocomplete-refactor>
      {{ howdy | json }}
    </div>
    <br />
    <div class="usa-width-one">
      <sam-autocomplete-refactor
        test
        [(ngModel)]="howdydody"
        class="usa-width-one"
        [label]="'Service with Pagination'"
        [name]="'service-pagination'"
        [id]="'service-pagination'">
      </sam-autocomplete-refactor>
      {{ howdydody | json }}
    </div>
  </div>
<br>
</div>
