<!--Delete Modal-->
<sam-modal *ngIf="config.deleteModal" #deleteModal
          [showClose]="true"
          [closeOnOutsideClick]="true"
          [closeOnEscape]="true"
          [type]="'warning'"
          [title]="config.deleteModal.title"
          [description]="config.deleteModal.description"
          [submitButtonLabel]="'Ok'"
          [cancelButtonLabel]="'Cancel'"
          (onSubmit)="onDeleteModalSubmit($event)">
</sam-modal>

<sam-label-wrapper #accountIdentificationLabel
              [name]="config.name"
              [label]="config.label"
              [hint]="config.hint"
              [required]="config.required">

  <div *ngIf="accountForm" [formGroup]="accountForm">
    <!-- Existing accounts table -->
    <!-- todo: make responsive -->
    <table class="sam-ui table celled" *ngIf="model.accounts && model.accounts.length > 0">
      <thead>
        <tr>
          <th scope="col">
            Account Code
          </th>
          <th scope="col">
            Description
          </th>
          <th scope="col">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let account of model.accounts; let i=index">
          <tr>
            <!-- Table account data -->
            <td>{{ account.code }}</td>
            <!--todo: wrap account description if it is long-->
            <!--todo: keep pointer style when disabled or not?-->
            <td>{{ account.description }}</td>
            <!-- Table action buttons -->
            <td>
              <ng-container *ngIf="!isEditing">
                <a class="fal-table-edit" (click)="editAccount(i)">Edit</a>
                <i class="fa fa-pencil fal-table-edit" aria-hidden="true" (click)="editAccount(i)"></i>
                <a class="fal-table-delete" (click)="onDeleteClick(i)">Remove</a>
                <i class="fa fa-trash fal-table-delete" aria-hidden="true" (click)="onDeleteClick(i)"></i>
              </ng-container>
              <ng-container *ngIf="isEditing">
                <span class="fal-table-edit disabled">Edit</span>
                <i class="fa fa-pencil fal-table-edit disabled" aria-hidden="true"></i>
                <span class="fal-table-delete disabled">Remove</span>
                <i class="fa fa-trash fal-table-delete disabled" aria-hidden="true"></i>
              </ng-container>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <!-- Add new account form -->
    <div [hidden]="!isEditing">
      <!-- New account code -->
      <sam-label-wrapper #codeLabel
                    [name]="config.name + '-accountcode'"
                    [label]="'Code'"
                    [hint]="config.codeHint"
                    [required]="true">

        <div class="usa-grid-full">
          <div class="usa-width-one-whole" [formGroup]="codeForm">
            <ng-container *ngFor="let length of codePartLengths; let i = index; let isLast = last">
              <!-- todo: don't hardcode maxwidth -->
              <!-- todo: add minLength -->
              <sam-text class="code-box"
                       [name]="config.name + '-code-box' + i"
                       [maxlength]="length"
                       [style.maxWidth]="0.9*length + 2.8 + 'rem'"
                       [formControlName]="'codePart' + i"
                       (keyup)="onKeyup($event)"
              ></sam-text>
              <span class="code-separator" *ngIf="!isLast">-</span>
            </ng-container>
          </div>
        </div>

      </sam-label-wrapper>

      <!-- New account description -->
      <sam-text-area [name]="config.name + '-description'"
                   [formControl]="descriptionControl"
      ></sam-text-area>
    </div>

    <!-- Add new account form action buttons -->
    <sam-button *ngIf="!isEditing" buttonText="Add New Account" (onClick)="displayForm()" [buttonType]="'default'"></sam-button>

    <sam-button *ngIf="isEditing" buttonText="Cancel" (onClick)="resetForm()" [buttonType]="'default'"></sam-button>
    <sam-button *ngIf="isEditing" buttonText="Confirm" (onClick)="addAccount()" [buttonType]="(codeForm.valid ? 'default' : 'disabled')"></sam-button>
  </div>

</sam-label-wrapper>
