<ng-container *ngIf="cookieValue">
  <!-- ============================================== -->
  <!--                    MODALS                      -->
  <!-- ============================================== -->
  
  <!-- ==================== Edit ==================== -->
  <sam-modal 
    #editModal
    [showClose]="true"
    [closeOnOutsideClick]="true"
    [closeOnEscape]="true"
    [type]="'info'"
    [title]="'Revise -  Assistance Listing'"
    [description]="'A draft revision for this published program will be utilized for editing. Please click ok to edit a draft of this AL.'"
    [submitButtonLabel]="'Ok'"
    [cancelButtonLabel]="'Cancel'"
    (onSubmit)="onEditModalSubmit($event)">
  </sam-modal>
  
  <!-- ==================== Delete ==================== -->
  <sam-modal 
    #deleteModal
    [showClose]="true"
    [closeOnOutsideClick]="true"
    [closeOnEscape]="true"
    [type]="'warning'"
    [title]="modalConfig.title"
    [description]="modalConfig.description"
    [submitButtonLabel]="'Ok'"
    [cancelButtonLabel]="'Cancel'"
    (onSubmit)="onDeleteModalSubmit()">
  </sam-modal>
  
  
  <!-- ============================================== -->
  <!--                      TABS                      -->
  <!-- ============================================== -->
  
  <div class="sam-ui tabular menu">
    
    <!-- ==================== Review ==================== -->
    <a *ngIf="canReview()"
      (click)="tabClicked(tabItems.review)"
      class="item"
      [class.active]="currentRouteConfig == tabItems.review.routeConfig">
      Authenticated
    </a>
    <span *ngIf="!canReview()"
      class="item disabled">
      Authenticated
    </span>
    
    <!-- ==================== Edit ==================== -->
    <!-- Link -->
    <a *ngIf="canEdit() && currentRouteConfig != tabItems.edit.routeConfig"
      (click)="onEditClick(['#header-information']);"
      class="item">
      Edit
    </a>
    <!-- Active -->
    <span *ngIf="canEdit() && currentRouteConfig == tabItems.edit.routeConfig"
      class="item active">
      Edit
    </span>
    <!-- Disabled -->
    <span *ngIf="!canEdit()"
      class="item disabled">
      Edit
    </span>
    
    <!-- ==================== Public ==================== -->
    <a *ngIf="data.id && !data.archived" 
      (click)="tabClicked(tabItems.public)"
      class="item"
      [class.active]="currentRouteConfig == tabItems.public.routeConfig">
      Public
    </a>
    <span *ngIf="!data.id || data.id && data.archived" 
      class="item disabled">
      Public
    </span>
    
    <!-- ==================== Buttons ==================== -->
    <ng-container *ngFor="let text of buttonText;">
      <a *ngIf="toggleButton && !enableDisableBtn"
        href="javascript:void(0);"
        (click)="onButtonClick(text)"
        class="item">
        <div class="sam-ui primary button">
          {{ text }}
        </div>
      </a>
      <span *ngIf="toggleButton && enableDisableBtn"
        class="item">
        <div class="sam-ui primary button disabled">
          {{ text }}
        </div>
      </span>
    </ng-container>
    
    <!-- ==================== Delete ==================== -->
    <a *ngIf="canDelete()"
      (click)="onDeleteClick()"
      class="item">
      <div class="sam-ui negative button">Delete</div>
    </a>
    
    <!-- ==================== Actions ==================== -->
    <div class="right menu" style="position: relative;">
      <wrapper-fal-change-request-dropdown 
        *ngIf="changeRequestDropdown.permissions"
        [name]="changeRequestDropdown.config.name"
        [hint]="changeRequestDropdown.config.hint"
        [disabled]="changeRequestDropdown.config.disabled"
        [permissions]="changeRequestDropdown.permissions"
        [defaultOption]="changeRequestDropdown.defaultOption"
        (clickActionHandler)="onChangeRequestSelect($event)"
        [program]="data"
        [requestTypeAction] = "programRequest?.requestType?.value">
      </wrapper-fal-change-request-dropdown>
    </div>
    
  </div>
  
  <div class="sam-ui divider hidden"></div>
</ng-container>