<div class="usa-grid-full" *ngIf="data">
  <sam-alert [attr.id]="submissionAlertConfig.id" [type]="submissionAlertConfig.type"
             [title]="submissionAlertConfig.title" [description]="submissionAlertConfig.description">
  </sam-alert>

  <form [formGroup]="falSubmitForm">
    <br>
    <h2>{{title}}</h2>
  <sam-text-area [label]="'Submission Comment'"
                 [name]="'submission-comment'"
                 [required]="true"
                 formControlName="reason"
                 [control]="falSubmitForm.controls['reason']"
                 (inputEventChange)="onTextChange($event)">
  </sam-text-area>
    <div class="usa-width-one-half">
      <sam-button [buttonDisabled]="processing === true" buttonText="Cancel" (onClick)="onCancelClick($event)"></sam-button>
      <sam-button buttonText="Submit to OMB" (onClick)="onSubmitOMBClick($event)"
                  [buttonDisabled]="btnDisabled"></sam-button>
      <ng-container *ngIf="processing === true">Processing Request...</ng-container>
    </div>
  </form>
</div>
