<div id="stickyLabel" class="sticky-label" *ngIf="programId">Edit Criteria for Applying - {{programTitle}}</div>
<form [formGroup]="falCriteriaForm" novalidate (ngSubmit)="save(falCriteriaForm)">
  <div class="fal-label-margin fal-label">Credentials and Documentation</div>
  <div class="fal-label-margin">
    <samTextArea
      [control]="falCriteriaForm.controls['documentation']"
      [name]="'documentation-input'"
      [label]="'Please describe credentials or documentation required for applying. Do not include anything covered in 2CFR 200.'"
      formControlName="documentation"></samTextArea>
  </div>
  <div class="fal-label-margin fal-label">Eligibility Requirements</div>
  <ng-container *ngIf="program">
    <sam-list-display [newValue]="appSelectedOption" [initialSelection]="appIntialSelection"
                      (modelChange)="applicantlistChange($event)">
      <labelWrapper #applicantTypeWrapper [label]="'Applicant Eligibility'" [required]="true"
                    [hint]="'Please Select all that apply to help public users search for this listing.'">
        <sam-autocomplete
          [options]="applicantTypeOptions"
          [name]="applicantTypes-control"
          formControlName="applicantTypes"
          (change)="applicantTypeChange($event)"
          [config]="autocompleteConfig"
          required></sam-autocomplete>
      </labelWrapper>
    </sam-list-display>
  </ng-container>

  <samTextArea
    [control]="falCriteriaForm.controls['applicantDesc']"
    [name]="'applicant-description-input'"
    [label]="'Describe who may apply for the assistance. Use specific terms that will help public users find this listing.'"
    formControlName="applicantDesc"></samTextArea>

  <div class="fal-label-margin fal-label">Beneficiary Eligibility</div>
  <samCheckbox
    [control]="falCriteriaForm.controls['isSameAsApplicant']"
    [name]="'beneficiary-SameAsApplicant-input-checkbox'"
    [options]="benSameAsApplicantConfig.options"
    formControlName="isSameAsApplicant"
    (modelChange)="chkSameAsApp($event)"></samCheckbox>
  <div *ngIf="toggleBeneficiarySection">
    <sam-list-display [newValue]="benSelectedOption" [initialSelection]="benIntialSelection"
                      (modelChange)="benlistChange($event)">
      <labelWrapper #benTypeWrapper [label]="'Beneficiary Eligibility'" [required]="true"
                    [hint]="'Please select all that apply to help public users search for this listing.'">
        <sam-autocomplete
          [options]="benTypeOptions"
          [name]="benificiaryTypes-control"
          formControlName="benTypes"
          (change)="benTypeChange($event)"
          [config]="autocompleteConfig"
          required></sam-autocomplete>
      </labelWrapper>
    </sam-list-display>
<!--    <samSelect
      [control]="falCriteriaForm.controls.benTypes"
      [label]="'Beneficiary Eligibility'"
      [name]="'Beneficiary-types-control'"
      [required]="true"
      [options]="benTypeOptions"
      formControlName="benTypes"
      [hint]="'Please select all that apply to help public users search for this listing.'" required></samSelect>-->
    <samTextArea
      [control]="falCriteriaForm.controls['benDesc']"
      [name]="'beneficiary-description-input'"
      [label]="'Describe who may apply for the assistance. Use specific terms that will help public users find this listing.'"
      formControlName="benDesc"></samTextArea>
  </div>
  <samTextArea
    [hint]="'Describe the period of time when assistance is available. Also, the period of time when funding must be spent.'"
    [control]="falCriteriaForm.controls['lengthTimeDesc']"
    [name]="'lengthandtime-description-input'"
    [label]="'Length and Time Phasing of Assistance'"
    [required]="true"
    formControlName="lengthTimeDesc"></samTextArea>

  <samSelect
    [control]="falCriteriaForm.controls.awardedTypes"
    [label]="'How is this assistance awarded and/or released?'"
    [name]="'awardedtypes-control'"
    [required]="true"
    [options]="awardedTypeOptions"
    formControlName="awardedTypes"
    [hint]="'Select the value that best represent how funding is released'"
    (modelChange)="onawardedTypeChange($event)"></samSelect>

  <div *ngIf="awardedTextarea">
    <samTextArea
      [control]="falCriteriaForm.controls['awardedDesc']"
      [name]="'awarded-description-input'"
      [label]="''"
      formControlName="awardedDesc"></samTextArea>
  </div>
  <div class="fal-label-margin fal-label">Use and Use Restrictions</div>
  <sam-list-display [newValue]="assUsageSelectedOption" [initialSelection]="assUsageIntialSelection"
                    (modelChange)="assUsagelistChange($event)">
    <labelWrapper #assUsageTypeWrapper [label]="'Use of Assistance'" [required]="true"
                  [hint]="'Please select all that apply from the dropdown list.'">
      <sam-autocomplete
        [options]="assUsageTypeOptions"
        [name]="assUsageTypes-control"
        formControlName="assUsageTypes"
        (change)="assUsageTypeChange($event)"
        [config]="autocompleteConfig"
        required></sam-autocomplete>
    </labelWrapper>
  </sam-list-display>
 <!-- <samSelect
    [control]="falCriteriaForm.controls.assUsageTypes"
    [label]="'Use of Assistance'"
    [name]="'assUsageTypes-control'"
    [required]="true"
    [options]="assiUsageTypeOptions"
    formControlName="assUsageTypes"
    [hint]="'Please select all that apply from the dropdown list.'"></samSelect>-->
  <samTextArea
    [control]="falCriteriaForm.controls['assUsageDesc']"
    [name]="'assistanceusage-description-input'"
    [label]="'Describe who may apply for the assistance. Use specific terms that will help public users find this listing.'"
    [required]="true"
    formControlName="assUsageDesc"></samTextArea>
  <samTextArea
    [hint]="'List any restrictions on how assistance may be used. Only provide restrictions specific to your organization or this listing.'"
    [control]="falCriteriaForm.controls['usageResDesc']"
    [name]="'usage-restriction-description-input'"
    [label]="'Use Restrictions'"
    [required]="true"
    formControlName="usageResDesc"></samTextArea>
  <div class="pull-left">
    <samButton buttonText="Cancel" (onClick)="onCancelClick($event)"></samButton>
    <samButton buttonText="Previous" (onClick)="onPreviousClick($event)"></samButton>
    <samButton buttonText="Save and Exit" (onClick)="onSaveExitClick($event)"></samButton>
    <samButton buttonText="Save and Continue" (onClick)="onSaveContinueClick($event)"></samButton>
  </div>
</form>
