<table class="permission-selector">
  <thead>
    <tr>
      <th scope="col" class="left-align-text background-grey-lighter title-column" colspan="4">{{titleText}}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="bold" *ngIf="!hideColumnHeader">
      <td scope="col" class="new-column">&nbsp;<!-- New! Column Spacer --></td>
      <td scope="col" class="left-align-text">Permissions</td>
      <td scope="col" class="center-text" *ngIf="!hideDefaultColumn">Default</td>
      <td scope="col" class="center-text">Associate</td>
    </tr>
    <!-- check all row -->
    <tr>
      <td class="new-column">&nbsp;<!-- New! Column Spacer --></td>
      <td class="left-align-text">All</td>
      <td *ngIf="!hideDefaultColumn" class="checkbox-cell"><input type="checkbox" class="check-all" (click)="onCheckAllDefaultClick($event.target.checked)" [(ngModel)]="isAllDefaultsChecked"></td>
      <td class="checkbox-cell"><input type="checkbox" (click)="onCheckAllClick($event.target.checked)" [(ngModel)]="isAllChecked"></td>
    </tr>
    <!-- data items -->
    <tr *ngFor="let option of options; let i = index">
      <td class="left-align-text new-column"><em *ngIf="option.isNew">New</em>&nbsp;</td>
      <td class="left-align-text">{{option.label}}</td>
      <td *ngIf="!hideDefaultColumn" class="checkbox-cell"><input type="checkbox" class="check-all-defaults" (click)="onDefaultClick($event.target.checked, option)" [(ngModel)]="option.isDefault"></td>
      <td class="checkbox-cell"><input type="checkbox" (click)="onPermissionClick($event.target.checked, option)" [(ngModel)]="option.isSelected"></td>
    </tr>
  </tbody>
</table>
