<div class="grant-access-page">
  <!--<div class="alert alert-success">-->
    <!--<div>perms: {{permissions | json}}</div>-->
    <!--<div>orgs: {{orgs | json}}</div>-->
    <!--<div>domain: {{domain | json}}</div>-->
    <!--<div>role: {{role | json}}</div>-->
    <!--<div>message: {{messages | json}}</div>-->
  <!--</div>-->
  <agencyPicker
    [label]="'Organizations'"
    [multimode]="true"
    (organization)="onOrganizationsChange($event)"
  ></agencyPicker>
  <samSelect name="role" label="Role" (modelChange)="onRoleChange($event)" [options]="roleOptions"></samSelect>
  <samSelect name="domain" label="Domain" (modelChange)="onDomainChange($event)" [options]="domainOptions"></samSelect>
  <ng-container *ngIf="true || role && domain && orgs.length">
    <div class="m_B-1x"><label>Permissions</label></div>
    <ul class="usa-grid-full usa-unstyled-list background-light p_All-4x">
      <li  *ngFor="let object of objects" class="object-item">
        <div class="object-title"><strong>{{object.label}}</strong></div>
        <div class="p_L-4x permission-list">
          <span *ngFor="let permission of permissions" class="permission-control-group">
            <input [attr.id]="permissionId(permission, object)" type="checkbox" class="permission-input" [ngModel]="permission.isChecked" [(ngModel)]="permission.isChecked">
            <label [attr.for]="permissionId(permission, object)" class="permission-label" >{{permission.label}}</label>
          </span>
        </div>
      </li>
    </ul>
  </ng-container>
  <p *ngIf="!(role && domain && orgs.length)"><em>Select an organization role and domain</em></p>
  <samTextArea name="options-response" label="Messages:" placeholder="(Optional) Include a message with your response" [(value)]="messages"></samTextArea>
  <div>
    <p class="pull-right">
      <a [routerLink]="['../access']"><button class="usa-button usa-button-outline">Cancel</button></a>
      &nbsp;
      <button class="usa-button usa-button-primary" (click)="onGrantClick()">Grant</button>
    </p>
  </div>
</div>

