<div class="usa-kba">
  <div class="question">
    <sam-select [name]="store.question.name + '-' + states.uid"
               [(model)]="$question"
               [options]="$questions"
               [errorMessage]="states.submitted ? states.errors.question : ''"
               (modelChange)="changeQuestion($event)"
               [label]="label">
    </sam-select>
  </div>
  <div class="answer">
  <sam-label-wrapper [name]="store.answer.name + '-' + states.uid"
                     [errorMessage]="(states.submitted && answer.invalid ? states.errors.answer : '')"
                     [label]="' '"
                     required="true">
      <input [type]="states.type"
             [id]="store.answer.name + '-' + states.uid"
             [name]="store.answer.name"
             [formControl]="answer"
             (blur)="secureAnswer($event)"
             (focus)="selectAnswer($event)"
             (keyup)="unsecureAnswer($event)" />
    </sam-label-wrapper>
  </div>
</div>
