.usa-system-password {
  .usa-button-controls {
    position: relative;
  }

  samalert.usa-alert-static {
    position: static;
  }

  div.usa-alert-static {
    top: -1rem;
    right: 150px;
    margin-top: 0rem;
    transform: translateY(-100%);
  }
}
