<labelWrapper #accountIdentificationLabel
              [name]="name"
              [label]="label"
              [hint]="hint"
              [required]="required">

  <form [formGroup]="accountFormGroup">
    <labelWrapper #codeLabel
                  [name]="codeLabelName"
                  [label]="'Code'"
                  [hint]="codeHint"
                  [required]="true">

      <div class="usa-grid-full">
        <div class="usa-width-one-whole" [formGroup]="codeFormGroup">
          <ng-container *ngFor="let length of codeBoxLengths; let i = index; let isLast = last">
            <!-- todo: don't hardcode maxwidth -->
            <samText [name]="'code-box-' + i"
                     [maxlength]="length"
                     [style.display]="'inline-block'"
                     [style.maxWidth]=".9*length + 2.55 + 'rem'"
                     [formControlName]="'codeBox' + i"
            ></samText>
            {{isLast ? '' : '-'}}
          </ng-container>
        </div>
      </div>

    </labelWrapper>

    <samTextArea [name]="textareaName"
                 [placeholder]="textareaPlaceholder"
                 [disabled]="textareaDisabled"
                 [hidden]="textareaHidden"
                 [formControl]="textareaControl"
    ></samTextArea>

    <samButton buttonText="Add New Account" (onClick)="addAccount()" [buttonType]="(!codeFormGroup.valid ? 'disabled' : 'default')"></samButton>
  </form>

</labelWrapper>
