<labelWrapper #checkboxToggledTextareaLabel
              [name]="name"
              [label]="label"
              [hint]="hint"
              [required]="required">

  <form novalidate [formGroup]="validationGroup">
    <samCheckbox *ngIf="model"
                 [model]="model.checkbox"
                 [name]="name + '-checkbox'"
                 [options]="checkboxOptions"
                 [hasSelectAll]="checkboxHasSelectAll"
                 (modelChange)="onCheckboxChange($event)"
    ></samCheckbox>

    <ng-container *ngFor="let option of checkboxOptions; let i = index;">
      <samTextArea [name]="name + '-textarea' + i"
                   [hidden]="textareaHidden[i]"
                   [formControlName]="'textarea'+i"
      ></samTextArea>
    </ng-container>
  </form>
</labelWrapper>
