<labelWrapper #tafsLabel
              [name]="name"
              [label]="label"
              [hint]="hint"
              [required]="required">

  <form novalidate [formGroup]="tafsFormGroup">
    <table *ngIf="model.tafs && model.tafs.length > 0">
      <thead>
      <tr>
        <th scope="col">
          Treasury Dept. Code
        </th>
        <th scope="col">
          Treasury Account Main Code
        </th>
        <th scope="col">
          TAFS Sub Account
        </th>
        <th scope="col">
          Allocation Transfer Agency
        </th>
        <th scope="col">
          FY 1
        </th>
        <th scope="col">
          FY 2
        </th>
        <th scope="col">
          Actions
        </th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let tafs of model.tafs; let i=index">
        <tr>
          <td>{{ tafs.departmentCode }}</td>
          <td>{{ tafs.accountCode }}</td>
          <td>{{ tafs.subAccountCode }}</td>
          <td>{{ tafs.allocationTransferAgency }}</td>
          <td>{{ tafs.fy1 }}</td>
          <td>{{ tafs.fy2 }}</td>
          <td>
            <!--todo: handle this with css classes?-->
            <ng-container *ngIf="currentIndex === model.tafs.length && !showForm">
              <a class="fal-table-edit" (click)="editTafs(i)">Edit</a>
              <i class="fa fa-pencil fal-table-edit" aria-hidden="true" (click)="editTafs(i)"></i>
              <a class="fal-table-delete" (click)="removeTafs(i)">Delete</a>
              <i class="fa fa-trash fal-table-delete" aria-hidden="true" (click)="removeTafs(i)"></i>
            </ng-container>
            <ng-container *ngIf="currentIndex < model.tafs.length || showForm">
              <s class="fal-table-edit">Edit</s>
              <s class="fa fa-pencil fal-table-edit" aria-hidden="true"></s>
              <s class="fal-table-delete">Delete</s>
              <s class="fa fa-trash fal-table-delete" aria-hidden="true"></s>
            </ng-container>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>

    <div [hidden]="!showForm">
      <samText [label]="'Treasury Dept. Code'"
               [name]="name + '-treasury-dept-code'"
               [required]="true"
               [control]="tafsFormGroup.get('departmentCode')"
               [formControlName]="'departmentCode'"
      ></samText>

      <samText [label]="'Treasury Account Main Code'"
               [name]="name + '-treasury-account-main-code'"
               [required]="true"
               [control]="tafsFormGroup.get('accountCode')"
               [formControlName]="'accountCode'"
      ></samText>

      <samText [label]="'TAFS Sub Account'"
               [name]="name + '-sub-account-code'"
               [required]="false"
               [control]="tafsFormGroup.get('subAccountCode')"
               [formControlName]="'subAccountCode'"
      ></samText>

      <samText [label]="'Allocation Transfer Agency'"
               [name]="name + '-allocation-transfer-agency-code'"
               [required]="false"
               [control]="tafsFormGroup.get('allocationTransferAgency')"
               [formControlName]="'allocationTransferAgency'"
      ></samText>

      <samText [label]="'FY 1'"
               [name]="name + '-fy1-code'"
               [required]="false"
               [control]="tafsFormGroup.get('fy1')"
               [formControlName]="'fy1'"
      ></samText>

      <samText [label]="'FY 2'"
               [name]="name + '-fy2-code'"
               [required]="false"
               [control]="tafsFormGroup.get('fy2')"
               [formControlName]="'fy2'"
      ></samText>
    </div>

    <samButton *ngIf="!showForm" buttonText="Add New TAF" (onClick)="displayForm()" [buttonType]="'default'"></samButton>
    <samButton *ngIf="showForm" buttonText="Cancel" (onClick)="resetForm()" [buttonType]="'default'"></samButton>
    <samButton *ngIf="showForm" buttonText="Confirm" (onClick)="addTafs()" [buttonType]="(!tafsFormGroup.valid ? 'disabled' : 'default')"></samButton>
  </form>

</labelWrapper>
