.sam_hat_img {
  height: 50px;
  width: 50px;
}

samSearchbar {
  width: 500px;
}

:host >>> .search-btn {
   background-color: #02bfe7;
 }

:host >>> .search-inputbar {
  border: none;
}

:host >>> #search-div {
  /* override m_B* css from USWDS library */
  margin-bottom: 0 !important;
}

:host >>> select {
  background-color: #e4e2e0;
}

header {
  background-color:#112e51;
  padding-top: 2px;
  padding-bottom: 2px;
}

.header-container {
  display: flex;
  align-items: center;
}
