img {
  height: 50px;
  width: 50px;
}

.sam_hat_img {
  margin-top: 2px;
  margin-bottom: 2px;
}

samSearchbar {
  width: 500px;
}

:host >>> .search-btn {
   background-color: #02bfe7;
 }

:host >>> .search-inputbar {
  border: none;
}

:host >>> #search-div {
  margin-bottom: 0 !important;
}

:host >>> select {
  background-color: #e4e2e0;
}

header {
  background-color:#112e51;
}
