<workspace-template class="user-roles-directory clearfix">
  <div workspace-header class="clearfix">
    <sam-breadcrumbs class='pull-left' [crumbs]="crumbs"></sam-breadcrumbs>
    <div class="pull-right clearfix">
      <div class="input-and-addon">
        <input type="text" placeholder="Find User" [(ngModel)]="userSearchValue" (ngModelChange)="doSearch()">
        <i class="fa fa-search"></i>
      </div>
    </div>
  </div>
  <div workspace-left>
    <div class="clearfix">
      <a class="pull-right" (click)="onClearAllClick()">Clear all</a>
    </div>
    <sam-solo-accordian titleText="Organization">
      <div class="org-picker-wrapper">
        <sam-agency-picker
          #picker
          [multimode]="false"
          (organization)="onOrganizationChange($event)"
        ></sam-agency-picker>
      </div>
    </sam-solo-accordian>
    <sam-solo-accordian titleText="Domain">
      <sam-radio-button
        [name]="'domain-select'"
        [options]="domainOptions"
        [(model)]="selectedDomainId"
        (modelChange)="onSelectDomain($event)"
      ></sam-radio-button>
    </sam-solo-accordian>
    <sam-solo-accordian titleText="Roles" *ngIf="roleOptions && roleOptions.length">
      <sam-radio-button
        [name]="'role-select'"
        [options]="roleOptions"
        [(model)]="selectedRoleId"
        (modelChange)="onSelectRole($event)"
      ></sam-radio-button>
    </sam-solo-accordian>
  </div>
  <div workspace-right>
    <div class="clearfix">
      <sam-title-subtitle class='pull-left' titleText="Workspace" subtitle="Role Management"></sam-title-subtitle>
      <button class="usa-button usa-button-primary edit-multiple-button pull-right">Bulk Update</button>
    </div>
    <div *ngIf="resultsOnThisPage" class="title-and-result-count clearfix m_T-4x">
      <div class="result-count text-lighter pull-left" style="line-height: 44px">Showing {{resultCount()}} results</div>
      <div class="pull-right">
        <label for="sort-by" style="display: inline-block" class="m_T-0">Sort by</label>
        <select (change)="doSearch()" id="sort-by" [(ngModel)]="sort" style="display: inline-block; width: initial">
          <option
            *ngFor="let option of sortOptions"
            [value]="option.value"
          >{{option.label}}</option>
        </select>
      </div>
    </div>
    <ng-container *ngIf="users && users.length">
      <div class="user-row" *ngFor="let user of users">

        <!-- User Icon and name -->
        <div class="clearfix">
          <div class="pull-left">
            <placeholder-profile-pic></placeholder-profile-pic>
          </div>
          <div class="pull-left m_L-4x">
            <h2><a>{{user.user.fullName}}</a></h2>
            <h3 class="m_T-0">{{user.user.email}}</h3>
          </div>
        </div>

        <div class="m_T-2x">
          <!-- Organization list (if exists) -->
          <div *ngIf="user.tiers">
            <div *ngFor="let tier of user.tiers">
              <strong>{{tier.name}}</strong>
              <br>
              <span *ngFor="let org of tier.organizations; let i = index">
                <span *ngIf="i !== 0">,&nbsp;</span>
                <span *ngIf="!org.isSelected">{{org.name}}</span>
                <span class='selected-org' *ngIf="org.isSelected">{{org.name}}</span>
              </span>
            </div>
          </div>


          <!-- If no organization list -->
          <div *ngIf="!user.tiers || !user.tiers.length">
            <i>No roles assigned for this user</i>
          </div>
        </div>

      </div>
      <!-- Pagination -->
      <div class="pagination-row text-center">
        <sam-pagination [totalPages]="totalPages" [currentPage]="1" (pageChange)="onPageChange($event)"></sam-pagination>
      </div>
    </ng-container>
    <div class="text-center">
      <i *ngIf="!(users && users.length)">No results found for selected criteria</i>
    </div>
  </div>
</workspace-template>
