<page
  theme="inside"
  [breadcrumbs]="crumbs"
  section="Workspace"
  title="Role Management">

  <sidebar>
    <div class="sam-ui segment">
      <h4 class="sam-ui header">Search</h4>
      <sam-autocomplete
        #userPicker
        [ngModelOptions]="{standalone: true}"
        [allowAny]="true"
        [(ngModel)]="dummySearchValue"
        [labelText]="''"
        [config]="userConfig"
        (enterEvent)="onUserChange($event)"
        [httpRequest]="request"
      ></sam-autocomplete>

      <div class="sam-ui divider"></div>

      <h4 class="sam-ui header">Organization</h4>
      <sam-agency-picker
        #picker
        [multimode]="false"
        (organization)="onOrganizationChange($event)">
      </sam-agency-picker>

      <div class="sam-ui divider"></div>

      <h4 class="sam-ui header">Domain</h4>
      <sam-radio-button
        [name]="'domain-select'"
        [options]="domainOptions"
        [(model)]="selectedDomainId"
        (modelChange)="onSelectDomain($event)">
      </sam-radio-button>

      <ng-container *ngIf="roleOptions && roleOptions.length">
        <div class="sam-ui divider"></div>
        <h4 class="sam-ui header">Roles</h4>
        <sam-radio-button
          [name]="'role-select'"
          [options]="roleOptions"
          [(model)]="selectedRoleId"
          (modelChange)="onSelectRole($event)">
        </sam-radio-button>
      </ng-container>

      <div class="sam-ui hidden divider"></div>

      <a class="sam-ui dark blue button" (click)="onClearAllClick()">
        Clear all
      </a>

    </div>
    <div class="sam-ui hidden section divider"></div>
  </sidebar>

  <button routerLink='/access/bulk-update' class="usa-button">
    Bulk Update
  </button>

  <!-- Page results -->
  <results *ngIf="users && users.length"
    [totalElements]="totalResults"
    [totalPages]="totalPages"
    [currentPage]="1"
    (pageChange)="onPageChange($event)">

    <sam-sort [(ngModel)]="sort"
                [options]="sortOptions"
                (ngModelChange)="doSearch()"
    ></sam-sort>

    <div class="sam-ui segment" *ngFor="let user of users">

      <div class="sam-ui divided items">
        <div class="item">
          <!-- User Icon and name -->
          <!-- <placeholder-profile-pic></placeholder-profile-pic> -->
          <div class="sam-ui image" style="background-color: transparent;">
            <img style="width: 50px; opacity: .5;" src="src/assets/img/sam-icons/user-darkgray.png">
          </div>
          <div class="content">
            <h3 class="sam-ui header" *ngIf="user?.user?.fullName">
              {{user.user.fullName}}
            </h3>
            <div class="description">
              <div class="sam-ui medium header">
                Email
                <div class="sub header">
                  <ng-container *ngIf="user?._links.view_access">
                    <a [routerLink]="['/users', user.user.email, 'access']">
                      {{user.user.email}}
                    </a>
                  </ng-container>
                  <ng-container *ngIf="!user?._links.view_access">
                    {{user.user.email}}
                  </ng-container>
                </div>
              </div>

              <!-- Organization list (if exists) -->
              <ng-container *ngIf="user.tiers">
                <ng-container *ngFor="let tier of user.tiers">
                  <div class="sam-ui medium header">
                    <strong [ngClass]="tier.name === 'Unavailable' && 'text-lighter'">{{tier.name === 'Unavailable' ? 'Org type unavailable' : tier.name}}</strong>
                    <div class="sub header">
                      <span *ngFor="let org of tier.organizations; let i = index">
                        <ng-container *ngIf="i !== 0">,&nbsp;</ng-container>
                        <ng-container *ngIf="!org.isSelected">
                          {{formatOrgName(org)}}
                        </ng-container>
                        <span *ngIf="org.isSelected" [style.background]="org.isSelected ? '#fdb81e' : ''">
                          {{formatOrgName(org)}}
                        </span>
                      </span>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>

          </div>
        </div>
      </div>

      <!-- If no organization list -->
      <p *ngIf="!user.tiers || !user.tiers.length">
        No roles assigned for this user
      </p>

    </div>

  </results>

  <!-- No results -->
  <p *ngIf="!(users && users.length)">
    No results found for selected criteria
  </p>

</page>
