<h2>Reset Password</h2>
<div>
  <form *ngIf="passwordForm" [formGroup]="passwordForm" (ngSubmit)="reset()" class="usa-form usa-form-password" autocomplete="off">
    <fieldset>
      <sam-password [password]="passwordForm.controls.userPassword"></sam-password>
    </fieldset>
    <fieldset>
      <div class="usa-button-controls">
        <button type="submit">Submit</button>
      </div>
    </fieldset>
  </form>
</div>

<samAlert type="info"
          title="Migrate Your Roles"
          description="If you have a user account at any of the websites that are moving to the new SAM.gov, you may migrate your roles and keep your same permissions. Begin Now."></samAlert>
