<div grid>
  
  <div columns="6" *ngIf="toggleControl.system">
    <workspace-widget title="System Accounts">
      <system-widget></system-widget>
    </workspace-widget>
  </div>

  <div columns="6" *ngIf="toggleControl.fsd">
    <workspace-widget title="Federal Service Desk">
      <fsd-widget></fsd-widget>
    </workspace-widget>
  </div>
  
  <div columns="6" *ngIf="toggleControl.aacRequest">
    <workspace-widget title="AAC Request">
    </workspace-widget>
  </div>

  <div columns="6" *ngIf="toggleControl.fh">
    <workspace-widget title="Federal Hierarchy"
      [shortcut]="{ text: 'Go to Federal Hierarchy', routerLink: ['/federal-hierarchy'] }">
      <fh-widget></fh-widget>
    </workspace-widget>
  </div>
  
  <div columns="6" *ngIf="toggleControl.rm">
    <workspace-widget title="Role Management">
      <rm-widget [widgetResult]="widgetResult"></rm-widget>
    </workspace-widget>
  </div>
  
</div>