
<page class="bulk-update-page" theme='inside' [section]="'WORKSPACE'" [title]="'Bulk Update'" [breadcrumbs]="breadCrumbs">
  <sidebar style="pointer-events: none">
    <div class="sam-ui vertical fluid ordered steps">
      <ng-container *ngFor="let section of sideNavSections; let $index = index">
        <a class="step" [ngClass]="sideNavClass($index)">
          <div class="content">
            <div class="title">{{section}}</div>
          </div>
        </a>
      </ng-container>
    </div>
  </sidebar>

  <div class="occupy-page">
  <div [ngSwitch]="currentTab">
    <!-- Filters Tab -->
    <ng-container *ngSwitchCase="'filters'">
      <h2 class="h3 m_T-6x">Selections</h2>
      <span>Please use the following filters to identify users you would like to update.</span>
      <div class="usa-grid-full">
        <div class="usa-width-one-half">
          <!-- Org -->
          <div class="m_T-2x">
            <sam-agency-picker-v2
              class="bulk-agency"
              [label]="'Organization'"
              [name]="'bulk-update-org-picker'"
              type="multiple"
              [(ngModel)]="orgs"
              [defaultDept]="true"
              (ngModelChange)="onOrganizationChange($event)"
              [searchMessage]="errors.org"
              class="clearfix"
            ></sam-agency-picker-v2>
          </div>


          <!-- Existing Role -->
          <div class="m_T-2x">
            <sam-select
              name="role"
              label="Role"
              [model]="existingRole"
              (modelChange)="onExistingRoleChange($event)"
              [options]="roleOptions"
              [errorMessage]="errors.role">
            </sam-select>
          </div>

          <!-- Existing Domain -->
          <div class="m_T-2x">
            <sam-autocomplete-multiselect
              [(ngModel)]="existingDomains"
              (ngModelChange)="onExistingDomainChange($event)"
              [errorMessage]="errors.domains"
              name="domain"
              label="Domains"
              [options]="getExistingDomainOptions()"
            ></sam-autocomplete-multiselect>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- User Select Tab -->
    <ng-container *ngSwitchCase="'users'">
      <h2 class="h3 m_T-6x">Selections</h2>
      <span>Following selections identify the role, domain(s) and organization(s) selected for the update</span>
      <div [ngStyle]="staticContentStyle">
        <div class="usa-grid-full">
          <div class="usa-width-one-sixth"><b>Organization</b></div>
          <div class="usa-width-five-sixths">{{getOrganizationNames()}}</div>
        </div>
        <div class="usa-grid-full">
          <div class="usa-width-one-sixth"><b>Role</b></div>
          <div class="usa-width-five-sixths">{{getExistingRoleName()}}</div>
        </div>
        <div class="usa-grid-full">
          <div class="usa-width-one-sixth"><b>Domains</b></div>
          <div class="usa-width-five-sixths">{{getExistingDomainNames()}}</div>
        </div>
      </div>

      <h2 class="h3">Users</h2>
      <p>Following users meet your selection criteria. Select or deselect users whose permission(s) of role or domain(s) you would like to update</p>
      <div class="clearfix">
        <div class="pull-left">
          <sam-toggle style="display:inline-block" [ngModel]="showDeselect" (click)="toggleSelectAll()" [label]="'Select All'" [name]="select-all"></sam-toggle>
          &nbsp;|&nbsp;
          <span>{{getSelectedUsers().length}} users</span>
        </div>
        <div class="pull-right">
          <sam-sort [options]="sortOptions" [(ngModel)]="sort" (ngModelChange)="doUserSearch()"></sam-sort>
        </div>
      </div>
      <div *ngIf="!areUsersLoading" style="margin-top: .5em; max-height: 300px; overflow-y: auto; position: relative;">
        <table style="background-color:white; width: 100%; border: 1px solid black;">
          <tbody>
            <tr *ngFor="let user of users" class="bulk-update-user-row" (click)="onUserRowClick(user)">
              <td><sam-toggle [style.pointer-events]="'none'" [(ngModel)]="user.isSelected" [label]="formatUserName(user)" [name]="formatUserName(user)+'-toggle'"></sam-toggle></td>
              <td>{{user.email}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center" *ngIf="areUsersLoading"><sam-spinner></sam-spinner></div>
      <h2 class="h3">Choose Action</h2>
      <p class="m_T-4x">
        <sam-radio-button [(model)]="mode"
                          [name]="'mode'"
                          [errorMessage]="errors.mode"
                          [label]="'Select the bulk action that you want to perform on the users selected'"
                          [options]="modeOptions"
        ></sam-radio-button>
      </p>

    </ng-container>

    <!-- Access Tab -->
    <ng-container *ngSwitchCase="'access'">
      <h2 class="h3 m_T-6x">Selections</h2>
      <span>Following selections identify the role, domain(s) and organization(s) selected for the update</span>
      <div [ngStyle]="staticContentStyle">
        <div class="usa-grid-full">
          <div class="usa-width-one-sixth"><b>Organization</b></div>
          <div class="usa-width-five-sixths">{{getOrganizationNames()}}</div>
        </div>
        <div class="usa-grid-full">
          <div class="usa-width-one-sixth"><b>Role</b></div>
          <div class="usa-width-five-sixths">{{getExistingRoleName()}}</div>
        </div>
        <div class="usa-grid-full">
          <div class="usa-width-one-sixth"><b>Domain</b></div>
          <div class="usa-width-five-sixths">{{getExistingDomainNames()}}</div>
        </div>
      </div>
      <h2 class="h3">Users</h2>
      <span>Following users are selected for the update</span>
      <div [ngStyle]="staticContentStyle">
        <div style="max-height: 300px; overflow-y: auto; position: relative;">
          <div class="column" style="padding-bottom: 0; padding-top: 0" *ngFor="let user of getSelectedUsers()">
            {{formatUserName(user)}}<i *ngIf="user.email">&nbsp;-&nbsp;{{user.email}}</i>
          </div>
        </div>
      </div>
      <h2 class="h3 m_T-4x">Role Changes</h2>
      <span>Update role or domain or permissions for the users selected</span>
      <div class="usa-grid-full">
        <div class="usa-width-one-half">
          <!-- Updated Role -->
          <sam-select
            name="role"
            label="Role"
            [model]="updatedRole"
            (modelChange)="onUpdatedRoleChange($event)"
            [options]="roleOptions"
            [errorMessage]="accessErrors.role"
          ></sam-select>

          <!-- Updated Domain -->
          <sam-autocomplete-multiselect
            [(ngModel)]="updatedDomains"
            (ngModelChange)="onUpdatedDomainChange($event)"
            [errorMessage]="accessErrors.domains"
            name="domain"
            label="Domains"
            [options]="getUpdatedDomainOptions()"
          ></sam-autocomplete-multiselect>
        </div>
      </div>
      <div *ngIf="updatedDomains?.length">
        <span>Permissions</span>
        <sam-tabs [active]="activeTab">
          <sam-tab [tabTitle]="tab.name" *ngFor="let tab of domainTabs">
            <ul class="column-wrappable">
              <li *ngFor="let func of tab.functions" style="margin-bottom: 16px;">
                <span style="font-weight: 600; font-size: 1.7rem;">{{func.name}}</span>
                <div *ngFor="let permission of func.permissions;let i=index" class="checkbox-group">
                  <input [attr.id]="permission+'-cbx-'+i" [ngModelOptions]='{standalone: true}' [disabled]="permission.disabled" type="checkbox" class="align-right" [(ngModel)]="permission.checked" (ngModelChange)="onPermissionChange(tab, func, permission)">
                  <label [attr.for]="permission+'-cbx-'+i">{{permission.name}}</label>
                </div>
                <!--<div *ngFor="let permission of func.permissions">-->
                  <!--<input [ngModelOptions]='{standalone: true}' [disabled]="permission.disabled" type="checkbox" class="permission-input" [(ngModel)]="permission.checked">-->
                  <!--<label class="permission-label" >{{permission.name}}</label>-->
                <!--</div>-->
              </li>
            </ul>
          </sam-tab>
        </sam-tabs>
      </div>
      <h2 class="h3">Comments</h2>

      <!-- Optional Message -->
      <sam-text-area name="comments" [(ngModel)]="comments" [errorMessage]="accessErrors.comments"></sam-text-area>

    </ng-container>

    <!-- Confirmation Tab -->
    <ng-container *ngSwitchCase="'confirmation'">
      <h2 class="h3 m_T-6x">Selections</h2>
      <span>Following selections identify the role, domain(s) and organization(s) selected for the update</span>
      <div [ngStyle]="staticContentStyle">
        <div class="usa-grid-full">
          <div class="usa-width-one-sixth"><b>Organizations</b></div>
          <div class="usa-width-five-sixths">{{getOrganizationNames()}}</div>
        </div>
        <div class="usa-grid-full">
          <div class="usa-width-one-sixth"><b>Domain</b></div>
          <div class="usa-width-five-sixths">{{getExistingDomainNames()}}</div>
        </div>
        <div class="usa-grid-full">
          <div class="usa-width-one-sixth"><b>Role</b></div>
          <div class="usa-width-five-sixths">{{getExistingRoleName()}}</div>
        </div>
      </div>

      <h2 class="h3">Users</h2>
      <span>Following users are selected for the update</span>
      <div [ngStyle]="staticContentStyle">
        <div style="max-height: 300px; overflow-y: auto; position: relative;">
          <div class="column" style="padding-bottom: 0; padding-top: 0" *ngFor="let user of getSelectedUsers()">
            {{formatUserName(user)}}<i *ngIf="user.email">&nbsp;-&nbsp;{{user.email}}</i>
          </div>
        </div>
      </div>

      <ng-container *ngIf="mode === 'update'">
        <h2 class="h3">Role Changes</h2>
        <span>Changes made as part of the update are shown below</span>
        <div class="usa-grid-full m_T-4x">
          <h3 class="h4">Role</h3>
          <div class="usa-width-one-whole" *ngIf="isRoleUpdated();else noRoleChanges">

            <div class="span-group">
              <span style="display: inline-block"><i class="fa fa-plus m_R-4x updated-color status-icon"></i></span>
              <span class="status-span">{{getUpdatedRoleName()}}</span>
            </div>
            <div class="span-group">
              <span style="display: inline-block"><i class="fa fa-minus m_R-4x existing-color status-icon"></i></span>
              <span class="status-span">{{getExistingRoleName()}}</span>
              <!--<i class="fa fa-minus m_R-4x existing-color status-icon"></i><span>{{getExistingRoleName()}}</span></div>-->
            </div>
          </div>
          <ng-template #noRoleChanges>
            <span>No changes to the role</span>
          </ng-template>
        </div>
        <div class="usa-grid-full m_T-4x">
          <h3 class="h4">Domains</h3>
          <ng-container *ngIf="isDomainUpdated();else noDomainChanges">
            <div class="span-group" *ngFor="let domain of updatedDomains">
              <i class="fa fa-plus m_R-4x updated-color status-icon"></i>
              <span class="status-span">{{domain.value}}</span>
            </div>
            <div class="span-group" *ngFor="let domain of existingDomains">
              <i class="fa fa-minus m_R-4x existing-color status-icon"></i>
              <span class="status-span">{{domain.value}}</span>
            </div>
          </ng-container>
          <ng-template #noDomainChanges>
            <span>No domains were added or removed</span>
          </ng-template>
        </div>
        <div class="usa-grid-full m_T-4x">
          <h3 class="h4">Permissions</h3>
          <div class="usa-width-one-whole m_T-3x m_B-2x" *ngFor="let domain of domainTabs; let i = index" [style.margin-top]="index !== 0 && '.5em'">
            <h3 class="h4 p_B-1x" style="border-bottom: 1px solid lightgray;">{{domain.name}}</h3>
            <ul class="column-wrappable">
              <li class="m_B-5x" *ngFor="let function of domain.functions">
                <span class="p_L-8x m_B-2x bold">{{function.name}}</span>
                <ng-container *ngIf="isDomainUpdated();else onlyPermissionChange">
                  <div class="span-group" *ngFor="let permission of permissionsForFunction(function)">
                    <i class="fa m_R-3x status-icon fa-check default-color"></i>
                    <span class="status-span">{{permission}}</span>
                  </div>
                </ng-container>
                <ng-template #onlyPermissionChange>
                  <div class="span-group" *ngFor="let permission of confirmPermissionsForFunction(function)">
                    <i class="fa m_R-3x status-icon" [ngClass]="getPermissionStatusIconClass(permission)"></i>
                    <span class="status-span">{{permission.name}}</span>
                  </div>
                </ng-template>

              </li>
            </ul>
          </div>
        </div>
      </ng-container>

      <h2 class="h3">Comments</h2>
      <!-- Show the comment left on the access tab if mode === 'update' -->
      <ng-container *ngIf="this.mode === 'update'">
        <ng-container *ngIf="comments">
          <p>{{comments}}</p>
        </ng-container>
        <ng-container *ngIf="!comments">
          <i>Comment left empty</i>
        </ng-container>
      </ng-container>

      <!-- Allow user to leave a comment if mode === 'remove' -->
      <ng-container *ngIf="this.mode === 'remove'">
        <!-- Optional Message -->
        <sam-text-area
          [errorMessage]="confirmationErrors.comments"
          name="comments"
          label="Removing users from a role significantly impacts their ability to perform their duties. Please be sure you want to remove them from this role, and provide a comment explaining why."
          [(ngModel)]="comments"
        ></sam-text-area>
      </ng-container>
    </ng-container>
  </div>

  <div class="sam-ui divider"></div>

  <div grid>
    <div columns="12" class="right aligned">
      <sam-button buttonType="tertiary" buttonText="Cancel" (click)="location.back()"></sam-button>

      <sam-button
        *ngIf="!isCurrentTab('filters')"
        buttonType="secondary"
        buttonText="Previous"
        (click)="onBackClick()">
      </sam-button>

      <button [style.padding]="shouldShowNextSpinner() ? '.2em 1.5em .2em' : '0.9em 1.5em 0.9em'" class="sam-ui button primary" *ngIf="!isCurrentTab('confirmation')" (click)="onNextClick()" [disabled]="areUsersLoading">
        <span *ngIf="!shouldShowNextSpinner()">Next</span>
        <sam-spinner *ngIf="shouldShowNextSpinner()"></sam-spinner>
      </button>

      <sam-button
        *ngIf="isCurrentTab('confirmation')"
        (click)="onDoneClick()"
        buttonText="Done">
      </sam-button>
    </div>
  </div>
  </div>

</page>
