<div id="stickyLabel" class="sticky-label" *ngIf="!viewModel.isNew">Edit Applying for Assistance - {{ viewModel.title }}</div>

<form [formGroup]="falAssistanceForm">

  <div formGroupName="deadlines">

    <sam-radio-button *ngIf="falAssistanceForm.get('deadlines').get('flag')"
                      [label]="'Deadlines'"
                      [name]="'deadlineFlag-radio-buttons'"
                      [options]="deadlinesFlagOptions"
                      [required]="true"
                      [hint]="deadlineHint"
                      formControlName="flag"
                      [control]="falAssistanceForm.get('deadlines').get('flag')"
    ></sam-radio-button>

    <div [class.hide]="falAssistanceForm.value.deadlines.flag != 'yes'">

      <assistInfoTable
        [hideAddButton]="hideAddButton"
        [assistInfo]="assistInfoDisp"
        (assistTableActionHandler)="assistActionHandler($event)"></assistInfoTable>

      <assistSubform #assistSubForm
                     [hideAddButton]="hideAddButton"
                     (assistActionHandler)="assistActionHandler($event)"
      ></assistSubform>

      <sam-text-area [label]="'Other Deadline Information'"
                   [name]="'deadlines-description'"
                   formControlName="description"
      ></sam-text-area>
    </div>
  </div>

  <div formGroupName="preApplicationCoordination">
    <sam-checkbox [label]="'Pre-Application Coordination'"
                 [name]="'preAppCord-checkbox'"
                 [hint]="'Select all that apply'"
                 [options]="preAppCordOptions"
                 formControlName="reports"
    ></sam-checkbox>

    <sam-text-area [label]="'Additional Information'"
                 [name]="'preAppCord-description'"
                 [control]="falAssistanceForm.get('preApplicationCoordination').get('description')"
                 formControlName="description"
                 [required]="falAssistanceForm.get('preApplicationCoordination').get('reports').value.indexOf('otherRequired') !== -1"
                 [class.hide]="falAssistanceForm.value.preApplicationCoordination.reports.length == 0"
    ></sam-text-area>
  </div>

  <div formGroupName="applicationProcedure">

    <sam-checkbox [label]="'Application Procedures'"
                 [name]="'appProc-checkbox'"
                 [hint]="appProcedureHint"
                 [options]="appProcOptions"
                 formControlName="isApplicable"
    ></sam-checkbox>

    <sam-text-area [label]="'Please list the steps for applying for assistance. Only include instructions not already covered by 2 CFR 200.'"
                 [name]="'appProc-description'"
                 formControlName="description"
                 [hint]= "'List all steps in the application process.'"
    ></sam-text-area>

  </div>

  <div formGroupName="selectionCriteria">

    <sam-checkbox [label]="'Criteria for Selecting Proposals'"
                 [name]="'selectionCriteria-checkbox'"
                 [hint]="'Select if applicable.'"
                 [options]="selectionCriteriaOptions"
                 formControlName="isApplicable"
    ></sam-checkbox>

    <sam-text-area *ngIf="falAssistanceForm.get('selectionCriteria').get('description')"
                   [label]="'Please describe.'"
                   [name]="'selectionCriteria-description'"
                   [required]="falAssistanceForm.value.selectionCriteria.isApplicable[0] == true"
                   formControlName="description"
                   [class.hide]="falAssistanceForm.value.selectionCriteria.isApplicable[0] != true"
                   [control]="falAssistanceForm.get('selectionCriteria').get('description')"
    ></sam-text-area>
  </div>

  <div formGroupName="awardProcedure">
    <sam-text-area *ngIf="falAssistanceForm.get('awardProcedure').get('description')"
                   [label]="'Award Procedure'"
                   [hint]="awardProcedureHint"
                   [name]="'awardProcedure-description'"
                   [required]="true"
                   formControlName="description"
                   [control]="falAssistanceForm.get('awardProcedure').get('description')"
    ></sam-text-area>
  </div>

  <div formGroupName="approval">
    <sam-select *ngIf="falAssistanceForm.get('approval').get('interval')"
                [label]="'Date Range for Approval/Disapproval'"
                [hint]="approvalHint"
                [name]="'approval-input'"
                [options]="dateRangeOptions"
                [required]="true"
                formControlName="interval"
                [control]="falAssistanceForm.get('approval').get('interval')"
    ></sam-select>

    <sam-text-area [label]="'Other Approval Information'"
                 [hint]="'Provide an additional information if appropriate.'"
                 [name]="'approval-description'"
                 formControlName="description"
    ></sam-text-area>
  </div>

  <div formGroupName="renewal">
    <sam-select *ngIf="falAssistanceForm.get('renewal').get('interval')"
                [label]="'Renewals'"
                [hint]="renewalHint"
                [name]="'approval-input'"
                [options]="dateRangeOptions"
                [required]="true"
                formControlName="interval"
                [control]="falAssistanceForm.get('renewal').get('interval')"
    ></sam-select>

    <sam-text-area [label]="'Other Renewal Information'"
                 [hint]="'Describe renewal or extension procedures.'"
                 [name]="'renewal-description'"
                 formControlName="description"
    ></sam-text-area>
  </div>

  <div formGroupName="appeal">
    <sam-select *ngIf="falAssistanceForm.get('appeal').get('interval')"
                [label]="'Appeals'"
                [hint]="appealsHint"
                [name]="'appeals-input'"
                [options]="dateRangeOptions"
                [required]="true"
                formControlName="interval"
                [control]="falAssistanceForm.get('appeal').get('interval')"
    ></sam-select>
    <sam-text-area [label]="'Other Appeals Information'"
                 [hint]="'Describe appeal, rework, or other options for applications that are not approved.'"
                 [name]="'appeals-description'"
                 formControlName="description"
    ></sam-text-area>
  </div>

</form>

