<div id="stickyLabel" class="sticky-label" *ngIf="program?.data?.title">Edit Compliance Requirements - {{program.data.title}}</div>
<div *ngIf="complianceRequirementsGroup" [formGroup]="complianceRequirementsGroup">
  <sam-checkbox [name]="policyRequirementsConfig.checkbox.name"
               [label]="policyRequirementsConfig.checkbox.label"
               [hint]="policyRequirementsConfig.checkbox.hint"
               [options]="policyRequirementsConfig.checkbox.options"
               [formControlName]="'policyRequirementsCheckbox'"
  ></sam-checkbox>

  <sam-text-area [name]="policyRequirementsConfig.textarea.name"
               [label]="policyRequirementsConfig.textarea.label"
               [control]="complianceRequirementsGroup.get('policyRequirementsTextarea')"
               [formControlName]="'policyRequirementsTextarea'"
  ></sam-text-area>

  <samCheckboxToggledTextarea [options]="reportsConfig"
                              [formControlName]="'reports'"
  ></samCheckboxToggledTextarea>

  <h2>Audits</h2>
  <samCheckboxToggledTextarea [options]="auditsConfig"
                              [formControlName]="'audits'"
  ></samCheckboxToggledTextarea>

  <sam-text-area [label]="'Records'"
               [hint]="'Describe required records. Include the time period when the records must be kept.'"
               [name]="'compliance-records'"
               [control]="records"
               [formControlName]="'records'"
  ></sam-text-area>

  <samCheckboxToggledTextarea [options]="additionalDocumentationConfig"
                              [formControlName]="'additionalDocumentation'"
  ></samCheckboxToggledTextarea>

  <falFormulaMatchingInput [options]="formulaMatchingConfig"
                           [formControlName]="'formulaMatching'"
  ></falFormulaMatchingInput>

  <div>
    <div class="pull-left">
      <sam-button buttonText="Cancel" (onClick)="onCancelClick($event)"></sam-button>
      <sam-button buttonText="Previous" (onClick)="onPreviousClick($event)"></sam-button>
      <sam-button buttonText="Save and Exit" (onClick)="onSaveExitClick($event)"></sam-button>
      <sam-button buttonText="Save and Continue" (onClick)="onSaveContinueClick($event)"></sam-button>
    </div>
  </div>
</div>
