<div id="stickyLabel" class="sticky-label" *ngIf="!viewModel.isNew">Edit Compliance Requirements - {{ viewModel.title }}</div>
<div *ngIf="complianceRequirementsGroup" [formGroup]="complianceRequirementsGroup">
  <div class="fal-label-margin fal-label">Policy Requirements</div>
  <sam-checkbox [name]="policyRequirementsConfig.checkbox.name"
               [label]="policyRequirementsConfig.checkbox.label"
               [hint]="policyRequirementsConfig.checkbox.hint"
               [options]="policyRequirementsConfig.checkbox.options"
               [formControlName]="'policyRequirementsCheckbox'"
  ></sam-checkbox>
  <sam-text-area [name]="policyRequirementsConfig.textarea.name"
               [label]="policyRequirementsConfig.textarea.label"
               [control]="complianceRequirementsGroup.get('policyRequirementsTextarea')"
               [formControlName]="'policyRequirementsTextarea'"
  ></sam-text-area>

  <samCheckboxToggledTextarea #reportsComp
                              [options]="reportsConfig"
                              [formControlName]="'reports'"
                              [control]="complianceRequirementsGroup.get('reports')"
  ></samCheckboxToggledTextarea>

  <div class="fal-label-margin fal-label">Audits</div>
  <samCheckboxToggledTextarea #auditsComp
                              [options]="auditsConfig"
                              [formControlName]="'audits'"
                              [control]="complianceRequirementsGroup.get('audits')"
  ></samCheckboxToggledTextarea>

  <sam-text-area [label]="'Records'"
               [hint]="'Describe required records. Include the time period when the records must be kept.'"
               [name]="'compliance-records'"
               [control]="records"
               [formControlName]="'records'"
  ></sam-text-area>

  <samCheckboxToggledTextarea #additionalDocumentationComp
                              [options]="additionalDocumentationConfig"
                              [formControlName]="'additionalDocumentation'"
                              [control]="complianceRequirementsGroup.get('additionalDocumentation')"
  ></samCheckboxToggledTextarea>

  <falFormulaMatchingInput [options]="formulaMatchingConfig"
                           [formControlName]="'formulaMatching'"
  ></falFormulaMatchingInput>
</div>
