<div class="alert-item usa-bgcolor-gold-lightest edit">
  <h2 class="alert-edit-title">
    <span *ngIf="mode === 'edit'">Edit</span>
    <span *ngIf="mode === 'add'">Add</span>
    Alert
  </h2>
  <div class="usa-grid-full">
    <div class="usa-width-one-half">
      <samSelect [options]="typeOptions" [name]="'alert-types'" [label]="'Type'" [model]="alert.severity()" (modelChange)="onSeverityChange($event)"></samSelect>
      <samText [name]="'title-input'" [ngModel]="alert.title()" [label]="'Title'" (ngModelChange)="onTitleChange($event)"></samText>
      <samTextarea [name]="'description-input'" [ngModel]="alert.description()" [label]="'Description'" (ngModelChange)="onDescriptionChange($event)"></samTextarea>
    </div>
    <div class="usa-width-one-half">
      <samDateEntry class='publish-date' [name]="'publish-date'" [label]="'Publish Date'"></samDateEntry>
      <samDateEntry [name]="'end-date'" [label]="'End Date'"></samDateEntry>
    </div>
  </div>
  <div class="alert-edit-actions clearfix">
    <div class="pull-right">
      <div class="usa-button usa-button-primary" (click)="onPublishClick($event)">Publish</div>
      <div class="usa-button usa-button-gray" (click)="onDraftClick($event)">Draft</div>
      <div class="usa-button usa-button-gray" (click)="onCancelClick($event)">Cancel</div>
    </div>
  </div>
</div>
