<nav class="sam-ui attached lighter grey borderless menu" aria-label="Main navigation">
  
  <div class="sam-ui container">
    <a class="item" tabindex="0" (click)="refreshPage()" (keyup.enter)="refreshPage()">
      <img style="width:150px;" src="src/assets/img/transition-sam-logo.png"  alt="Transition.sam.gov Logo">
    </a>
    
    <div class="right menu">
      <!-- Menu -->
      <a class="item" title="menu" [ngClass]="{'active':menuLink}" (click)="onMenuLinkClick()">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <span class="usa-sr-only">menu option</span>
      </a>
      <!-- Search -->
      <a class="item" [ngClass]="{'active':searchLink}" (click)="onSearchLinkClick()">
        <i class="fa fa-search fa-lg" aria-hidden="true"></i>
        <span class="usa-sr-only">Search</span>
      </a>
      <!-- Signed in -->
      <a *ngIf="states.isSignedIn" class="item" (click)="states.menu = !states.menu">
        {{ user.fullName }}
      </a>
      <!-- Signed out -->
      <a class="item" [hidden]="states.isSignedIn" routerLink="/signin">
        Sign in
      </a>
    </div>
  </div>
  
</nav>

<!-- Sign in menu -->
<sam-header-menu *ngIf="states.isSignedIn" [items]="store.menu" [(open)]="states.menu"></sam-header-menu>

<!-- Content -->
<div [@flyInOut]="'in'" *ngIf="showDropdown" samClickOutside (clickOutside)="onClickOutside()">
  
  <div [@flyInOut]="'in'" *ngIf="menuLink" class="sam-ui inverted attached menu">
    <div class="sam-ui labeled icon right inverted menu">
      <ng-container *ngFor="let item of dropdownData;let i=index">
        <a class="item" *ngIf="itemToggle(item)" (click)="dropdownItemClick(item)">
          <i class="icon fa" [ngClass]="item.linkClass"></i>
          {{item.linkTitle}}
        </a>
      </ng-container>
    </div>
  </div>
  
  <div [@flyInOut]="'in'" *ngIf="searchLink" class="sam-ui padded grid">
    <div class="dark grey row">
      <div class="sam-ui text container">
        <div class="sam-ui very padded grid">
          <div class="column">
            <ng-content select="[search-bar]"></ng-content>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

