<div class="text-center file-container"
     sam-drag-drop
     (filesChangeEmiter)="onFilesChange($event)"
     [ngClass]="disabled && 'disabled'">
  <ng-container *ngIf="!_file">
    <i class="fa fa-cloud-upload"></i> &nbsp;Drag and drop files here, or <a (click)="file.click()">browse</a>
  </ng-container>
  <ng-container *ngIf="_file">
    <div class="sam-ui mini label">{{ _file.name }} &nbsp;
      <i class="icon close fa fa-times" (click)="deselectFile()"></i>
    </div>
  </ng-container>

  <!-- Hidden input to trigger the browser file selector -->
  <input type="file" #file [attr.id]="name" ngModel class="hide" (change)="onFilesChange($event.target.files[0])">
</div>
