<page [section]="store.section" [title]="title" [badge]="status">
  <sidebar>
    <sam-sidenav type="step"
                 [model]="store.nav"
                 [labelLookup]="store.nav.children[states.section].label"
                 (path)="onNavigate($event)"></sam-sidenav>
  </sidebar>
  <div>
    <div class="header-hint" message [innerText]="message"></div>

    <sam-alert type="error" *ngIf="store.errors">
      <div leading-content>
        <div [innerText]="store.errors"></div>
        <a (click)="showError()" *ngIf="states.showDetails">Show Details</a>
      </div>
    </sam-alert>

    <form [formGroup]="form" *ngIf="user && form">
      <sam-actions-dropdown [actions]="store.actions" *ngIf="!isNew"></sam-actions-dropdown>

      <div class="usa-toolbar" *ngIf="states.tab == 1">
        <sam-button buttonType="secondary" buttonSize="small" *ngIf="user.systemAccount && !isNew" buttonText="Submit" (onClick)="submit()"></sam-button>
        <sam-button buttonType="secondary" buttonSize="small" buttonText="Approve" *ngIf="user.systemApprover && isPending" (onClick)="approve()"></sam-button>
        <sam-button buttonType="secondary" buttonSize="small" buttonText="Reject" class="last" *ngIf="user.systemApprover && isPending" (onClick)="reject()"></sam-button>
      </div>

      <sam-tabs theme="separate" size="default" [(active)]="states.tab">
        <sam-tab tabTitle="Edit">
          <edit [section]="store.nav.children[states.section].route" [user]="user" [group]="form" [submitted]="states.submitted" (onChange)="onChange($event)" #editTab></edit>
        </sam-tab>
        <sam-tab tabTitle="Review" [disabled]="false">
          <review class="review" [form]="form" (onEdit)="edit($event)" #reviewTab></review>
        </sam-tab>
      </sam-tabs>
    </form>

    <div class="usa-button-controls" *ngIf="states.tab == 0">
      <sam-button buttonType="tertiary" buttonSize="small" buttonText="Cancel" class="button-cancel" (onClick)="cancel()"></sam-button>
      <sam-button buttonType="secondary" buttonSize="small" buttonText="Previous" class="button-previous" (onClick)="previous()" *ngIf="states.section > 0"></sam-button>
      <sam-button buttonType="secondary" buttonSize="small" buttonText="Review" class="button-review" (onClick)="review()" *ngIf="states.section == (store.nav.children.length - 1)"></sam-button>
      <sam-button buttonType="primary" buttonSize="small" buttonText="Next" class="button-next" (onClick)="next()" *ngIf="states.section < (store.nav.children.length - 1)"></sam-button>
    </div>
  </div>
</page>
