.aac-confirm-page{
  .aac-confirm-alert-message{
    position: absolute;
    width: 450px;
    right: -50px;
    top: 200px;
  }

  .aac-confirm-div-underline{
    border-bottom: 1px solid black;
  }
}
