.new-to-sam{
  .small-text{
    font-size: 14px;
  }

  .square-button-bottom{
    bottom: 0;
  }

  .square-button-top{
    top:0;
  }

  .square-button-top, .square-button-bottom{
    border-radius:  20px;
    background: dodgerblue;
    width: 100%;
    color: #ffffff;
    position: absolute;
  }

  .square-button-top:before,.square-button-bottom:before{
    content: "";
    display: block;
    padding-top: 43%;
  }

  .square-button-top:after,.square-button-bottom:after{
    content: "";
    display: block;
    padding-bottom: 43%;
  }

  .square-button-top:hover,.square-button-bottom:hover .long-button:hover{
    cursor: pointer;
  }

  .long-button{
    padding-top:10%;
    border-radius: 20px;
    background: dodgerblue;
    color: #ffffff;
  }

  .square-paragragh-area{
    width: 100%;
  }

  .square-paragragh-area:before{
    content: "";
    display: block;
    padding-top: 20%;
  }

  .square-paragragh-area:after{
    content: "";
    display: block;
    padding-bottom: 18%;
  }

  .button-row{
    display: flex;
  }

  .new-to-sam-back:hover{
    cursor: pointer;
  }

  .new-to-sam-question{
    font-weight: bold;
    text-align: left;
  }
}
