.grid-name {
  float: left;
  width: 60%;
}

.grid-date {
  float: left;
  width: 40%;
}

.grid-desc {
  float: left;
  width: 100%;
}

.grid-overview1 {
  color: red;
}

.grid-overview2 {
  position: absolute;
  right: 0;
}