.search-page {
  p {
    text-align: justify;
  }

  select {
    margin: 0;
  }

  .usa-label {
    margin-right: 1rem;
  }

  li:before {
    content: none;
  }

  .logo-small {
    width:15%;
  }
  
  .collapsible{
    cursor: pointer;
    &:before{
      content: "\f067";
      font: normal normal normal 12px/1 FontAwesome;
      padding-right: 2px;
    }
    &.expanded:before{
      content: "\f068";
    }
  }


}
