.search-page {
  p {
    text-align: justify;
  }

  select {
    margin: 0;
  }

  .usa-label {
    margin-right: 1rem;
  }

  li:before {
    content: none;
  }

  .logo-small {
    width:25%;
    height:25%;
  }

  .featured-result-title {
    text-align: center;
  }
}
