<div class = "rolemgmt-workspace usa-grid-full">
  <div class = "usa-width-one-fourth m_W-3em">
    <rolemgmt-sidenav
      (statusSelected) = "StatusValue($event)"
      (domainSelected) = "DomainValue($event)"
      (autoCompleteSelected) = "AutoCompleteValue($event)"
    >
    </rolemgmt-sidenav>
  </div>
  <div class = "usa-width-three-fourths m_W-3em">
    <rolemgmt-content
      (sortOrder) = "SortValue($event)"
      (pageNumber) = "PageValue($event)"
    >
    </rolemgmt-content>
  </div>
</div>
