<div class="rolemgmt-workspace">
  <div class = "usa-grid-full">
    <div class="usa-width-one-fourth">
      &nbsp;
    </div>
    <div class="usa-width-three-fourths">
      <h1 class="page-title">Role Management Workspace</h1>
    </div>
  </div>
  <div class = "usa-grid-full">
    <div class = "usa-width-one-fourth role-filters-column">
      <rolemgmt-sidenav #sideNav
        (statusSelected) = "StatusValue($event)"
        (domainSelected) = "DomainValue($event)"
        (autoCompleteSelected) = "AutoCompleteValue($event)"
      >
      </rolemgmt-sidenav>
    </div>
    <div class = "usa-width-three-fourths">
      <rolemgmt-content
        (sortOrder) = "SortValue($event)"
        (pageNumber) = "PageValue($event)"
        (clickEscalatedRequestsCountEvent)="onClickEscalated()"
        (clickPendingRequestsCountEvent)="onClickPending()"
        [requestDetails] = "Details"
        [count] = "totalRequest"
        [currCount] = "currCount"
        [totalPages] = "pages"
        [currPage] = "page"
        [pendingCount]="pendingCount"
        [escalatedCount]="escalatedCount"
      >
      </rolemgmt-content>
    </div>
  </div>
</div>
