<div class="usa-grid role-details-page">
  <h1>{{mode === 'edit' ? 'Edit' : 'New' }} Role</h1>
  <!-- Domain label or dropdown -->
  <ng-container *ngIf="mode === 'edit'">
    <label>Domain</label>
    <p>{{domain}}</p>
  </ng-container>
  <ng-container *ngIf="mode === 'new'">
    <samSelect name='domain' label="Domain" [options]="domainOptions" [(ngModel)]="selectedDomain"></samSelect>
  </ng-container>

  <!-- Role text -->
  <labelWrapper name="role" label="Role">
    <input id="role" type="text" [(ngModel)]="role" (blur)="onRoleBlur()">
  </labelWrapper>

  <div class="domain-roles m_T-3em">
    <permission-selector
      [options]="domainRoleOptions"
      selectAllText='Associate Roles'
      title='Domain Roles'>
    </permission-selector>
  </div>
  <div class="m_T-4x">
    <strong>Objects and Permissions</strong>
  </div>
  <div class="m_T-4x object-block" *ngFor="let role of roles">
    <permission-selector
      [options]="[{label: 'Create', value: 0}, {label: 'Edit', value: 1}, {label: 'Submit', value: 2}]"
      [values]="[0, 1]"
      selectAllText="Associate Permissions"
      [title]="role.name"
    ></permission-selector>
  </div>
  <div class="clearfix">
    <div class="pull-right">
      <button class="usa-button-outline">Cancel</button>
      <button class="usa-button-primary">Submit</button>
    </div>
  </div>
</div>




