<page [breadcrumbs]="crumbs" [section]="'Profile'" [title]="'Manage Subscriptions'">
  <sidebar>
    <subscriptions-sidenav (filterChange)="onFilterChange($event)"></subscriptions-sidenav>
  </sidebar>

  <div class="usa-width-one-whole msg-feed-content">
    <div class="usa-width-one-whole m_B-2x">
      <div class="pull-left p_T-3x">
        Showing &nbsp;{{curStart}}-{{curEnd}}&nbsp; of&nbsp; {{totalRecords}}&nbsp; results
      </div>
      <sam-sort class="pull-right" [(ngModel)]="sortByModel" [options]="msgSortOptions" (ngModelChange)="onSortSelectModelChange()">
      </sam-sort>
    </div>

    <!--Subscriptions Content-->
    <!--div class="usa-width-one-whole msg-feed-items-div" *ngIf="subscriptions.length > 0" -->

  <div class="usa-width-one-whole">
    <table class="sam-ui striped selectable table small" style="border:none">
      <thead>
      <tr >
        <th style="background-color:lightgrey; padding:0em 0.5em" scope="col" >Name</th>
        <th style="background-color:lightgrey; padding:0em 0.5em" scope="col" >Type</th>
        <th style="background-color:lightgrey; padding:0em 0.5em" scope="col" >Last Modified</th>
        <th style="background-color:lightgrey; padding:0em 0.5em" scope="col" >Email <br> Freqency</th>
        <th style="background-color:lightgrey; padding:0em 0.5em" scope="col" >Show in <br> My Feed</th>
        <th style="background-color:lightgrey; padding:0em 0.5em" scope="col" ></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of subscriptions">
          <td scope="row" style="padding:0em 0.5em">{{row.recordId}}</td>
          <td scope="row" style="padding:0em 0.5em">{{row.type}}</td>
          <td scope="row" style="padding:0em 0.5em">{{row.lastModified}}</td>
          <td scope="row" style="padding:0em 0.5em">
            <sam-select class="usa-width-one-fourth" [ngModel]="row.frequency" [name]="frequencySelectConfig.name" [options]="frequencySelectConfig.options"
                        [label]="frequencySelectConfig.label" [disabled]="frequencySelectConfig.disabled"></sam-select>

          </td>
          <td scope="row" style="width: 10%; text-align: center; padding:0em 0.5em">
              <sam-checkbox
                [model]="(row.myFeed === 'Y') ? [row.myFeed] : []"
                [name]="'MyFeed'"
                [options]="myFeedCbxConfig.options">
              </sam-checkbox>
          </td>
          <td scope="row" style="white-space: nowrap; padding:0em 0.5em">
            <sam-watch-button [domainId] = "row.domainId" [type] = "row.type" [recordId]="row.recordId" [fromPage]="'manage'"></sam-watch-button>
          </td>
      </tr>
      </tbody>
    </table>
  </div>
      <!-- div class="usa-width-one-whole msg-feed-item" *ngFor="let record of recordList">
        <div class="pull-left" style="line-height: 0.5em;">

          <div class="usa-alert m_T-0 alert-image-div msg-feed-icon" *ngIf="feed.type === 'Alert'" [ngClass]="getAlertFeedClass(feed)"></div>

          <div class="msg-feed-icon msg-feed-user-icon" *ngIf="feed.type !== 'Alert'"><i class="fa fa-user"></i></div>

        </div>
        <div class="usa-width-two-thirds p_L-2x" *ngIf="feed.type === 'Alert'">
          <span class="usa-width-one-whole msg-feed-bold">{{feed.title}}</span>
          <span class="usa-width-one-whole msg-feed-description">{{feed.description}}</span>
          <span class="usa-width-one-whole msg-feed-description">{{feed.date}}</span>
        </div>
        <div class="usa-width-two-thirds p_L-2x p_T-2x" *ngIf="feed.type !== 'Alert'">
          <span class="usa-width-one-whole msg-feed-description">{{feed.description}}</span>
          <span class="usa-width-one-whole msg-feed-description">{{feed.date}}</span>
        </div>
        <span class="pull-right msg-feed-status m_T-2x p_R-3x" *ngIf="feed.type === 'Request'">{{feed.status}}</span>
      </div >
    </div -->

    <div class="usa-width-one-whole" *ngIf="subscriptions.length === 0">
      No Subscriptions Available
    </div>


    <div class="usa-width-three-fourths usa-offset-one-fourth" *ngIf="subscriptions.length > 0">
      <sam-pagination (pageChange)="onPageNumChange($event-1)" [currentPage]="curPage+1" [totalPages]="totalPages"></sam-pagination>
    </div>


  </div>
</page>


