<div class="role-workspace usa-grid-full">
  <samModal style= "top:20em" #removeModal [type]="modalConfig.type" [description]="modalConfig.description" [title]="modalConfig.title" [cancelButtonLabel]="'Cancel'" [submitButtonLabel]="'Remove'" (onSubmit)="onRemoveConfirm()"  [closeOnOutsideClick]="false" [closeOnEscape]="false"></samModal>
  <div class = "usa-width-one-fourth m_W-3em">
    <role-sidenav (pathChange) = "onPathChange($event)"  (checkSelected) = "onSelectedChange($event)" ></role-sidenav>
  </div>
  <div class = "usa-width-three-fourths m_W-3em">
    <div class = "create-btn">
      <button class="usa-button-outline usa-button-active pull-right" routerLink="../{{path}}/new">Create New {{ path === 'roles' ? 'Role' : 'Object' }}</button>
    <div>
    <h1>Workspace</h1>
    <h2>{{ path === 'roles' ? 'Role' : 'Object' }} Definitions</h2>
    <div class = "main-content">
      <role-content [roleDef] = "Data" [currPath] = path (onRemoveClick) = "onShowExpireModal($event)"></role-content>
    </div>
  </div>
</div>
