<div [formGroup]="fieldFormGroup">
<samText *ngIf="field.type == 'samText'"
         [label] = "field.label"
         [name] = "field.name + '-input'"
         [maxlength] = "field.maxlength"
         [hint] = "field.hint"
         [required] = "field.required"
         [control] = "control"
         [value] = "value"
         [formControlName] = "field.name"
></samText>

<samNumber *ngIf="field.type == 'samNumber'"
           [label] = "field.label"
           [name] = "field.name + '-input'"
           [maxlength] = "field.maxlength"
           [hint] = "field.hint"
           [required] = "field.required"
           [control] = "control"
           [value] = "value"
           [formControlName] = "field.name"
></samNumber>

<samTextArea *ngIf="field.type == 'samTextArea'"
         [label] = "field.label"
         [name] = "field.name + '-input'"
         [maxlength] = "field.maxlength"
         [hint] = "field.hint"
         [required] = "field.required"
         [control] = "control"
         [value] = "value"
         [formControlName] = "field.name"
></samTextArea>

</div>
