<div [formGroup]="fieldFormGroup">
  <sam-text *ngIf="field.type == 'sam-text'"
           [label] = "field.label"
           [name] = "field.name + '-input'"
           [maxlength] = "field.maxlength"
           [hint] = "field.hint"
           [required] = "field.required"
           [control] = "control"
           [value] = "value"
           [formControlName] = "field.name"
  ></sam-text>

  <sam-number *ngIf="field.type == 'sam-number'"
             [label] = "field.label"
             [name] = "field.name + '-input'"
             [maxlength] = "field.maxlength"
             [minlength] = "field.minlength"
             [hint] = "field.hint"
             [required] = "field.required"
             [control] = "control"
             [value] = "value"
             [formControlName] = "field.name"
             [errorMessage] = "((control.valid == false) && (control.dirty || control.touched)) ? field.errorMessage : ''"
  ></sam-number>

  <sam-text-area *ngIf="field.type == 'sam-text-area'"
               [label] = "field.label"
               [name] = "field.name + '-input'"
               [maxlength] = "field.maxlength"
               [hint] = "field.hint"
               [required] = "field.required"
               [control] = "control"
               [value] = "value"
               [formControlName] = "field.name"
  ></sam-text-area>

  <sam-list-input *ngIf="field.type == 'sam-list-input'"
                  [label] = "field.label"
                  [name] = "field.name + '-control'"
                  [hint] = "field.hint"
                  [required] = "field.required"
                  [control] = "control"
                  [options] = "field.options"
                  [formControlName] = "field.name"
  ></sam-list-input>

</div>
