<div class="usa-grid role-details-page">
  <h1>{{mode === 'edit' ? 'Edit' : 'New' }} Role</h1>

  <!-- Domain label or dropdown -->
  <ng-container *ngIf="mode === 'edit'">
    <label>Domain</label>
    <p>{{getLabelForDomain(domain)}}</p>
  </ng-container>
  <ng-container *ngIf="mode === 'new'">
    <samSelect name='domain' label="Domain" [options]="domainOptions" [(ngModel)]="selectedDomain" (modelChange)="onDomainChange()"></samSelect>
  </ng-container>

  <ng-container *ngIf="domainDefinitions">

    <!-- Role text -->
    <labelWrapper name="role" label="Role">
      <input id="role" type="text" [(ngModel)]="role" (blur)="onRoleBlur()">
    </labelWrapper>

    <!-- Domain Roles -->
    <div class="domain-roles m_T-3em">
      <permission-selector
        [options]="domainRoleOptions"
        selectAllText='Associate Roles'
        title='Domain Roles'
        [hideDefaultColumn]="true">
      </permission-selector>
    </div>
    <div class="m_T-4x">
      <strong>Objects and Permissions</strong>
    </div>

    <!-- Objects and permission -->
    <div class="m_T-4x object-block" *ngFor="let function of permissionOptions">
      <permission-selector
        [options]="function.permissions"
        selectAllText="Associate Permissions"
        [title]="function.name"
      ></permission-selector>
    </div>
  </ng-container>

  <div class="clearfix">
    <div class="pull-right">
      <button class="usa-button-outline" routerLink="/access/roles">Cancel</button>
      <button class="usa-button-primary" (click)="onSubmitClick()">Submit</button>
    </div>
  </div>
  <pre><code>{{ requestObject | json}}</code></pre>

</div>




