<sam-modal
  #titleModal
  [showClose]="true"
  [closeOnOutsideClick]="true"
  [closeOnEscape]="true"
  [type]="'warning'"
  [title]="titleMissingConfig.title"
  [cancelButtonLabel]="titleMissingConfig.closeText"
  [description]="titleMissingConfig.description"
  (onClose)="onTitleModalClose()">
</sam-modal>

<form-step
  [ngClass]="'opportunities-operations'"
  [crumbs]="crumbs"
  [pageTitle]="oppFormViewModel.title ? oppFormViewModel.title : 'Contract Opportunity'"
  [sectionTitle]="oppFormViewModel.title ? 'Contract Opportunity' : 'Add'"
  [sideNavSelection]="sidenavSelection"
  [sideNavModel]="sidenavModel"
  [sectionIndex]="currentSection"
  [type]="noticeType"
  [typeLabel]="noticeTypeLabel"
  [numberOfSections]="sectionLength"
  [hasErrors]="hasErrors"
  [tabsComponent]="tabsOppComponent"
  (action)="formActionHandler($event)"
  (sideNavOutput)="navHandler($event)"
  (breadcrumbOut)="breadCrumbClick($event)">
  <div form-sections>
    <!-- Tabs -->
    <tabs-opp #tabsOppComponent
              [data]="oppFormViewModel['_opportunity']"
              (tabClick)="tabsClicked($event)">
    </tabs-opp>

    <opp-form-header-information
      *ngIf="isSection('header-information')"
      [viewModel]="oppFormViewModel"></opp-form-header-information>

    <opp-form-general-information
      *ngIf="isSection('general-information')"
      [viewModel]="oppFormViewModel"></opp-form-general-information>

    <opp-form-classification *ngIf="isSection('classification')" [viewModel]="oppFormViewModel"></opp-form-classification>
    <opp-form-description
      *ngIf="isSection('description')"
      [viewModel]="oppFormViewModel"></opp-form-description>

    <opp-form-contact-info
      *ngIf="isSection('contact-information')"
      [viewModel]="oppFormViewModel"></opp-form-contact-info>
  </div>

</form-step>
