/*******************************
      SAM-UI Settings
*******************************/

/*-------------------
       Fonts
--------------------*/
$fontName          : 'Source Sans Pro';

$headerFont        : $fontName, $helvetica;
$pageFont          : $fontName, $helvetica;

/*-------------------
      Paths
--------------------*/
$fa-font-path          : "../assets/fonts/font-awesome";
$assets-path           : '/src/assets';


/*******************************
             Legacy
*******************************/
/* 
  Legacy (DO NOT USE)
*/

// Color
$iae-color-primary     : #112e51;
$iae-color-primary-alt : #205493;
$iae-color-gray        : #f1f1f1;


/*******************************
      USWDS Variables
*******************************/

// Typography
$font-serif     : $pageFont;

// Color
$color-primary  : $iae-color-primary;

// Relative font and image file paths
$font-path      : '/src/assets/fonts';
$image_path     : '~uswds/dist/img';

// Magic Numbers
$site-max-width : 1140px;