@import 'paths';

// Vendor main
@import '~font-awesome/scss/font-awesome';
@import '~uswds/src/stylesheets/lib/bourbon';
@import '~uswds/src/stylesheets/lib/neat';

// Internal variable should be declared before uswds variable to take higher precendence
@import 'variables';
@import 'utilities';
@import 'margin-padding';
@import 'global';
@import 'typography';
@import 'grid-offsets';

@import '~uswds/src/stylesheets/uswds';

@import 'components/parent-orgs.scss';
@import 'components/date-entry';
@import 'components/label-wrapper';
@import 'components/accordion';
@import 'components/alert';
@import 'components/authentication';
@import 'components/footer';
@import 'components/button';
@import 'components/collapsible';
@import 'components/pagination';
@import 'components/header';
@import 'components/header-links';
@import 'components/header-menu';
@import 'components/agency-picker';
@import 'components/input';
@import 'components/multiselect';
@import 'components/banner';
@import 'components/searchbar';
@import 'components/search-header';
@import 'components/multiselect-dropdown';
@import 'components/image-library';
@import 'components/tabs';
@import 'components/modal';
@import 'components/alphabet-selector';
@import 'components/history';
@import 'components/toggle-switch';

@import 'pages/entity-object-view';
@import 'pages/exclusion';
@import 'pages/assistance-listing';
@import 'pages/help';
@import 'pages/home';
@import 'pages/opportunity';
@import 'pages/organization';
@import 'pages/search';
@import 'pages/reference-library';
@import 'pages/alerts';
@import 'pages/new-to-sam';
@import 'pages/help-accounts';
@import 'pages/help-roadmap';
@import 'pages/users-directory';
@import 'pages/ui-kit-demo';
@import 'pages/access';
@import 'pages/grant-access';
@import 'pages/public-profile';
@import 'pages/wage-determination';

html, body{
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.8);
}

h1,
h2{
  letter-spacing: -0.5px;
  line-height: 1.1;
  color: black;
}

/* Let content occupy most of the page and show footer when scroll down*/
.occupy-page{
  min-height: 90vh;
}

.overlay{
  background-color:rgba(0,0,0,0.5);
  z-index: 100;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.content-block span {
  display: block;
  margin: 3px 0px 3px 0px;
}

.usa-input-error{
  .usa-agency-picker-dropdown-area{
    select{
      width:100%;
    }
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.sidenav-logo {
  width:160px;
  height: 160px;
  display: block;
  margin: 0 auto;
}

.usa-sidenav-list > li{
  border-top: 1px solid #f1f1f1;
}

// Make sidenav use all availabe horizontal space on medium screen
@media screen and (min-width: $medium-screen) and (max-width: $large-screen - 1) {
  aside.usa-width-one-fourth{
    margin-right: 0;
    width: 100%;
  }
}

.search-layout{
  .showing-results-meta{
    margin-top:3rem!important;
  }
  samselect{
    label{
      margin-top:0;
    }
  }
}
