<div class="usa-password">
  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <div class="usa-form-large form-group" [ngClass]="$formState()">
        <fieldset>
          <div>
            <labelWrapper label="Create Password" required="true">
              <input type="{{ states.toggle ? 'text' : 'password' }}"
                     name="password"
                     readonly="readonly"
                     onfocus="this.removeAttribute('readonly');"
                     [formControl]="password" />
            </labelWrapper>
          </div>
          <div [ngClass]="getFormControlStates('passwordConfirm')">
            <labelWrapper [errorMessage]="passwordConfirm.touched ? states.error : ''" label="Confirm Password" required="true">
              <input type="{{ states.toggle ? 'text' : 'password' }}"
                     name="passwordConfirm"
                     readonly="readonly"
                     onfocus="this.removeAttribute('readonly');"
                     [formControl]="passwordConfirm" />
            </labelWrapper>
          </div>

          <p class="usa-form-note">
            <input type="checkbox"
                   id="usa-password-toggle"

                   (change)="states.toggle = !states.toggle">
            <label for="usa-password-toggle">Toggle password</label>
          </p>
        </fieldset>
        <div class="usa-password-progress">
          <ul>
            <li class="header">Passwords must:</li>
            <li>
              <div class="icon"><span class="fa" [ngClass]="$formState(states.validations.minlength)"></span></div>
              <span [innerHTML]="config.messages.minlength"></span>
            </li>
            <li>
              <div class="icon"><span class="fa" [ngClass]="$formState(states.validations.uppercase)"></span></div>
              <span [innerHTML]="config.messages.uppercase"></span>
            </li>
            <li>
              <div class="icon"><span class="fa" [ngClass]="$formState(states.validations.numeric)"></span></div>
              <span [innerHTML]="config.messages.numeric"></span>
            </li>
            <li>
              <div class="icon"><span class="fa" [ngClass]="$formState(states.validations.special)"></span></div>
              <span [innerHTML]="config.messages.special"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
