<div class="usa-password">
  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <div class="usa-form-large">
        <fieldset>
          <div>
            <labelWrapper label="Create Password" required="true">
              <input type="{{ states.toggle ? 'text' : 'password' }}"
                     name="password"
                     readonly="readonly"
                     onfocus="this.removeAttribute('readonly');"
                     [formControl]="password" />
            </labelWrapper>
          </div>

          <div>
            <labelWrapper [errorMessage]="states.error" label="Confirm Password" required="true">
              <input type="{{ states.toggle ? 'text' : 'password' }}"
                     name="passwordConfirm"
                     readonly="readonly"
                     onfocus="this.removeAttribute('readonly');"
                     [formControl]="passwordConfirm" />
            </labelWrapper>
          </div>

          <p class="usa-form-note">
            <input type="checkbox" id="usa-password-toggle" (click)="states.toggle = !states.toggle">
            <label for="usa-password-toggle">Toggle password</label>
          </p>
        </fieldset>
        <div class="usa-password-progress">
          <ul>
            <li class="header">Passwords must:</li>
            <li>
              <div class="icon"><span class="fa" [ngClass]="(states.validations.minlength ? config.icons.valid : config.icons.invalid)"></span></div>
              <span [innerHTML]="config.messages.minlength"></span>
            </li>
            <li>
              <div class="icon"><span class="fa" [ngClass]="(states.validations.uppercase ? config.icons.valid : config.icons.invalid)"></span></div>
              <span [innerHTML]="config.messages.uppercase"></span>
            </li>
            <li>
              <div class="icon"><span class="fa" [ngClass]="(states.validations.numeric ? config.icons.valid : config.icons.invalid)"></span></div>
              <span [innerHTML]="config.messages.numeric"></span>
            </li>
            <li>
              <div class="icon"><span class="fa" [ngClass]="(states.validations.special ? config.icons.valid : config.icons.invalid)"></span></div>
              <span [innerHTML]="config.messages.special"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
