<div class="view-request-page usa-grid-full">
  <div class = "usa-width-one-fourth pd-l-1em">
    <sam-breadcrumbs [crumbs]="myCrumbs"></sam-breadcrumbs>
  </div>
  <div class="usa-width-three-fourths">
    <h1 class="m_T-4x">View Request</h1>
    <h2 class="p_All-2x usa-bgcolor-gray-lighter m-r-7em">Role Request</h2>

    <!-- Organization -->
    <div class="usa-grid-full p_B-4x">
      <div class="usa-width-one-fourth">
        <b>Organization</b>
      </div>
      <div class="usa-width-three-fourths">{{request.organization}}</div>
    </div>

    <!-- Role -->
    <div class="usa-grid-full p_B-4x">
      <div class="usa-width-one-fourth">
        <b>Role</b>
      </div>
      <div class="usa-width-three-fourths">{{request.role}}</div>
    </div>

    <!-- Domains -->
    <div class="usa-grid-full p_B-4x">
      <div class="usa-width-one-fourth">
        <b>Domain</b>
      </div>
      <div class="usa-width-three-fourths">{{request.domains}}</div>
    </div>

    <!-- SuperVisor name-->
    <div class="usa-grid-full p_B-4x">
      <div class="usa-width-one-fourth">
        <b>Supervisor Name</b>
      </div>
      <div class="usa-width-three-fourths">{{request.supervisorName}}</div>
    </div>

    <!-- SuperVisor email -->
    <div class="usa-grid-full p_B-4x">
      <div class="usa-width-one-fourth">
        <b>Supervisor Email</b>
      </div>
      <div class="usa-width-three-fourths">{{request.supervisorEmail}}</div>
    </div>

    <!-- Status -->
    <div class="usa-grid-full p_B-4x">
      <div class="usa-width-one-fourth">
        <b>Status</b>
      </div>
      <div class="usa-width-three-fourths"><b>{{request.status}}</b></div>
    </div>

    <!-- Comments -->
    <h2 class="p_All-2x usa-bgcolor-gray-lighter m-r-7em">Comments</h2>
    <ng-container *ngIf="request.comments && request.comments.length">
      <div class="usa-grid-full p_B-4x" *ngFor="let comment of request.comments">
        <div class="usa-width-one-fourth overflow-ellipsis">
          <b [attr.title]="comment.userName">{{comment.userName}}</b>
        </div>
        <div class="usa-width-three-fourths">
          {{comment.text}}
          <div>
            <span class="text-lighter">{{comment.date | dateFormat : 'LLL'}}</span>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!(request.comments && request.comments.length)">
      <div class="text-center p_All-4x">
        <em>No comments</em>
      </div>
    </ng-container>

    <!-- Cancel / Confirm -->
    <div>
      <div class="pull-right clearfix m_T-4x m_B-4x m-r-12d5em">
        <button [routerLink]="['/profile/access']" class="pull-left usa-button usa-button-outline m_0" type="button">Cancel</button>
        <button id="done-button" class="pull-left usa-button usa-button-primary" (click) = "onDeleteClick()">Delete</button>
      </div>
    </div>

  </div>
</div>

<!-- Delete role modal -->
<sam-modal #deleteRoleModal title="Confirm Request Deletion" cancelButtonLabel="Cancel" submitButtonLabel="Delete" (onSubmit)="onDeleteConfirm()" [closeOnOutsideClick]="false" type="error">
  <p>Are you sure you want to delete your role request? You won&apos;t be able to undone this action.</p>
</sam-modal>

