<div *ngIf="application" grid>
  <div row>
    <div columns="2"></div>
    <div columns="8">
      <title-and-section section="Workspace" [title]="application.systemAccountName" [badge]="label"></title-and-section>

      <div class="usa-progress-bar">
        <div class="progress-header" [ngClass]="className()">
          <span *ngIf="status >= 1">Draft</span>
          <span *ngIf="status >= 2">Pending Approval</span>
          <span *ngIf="status >= 3" [innerText]="label"></span>
        </div>
        <div class="progress-body">
          <div [ngClass]="className()">
            <span>
              <span class="fa fa-check-circle" *ngIf="status > 1"></span>
            </span>
            <span>
              <span class="fa fa-check-circle" *ngIf="status > 2"></span>
            </span>
            <span></span>
          </div>
        </div>
      </div>

      <sam-fieldset-wrapper label="Request Status">
        <sam-label-wrapper class="inline" label="Application ID:">{{ field('uid') }}</sam-label-wrapper>
        <sam-label-wrapper class="inline" label="Submitted Date:">{{ field('submittedDate') }}</sam-label-wrapper>
        <sam-label-wrapper class="inline" label="Last Updated Date:">{{ field('lastUpdate') }}</sam-label-wrapper>
        <sam-label-wrapper class="inline" label="Submitted By:">{{ field('submittedBy') }}</sam-label-wrapper>
        <sam-label-wrapper class="inline" label="Security Approver:">
          <span [innerHTML]="field('securityApprover')"></span>
        </sam-label-wrapper>
        <sam-label-wrapper class="inline" label="Security Approved Date:">
          <span [innerHTML]="field('securityApproved_Date')"></span>
        </sam-label-wrapper>
      </sam-fieldset-wrapper>

      <div class="text-right">
        <a [routerLink]="['/workspace/system']" queryParamsHandling="merge">Cancel</a>
      </div>
    </div>
  </div>
</div>
