<div class="usa-grid object-details-page">
  <h1>{{mode === 'edit' ? 'Edit' : 'New' }} Object</h1>

  <!-- Domain select -->
  <labelWrapper name="domain" label="Domain">
    <samMultiSelectDropdown name='domain' label="Domain" [options]="domainOptions" [(model)]="selectedDomains" (modelChange)="onDomainsChange()"></samMultiSelectDropdown>
  </labelWrapper>

  <!-- Object name -->
  <labelWrapper name="object" label="Object Name">
    <input id="object" type="text" [(ngModel)]="objectName">
  </labelWrapper>

  <!-- Permissions -->
  <div class="usa-grid-full">
    <div class="usa-width-one-half">
      <sam-list-display [newValue]="permissionSetter" [(ngModel)]="selectedPermissions">
        <div class="input-and-add">
          <sam-autocomplete #permission [labelText]="'Permissions'" name="permissions" [options]="permissionOptions" [config]="{addOnIconClass:'fa fa-search'}"></sam-autocomplete>
          <button class="usa-button usa-button-transparent add-permission-button" (click)="onAddPermissionClick()">
            <i class="fa fa-plus-circle"></i>
          </button>
        </div>
      </sam-list-display>
    </div>
  </div>

  <!-- Cancel / Submit -->
  <div class="clearfix">
    <div class="pull-right">
      <button class="usa-button-outline" routerLink="/access/objects">Cancel</button>
      <button class="usa-button-primary" (click)="onSubmitClick()">Submit</button>
    </div>
  </div>

  <pre><code>{{requestObject | json}}</code></pre>
</div>





