<ng-container *ngIf="widgetPermission === 'all'">
  <h4 class="sam-ui header">
    Find an Organization
  </h4>
  <input placeholder="Find an Organization" 
    (keyup.enter)="searchFH()" 
    [(ngModel)]="searchText" >

  <h4 class="sam-ui header">
    Organization Updates
  </h4>
  <div grid class="equal width relaxed">
    <div class="column">
      <div class="sam-ui divided selection list">
        <a class="item">
          <div class="sam-ui horizontal mini label" 
            [class.blue]="createdTotal !== 0">
            {{ createdTotal }}
          </div>
          Created
        </a>
        <a class="item">
          <div class="sam-ui horizontal mini label" 
            [class.blue]="expiredTotal !== 0">
            {{ expiredTotal }}
          </div>
          Expired
        </a>
      </div>
    </div>
    <div class="column">
      <sam-radio-button
        [(model)]="fhRadioModel"
        (modelChange)="getFHCounts()"
        [options]="fhRadioConfig.options"
        [label]="fhRadioConfig.label"
        [hint]="fhRadioConfig.hint"
        [name]="fhRadioConfig.name"
        [errorMessage]="fhRadioConfig.errorMessage">
      </sam-radio-button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="widgetPermission === 'partial'">
  <h4 class="sam-ui header">
    Find an Organization
  </h4>
  <input placeholder="Find an Organization" 
    (keyup.enter)="searchFH()" 
    [(ngModel)]="searchText">
</ng-container>