<div class="manage-request m_A-4x clearfix">
  <div class="usa-width-one-fourth">
    <button class="usa-button usa-button-transparent back-button" [routerLink]="['/access/requests']"><i class="fa fa-arrow-circle-left"></i>&nbsp;Back to Role Workspace</button>
  </div>
  <div class="usa-width-one-half">
    <!--<div class="usa-alert usa-alert-error"><code>{{request | json}}</code></div>-->
    <h1>Access Request</h1>
    <request-details [requestObject]="request"></request-details>
    <div class="m_T-4x">
      <sam-radio-button
        [options]="options"
        label="How do you want to respond?"
        name='request-action'
        [(model)]="selectedOption"
      ></sam-radio-button>
    </div>
    <div class="m_T-4x" *ngIf="shouldShowTextarea()">
      <sam-text-area
        name='message'
        [(value)]="message"
        (valueChange)="onMessageChanged()"
        [required]="true"
        [label]="'Message:'"
        [errorMessage]="messageError"
        [placeholder]="messagePlaceholder()"
        (focusEvent)="onFocusMessage($event)"
      ></sam-text-area>
    </div>
    <div class="clearfix">
      <button class="pull-right usa-button usa-button-primary"
              (click)="onSubmitClick()"
              [disabled]="!selectedOption"
              [ngClass]="!selectedOption && 'usa-button-disabled'"
      >{{submitLabel()}}</button>
    </div>
  </div>
  <div class="usa-width-one-fourth">&nbsp;</div>
</div><!-- page -->
