<div>
  <div class="m_H-3x clearfix m_B-6x">
    <a class='text-larger' [routerLink]="['/profile', 'access']">My Access</a>
  </div>
  <ng-container *ngIf="loadingAccess">
    <div style="margin-top: 2em" class="text-center">
      <sam-spinner></sam-spinner>
    </div>
  </ng-container>

  <ng-container *ngIf="shouldShowAnyAdmin && !loadingAccess">
    <div class="usa-grid-full m_H-3x">
      <div class="usa-width-one-half clearfix" *ngIf="shouldShowPending || shouldShowEscalated">
        <h3 class="m_B-0">Role Requests</h3>
        <div>
          <a *ngIf='shouldShowPending' class="text-larger" routerLink="/access/requests" [queryParams]="{status: 1}">{{pendingCount === 0 ? '0' : pendingCount}} Pending</a>
          <br>
          <a *ngIf='shouldShowEscalated' class="text-larger" routerLink="/access/requests" [queryParams]="{status: 2}">{{escalatedCount === 0 ? '0' : escalatedCount}} Escalated</a>
        </div>
      </div>
      <div class="usa-width-one-half clearfix">
        <sam-autocomplete
                          rmsusers
                          [ngModelOptions]="{standalone: true}"
                          [allowAny]="false"
                          [(ngModel)]="dummySearchValue"
                          [labelText]="'Find User'"
                          [config]="userConfig"
                          (enterEvent)="onPersonChange($event)">
        </sam-autocomplete>
        <br>
        <button routerLink='/access/bulk-update' class="usa-button usa-button-primary m_R-0" style="width: 100%">Bulk Update</button>
      </div>
    </div>
    <div class="rm-nav m_H-3x clearfix" *ngIf="shouldShowRoleDefinitions || shouldShowRoleDirectory">
      <button *ngIf="shouldShowRoleDefinitions" [routerLink]="'/access/workspace'" class="pull-left usa-button usa-button-transparent">Role Definitions</button>
      <button *ngIf="shouldShowRoleDirectory" [routerLink]="'/access/user-roles-directory'" class="pull-right usa-button usa-button-transparent">Go to Role Management<i class="text-light-blue fa fa-caret-right m_L-2x"></i></button>
    </div>
  </ng-container>

</div>
