<sam-button buttonText="Add Deadline" (onClick)="addAssist()" [class.hide]="hideAddButton"></sam-button>

<div [formGroup]="falAssistSubForm" [class.hide]="!hideAddButton">
  <div formArrayName="deadlineList">
    <h4>{{subFormLabel}}</h4>
    <ng-container *ngFor="let assistGrp of falAssistSubForm.controls.deadlineList.controls; let i=index">
      <div [formGroupName]="i" [class.hide]="assistIndex !== i">

        <div class="start-date">
          <sam-date [name]="'start-date'"
                   [label]="'Start Date'"
                   formControlName="start"
          ></sam-date>
        </div>

        <div class="end-date">
          <sam-date [name]="'end-date'"
                   [label]="'End Date'"
                   formControlName="end"
          ></sam-date>
        </div>

        <sam-text-area [name]="'list-desc'"
                     [label]="'Describe this Deadline'"
                     formControlName="description"
        ></sam-text-area>

        <sam-button buttonText="Cancel" (onClick)="onSubFormCancelClick(i)"></sam-button>
        <sam-button buttonText="Confirm" (onClick)="onConfirmClick(i)"></sam-button>
      </div>
    </ng-container>
  </div>
</div>
