<h2 class="sam-ui header">
  Other Financial Info
</h2>

<div *ngIf="otherFinancialInfoForm" [formGroup]="otherFinancialInfoForm">
  <div class="sam-ui segment">
    <sam-text-area [label]="'Range and Average of Financial Assistance'"
                [name]="'assistance-range-input'"
                [hint]="rangeAndAverageHint"
                [required]="false"
                [attr.id]="'range-average'"
                [control]="otherFinancialInfoForm.get('assistanceRange')"
                [formControlName]="'assistanceRange'"
    ></sam-text-area>
  </div>

  <div class="sam-ui segment">
    <falFYTable [config]="accomplishmentsConfig"
                [formControlName]="'accomplishments'"
                [attr.id]="'fal-financial-info-accomplishments'"
                [control]="otherFinancialInfoForm.get('accomplishments')"
                [viewModel]="model"
    ></falFYTable>
  </div>

  <div class="sam-ui segment">
    <sam-listbuilder
      label="Account Identification"
      [hint]="accountIdentificationConfigHint"
      [required]="true"
      addEntryText="Add Account Identification"
      [deleteModalFlag]="true"
      [deleteModalConfig]="{
        title:'Delete Account Identification',
        type:'warning',
        description:'Please confirm that you want to delete account identification.'
      }"
      [attr.id]="'fal-financial-info-account-identification'"
      [control]="otherFinancialInfoForm.get('accountIdentification')"
      [formArrayInput]="otherFinancialInfoForm.get('accountIdentification').controls"
      [formGroupTemplate]="acctIdentificationSubform"
      (formArrayChange)="acctIdentifcationFormArrayChange($event)"
      (action)="acctIdentificationActionHandler($event)">
      <ng-template #display let-item>
        <p>
          <ng-container *ngIf="!item.valid">
            <span class='usa-input-error-message'><sup>*</sup>This entry has some errors</span><br/>
          </ng-container>
          Account Code: {{item.value.code}}<br/>
          Description: {{item.value.description}}
        </p>
      </ng-template>
      <ng-template #edit let-item>
        <form [formGroup]="item">
          <fal-account-identification-code name="code"
              label="Code"
              hint="Agency supplied 11-digit budget account code"
              [required]="true"
              [control]="item.get('code')"
              formControlName="code"
            ></fal-account-identification-code>
            <sam-text-area
              name="acct-ident-desc"
              label="Description"
              hint="Optionally add a description for this account number"
              formControlName="description"
          ></sam-text-area>
        </form>
      </ng-template>
    </sam-listbuilder>
  </div>

  <div class="sam-ui segment">
    <sam-listbuilder
      label="TAFS Codes - Unique Treasury Appropriation Fund Symbols"
      [hint]="tafsHint"
      [required]="true"
      addEntryText="Add TAFS Code"
      [deleteModalFlag]="true"
      [deleteModalConfig]="{
        title:'Delete TAFS code',
        type:'warning',
        description:'Please confirm that you want to delete TAFS code.'
      }"
      [attr.id]="'fal-financial-info-tafs-codes'"
      [control]="otherFinancialInfoForm.get('tafs')"
      [formArrayInput]="otherFinancialInfoForm.get('tafs').controls"
      [formGroupTemplate]="tafsSubform"
      (formArrayChange)="tafsFormArrayChange($event)"
      (action)="tafsActionHandler($event)">
      <ng-template #display let-item>
        <p>
          <ng-container *ngIf="!item.valid">
            <span class='usa-input-error-message'><sup>*</sup>This entry has some errors</span><br/>
          </ng-container>
          Treasury Dept. Code: {{item.value.departmentCode}}<br/>
          Treasury Account Main Code: {{item.value.accountCode}}<br/>
          TAFS Sub Account: {{item.value.subAccountCode}}<br/>
          Allocation Transfer Agency: {{item.value.allocationTransferAgency}}<br/>
          FY 1: {{item.value.fy1}}<br/>
          FY 2: {{item.value.fy2}}
        </p>
      </ng-template>
      <ng-template #edit let-item>
        <form [formGroup]="item">
          <sam-text label="Treasury Dept. Code"
                    name="treasury-dept-code"
                    [maxlength]="2"
                    [required]="true"
                    [control]="item.get('departmentCode')"
                    [formControlName]="'departmentCode'"
          ></sam-text>

          <sam-text label="Treasury Account Main Code"
                    name="treasury-account-main-code"
                    [maxlength]="4"
                    [required]="true"
                    [control]="item.get('accountCode')"
                    [formControlName]="'accountCode'"
          ></sam-text>

          <sam-text label="TAFS Sub Account"
                    name="sub-account-code"
                    [maxlength]="3"
                    [required]="false"
                    [control]="item.get('subAccountCode')"
                    [formControlName]="'subAccountCode'"
          ></sam-text>

          <sam-text label="Allocation Transfer Agency"
                    name="allocation-transfer-agency-code"
                    [maxlength]="2"
                    [required]="false"
                    [control]="item.get('allocationTransferAgency')"
                    [formControlName]="'allocationTransferAgency'"
          ></sam-text>

          <sam-text label="FY 1"
                    name="fy1-code"
                    [maxlength]="4"
                    [required]="false"
                    [control]="item.get('fy1')"
                    [formControlName]="'fy1'"
          ></sam-text>

          <sam-text label="FY 2"
                    name="fy2-code"
                    [maxlength]="4"
                    [required]="false"
                    [control]="item.get('fy2')"
                    [formControlName]="'fy2'"
          ></sam-text>
        </form>
      </ng-template>
    </sam-listbuilder>
  </div>

</div>
