<div id="stickyLabel" class="sticky-label" *ngIf="!viewModel.isNew">Edit Financial Information - {{ viewModel.title }}</div>
<div *ngIf="otherFinancialInfoForm" [formGroup]="otherFinancialInfoForm">
  <samTextArea [label]="'Range and Average of Financial Assistance'"
               [name]="'assitance-range-input'"
               [hint]="'Provide a range that best represents the smallest and largest awards available. Provide an approximate average award size.'"
               [required]="false"
               [control]="otherFinancialInfoForm.get('assistanceRange')"
               [formControlName]="'assistanceRange'"
  ></samTextArea>

  <falFYTable [config]="accomplishmentsConfig"
              [formControlName]="'accomplishments'"
  ></falFYTable>

  <falAccountIdentificationInput [config]="accountIdentificationConfig"
                                 [formControlName]="'accountIdentification'"
  ></falAccountIdentificationInput>

  <falTAFSInput [config]="tafsConfig"
                [formControlName]="'tafs'"
  ></falTAFSInput>
</div>
