<div *ngIf="otherFinancialInfoGroup" [formGroup]="otherFinancialInfoGroup">
  <samTextArea [label] = "'Range and Average of Financial Assistance'"
               [name] = "'assitance-range-input'"
               [hint] = "'Provide a range that best represents the smallest and largest awards available. Provide an approximate average award size.'"
               [required] = "false"
               [control] = "otherFinancialInfoGroup.get('assistanceRange')"
               [formControlName] = "'assistanceRange'"
  ></samTextArea>

  <samCheckboxToggledTextarea [options] = "accomplishmentsConfig"
                              [formControlName] = "'accomplishments'"
  ></samCheckboxToggledTextarea>
  
  <samAccountIdentification [options] = "accountIdentificationConfig"
                            [formControlName] = "'accountIdentification'"
  ></samAccountIdentification>

  <div *ngIf="tafsGroup" [formGroup]="tafsGroup">
    <samText [label] = "'Treasury Dept. Code'"
             [name] = "'treasury-dept-code-input'"
             [required] = "true"
             [control] = "tafsGroup.get('treasuryDeptCode')"
             [formControlName] = "'treasuryDeptCode'"
    ></samText>
  </div>

  <div>
    <div class="pull-left">
      <samButton buttonText="Cancel" (onClick)="onCancelClick($event)"></samButton>
      <samButton buttonText="Previous" (onClick)="onPreviousClick($event)"></samButton>
      <samButton [buttonType]="(otherFinancialInfoGroup.valid ? 'default' : 'disabled')" buttonText="Save and Exit" (onClick)="onSaveExitClick($event)"></samButton>
      <samButton [buttonType]="(otherFinancialInfoGroup.valid ? 'default' : 'disabled')" buttonText="Save and Continue" (onClick)="onSaveContinueClick($event)"></samButton>
    </div>
  </div>
</div>
