<div>
  <sam-select 
    label="Sort By " 
    [ngModel]="selection" 
    [disabled]="disabled" 
    (ngModelChange)="selectionHandler($event)" 
    name="sort-select" 
    [options]="options">
  </sam-select>
  
  <a class="sam-ui primary small button" (click)="toggleSort()">
      <i 
        *ngIf="sort=='asc'" 
        class="fa fa-sort-amount-asc" 
        aria-hidden="true">
      </i>
      <i 
        *ngIf="sort=='desc'"
        class="fa fa-sort-amount-desc" 
        aria-hidden="true">
      </i>
  </a>
</div>