<div class="usa-grid-full usa-authentication">
  <aside class="usa-width-one-fourth">
    <h1 [innerText]="store.title"></h1>
    <ul class="usa-sidenav-list">
      <li *ngFor="let nav of store.nav; let $index = index;">
        <a *ngIf="nav.routerLink.length" [routerLink]="nav.routerLink" [routerLinkActive]="[nav.routerLinkActive]" [innerText]="nav.text" preserveQueryParams></a>
        <a *ngIf="!nav.routerLink.length" [routerLinkActive]="nav.routerLinkActive" [innerText]="nav.text"></a>
      </li>
    </ul>
    <a [routerLink]="['/profile', 'access']" class="usa-button usa-button-primary">View My Access</a>
  </aside>
  <section class="usa-width-three-fourths usa-profile" [ngClass]="[activeRouteClass]">
     <router-outlet></router-outlet>
  </section>
</div>
