<page class="usa-grid-full usa-workspace-system-directory" [section]="store.section" [title]="store.title">
  <div class="breadcrumb-download">
    <a>Download <span class="fa fa-download"></span><span class="fa fa-ellipsis-h"></span></a>
  </div>

  <sam-alert class="alert-primary" [type]="alert.type" [title]="alert.title" [showClose]="true" *ngIf="alert.message" message>
    <div [innerHTML]="alert.message"></div>
  </sam-alert>

  <sidebar>
      <sam-text label="Keyword" name="search-keyword" [(ngModel)]="search.keyword" (ngModelChange)="fetch()"></sam-text>
      <sam-text label="Administrator / Manager" name="search-user" [(ngModel)]="search.user" (ngModelChange)="fetch()"></sam-text>

      <sam-checkbox label="Domains" name="filter-domains" [options]="options.domains" [(ngModel)]="filter.domains" (ngModelChange)="fetch()"></sam-checkbox>
      <sam-checkbox label="Status" name="filter-status" [options]="options.statuses" [(ngModel)]="filter.statuses" (ngModelChange)="fetch()"></sam-checkbox>
  </sidebar>
  <div>
    <results [totalElements]="store.records.length"
             [currentPage]="states.page.current"
             [totalPages]="states.page.total"
             [showing]="states.page.count"
             (pageChange)="onPage($event)">
      <sam-sort [options]="options.sort" [(ngModel)]="sort" (ngModelChange)="fetch()"></sam-sort>

      <system-listing [account]="account"
                      (onDelete)="axe($event)"
                      (onAlert)="ping($event)"
                      *ngFor="let account of store.records; let $index = index;"></system-listing>

      <span result-actions>
        <sam-button buttonType="primary" buttonText="New Account" (onClick)="router.navigate(['/workspace/system/new'])" *ngIf="api.iam.user.isSystemAccount()"></sam-button>
      </span>
    </results>

    <div class="text-center no-records" *ngIf="!store.records.length && !states.loading">
      <div class="text-right">
        <sam-button buttonType="primary" buttonText="New Account" (onClick)="router.navigate(['/workspace/system/new'])"></sam-button>
      </div>
      <sam-alert type="info" title="You currently do not have any system accounts or applications"></sam-alert>
    </div>
  </div>
</page>
