<div [formGroup]="form">
  <sam-agency-picker-v2 [label]="label('organization')"
                        [hint]="hint('organization')"
                        [orgRoots]="selected"
                        [defaultDept]="true"
                        [required]="true"
                        [formControl]="organization"
                        name="organization"
                        type="single"></sam-agency-picker-v2>

  <sam-autocomplete-multiselect [label]="label('systemAdmins')"
                                [hint]="hint('systemAdmins')"
                                [keyValueConfig]="configs.systemAdmins"
                                formControlName="systemAdmins"
                                peoplepicker-autofill></sam-autocomplete-multiselect>

  <sam-autocomplete-multiselect [label]="label('systemManagers')"
                                [hint]="hint('systemManagers')"
                                [keyValueConfig]="configs.systemManagers"
                                formControlName="systemManagers"
                                peoplepicker-autofill></sam-autocomplete-multiselect>
</div>
