<div [formGroup]="form">
  <sam-fieldset-wrapper [label]="label('permissions')" [hint]="hint('permissions')">
    <sam-checkbox *ngFor="let item of keys | keys"
                  [name]="item.key"
                  [label]="titleize(item.key)"
                  [options]="options[item.key]"
                  [formControlName]="item.value"></sam-checkbox>
  </sam-fieldset-wrapper>

  <sam-autocomplete [labelText]="label('FIPS199Categorization')"
                    [options]="options.FIPS199Categorization"
                    formControlName="FIPS199Categorization"></sam-autocomplete>
</div>
