<sam-text name="system-name"
          [label]="label('systemName')"
          [hint]="hint('systemName')"
          [errorMessage]="errors('systemName')"
          [control]="form.get('systemName')"></sam-text>

<sam-text name="system-version"
          [label]="label('systemVersion')"
          [hint]="hint('systemVersion')"
          [errorMessage]="errors('systemVersion')"
          [control]="form.get('systemVersion')"></sam-text>

<sam-text-area name="system-description"
               [label]="label('systemDescription')"
               [hint]="hint('systemDescription')"
               [errorMessage]="errors('systemDescription')"
               [control]="form.get('systemDescription')"
               maxlength="1000"></sam-text-area>
