<div [formGroup]="form">
  <sam-text [label]="label('systemAccountName')"
            [hint]="hint('systemAccountName')"
            [errorMessage]="errors('systemAccountName')"
            name="system-account-name"
            formControlName="systemAccountName"></sam-text>
  <sam-text [label]="label('interfacingSystemVersion')"
            [hint]="hint('interfacingSystemVersion')"
            [errorMessage]="errors('interfacingSystemVersion')"
            name="interfacing-system-version"
            formControlName="interfacingSystemVersion"></sam-text>
  <sam-text-area [label]="label('systemDescriptionAndFunction')"
                 [hint]="hint('systemDescriptionAndFunction')"
                 [errorMessage]="errors('systemDescriptionAndFunction')"
                 name="system-description-and-function"
                 formControlName="systemDescriptionAndFunction"
                 maxlength="1000"></sam-text-area>
</div>
