<div grid class="equal width relaxed">
  <div class="column" *ngIf=" pendingApprovalCount!=null ||
                              pendingRequestCount!=null ||
                              rejectedCount!=null ||
                              draftReviewCount!=null ">
    <div class="sam-ui divided selection list">
      <ng-container *ngIf="pendingApprovalCount!=null">
        <a class="item" *ngIf="pendingApprovalCount !== 0"
          [routerLink]="['/fal/workspace']"
          [queryParams]="{status: 'pending'}">
          <div class="sam-ui blue horizontal mini label">{{ pendingApprovalCount }}</div>
          Pending OMB Review Requests
        </a>
        <a class="item disabled" *ngIf="pendingApprovalCount === 0">
          <div class="sam-ui horizontal mini label">0</div>
          Pending OMB Review Requests
        </a>
      </ng-container>

      <ng-container *ngIf="pendingRequestCount!=null && userPermissions && userPermissions._links && userPermissions._links['program:request:access']">
        <a class="item" *ngIf="pendingRequestCount !== 0"
          [routerLink]="['/fal/workspace']"
          [queryParams]="{status: '', requestType: 'archive_request,unarchive_request,title_request,agency_request,program_number_request'}">
          <div class="sam-ui blue horizontal mini label">{{ pendingRequestCount }}</div>
          Pending Change Requests
        </a>
        <a class="item disabled" *ngIf="pendingRequestCount === 0">
          <div class="sam-ui horizontal mini label">0</div>
          Pending Change Requests
        </a>
      </ng-container>

      <ng-container *ngIf="rejectedCount!=null">
        <a class="item" *ngIf="rejectedCount !== 0"
          [routerLink]="['/fal/workspace']"
          [queryParams]="{status: 'rejected'}">
          <div class="sam-ui blue horizontal mini label">{{ rejectedCount }}</div>
          Rejected Assistance Listings
        </a>
        <a class="item disabled" *ngIf="rejectedCount == 0">
          <div class="sam-ui horizontal mini label">0</div>
          Rejected Assistance Listings
        </a>
      </ng-container>

      <ng-container *ngIf="draftReviewCount!=null">
        <a class="item" *ngIf="draftReviewCount !== 0"
          [routerLink]="['/fal/workspace']"
          [queryParams]="{status: 'draft_review'}">
          <div class="sam-ui blue horizontal mini label">{{ draftReviewCount }}</div>
          Under Draft Review
        </a>
        <a class="item disabled" *ngIf="draftReviewCount == 0">
          <div class="sam-ui horizontal mini label">0</div>
          Under Draft Review
        </a>
      </ng-container>
    </div>
  </div>
  <div class="column">
    <div class="sam-ui divided selection relaxed list">
      <a *ngIf="userPermissions && userPermissions._links && userPermissions._links['program:create']"
        class="item"
        [routerLink]="['/fal/add']">
        <em class="icon fa fa-chevron-right" aria-hidden="true"></em>
        Add a New Listing
      </a>
      <a *ngIf="userPermissions && userPermissions._links && userPermissions._links['program:regional:offices:create']"
        class="item"
        [routerLink]="['/fal/myRegionalAssistanceLocations']">
        <em class="icon fa fa-chevron-right" aria-hidden="true"></em>
        Regional Assistance Locations
      </a>
      <a *ngIf="permissions.ORG_LEVELS?.level && permissions.ORG_LEVELS?.level === 'all'"
        class="item"
        [routerLink]="['/fal/workspace/cfda-numbers']">
        <em class="icon fa fa-chevron-right" aria-hidden="true"></em>
        CFDA Number Assignment
      </a>
    </div>
  </div>
</div>
