.background-white {
  background-color: white;
}

.border-bottom-black {
  border-bottom: 1px solid black;
}

.text-lighter {
  color: $color-gray-lighter;
}

.access-page {
  .fa.fa-user {
    border: 2px solid black;
    width: 1em;
    border-radius: .1em;
  }

  .cursor-pointer:hover {
    cursor: pointer;
  }

  sam-agency-picker label {
    display: none;
  }

  .org-accordion .usa-accordion-content {
    padding: 0;
    overflow: visible;
  }

  .results-text {
    line-height: 4.4rem;
  }

  .sort-container select {
    margin: 0;
  }

  .grant-access-button {
    margin: 0;
  }

  .no-wrap {
     white-space: nowrap;
   }

  .usa-alert-warning {
    display: block;
  }

  // override button margins
  button.usa-button-transparent {
    margin: 0;
  }

  .modal-subtitle {
    margin-top: .8em;
  }

  .role-block:not(:last-child) {
    margin-bottom: 1em;
  }

  .show-permissions-button {
    margin-top: -8px !important;
    padding-left: 0;
    padding-right: 0;
  }

  .sam-fieldset-wrapper {
    min-width: 250px;
  }

  .usa-width-eleven-twelfths {
    @include span-columns(11);
  }

  .dropdown-list {
    overflow-y: auto;
    max-height:400px;

    input {
      height: initial;
    }
  }

  .modify-role-buttons {
    margin-right: -5px;
    margin-top: -10px;

    button {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .access-cell {
    color: black;
    padding: 10px 0;
  }

  .background-grey {
    background-color: $color-gray-lightest;
  }

  .functions-row {
    padding-left: .5em;
    padding-right: .5em;
  }

  .functions-row:not(:last-child) {
    margin-bottom: 1em;
  }

  .object-col {
    word-break: break-all;
  }

  .first-function {
    margin-top: 1em;
  }

  .functions-col {
    position: relative;
  }

  .pip-left {
    position: absolute;
    width: 0;
    height: 0;
    left: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid $color-gray-lightest;
  }

  .usa-accordion-button {
    padding: 1em;
  }

  .usa-accordion-content {
    padding: 1em;
    overflow: hidden;
  }

  .row-action-button {
    padding-left: 12px;
    padding-right: 12px;
  }

  .underline {
    text-decoration: underline;
  }

  .organizations-row {
    margin-top: 1em;
  }

  .requests-container {
    .usa-button-transparent {
      padding: .2em;
    }

    .request-message {
      margin-left: -8px;
    }

    .request-block {
      border: none;
    }

    .request-block:not(:last-child) {
      border-bottom: 1px solid black !important;
    }
  }

  .no-underline {
    text-decoration: none;
  }
}
