<div grid [formGroup]="form">
  <div row>
    <div columns="10">
      <div [ngSwitch]="section" *ngIf="form">
        <system-information *ngSwitchCase="'system-information'" [group]="form.get('system-information')"></system-information>
        <organization *ngSwitchCase="'organization'" [group]="form.get('organization')"></organization>
        <permissions *ngSwitchCase="'permissions'" [group]="form.get('permissions')"></permissions>
        <security  *ngSwitchCase="'security'" [group]="form.get('security')"></security>
        <authorization  *ngSwitchCase="'authorization'" [group]="form.get('authorization')"></authorization>
      </div>
    </div>
  </div>
</div>
