<form [formGroup]="addressForm">
  <h3 class="m_T-3x" *ngIf="!isOrgTypeSelected()">
    <samSelect class="org-type-select usa-width-one-half" [(model)]="orgAddrModel.addrType" [name]="orgAddrSelectConfig.name" [options]="orgAddrSelectConfig.options" [label]="orgAddrSelectConfig.label" [disabled]="orgAddrSelectConfig.disabled" (modelChange)='onAddrTypeSelect($event)'></samSelect>
    <i class="p_T-3x p_L-3x fa fa-times-circle org-address-icons" (click)="onCancelAddressFormClick()"></i>
  </h3>
  <h3 class="m_T-3x" *ngIf="isOrgTypeSelected()">
    <span>{{orgAddrModel.addrType}}</span>
    <i class="p_L-3x fa fa-plus-circle org-address-icons" *ngIf="showAddIcon" (click)="onAdditionalAddressFormClick()"></i>
    <i class="p_L-3x fa fa-times-circle org-address-icons" *ngIf="!isBasicAddressType()" (click)="onCancelAddressFormClick()"></i>
  </h3>

  <div class="usa-width-one-whole">
    <labelWrapper class="p_T-3x org-create-label" [label]="'Country'" [name]="'Country'" [required]="true">
      <sam-autocomplete country [ngModelOptions]="{standalone: true}" [(ngModel)]="countryOutput" [id]="'create-org-form-country-auto'" [labelText]="''" [config]="locationConfig"></sam-autocomplete>
    </labelWrapper>
  </div>

  <samText #MailAddrStreetAddr1 [control]="addressForm.get('streetAddr1')" formControlName="streetAddr1" [required]='true' [name]="'street-1-input'" [label]="'Street address 1'"></samText>
  <samText #MailAddrStreetAddr2 [control]="addressForm.get('streetAddr2')" formControlName="streetAddr2" [name]="'street-2-input'" [label]="'Street address 2'"></samText>
  <div class="usa-width-one-whole">
    <samText class="usa-width-one-half m_R-0 p_R-2x" #MailAddrCity [control]="addressForm.get('city')" formControlName="city" [name]="'city-input'" [label]="'City'" [required]="true"></samText>

    <!--<div class="usa-width-one-half m_R-0 p_R-2x">-->
    <!--<labelWrapper class="p_T-1x org-create-label" [label]="'City'" [name]="'City'" [required]="true">-->
    <!--<sam-autocomplete county [ngModelOptions]="{standalone: true}" [(ngModel)]="cityOutput" [id]="'create-org-form-city-auto'" [labelText]="''" [config]="locationConfig"></sam-autocomplete>-->
    <!--</labelWrapper>-->
    <!--</div>-->
    <samText class="usa-width-one-half p_L-2x m_R-0" #MailAddrPostalCode [control]="addressForm.get('postalCode')" formControlName="postalCode" [name]="'zip-input'" [label]="'Postal Code'" [required]='true'></samText>
    <!--<samText class="usa-width-one-half m_R-0" #MailAddrPostalSate [name]="'state-input'" [label]="'State/Province/Region'"></samText>-->
  </div>

  <div class="usa-width-one-whole">

    <div class="usa-width-one-half m_R-0 p_R-2x">
      <labelWrapper class="p_T-1x org-create-label" [label]="'State'" [name]="'State'" [required]="true">
        <sam-autocomplete state [countryModel]="countryOutput" [ngModelOptions]="{standalone: true}" [(ngModel)]="stateOutput" [id]="'create-org-form-state-auto'" [labelText]="''" [config]="locationConfig"></sam-autocomplete>
      </labelWrapper>
    </div>
  </div>
</form>
