<!-- includes HTML for app component-->
<alertHeader></alertHeader>
<samBanner #banner *ngIf="!isHeaderWithSearch"></samBanner>
<div [style.padding-top]="isHeaderWithSearch ? '' : '24px'">
  <samSearchHeader *ngIf="isHeaderWithSearch" (searchHeaderDropdownControl)="toggleOverlay($event)" (searchEvent)="onHeaderSearchEvent($event)" [keyword]="keyword" [filterValue]="index"></samSearchHeader>
  <samHeader *ngIf="!isHeaderWithSearch" (headerDropdownControl)="toggleOverlay($event)"></samHeader>
</div>

<main class="occupy-page relative">
  <router-outlet></router-outlet>
  <div  [ngClass]="{'overlay':showOverlay}">
    </div>
</main>
<samFooter labelname = "footer" ></samFooter>
