@import 'paths';

// Vendor main
@import '~font-awesome/scss/font-awesome';

@import '~uswds/src/stylesheets/lib/bourbon';

// Internal variable should be declared before uswds variable to take higher precendence
@import 'variables';
@import 'utilities';
@import 'margin-padding';
@import 'global';
@import 'typography';

@import '~uswds/src/stylesheets/uswds';

@import 'styles/components/footer';

html, body{
  height: 100%;
}

/* Let content occupy most of the page and show footer when scroll down*/
.occupy-page{
  min-height: 90vh;
}

.overlay{
  background-color:rgba(0,0,0,0.5);
  z-index: 100;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
