// Vendor main
@import '~font-awesome/css/font-awesome';

// Internal variable should be declared before uswds variable to take higher precendence
@import 'styles/variables';
@import 'styles/utilities';
@import 'styles/margin-padding';
@import 'styles/global';
@import 'styles/typography';

@import '~uswds/src/stylesheets/all';

html, body{
  height: 100%;
}

/* Let content occupy most of the page and show footer when scroll down*/
.occupy-page{
  min-height: 90vh;
}

.overlay{
  background-color:rgba(0,0,0,0.5);
  z-index: 100;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.content-block span {
  display: block;
  margin: 3px 0px 3px 0px;
}

.usa-color-info {
  background-color: $color-primary-alt-lightest;
}

.usa-color-warning {
  background-color: $color-gold-lightest;
}

.usa-color-error {
  background-color: $color-secondary-lightest;
}
