<div class="usa-grid">
  <main id="workspace-target">
    <aside class="side-filters" [ngClass]="setAsideWidth()">
      <sam-filters-container reset-label-margin=".5rem">
        <ng-content select="[workspace-sidebar]"></ng-content>
      </sam-filters-container>
    </aside>
    <div [ngClass]="setMainWidth()">
      <header class="usa-width-one-whole" tabindex="-1" *ngIf="loadFlag">
        <h1>{{titleText}}</h1>
      </header>
      <div class="usa-grid-full">
        <div class="usa-width-one" *ngIf="loadFlag">
          <button *ngIf="false" type="button" class="usa-button-link" (click)="toggleFilters($event)"><i [ngClass]="toggleFilterLabel()"></i>&nbsp;Filters</button>
          <p class="showing-results-meta usa-color-text usa-color-text-gray text-right">
            <list-results-message [showing]="10" [currentPage]="currentPage" [total]="totalElements" [suffix]="listMessageSuffix"></list-results-message>
          </p>
        </div>
        <div class="usa-width-one-fourth" *ngIf="false">
          <sam-select [(model)]="sortModel"
                    [name]="sortConfig.name"
                    [options]="sortConfig.options"
                    [label]="sortConfig.label"
                    reset-label-margin>
          </sam-select>
        </div>
      </div>
      <ng-content select="[workspace-content]" class="worspace-content"></ng-content>
      <div *ngIf="loadFlag" class="usa-grid-full">
        <sam-pagination (pageChange)="pageChangeHandler($event)" [currentPage]="currentPage" [totalPages]="totalPages"></sam-pagination>
        <div class="usa-grid-full" *ngIf="addBtnText">
          <div class="usa-width-one-whole">
            <sam-button buttonId="test" [buttonText]="addBtnText" (click)="addBtnClickHandler($event)"></sam-button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
