<div class = "rolemgmt-content usa-grid-full ">
  <div>
    <div class="overview-header">
      <div class="usa-grid-full">
        <div class="usa-width-five-twelfths">
          <h3>Select an Organization</h3>
          <agencyPicker [multimode]="false"></agencyPicker>
        </div>
        <div class="usa-width-one-fourth">
          <h3>Requests</h3>
          <div>
            <span class="badge-primary">{{escalatedCount}}</span>
            <a>Escalated Requests</a>
          </div>
          <div class="m_T-2x">
            <span class="badge-primary">{{pendingCount}}</span>
            <a>Pending Requests</a>
          </div>
        </div>
        <div class="usa-width-one-third">
          <h3>Favority Organizations</h3>
          <div>
            <a>GSA</a>
          </div>
          <div>
            <a>Office of Management and Budget</a>
          </div>
          <div>
            <ul class="usa-unstyled-list">
              <a>Office of Family Assistance</a>
              <li>
                <ul class="usa-unstyled-list">
                  <li><a>Some Org Under OFA</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div>
        <button class="usa-button-transparent back-to-workspace-button p_L-0" [routerLink]="'/'">
          <i class="fa fa-arrow-circle-left icn_pos" aria-hidden="true"></i>
          <span class = "inline-block">Back to Workspace Home</span>
        </button>
      </div>
    </div>
  </div>
  <div class = "usa-grid-full">
    <div class="p_T-3em">
      <div>
        <h2>Access Management
          <div class="pull-right">
            <strong class="sort-label">Sort</strong>
            <samSelect
              class="sort-options"
              [(model)]="selectModel"
              [name]="'created-date-sort'"
              [options]="selectConfig.options"
              (modelChange)="onSelectChanged($event)">
            </samSelect>
          </div>
        </h2>
        <h3 class="showing-count">Showing {{(currPage - 1)*10 + currCount}} of {{count}} results</h3>

      </div>
    </div>
  </div>
  <div *ngIf = "currCount < 1" >
    <em>No records were found</em>
  </div>
  <div *ngIf = "currCount > 0">
    <div  *ngFor = "let content of requestDetails" >
      <section class = "sec-bor">
        <div><span class="usa-label-big">{{content.domain}}</span></div>
        <div class="request-block">
          <div class="request-top-block">
            <div class="usa-grid-full clearfix">
              <div class="pull-right">
                <button *ngIf = "shouldShowRespondButton(content)" routerLink = "../requests/{{content.id}}" class="respond-button usa-button usa-button-primary m_T-0">Respond</button>
              </div>
              <div class="usa-width-one-third">
                <div><strong>Requested By</strong></div>
                <div>{{content.requestorName.toUpperCase()}}</div>
              </div>
              <div class="usa-width-one-third">
                <div><strong>Requested Date</strong></div>
                <div>{{formatDate(content.createdDate)}}</div>
              </div>
              <div class="usa-width-one-sixth">
                <div>
                  <strong>Status</strong>
                  <div class="pull-right"><i class="fa fa-2x" [ngClass]="classForRequest(content)"></i></div>
                </div>
                <div>{{content.status}}</div>
              </div>
            </div>

            <div class="usa-grid-full m_T-2x">
              <!-- Pending -->
              <ng-container *ngIf="content.status.toLowerCase() === 'pending'">
                <div class="usa-width-one-third">
                  <div><strong>Supervisor Name</strong></div>
                  <div>{{content.supervisorName.toUpperCase()}}</div>
                </div>
                <div class="usa-width-one-third">
                  <div><strong>Supervisor Email</strong></div>
                  <div>{{content.supervisorEmail}}</div>
                </div>
              </ng-container>

              <!-- Escalated -->
              <ng-container *ngIf="content.status.toLowerCase() === 'escalated'">
                <div class="usa-width-one-third">
                  <div><strong>Escalated By</strong></div>
                  <div>{{content.escalatedTo}}</div>
                </div>
                <div class="usa-width-one-third">
                  <div><strong>Escalation Date</strong></div>
                  <div>{{formatDate(content.updatedDate)}}</div>
                </div>
              </ng-container>

              <!-- Rejected -->
              <ng-container *ngIf="content.status.toLowerCase() === 'rejected'">
                <div class="usa-width-one-third">
                  <div><strong>Reject By</strong></div>
                  <div>---</div>
                </div>
                <div class="usa-width-one-third">
                  <div><strong>Rejection Date</strong></div>
                  <div>{{formatDate(content.updatedDate)}}</div>
                </div>
                <div class="usa-width-one-third">
                  <div><strong>Rejection Organization</strong></div>
                  <div>---</div>
                </div>
              </ng-container>

              <!-- Approved -->
              <ng-container *ngIf="content.status.toLowerCase() === 'approved'">
                <div class="usa-width-one-third">
                  <div><strong>Approved By</strong></div>
                  <div>---</div>
                </div>
                <div class="usa-width-one-third">
                  <div><strong>Approved Date</strong></div>
                  <div>{{formatDate(content.updatedDate)}}</div>
                </div>
                <div class="usa-width-one-third">
                  <div><strong>Approval Organization</strong></div>
                  <div>---</div>
                </div>
              </ng-container>
            </div>
          </div>

          <samAccordion>
            <samAccordionSection [name]="'comments'" [headerText]="'Comments'"></samAccordionSection>
          </samAccordion>
          <samAccordion *ngIf='content.status.toLowerCase() === "approved"' class="details-accordion">
            <samAccordionSection [name]="'details'" [headerText]="'Details'">
              <div class="usa-grid-full">
                <div class="usa-width-one-third">
                  <div><strong>Role Granted</strong></div>
                  <div>Agency User - OFA</div>
                </div>
                <div class="usa-width-two-thirds">
                  <div><strong>Organizations</strong></div>
                  <div>Office of Family Assistance, Office of Supplies Management, Office of Innovation, Office of Social Services, Health and Human services</div>
                </div>
              </div>
            </samAccordionSection>
          </samAccordion>
        </div>
        <!--<div class = "usa-grid-full p_T-1em">-->
          <!--<div class = "usa-width-one-sixth"><h4>Requested By</h4></div>-->
          <!--<div class = "usa-width-one-sixth"><h4>Requested Date</h4></div>-->
          <!--<div class = "usa-width-one-sixth"><h4>Status</h4></div>-->
          <!--<div class = "usa-width-one-sixth">-->
            <!--<h4 *ngIf = "content.status === 'ESCALATED'">Escalated By</h4>-->
            <!--<h4 *ngIf = "content.status === 'PENDING'">Supervisor Name</h4>-->
            <!--<h4 *ngIf = "content.status === 'REJECTED'">Rejected By</h4>-->
            <!--<h4 *ngIf = "content.status === 'APPROVED'">Approved By</h4>-->
          <!--</div>-->
          <!--<div class = "usa-width-one-sixth">-->
            <!--<h4 *ngIf = "content.status === 'ESCALATED'">Escalted Date</h4>-->
            <!--<h4 *ngIf = "content.status === 'REJECTED'">Rejected Date</h4>-->
            <!--<h4 *ngIf = "content.status === 'APPROVED'">Approved Date</h4>-->
            <!--<h4 *ngIf = "content.status === 'PENDING'">Supervisor Email</h4>-->
          <!--</div>-->
          <!--<div class = "usa-width-one-sixth"><h4 *ngIf = "content.status === 'ESCALATED'">Escalted To</h4></div>-->
        <!--</div>-->
        <!--<div class = "usa-grid-full p_T-.5em">-->
          <!--<div class = "usa-width-one-sixth ellipsis">{{content.requestorName.toUpperCase()}}</div>-->
          <!--<div class = "usa-width-one-sixth">{{formatDate(content.createdDate)}}</div>-->
          <!--<div class = "usa-width-one-sixth">{{content.status}}</div>-->
          <!--<div class = "usa-width-one-sixth ellipsis">{{content.supervisorName.toUpperCase()}}</div>-->
          <!--<div class = "usa-width-one-sixth" *ngIf = "content.status !== 'PENDING'">{{formatDate(content.createdDate)}}</div>-->
          <!--<div class = "usa-width-one-sixth" *ngIf = "content.status === 'PENDING'">{{content.supervisorEmail}}</div>-->
          <!--<div class = "usa-width-one-sixth" *ngIf = "content.status === 'ESCALATED'">{{content.escalatedTo}}</div>-->
        <!--</div>-->
        <!--<div class = "usa-grid-full p_T-1em">-->
          <!--<div [ngClass] = "content.status === 'PENDING' || !content.adminMessage ? 'usa-width-three-fourths' : 'usa-width-one-third'">-->
            <!--<h4>User Message</h4>-->
          <!--</div>-->
          <!--<div class = "usa-width-one-third" *ngIf = "content.status !== 'PENDING' && content.adminMessage"><h4>Administrator Message</h4></div>-->
        <!--</div>-->
        <!--<div class = "usa-grid-full p_T-.5em">-->
          <!--<div [ngClass] = "content.status === 'PENDING' || !content.adminMessage ? 'usa-width-three-fourths' : 'usa-width-one-third'">-->
            <!--{{content.requestorMessage}}-->
          <!--</div>-->
          <!--<div class = "usa-width-one-third" *ngIf = "content.status !== 'PENDING' && content.adminMessage">{{content.adminMessage}}</div>-->
          <!--<div [ngClass] = "content.status === 'PENDING' || !content.adminMessage ? 'usa-width-one-fourth' : 'usa-width-one-third'" *ngIf = "content.status === 'PENDING'||content.status === 'ESCALATED'">-->
            <!--<button class="usa-button-active pull-right" routerLink = "../requests/{{content.id}}">Respond</button>-->
          <!--</div>-->
        <!--</div>-->
      </section>
    </div>
  </div>
  <div class = "pag-com">
    <div *ngIf ="totalPages > 1">
      <samPagination [currentPage]="currPage" [totalPages]="totalPages" (pageChange)="onPageChange($event)"></samPagination>
    </div>
  </div>
</div>
