
<!-- No results -->
<p *ngIf="currCount<1" >
  No records found for selected criteria
</p>

<!-- Page results -->
<results *ngIf="currCount > 0"
  [totalElements]="count"
  [totalPages]="totalPages"
  [currentPage]="currPage"
  (pageChange)="onPageChange($event)">

  <sam-sort [(ngModel)]="selectModel"
            [options]="selectConfig.options"
            (ngModelChange)="onSelectChanged($event)">
  </sam-sort>

  <div class="sam-ui segment" *ngFor="let content of requestDetails">

    <div *ngIf="shouldShowRespondButton(content)"
      class="sam-ui small subtle menu">
      <a routerLink = "/access-requests/{{content.id}}/respond"
          class="active inverted blue item">
        Respond
        &nbsp;
        <i aria-hidden="true" class="fa fa-arrow-circle-right"></i>
      </a>
    </div>

    <div class="sam-ui grid">

      <div class="row">
        <div class="twelve wide column">
          <h3 class="sam-ui header">
            {{content.domain.val | capitalize}}
          </h3>
        </div>
      </div>

      <div class="row">
        <div class="four wide column">
          <div class="sam-ui medium header">
            Requested By
            <div class="sub header">{{content.requestorName.toUpperCase()}}</div>
          </div>
        </div>
        <div class="four wide column">
          <div class="sam-ui medium header">
            Requested Date
            <div class="sub header">{{formatDate(content.createdDate)}}</div>
          </div>
        </div>
        <div class="four wide column">
          <span class="sam-ui basic tiny blue label">
            {{content.status.val}}
          </span>
        </div>
      </div>

      <!-- Pending -->
      <div class="row" *ngIf="content.status.val.toLowerCase() === 'pending'">
        <div class="four wide column">
          <div class="sam-ui medium header">
            Supervisor Name
            <div class="sub header">{{content.supervisorName.toUpperCase()}}</div>
          </div>
        </div>
        <div class="four wide column">
          <div class="sam-ui medium header">
            Supervisor Email
            <div class="sub header">{{content.supervisorEmail}}</div>
          </div>
        </div>
      </div>

      <!-- Escalated -->
      <div class="row" *ngIf="content.status.val.toLowerCase() === 'escalated'">
        <div class="four wide column">
          <div class="sam-ui medium header">
            Escalated By
            <div class="sub header">{{content.escalatedTo}}</div>
          </div>
        </div>
        <div class="four wide column">
          <div class="sam-ui medium header">
            Escalation Date
            <div class="sub header">{{formatDate(content.updatedDate)}}</div>
          </div>
        </div>
        <div class="four wide column">
          <div class="sam-ui medium header">
            Escalated To
            <div class="sub header">&#8212;&#8212;</div>
          </div>
        </div>
      </div>

      <!-- Rejected -->
      <div class="row" *ngIf="content.status.val.toLowerCase() === 'rejected'">
        <div class="four wide column">
          <div class="sam-ui medium header">
            Rejected By
            <div class="sub header">&#8212;&#8212;</div>
          </div>
        </div>
        <div class="four wide column">
          <div class="sam-ui medium header">
            Rejection Date
            <div class="sub header">{{formatDate(content.updatedDate)}}</div>
          </div>
        </div>
        <div class="four wide column">
          <div class="sam-ui medium header">
            Rejection Organization
            <div class="sub header">&#8212;&#8212;</div>
          </div>
        </div>
      </div>

      <!-- Approved -->
      <div class="row" *ngIf="content.status.val.toLowerCase() === 'approved'">
        <div class="four wide column">
          <div class="sam-ui medium header">
            Approved By
            <div class="sub header">{{content.updatedBy}}</div>
          </div>
        </div>
        <div class="four wide column">
          <div class="sam-ui medium header">
            Approved Date
            <div class="sub header">{{formatDate(content.updatedDate)}}</div>
          </div>
        </div>
        <div class="four wide column">
          <div class="sam-ui medium header">
            Approval Organization
            <div class="sub header">&#8212;&#8212;</div>
          </div>
        </div>
      </div>

    </div>

    <!-- Comments -->
    <sam-solo-accordian
      *ngIf="content.requestorMessage || content.adminMessage"
      [titleText]="'Comments'">
      <ng-container *ngIf="content.requestorMessage">
        <div class="sam-ui medium header">
          Requestor said
          <div class="sub header">{{content.requestorMessage}}</div>
        </div>
      </ng-container>
      <div
        *ngIf="content.requestorMessage && content.adminMessage"
        class="sam-ui divider">
      </div>
      <ng-container *ngIf="content.adminMessage">
        <div class="sam-ui medium header">
          Admin said
          <div class="sub header">{{content.adminMessage}}</div>
        </div>
      </ng-container>
    </sam-solo-accordian>

    <!-- Details -->
    <sam-solo-accordian
      [titleText]="'Details'"
      *ngIf='content.status.val.toLowerCase() === "approved"'>
      <div class="sam-ui medium header">
        Role Granted
        <div class="sub header">{{getRolesGranted(content)}}</div>
      </div>
      <div class="sam-ui medium header">
        Organizations
        <div class="sub header">{{getOrganizations(content)}}</div>
      </div>
    </sam-solo-accordian>

  </div>

</results>
