.usa-profile-password {
  .usa-alert-static {
    top: 16px;
  }

  .usa-form-container {
    > labelwrapper:nth-child(1) {
      label {
        margin-top: 0px;
      }
    }
  }

  button[type="submit"] {
    margin-top: 0px;
  }
}
