.usa-profile-details-system {
  h3 {
    margin-top: 0.5em !important;
  }

  section {
    margin-top: 1.5em;
  }

  .usa-button-controls {
    max-width: 32rem;
    margin-top: 1.5em;

    button {
      width: 36%;
      &:nth-child(2) {
        float: right;
      }
    }
  }
}
