<form-only class="view-request-page" [theme]="'inside'">
  <sam-breadcrumbs [crumbs]="myCrumbs"></sam-breadcrumbs>
  <div style="margin-top: 1em;">
    <sam-title-subtitle [titleText]="'Workspace'" [subtitle]="'Role Request'"></sam-title-subtitle>
  </div>

  <div style="background-color: white; border: 1px solid lightgrey; border-radius: 3px; padding: .5em; margin-top: .5em;">
    <div class="clearfix">
      <div style="float: left">
        <div>
          <b>User:&nbsp;</b>{{request.user}}
        </div>
        <div style="margin-top: .5em;" *ngIf="isGov; else entityInfo">
          <b>Organization:&nbsp;</b>{{request.organization | capitalize}}
        </div>
        <ng-template #entityInfo>
          <div style="margin-top: .5em;">
            <div style="display:inline-block; vertical-align: top"><b>Entity:&nbsp;</b></div>
            <div style="display:inline-block; padding-top: .2px">
              {{request.organization | capitalize}}<br/>
              CAGE:&nbsp; {{entityDetail?.cageCode}} | DUNS:&nbsp; {{entityDetail?.duns}}<br/>
              {{entityDetail?.address}}<br/>
            </div>
          </div>
        </ng-template>
        <div style="margin-top: .5em;">
          <b>Role:&nbsp;</b>{{request.role}}
        </div>
        <div style="margin-top: .5em;">
          <b>Domain:&nbsp;</b>{{request.domains}}
        </div>
        <div style="margin-top: .5em;">
          <b>Supervisor:&nbsp;</b>{{request.supervisorName}}, {{request.supervisorEmail}}
        </div>
      </div>
      <div style="float: right">
        <div style="padding: .3em 0; width: 15em; background-color: #E2E2E2; text-align: center; border-radius: 3px;">
          <b>{{request.status}}</b>
        </div>
        <div *ngIf="request.updatedBy && !isCanceled(request)" style="width: 15em; text-align: center">
          <i>{{request.updatedBy}}</i>
        </div>
        <div style="width: 15em; text-align: center">
          <i>{{ getLatestDate() | shortDate}}</i>
        </div>
      </div>
    </div>
    <div class="clearfix">
      <div style="float: right">
        <button (click)="location.back()" class="usa-button usa-button-transparent m_0" type="button">Back</button>
        <sam-button *ngIf='canCancel()' buttonType="secondary" [buttonSize]="'small'" [buttonText]="'Delete'" (click)="onDeleteClick()"></sam-button>
        <sam-button *ngIf='canReject()' buttonType="secondary" [buttonSize]="'small'" [buttonText]="'Reject'" (click)="onRejectClick()"></sam-button>
        <sam-button *ngIf='canAssignRoles()' buttonType="primary" [buttonSize]="'small'" [buttonText]="'Assign Role'" [routerLink]="assignRolesUrl()" [queryParams]="assignRolesQueryParams()"></sam-button>
      </div>
    </div>
  </div>

  <h2 class="h4">Comments</h2>
  <rm-comments [comments]="comments" [postCB]="post" [newCommentsEnabled]="areNewCommentsEnabled()"></rm-comments>

  <h2 class="h4">Request History</h2>
  <sam-history *ngIf="historyNodes.length" [data]="historyNodes" [currentId]="latestNodeId"></sam-history>
  <div style="min-height: 2em;">&nbsp;</div>
</form-only>
<sam-modal #deleteModal title="Confirm deletion of role request" cancelButtonLabel="Cancel" submitButtonLabel="Confirm" (onSubmit)="onDeleteConfirm()" [closeOnOutsideClick]="false" type="error">
  <p>Are you sure you wish to delete your role request?</p>
</sam-modal>
