<form-only class="view-request-page" [theme]="'inside'">
  <sam-breadcrumbs [crumbs]="myCrumbs"></sam-breadcrumbs>
  <div style="margin-top: 1em;">
    <sam-title-subtitle [titleText]="'Role Request'" [subtitle]="'Workspace'"></sam-title-subtitle>
  </div>

  <div style="background-color: white; border: 1px solid lightgrey; border-radius: 3px; padding: .5em; margin-top: .5em;">
    <div class="clearfix">
      <div style="float: left">
        <div>
          <b>User:&nbsp;</b>{{request.user}}
        </div>
        <div style="margin-top: .5em;">
          <b>Organization:&nbsp;</b>{{request.organization | capitalize}}
        </div>
        <div style="margin-top: .5em;">
          <b>Role:&nbsp;</b>{{request.role}}
        </div>
        <div style="margin-top: .5em;">
          <b>Domain:&nbsp;</b>{{request.domains}}
        </div>
        <div style="margin-top: .5em;">
          <b>Supervisor:&nbsp;</b>{{request.supervisorName}}, {{request.supervisorEmail}}
        </div>
      </div>
      <div style="float: right">
        <div style="padding: .3em 0; width: 10em; background-color: #E2E2E2; text-align: center; border-radius: 3px;">
          <b>{{request.status}}</b>
        </div>
        <div style="width: 10em; text-align: center">
          <i>{{(request.updatedDate || request.createdDate) | shortDate}}</i>
        </div>
      </div>
    </div>
    <div class="clearfix">
      <div style="float: right">
        <button (click)="location.back()" class="usa-button usa-button-transparent m_0" type="button">Back</button>
        <sam-button *ngIf='canCancel()' buttonType="secondary" [buttonSize]="'small'" [buttonText]="'Cancel Request'" (click)="onCancelClick()"></sam-button>
        <sam-button *ngIf='canReject()' buttonType="secondary" [buttonSize]="'small'" [buttonText]="'Reject'" (click)="onRejectClick()"></sam-button>
        <sam-button *ngIf='canAssignRoles()' buttonType="primary" [buttonSize]="'small'" [buttonText]="'Assign Role'" [routerLink]="assignRolesUrl()" [queryParams]="assignRolesQueryParams()"></sam-button>
      </div>
    </div>
  </div>

  <h4>Comments</h4>
  <ng-container *ngIf="request.comments && request.comments.length">
    <div *ngFor="let comment of request.comments">
      <b>{{comment.userName}}</b>&nbsp;{{comment.text}}
      <div>
        <span class="text-lighter">{{comment.date | dateFormat : 'LLL'}}</span>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!(request.comments && request.comments.length)">
    <div class="text-center p_All-4x">
      <em>No comments</em>
    </div>
  </ng-container>
  <sam-text-area [errorMessage]="errors.comment" [(ngModel)]="comment" name="comment"></sam-text-area>
  <div style="min-height: 2em;">&nbsp;</div>
</form-only>
