<div class="pull-right align-top relative header-links">
  <div class="align-top m_B-0x p_R-3x " >
    <button class="menu-link header-link" title="menu" [ngClass]="{'link-disabled':showDropdown}" (click)="onMenuClick()">
      <i class="fa fa-bars white-text"></i>
      <span class="usa-sr-only">menu option</span>
    </button>
  </div>
  <div class="arrow-up"  *ngIf="showDropdown"></div>
  <div class="dropdown usa-grid-full p_B-2x" *ngIf="showDropdown" samClickOutside (clickOutside)="onClickOutside()">
    <div class="usa-width-one-half m_R-0" *ngFor="let item of dropdownData;let i=index" >
      <div class="item-margin usa-width-one-half m_T-2x"  *ngIf="itemToggle(item)">
        <button class="usa-width-one-whole dropdown-button" (click)="dropdownItemClick(item)">
          <i class="fa big-icon" [ngClass]="item.linkClass"></i>
          <span class="marginCenter dropdown-button-title">{{item.linkTitle}}</span>
        </button>
      </div>
    </div>
  </div>

  <span *ngIf="!states.isSignedIn">
    <div class=" m_R-3x align-top m_B-0x">
      <a class="white-text header-link signin-link" routerLink="/signin">Sign In</a>
    </div>
    <div class="white-text align-top m_B-0x"><span class="header-item">|</span></div>
    <div class="m_L-3x m_R-3x align-top m_B-0x">
      <a class=" white-text header-link signup-link" routerLink="/signup">Sign Up</a>
    </div>
  </span>
  <span *ngIf="states.isSignedIn">
    <div class=" m_R-3x align-top m_B-0x">
      <a class="white-text header-link" routerLink="/profile">{{ user.cn }}</a>
    </div>
  </span>
</div>
