<div class="sam-ui hidden divider"></div>
<span class="usa-input-error-message" *ngIf="authInfo.length == 0 && toggleAtLeastOneEntryError "><sup>*</sup>You must add at least one authorization.</span>
<sam-button [buttonId]="'authorization-add-btn'" buttonType="secondary" buttonText="Add Authorization" (onClick)="addAuth()" [class.hide]="hideAddButton"></sam-button>

<div [formGroup]="falAuthSubForm" [class.hide]="!hideAddButton">
  <div formArrayName="authorizations">

    <ng-container *ngFor="let authGrp of falAuthSubForm.controls.authorizations.controls; let i=index">
      <div [formGroupName]="i" [class.hide]="authIndex !== i">
        <sam-checkbox
          [control]="authGrp.controls.authType"
          [label]="subFormLabel"
          [name]="'authType-' + i"
          hint="Please select all that apply"
          [options]="getCheckBoxConfig(i)"
          [required]="true"
          formControlName="authType">
        </sam-checkbox>

        <div formGroupName="act" [class.hide]="authGrp.value.authType.indexOf('act') == -1" >
          <h4 class="sam-ui header">Act</h4>
          <sam-text
            [control]="authGrp.controls.act.controls.title"
            [name]="'act-title-' + i"
            [label]="'Title'"
            formControlName="title">
          </sam-text>

          <sam-text
            [control]="authGrp.controls.act.controls.part"
            [name]="'act-part-' + i"
            [label]="'Part'"
            formControlName="part"
          ></sam-text>

          <sam-text
            [control]="authGrp.controls.act.controls.section"
            [name]="'act-section-' + i"
            [label]="'Section'"
            formControlName="section"
          ></sam-text>

          <sam-text-area
            [control]="authGrp.controls.act.controls.description"
            [name]="'act-description-' + i"
            [label]="'Description'"
            formControlName="description"
          ></sam-text-area>

        </div>

        <div formGroupName="executiveOrder" [class.hide]="authGrp.value.authType.indexOf('executiveOrder') == -1" >
          <h4>Executive Order</h4>
          <sam-text
            [control]="authGrp.controls.executiveOrder.controls.title"
            [name]="'eo-title-' + i"
            [label]="'Title'"
            formControlName="title"
          ></sam-text>

          <sam-text
            [control]="authGrp.controls.executiveOrder.controls.part"
            [name]="'eo-part-' + i"
            [label]="'Part'"
            formControlName="part"
          ></sam-text>

          <sam-text
            [control]="authGrp.controls.executiveOrder.controls.section"
            [name]="'eo-section-' + i"
            [label]="'Section'"
            formControlName="section"
          ></sam-text>

          <sam-text-area
            [control]="authGrp.controls.executiveOrder.controls.description"
            [name]="'eo-description-' + i"
            [label]="'Description'"
            formControlName="description"
          ></sam-text-area>

        </div>

        <div formGroupName="publicLaw" [class.hide]="authGrp.value.authType.indexOf('publicLaw') == -1" >
          <h4>Public Law</h4>
          <ng-container *ngIf="authGrp.value.authType.indexOf('publicLaw') >= 0">
          <sam-label-wrapper  [hint]="'Enter the 3 digit congress code and the public law number below'">
          <sam-text
            [control]="authGrp.controls.publicLaw.controls.congressCode"
            [name]="'pl-congressCode-' + i"
            [label]="'Congress'"
            formControlName="congressCode"
          ></sam-text>

          <sam-text
            [control]="authGrp.controls.publicLaw.controls.number"
            [name]="'pl-number-' + i"
            [label]="'Law Number'"
            formControlName="number"
          ></sam-text>
          </sam-label-wrapper>
          </ng-container>

        </div>

        <div formGroupName="statute" [class.hide]="authGrp.value.authType.indexOf('statute') == -1" >
          <h4>Statute</h4>
          <sam-text
            [control]="authGrp.controls.statute.controls.volume"
            [name]="'statute-volume-' + i"
            [label]="'Volume'"
            formControlName="volume"
          ></sam-text>

          <sam-text
            [control]="authGrp.controls.statute.controls.page"
            [name]="'statute-page-' + i"
            [label]="'Page'"
            formControlName="page"
          ></sam-text>

        </div>

        <div formGroupName="USC" [class.hide]="authGrp.value.authType.indexOf('USC') == -1" >
          <h4>USC</h4>
          <sam-label-wrapper [hint] ="'If specifying a range, separate the sections with a hyphen (i.e. 23424-34244)'">
          <sam-text
            [control]="authGrp.controls.USC.controls.title"
            [name]="'usc-title-' + i"
            [label]="'Title'"
            formControlName="title"
          ></sam-text>

          <sam-text
            [control]="authGrp.controls.USC.controls.section"
            [name]="'usc-section-' + i"
            [label]="'Section'"
            formControlName="section"
          ></sam-text>
          </sam-label-wrapper>
        </div>

        <div class="sam-ui hidden divider"></div>
        <sam-button [buttonId]="'authorization-cancel-btn-' + i" buttonType="tertiary" buttonText="Cancel" (onClick)="onSubFormCancelClick(i)"></sam-button>
        <sam-button [buttonId]="'authorization-confirm-btn-' + i" buttonType="secondary" [buttonText]="mode === 'Add' ? 'Add' : 'Update'" (onClick)="onConfirmClick(i)"></sam-button>
      </div>
    </ng-container>
  </div>
</div>
