<div class="card">
    <div>
        <sam-listbuilder-action
            (action)="actionHandler($event)"
            [disable]="showEditSubform || disable"
            [firstOfList]="firstOfList"
            [sortable]="sortable"
            [endOfList]="endOfList"></sam-listbuilder-action>
    </div>
    <hr/>
    <div *ngIf="!showEditSubform" class="display-view">
        <ng-content select="[display]"></ng-content>
    </div>
    <div *ngIf="showEditSubform" class="editor-view">
        <ng-content select="[edit]"></ng-content>
        <div class="button-row" *ngIf="!hideDefaultBtns">
            <sam-button
              buttonText="Cancel"
              buttonType="tertiary"
              (click)="cancelEdit()">
            </sam-button>
            <sam-button
              buttonText="Done"
              buttonType="secondary"
              (click)="actionHandler('editSubmit')">
            </sam-button>
        </div>
    </div>
</div>
