<sam-modal [showClose]="true" #modal 
    [title]="deleteModalConfig.title" 
    [type]="deleteModalConfig.type" 
    [description]="deleteModalConfig.description" 
    [submitButtonLabel]="'Yes'" [cancelButtonLabel]="'No'" (onSubmit)="onModalClose()">
</sam-modal>
<sam-label-wrapper #wrapper [label]="label" [hint]="hint" [required]="required"></sam-label-wrapper>
<h4>Entries</h4>
<p *ngIf="model && model.length==0">You have no entries</p>
<ng-content *ngIf="model && model.length>0" select="[listDisplay]"></ng-content>
<sam-listbuilder-card *ngFor="let row of model;let i = index;" 
    #cards
    (action)="cardHandler($event)"
    [data]="row"
    [disable]="showEditSubform"
    [index]="i"   
    [firstOfList]="i==0" 
    [hideDefaultBtns]="hideDefaultBtns"
    [endOfList]="i==model.length-1">
    <ng-container display>
        <ng-template [ngTemplateOutlet]="displayTemplate" [ngOutletContext]="{ $implicit: row }"></ng-template>
    </ng-container>
    <ng-container edit>
        <ng-template [ngTemplateOutlet]="editTemplate" [ngOutletContext]="{ $implicit: row }"></ng-template>
    </ng-container>
</sam-listbuilder-card>

<sam-button 
  *ngIf="(!max || (max && model.length<max)) && !showEditSubform" 
  buttonText="Add Entry"
  (click)="showAdd()">
</sam-button>