<sam-label-wrapper #wrapper [label]="label" [hint]="hint" [required]="required"></sam-label-wrapper>
<h4>Entries</h4>
<p *ngIf="model && model.length==0">You have no entries</p>
<ng-content *ngIf="model && model.length>0" select="[listDisplay]"></ng-content>
<sam-listbuilder-card *ngFor="let row of model;let i = index;" 
    #cards
    (action)="cardHandler($event)"
    [data]="row"
    [disable]="showEditSubform"
    [index]="i"   
    [firstOfList]="i==0" 
    [endOfList]="i==model.length-1">
    <ng-container display>
        <template [ngTemplateOutlet]="displayTemplate" [ngOutletContext]="{ $implicit: row }"></template>
    </ng-container>
    <ng-container edit>
        <template [ngTemplateOutlet]="editTemplate" [ngOutletContext]="{ $implicit: row }"></template>
    </ng-container>
</sam-listbuilder-card>
<button class="add-button usa-button-outline" *ngIf="(!max || (max && model.length<max)) && !showEditSubform" (click)="showAdd()">Add Entry</button>