<form-only class="request-access-page"
           theme="inside"
           section="Profile"
           title="Request Access">

  <form  [formGroup]="form" (ngSubmit)="onSubmit()">
    <hr>
    <p>All fields are required</p>
    <div class="sam-ui grid">
      <div class="column eight wide">
        <sam-text formControlName="superName" label="Supervisor Name" name="supervisor-name" [errorMessage]="errors.superName"></sam-text>
        <div style="margin-top: .5em">
          <sam-text formControlName="superEmail" label="Supervisor Email" name="supervisor-email" [errorMessage]="errors.superEmail"></sam-text>
        </div>
      </div>

      <div class="row">
        <div class="eight wide column">
          <!-- Orgs -->
          <sam-agency-picker-v2
            *ngIf="!isAdmin"
            formControlName="org"
            [label]="'Organization'"
            type="single"
            [searchMessage]="errors.org"
            [defaultDept]="!isSuperAdmin"
            class="clearfix"
          ></sam-agency-picker-v2>
          <!-- Role -->
          <div style="margin-top: .5em">
            <sam-label-wrapper [label]="'Role'" [errorMessage]="errors.role" style="margin-top: 2em">
              <select formControlName="role" (change)="onRoleChange()">
                <optgroup *ngFor="let group of roleCategories" [attr.label]="group.category">
                  <option *ngFor="let option of group.options" [value]="option.value">{{option.label}}</option>
                </optgroup>
              </select>
            </sam-label-wrapper>
          </div>

          <!-- Domain -->
          <div style="margin-top: .5em">
            <sam-autocomplete-multiselect formControlName="domains" [errorMessage]="errors.domains" name="domain" label="Domains" [options]="domainOptions"></sam-autocomplete-multiselect>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional Message -->
    <sam-text-area label="Comments" formControlName="comment" name="comment" [errorMessage]="errors.comment"></sam-text-area>

    <!-- Cancel / Confirm -->
    <div>
      <div class="pull-right clearfix m_T-4x m_B-4x">
        <button routerLink="../access" class="pull-left usa-button usa-button-transparent m_0" type="button">Cancel</button>
        <button id="done-button" class="pull-left usa-button usa-button-primary" type="submit" [disabled]="submitInProgress">Submit</button>
        <sam-spinner *ngIf="submitInProgress"></sam-spinner>
      </div>
    </div>
  </form>

</form-only>

