<div class="usa-width-one-whole organization-profile p_L-5x">
  <div class="usa-width-one-whole">
    <div class="org-notification p_T-4x m_B-6x">&nbsp;
      <button *ngIf="canCreate" class="usa-button-big pull-right relative" (click)="onClickCreateOrg()">Create {{createType}}</button>
    </div>

    <!-- Detail Section-->
    <div class="usa-width-one-whole m_T-4x">
      <h2 class="h3">{{orgObj.type}} Detail
        <button aria-label="edit organization" class="usa-button-transparent pull-right m_0 p_T-0" (click)="onEditPageClick()" *ngIf="!isEdit && canEdit"><i class="fa fa-pencil"></i></button>
        <button aria-label="cancel editing" class="usa-button-transparent pull-right m_0 p_T-0 " (click)="onCancelEditPageClick()" *ngIf="isEdit"> <i class="fa fa-times"></i></button>
        <button aria-label="save edits" class="usa-button-transparent pull-right m_0 p_T-0" (click)="onSaveEditPageClick()" *ngIf="isEdit"> <i class="fa fa-save"></i></button>
      </h2>
      <p class="usa-width-one-whole m_L-3x m_B-1x" *ngFor="let pair of orgDetails">
        <span class="usa-width-one-third m_R-0 p_T-2x p_B-1x"><h3 class="h4">{{pair.description}}:</h3></span>
        <span class="usa-width-two-thirds p_T-2x p_B-1x" *ngIf="(!isEdit || !isEditableField(pair.description)) && pair.description !== 'Description'">{{pair.value}}</span>
        <span class="usa-width-two-thirds p_T-2x p_B-1x" *ngIf="!isEdit  && pair.description === 'Description'">
          <span *ngIf="pair.value.length < 500 || showFullDes; else shortDescription">{{pair.value}}<span *ngIf="pair.value.length >= 500 && showFullDes">&nbsp;&nbsp;<a class="org-detail-expand-link" (click)="showFullDes = false">read less</a></span></span>
          <ng-template #shortDescription>{{pair.value.substr(0,500)}}...<a class="org-detail-expand-link" (click)="showFullDes = true">read more</a></ng-template>
        </span>

        <!--show edit field when it is in edit mode-->
        <ng-container [ngSwitch]="pair.description" *ngIf="isEdit">

          <textarea aria-label="Description" *ngSwitchCase="'Description'" class="usa-width-two-thirds m_T-2x" rows="4" [(ngModel)]="editedDescription">{{editedDescription}}</textarea>
          <input aria-label="Short name" *ngSwitchCase="'Shortname'" class="usa-width-two-thirds org-edit-input" [(ngModel)]="editedShortname">
          <div *ngSwitchCase="'End Date'">
            <div *ngIf="true; else endDateValue">
              <sam-date [label]="''" name='end-date' [(ngModel)]="editedEndDate"></sam-date>
            </div>
            <ng-template #endDateValue><span class="usa-width-two-thirds p_T-2x p_B-1x">{{pair.value}}</span></ng-template>
          </div>

        </ng-container>

      </p>
    </div>

    <!--Codes for the org-->
    <ng-container>
      <div class="usa-width-one-whole m_T-4x">
        <h2 class="h3">{{orgObj.type}} Codes</h2>
        <div class="usa-width-one-whole m_L-3x m_T-2x m_B-2x" *ngFor="let pair of orgCodes">
          <span class="usa-width-one-third m_R-0"><h3 class="h4">{{pair.code}}:</h3></span>
          <span class="usa-width-two-thirds" *ngIf="!isRequestAACIcon(pair); else aacBtn"><span>&nbsp;{{pair.value}}</span></span>
          <ng-template #aacBtn>
            <a class="usa-button-primary m_T-0 m_B-0 p_T-1x p_B-1x" (click)="onAACRequestClick(pair)">Request</a>
          </ng-template>
        </div>
      </div>
    </ng-container>

    <!--Addresses for the org-->
    <ng-container *ngIf="orgAddresses.length > 0 && orgObj['type'].toLowerCase() === 'office'">
      <div class="usa-width-one-whole m_T-4x">
        <h3>{{orgObj.type}} Address</h3>
        <ng-container *ngIf="!isEdit; else addressForms">
          <p class="m_L-3x m_B-1x" *ngFor="let address of orgObj['orgAddresses']">
            <span class="usa-width-one-third m_R-0"><h4>{{addrTypeMaping[address.type]}}:</h4></span>
            <span class="usa-width-two-thirds">
              {{address.streetAddress}}<br>
              <ng-container *ngIf="address?.streetAddress2 && address.streetAddress2 !== ''">{{address.streetAddress2}}<br></ng-container>
              {{address.city}}, {{address.state}}<br>{{address.zipcode}}
            </span>
          </p>
        </ng-container>
        <ng-template #addressForms>
          <div class="org-create-page usa-width-one-whole p_T-4x" *ngFor="let orgAddr of orgAddresses">
            <sam-address-form [orgAddrModel]="orgAddr.addrModel" [showAddIcon]="orgAddr.showAddIcon" (onAdditionalAddrRequest)="onAddAddressForm()" (onCancelAdditionalAddrRequest)="onDeleteAddressForm($event)" (onEnableAddIcon)="onEnableAddAddressIcon($event)"></sam-address-form>

          </div>
        </ng-template>
      </div>
    </ng-container>

  </div>

  <div class="usa-alert-fixed-footer">
    <sam-alert (dismiss)="dismissCreateOrgFlashAlert()" [showClose]="true" [type]="'success'" [title]="'Success'" [description]="'New Organization Created - '+ orgObj.name" *ngIf="flashMsgService.isCreateOrgSuccess && flashMsgService.isFlashMsgShow" ></sam-alert>
    <sam-alert (dismiss)="dismissMoveOrgFlashAlert()" [showClose]="true" [type]="'success'" [title]="'Success'" [description]="orgObj.name+' successfully moved under '+ orgObj.fullParentPath.split('.').pop()" *ngIf="flashMsgService.isMoveOrgSuccess && flashMsgService.isFlashMsgShow" ></sam-alert>
  </div>

</div>
