<div class="usa-width-one-whole organization-profile p_L-5x">
  <div class="usa-width-one-whole" *ngIf="isDataAvailable">
    <div class="org-notification p_T-4x m_B-6x">&nbsp;

      <button *ngIf="isNextLayerCreatable() && selectConfig.options.length > 1" class="usa-button-big pull-right relative">
        Create &nbsp; <i class="fa fa-angle-down"></i>
        <sam-select class="org-type-select"
                    [name]="selectConfig.name"
                    [options]="selectConfig.options"
                    [label]="selectConfig.label"
                    [disabled]="selectConfig.disabled"
                    (modelChange)='onSelect($event)'>
        </sam-select>
      </button>
      <button class="usa-button-big pull-right relative" *ngIf="isNextLayerCreatable() && selectConfig.options.length === 1" (click)="onSelect(selectConfig.options[0].value)">
        Create {{selectConfig.options[0].label}}</button>
    </div>

    <!-- Detail Section-->
    <div class="usa-width-one-whole m_T-4x">
      <h3>{{currentHierarchyType}} Detail
        <button class="usa-button-transparent pull-right m_0 p_T-0" (click)="onEditPageClick()" *ngIf="!isEdit && fhRoleModel.hasPermissionType('PUT',adminTypeMap[currentHierarchyType])"><i class="fa fa-pencil"></i></button>
        <button class="usa-button-transparent pull-right m_0 p_T-0 " (click)="onCancelEditPageClick()" *ngIf="isEdit"> <i class="fa fa-times"></i></button>
        <button class="usa-button-transparent pull-right m_0 p_T-0" (click)="onSaveEditPageClick()" *ngIf="isEdit"> <i class="fa fa-save"></i></button>
      </h3>
      <p class="usa-width-one-whole m_L-3x m_B-1x" *ngFor="let pair of orgDetails">
        <span class="usa-width-one-third m_R-0 p_T-2x p_B-1x"><h4>{{pair.description}}:</h4></span>
        <span class="usa-width-two-thirds p_T-2x p_B-1x" *ngIf="(!isEdit || !isEditableField(pair.description)) && pair.description !== 'Description'">{{pair.value}}</span>
        <span class="usa-width-two-thirds p_T-2x p_B-1x" *ngIf="!isEdit  && pair.description === 'Description'">
            <span *ngIf="pair.value.length < 500 || showFullDes; else shortDescription">{{pair.value}}<span *ngIf="pair.value.length >= 500 && showFullDes">&nbsp;&nbsp;<a class="org-detail-expand-link" (click)="hideFullDescription()">read less</a></span></span>
            <ng-template #shortDescription>{{pair.value.substr(0,500)}}...<a class="org-detail-expand-link" (click)="showFullDescription()">read more</a></ng-template>
          </span>

        <!--show edit field when it is in edit mode-->
        <ng-container [ngSwitch]="pair.description" *ngIf="isEdit">

          <textarea *ngSwitchCase="'Description'" class="usa-width-two-thirds m_T-2x" rows="4" [(ngModel)]="editedDescription">{{editedDescription}}</textarea>
          <input *ngSwitchCase="'Shortname'" class="usa-width-two-thirds org-edit-input" [(ngModel)]="editedShortname">
          <div *ngSwitchCase="'End Date'">
            <div *ngIf="fhRoleModel.hasPermissionType('DELETE',adminTypeMap[currentHierarchyType]); else endDateValue">
              <sam-date [label]="''" name='end-date' [value]="editedEndDate"></sam-date>
            </div>
            <ng-template #endDateValue><span class="usa-width-two-thirds p_T-2x p_B-1x">{{pair.value}}</span></ng-template>
          </div>

        </ng-container>
        <!--<textarea class="usa-width-two-thirds m_T-2x" rows="4" *ngIf="isEdit && pair.description === 'Description'" [(ngModel)]="editedDescription">{{editedDescription}}</textarea>-->
        <!--<input class="usa-width-two-thirds org-edit-input" *ngIf="isEdit && pair.description === 'Shortname'" [(ngModel)]="editedShortname">-->
        <!--<sam-date [label]="''" name='end-date' [value]="editedEndDate" *ngIf="isEdit && pair.description === 'End Date'  && fhRoleModel.hasPermissionType('DELETE',adminTypeMap[currentHierarchyType])"></sam-date>-->
        <!--<span class="usa-width-two-thirds p_T-2x p_B-1x" *ngIf="isEdit && pair.description === 'End Date'  && !fhRoleModel.hasPermissionType('DELETE',adminTypeMap[currentHierarchyType])">{{pair.value}}</span>-->

      </p>
    </div>

    <!--Codes for the org-->
    <ng-container>
      <div class="usa-width-one-whole m_T-4x">
        <h3>{{currentHierarchyType}} Codes</h3>
        <div class="usa-width-one-whole m_L-3x m_T-2x m_B-2x" *ngFor="let pair of orgCodes">
          <span class="usa-width-one-third m_R-0"><h4>{{pair.code}}:</h4></span>
          <span class="usa-width-two-thirds" *ngIf="!isRequestAACIcon(pair); else aacBtn"><span>&nbsp;{{pair.value}}</span></span>
          <ng-template #aacBtn>
            <a class="usa-button-primary m_T-0 m_B-0 p_T-1x p_B-1x" (click)="onAACRequestClick(pair)">Request</a>
          </ng-template>
        </div>
      </div>
    </ng-container>

    <!--Addresses for the org-->
    <ng-container *ngIf="orgAddresses.length > 0">
      <div class="usa-width-one-whole m_T-4x">
        <h3>{{currentHierarchyType}} Address</h3>
        <ng-container *ngIf="!isEdit; else addressForms">
          <p class="m_L-3x m_B-1x" *ngFor="let address of orgObj['orgAddresses']">
            <span class="usa-width-one-third m_R-0"><h4>{{addrTypeMaping[address.type]}}:</h4></span>
            <span class="usa-width-two-thirds">
              {{address.streetAddress}}<br>
              <ng-container *ngIf="address?.streetAddress2 && address.streetAddress2 !== ''">{{address.streetAddress2}}<br></ng-container>
              {{address.city}}, {{address.state}}<br>{{address.zipcode}}
            </span>
          </p>
        </ng-container>
        <ng-template #addressForms>
          <div class="org-create-page usa-width-one-whole p_T-4x" *ngFor="let orgAddr of orgAddresses">
            <sam-address-form [orgAddrModel]="orgAddr.addrModel" [showAddIcon]="orgAddr.showAddIcon" (onAdditionalAddrRequest)="onAddAddressForm()" (onCancelAdditionalAddrRequest)="onDeleteAddressForm($event)" (onEnableAddIcon)="onEnableAddAddressIcon($event)"></sam-address-form>

          </div>
        </ng-template>
      </div>
    </ng-container>

  </div>

  <sam-alert class="org-detail-alert-message" (dismiss)="dismissCreateOrgFlashAlert()" [showClose]="true" [type]="'success'" [title]="'Success'" [description]="'New Office Created - '+ orgObj.name" *ngIf="flashMsgService.isCreateOrgSuccess && flashMsgService.isFlashMsgShow && isDataAvailable" ></sam-alert>
  <sam-alert class="org-detail-alert-message" (dismiss)="dismissEditOrgFlashAlert()" [showClose]="true" [type]="'success'" [title]="'Success'" [description]="'Your edits have been saved'" *ngIf="showEditOrgFlashAlert" ></sam-alert>
  <sam-alert class="org-detail-alert-message" (dismiss)="dismissMoveOrgFlashAlert()" [showClose]="true" [type]="'success'" [title]="'Success'" [description]="orgObj.name+' successfully moved under '+ orgObj.fullParentPath.split('.').pop()" *ngIf="flashMsgService.isMoveOrgSuccess && flashMsgService.isFlashMsgShow && isDataAvailable" ></sam-alert>
  <sam-alert class="org-detail-alert-message" (dismiss)="dismissAACRequestFlashAlert()" [showClose]="true" [type]="'success'" [title]="'Success'" [description]="'Your AAC Request has been submitted.'" *ngIf="flashMsgService.isAACRequestSuccess && flashMsgService.isFlashMsgShow" ></sam-alert>

</div>
