<div class="usa-grid usa-register-main">
  <div class="usa-width-one-whole">
    <h1>Complete Sign-Up</h1>
    <span>Thank you for joining the new SAM.gov. To complete the sign-up process and gain account access, please complete the following information.</span>
    <form *ngIf="userForm" [formGroup]="userForm" class="usa-form" autocomplete="off" novalidate>
      <fieldset class="name">
        <sam-name-entry [model]="user" legend="Your Name" #nameEntry></sam-name-entry>
        <ul class="usa-unstyled-list">
          <li>
            <input type="checkbox"
                   id="email-notification"
                   type="checkbox"
                   name="email-notification"
                   [checked]="user.emailNotification"
                   (change)="user.emailNotification = !user.emailNotification">
            <label for="email-notification">I would like to be contacted when changes are made to the new SAM.gov</label>
          </li>
        </ul>
      </fieldset>n
      <fieldset class="phone">
        <legend>Business Phone</legend>
        <sam-phone-entry [model]="user.workPhone" (emitter)="updatePhoneNumber($event)" [label]="' '" [numbersOnly]="true" [required]="true" #phoneEntry></sam-phone-entry>
      </fieldset>
      <fieldset class="office" *ngIf="states.isGov">
        <legend>Office</legend>
        <sam-agency-picker [advancedMode]="true"
                           [multimode]="false"
                           [orgRoot]="user.departmentID"
                           [orgId]="userForm.controls.officeID.value"
                           [label]="'Select the office you work for:'"
                           (orgFullPath)="setHierarchy($event)"
                           #agencyPicker>
        </sam-agency-picker>
      </fieldset>
      <fieldset class="password">
        <sam-password [password]="userForm.controls.userPassword"
                      [phrases]="[user.firstName, user.middleName, user.lastName, user.email, user.fullName]"
                      #passwordComponent></sam-password>
      </fieldset>
      <fieldset class="kba">
        <legend>Security Questions</legend>
        <span>Select 3 unique questions and provide an answer for each question. Answers must be at least 8 characters long.</span>
        <div *ngFor="let kbaAnswer of userForm.controls.kbaAnswerList.controls; let $index = index;">
          <sam-kba-entry [(questions)]="questions[$index]"
                         [question]="userForm.controls.kbaAnswerList.controls[$index].controls.questionId"
                         [(answer)]="userForm.controls.kbaAnswerList.controls[$index].controls.answer"
                         (onQuestionChange)="changeQuestion($event, $index)"
                         label="Question {{ $index + 1 }}">
          </sam-kba-entry>
        </div>
      </fieldset>
      <div class="usa-button-controls">
        <div class="usa-button-wrapper">
          <button type="button" class="usa-button-outline" (click)="cancel()">Cancel</button>
          <button type="button" [ngClass]="{ 'usa-button-disabled': states.loading }" [disabled]="states.loading" (click)="register()" #controls>Submit</button>
        </div>
        <sam-alert [type]="states.alert.type" [title]="states.alert.message" [showClose]="true" [hidden]="!states.alert.show" (dismiss)="hideAlert()"></sam-alert>
      </div>
    </form>
  </div>
</div>
