<div class="usa-grid">
  <div class="usa-width-one-whole">
    <h1>Complete Sign-Up</h1>
    <span>Thank you for joining the new SAM.gov. To complete the sign-up process and gain account access, please complete the following information.</span>
    <form *ngIf="userForm" [formGroup]="userForm" class="usa-form usa-form-register" autocomplete="off" novalidate>
      <fieldset class="name">
        <samNameEntry [model]="user" legend="Your Name" #nameEntry></samNameEntry>
      </fieldset>
      <fieldset class="phone">
        <legend>Business Phone</legend>
        <samPhoneEntry [model]="user.workPhone" (emitter)="updatePhoneNumber($event)" [label]="' '" [required]="true" #phoneEntry></samPhoneEntry>
      </fieldset>
      <fieldset class="office" *ngIf="states.isGov">
        <legend>Office</legend>
        <agencyPicker [advancedMode]="true"
                      [multimode]="false"
                      [orgRoot]="user.department"
                      [(orgId)]="user.orgID"
                      [label]="'Select the office you work for:'"
                      (department)="setDepartment($event)"
                      (organization)="setOrganization($event)">
        </agencyPicker>
      </fieldset>
      <fieldset class="password">
        <sam-password [password]="userForm.controls.userPassword"
                      [phrases]="[user.firstName, user.middleName, user.lastName, user.email, user.fullName]"
                      #passwordComponent></sam-password>
      </fieldset>
      <fieldset class="kba">
        <legend>Security Questions</legend>
        <span>Select 3 unique questions and provide an answer for each question. Answers must be at least 8 characters long.</span>
        <div *ngFor="let kbaAnswer of userForm.controls.kbaAnswerList.controls; let $index = index;">
          <sam-kba-entry [(questions)]="questions[$index]"
                         [question]="userForm.controls.kbaAnswerList.controls[$index].controls.questionId"
                         [(answer)]="userForm.controls.kbaAnswerList.controls[$index].controls.answer"
                         (onQuestionChange)="changeQuestion($event, $index)"
                         label="Question {{ $index + 1 }}">
          </sam-kba-entry>
        </div>
      </fieldset>
      <div class="usa-button-controls">
        <samAlert [type]="states.alert.type"
                  [title]="states.alert.message"
                  [(hidden)]="!states.alert.show"
                  showClose="true"></samAlert>
        <div class="usa-button-controls">
          <button type="button" class="usa-button-outline" (click)="cancel()">Cancel</button>
          <button type="button" [disabled]="states.submitted" (click)="register()" #controls>Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
