<div class="sam-ui clearing segment">

  <div grid>
    <div columns="8" class="middle aligned">
      <h3 class="sam-ui header">{{ title }}</h3>
    </div>
    <div columns="4" class="right aligned">
      <sam-actions-dropdown [disabled]="!actions" [actions]="actions"></sam-actions-dropdown>
    </div>
  </div>

  <ng-content></ng-content>

  <div grid class="right aligned horizontally padded">
    <div class="column">
      <div *ngIf="shortcut" class="sam-ui divider"></div>
      <a *ngIf="shortcut"
        [routerLink]="shortcut.routerLink"
        queryParamsHandling="merge"
        (click)="onShortcutClick">
        {{shortcut.text}} &nbsp;
        <em aria-hidden="true" class="fa fa-chevron-right fa-sm"></em>
      </a>
    </div>
  </div>

</div>
