h5{
  margin:0;
}

.featured-reference-title{
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 16px;
  text-decoration: none;
}

.featured-reference-title:hover{
  text-decoration: underline;
  cursor: pointer;
}

.featured-reference-toggle{
  position: absolute;
  top:10px;
  right:10px;
  z-index: 1000;
}

.reference-content-link{
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.reference-image{
  opacity: 0.2;
}

.reference-image:hover{
  cursor: pointer;
}

.reference-image-container{
  padding-right:3px;
}

.black-border{
  border: 2px solid black
}

.div-fill{
  display:block;
  overflow: hidden;
  float: none;
}

.div-right{
  float:right;
  display: inline-block;
}

.tri-div{
  position: absolute;
  bottom:-1px;
}

.tri-down {
  position: relative;
  z-index: 1000;
}

/* Required for Down Triangle */
.tri-down:before, .tri-down:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
}

/* Fill */
.tri-down:after {
  bottom: -15px;
  left: 30%;
  border-top-color: #000;
  border-width: 15px;
}

.no-tri-down{
  position: relative;
  background: #fff;
  border-bottom: 1px solid #fff;
}



