h5{
  margin:0;
}

.featured-reference-title{
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 16px;
  text-decoration: none;
  z-index: 200;
}

.featured-reference-title:hover{
  text-decoration: underline;
  cursor: pointer;
}

.featured-reference-toggle{
  position: absolute;
  top:10px;
  right:10px;
}

.featured-reference-close{
  position: absolute;
  top:20px;
  right:10px;
  text-decoration: none;
}

.featured-reference-close:hover{
  cursor: pointer;
}

.reference-content-link{
  position: absolute;
  bottom: 3px;
  right: 10px;
}

.reference-image{

}

.reference-image-layer-unselect, .reference-image-layer-select{
  z-index: 100;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.reference-image-layer-unselect{
  /*background-color:rgba(214,215,217,0.6);*/
  background: #aaa;
  background-color:rgba(255,255,255,0.8);
}

.reference-image-layer-unselect:hover, .reference-image-layer-select{
  cursor: pointer;
  background-color:rgba(32,84,147,0.8);
  color: #ffffff;
}

.reference-image:hover{
  cursor: pointer;
}

.reference-image-container{
  padding-right:3px;
}

.black-border{
  border: 2px solid #000;
  /*change for detail border*/
}

.div-fill{
  display:block;
  overflow: hidden;
  float: none;
}

.div-right{
  float:right;
  display: inline-block;
}

.tri-div{
  position: absolute;
  bottom:-1px;
}

.tri-down {
  position: relative;
  z-index: 1000;
}

/* Required for Down Triangle */
.tri-down:before, .tri-down:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
}

/* Fill */
.tri-down:after {
  bottom: -15px;
  left: 30%;
  border-top-color: #000;
/*change for detail border*/
  border-width: 15px;
}

.no-tri-down{
  position: relative;
  background: #fff;
  border-bottom: 1px solid #fff;
}

.item-border-unselect{
  border: 2px #aeb0b5 solid;
}

.item-border-unselect:hover, .item-border-select{
  border: 2px #000 solid;
  /*change for icon border*/
}

.white-text{
  color: #ffffff;
}

