<workspace-layout *ngIf="permissions" (pageChange)="pageChange($event-1)" [currentPage]="pageNum+1" [totalPages]="totalPages"
                  [totalElements]="totalCount" [loadFlag]="data.length >= 0"
                  titleText="Assistance Listings">
  <br>
  <!--filter sidebar-->
  <div workspace-sidebar>
    <sam-collapsible class="noPadding-falWorkspace" [label]="'Status'" [startOpened]="true">
      <sam-checkbox
          [(model)]="statusCheckboxModel"
          (modelChange)="statusModelChanged()"
          [name]="statusCheckboxConfig.name"
          [options]="statusCheckboxConfig.options"
          [label]="statusCheckboxConfig.label"
          [hint]="statusCheckboxConfig.hint"
          [errorMessage]="statusCheckboxConfig.errorMessage"
          [hasSelectAll]="statusCheckboxConfig.hasSelectAll">
        </sam-checkbox>
      </sam-collapsible>
  </div>
  <div workspace-content class="workspace-content">
    <a href="/fal/workspace/requests?domain=al&event=request">
      <button class="fa fa-chevron-circle-right pending-button" *ngIf="pendingRequestCount == 1"> 1 Pending Request</button>
      <button class="fa fa-chevron-circle-right pending-button" *ngIf="pendingRequestCount > 1"> {{ pendingRequestCount }} Pending Requests</button>
    </a>

    <div class="sam-ui grid">
      <div class="row">
    <div *ngIf="!initLoad" custom-input class="search-bar eight wide column">

      <sam-autocomplete class="div-fill"#autocomplete
                        [(ngModel)]="keyword"
                        (ngModelChange)="workspaceSearchModel($event)"
                        (enterEvent)="workspaceSearchClick()"
                        [config]="workspaceSearchConfig"
                        [options]="[]"
                        [showClearButton]="true"
                        [allowAny]="true"
                        name="appsearch">
      </sam-autocomplete>
      <sam-button class="div-right"
                  [buttonType]="'default'"
                  [buttonText]="'Search' "
                  [buttonClass]="'usa-button-primary usa-search-submit search-btn'"
                  (onClick)="workspaceSearchClick()">
      </sam-button>
    </div>

    </div>
      <div class="row" *ngIf="!initLoad">

          <div *ngIf="permissions['CREATE_FALS']" class="eight wide">
          <sam-button class="div-right"
                      [buttonType]="'default'"
                      [buttonText]="'Add Assistance Listing' "
                      [buttonClass]="'sam-ui button dark blue'"
                      (onClick)="addAssistanceListingClick()">
          </sam-button>
        </div>
        <div *ngIf="permissions['CREATE_RAO']" class="eight wide">
          <sam-button class="div-right"
                      [buttonType]="'default'"
                      [buttonText]="'Manage Assistance Locations' "
                      [buttonClass]="'sam-ui button dark blue'"
                      (onClick)="manageAssistanceLocationsClick()">
          </sam-button>
        </div>

      </div>
    </div>
    <br>
    <div *ngFor="let row of data" tabindex="-1">
      <assistance-program-result [data]="row" [qParams]="qParams" [permissions]="permissions"></assistance-program-result>
      <div class="sam-ui section divider"></div>
    </div>

    <div class="search-inactive-results" *ngIf="data.length==0 && !initLoad">
      <p>No results found for '<span class = 'no-results-found' [innerText]="oldKeyword"></span>'</p>
      <div style="height:300px;"></div>
    </div>

  </div>
</workspace-layout>
