<div class="usa-grid opportunity-page">

  <!--Sidebar-->
  <aside class="usa-width-one-fourth">
    <br />
    <br />
    <div sam-sticky limit=1200 container="occupy-page">
      <!--Logo-->
      <ng-container *ngIf="opportunity && (errorOrganization || logoUrl===null || errorLogo)">
        <img src="src/assets/img/logo-not-available.png" class="sidenav-logo" alt="Logo Not Available">
      </ng-container>
      <ng-container *ngIf="opportunity && logoUrl && !errorOrganization">
        <img class="sidenav-logo" [src]="logoUrl" [alt]="logoInfo" [title]="logoInfo">
      </ng-container>

      <!--Side Navigation-->
      <samSidenav class="m_T-3x" *ngIf="sidenavModel" (data)="selectedItem($event)" [model]="sidenavModel" (path)="sidenavPathEvtHandler($event)"></samSidenav>

    </div>
  </aside>

  <!--Main Content-->
  <div class="usa-width-three-fourths" *ngIf="opportunity">
    <ng-container *ngIf="alert.length > 0">
      <samAlert *ngFor="let alert of alert" [type]="alert.config.type" [title]="alert.config.title"><div [innerHTML]="alert.config.description"></div></samAlert>
    </ng-container>

    <section [attr.id]="generateID(opportunityFields.Header)" *ngIf="shouldBeDisplayed(opportunityFields.Header)">
      <h1 [attr.id]="generateID(opportunityFields.Title, 'header')" *ngIf="shouldBeDisplayed(opportunityFields.Title)">
        {{ opportunity.data?.title }}
      </h1>

      <ul class="usa-unstyled-list">
        <li [attr.id]="generateID(opportunityFields.Solicitation, 'header')" *ngIf="shouldBeDisplayed(opportunityFields.Solicitation)">
          <strong>Solicitation Number: </strong>{{ opportunity.data?.solicitationNumber }}
        </li>
        <li [attr.id]="generateID(opportunityFields.HierarchyName, 'header')" *ngIf="organization && shouldBeDisplayed(opportunityFields.HierarchyName)">
          <strong [ngSwitch]='organization.type'>
            <ng-container *ngSwitchCase="'DEPARTMENT'">Department</ng-container>
            <ng-container *ngSwitchCase="'AGENCY'">Agency</ng-container>
            <ng-container *ngSwitchCase="'OFFICE'">Office</ng-container>:
          </strong>
          <ng-container *ngIf="organization.l2Name">{{ organization.l2Name }}</ng-container>
        </li>
        <ng-container *ngIf="errorOrganization">Organization ID: {{opportunity.data.organizationId}} NOTE: Complete Federal Hierarchy information is currently unavailable.</ng-container>
        <li [attr.id]="generateID(opportunityFields.Location, 'header')" *ngIf="shouldBeDisplayed(opportunityFields.Location)">
          <strong>Location: </strong>
          <ng-container *ngIf="organization?.name">{{ organization.name }}</ng-container>
        </li>
      </ul>
    </section>

    <div [class.hide]="selectedPage !== 0">
      <section [attr.id]="generateID(opportunityFields.Award)" *ngIf="shouldBeDisplayed(opportunityFields.Award) && ready">
        <h2>Award Details</h2>
        <ul class="usa-unstyled-list">
          <li [attr.id]="generateID(opportunityFields.AwardDate)" *ngIf="shouldBeDisplayed(opportunityFields.AwardDate)">
            <strong>Contract Award Date: </strong>
            {{ opportunity.data?.award?.date | dateFormat: 'MMM DD, YYYY' }}
          </li>
          <li [attr.id]="generateID(opportunityFields.AwardNumber)" *ngIf="shouldBeDisplayed(opportunityFields.AwardNumber)">
            <strong>Contract Award Number: </strong>
            {{ opportunity.data?.award?.number }}
          </li>
          <li [attr.id]="generateID(opportunityFields.OrderNumber)" *ngIf="shouldBeDisplayed(opportunityFields.OrderNumber)">
            <strong>Task/Delivery Order Number: </strong>
            {{ opportunity?.data?.award?.deliveryOrderNumber }}
          </li>
          <li [attr.id]="generateID(opportunityFields.AwardedDUNS)" *ngIf="shouldBeDisplayed(opportunityFields.AwardedDUNS)">
            <strong>Contractor Awarded DUNS: </strong>
            <span>{{ opportunity.data?.award?.awardee?.duns }}</span>
          </li>
          <li [attr.id]="generateID(opportunityFields.AwardedName)" *ngIf="shouldBeDisplayed(opportunityFields.AwardedName)">
            <strong>Contractor Awarded Name: </strong>
            <span>{{opportunity.data?.award?.awardee?.name}}</span>
          </li>
          <li [attr.id]="generateID(opportunityFields.AwardedAddress)" *ngIf="shouldBeDisplayed(opportunityFields.AwardedAddress)">
            <strong>Contractor Awarded Address: </strong>
            <span>
              {{opportunity.data?.award?.awardee?.location?.streetAddress}}<br>
              {{opportunity.data?.award?.awardee?.location?.city}}
              {{opportunity.data?.award?.awardee?.location?.state}}
              {{opportunity.data?.award?.awardee?.location?.zip}}<br>
              {{opportunity.data?.award?.awardee?.location?.country}}<br>
            </span>
          </li>
          <li [attr.id]="generateID(opportunityFields.AwardAmount)" *ngIf="shouldBeDisplayed(opportunityFields.AwardAmount)">
            <strong>Contract Award Dollar Amount: </strong>
            <span>{{opportunity.data?.award?.amount}}</span>
          </li>
          <li [attr.id]="generateID(opportunityFields.LineItemNumber, 'award')" *ngIf="shouldBeDisplayed(opportunityFields.LineItemNumber)">
            <strong>Contract Line Item Number: </strong>
            <span>{{opportunity.data?.award?.lineItemNumber}}</span>
          </li>
        </ul>
      </section>

      <section [attr.id]="generateID(opportunityFields.General)" *ngIf="shouldBeDisplayed(opportunityFields.General)">
        <h2>General Information</h2>
        <ul class="usa-unstyled-list">
          <li [attr.id]="generateID(opportunityFields.Type, 'general')" *ngIf="shouldBeDisplayed(opportunityFields.Type)">
            <strong>Opportunity Type: </strong>
            <ng-container *ngIf="opportunity.data?.type !== 'm'">{{ opportunity.data?.type | opportunityTypeLabel }}</ng-container>
            <ng-container *ngIf="opportunity.data?.type === 'm'">{{ originalOpportunity?.data?.type | opportunityTypeLabel}} (Update/Amendment)</ng-container>
          </li>
          <li [attr.id]="generateID(opportunityFields.PostedDate, 'general')" *ngIf="shouldBeDisplayed(opportunityFields.PostedDate)">
            <strong>Update/Amendment Posted Date: </strong>
            {{ opportunity?.postedDate | dateFormat: 'MMM DD, YYYY' }}
          </li>
          <li [attr.id]="generateID(opportunityFields.OriginalPostedDate, 'general')" *ngIf="shouldBeDisplayed(opportunityFields.OriginalPostedDate)">
            <strong>Original Posted Date: </strong>
            <ng-container *ngIf="opportunity.parent != null">{{ originalOpportunity?.postedDate | dateFormat: 'MMM DD, YYYY' }}</ng-container>
            <ng-container *ngIf="opportunity.parent == null">{{ opportunity?.postedDate | dateFormat: 'MMM DD, YYYY' }}</ng-container>
          </li>
          <li [attr.id]="generateID(opportunityFields.ResponseDate, 'general')" *ngIf="shouldBeDisplayed(opportunityFields.ResponseDate)">
            <strong>Update/Amendment Response Date: </strong>
            {{ opportunity.data?.solicitation?.deadlines?.response | dateFormat: 'MMM DD, YYYY' }}
          </li>
          <li [attr.id]="generateID(opportunityFields.OriginalResponseDate, 'general')" *ngIf="shouldBeDisplayed(opportunityFields.OriginalResponseDate)">
            <strong>Original Response Date: </strong>
            <ng-container *ngIf="opportunity.parent != null">{{ originalOpportunity?.data?.solicitation?.deadlines?.response | dateFormat: 'MMM DD, YYYY' }}</ng-container>
            <ng-container *ngIf="opportunity.parent == null">{{ opportunity?.data?.solicitation?.deadlines?.response | dateFormat: 'MMM DD, YYYY' }}</ng-container>
          </li>
          <li [attr.id]="generateID(opportunityFields.ArchivePolicy, 'general')" *ngIf="shouldBeDisplayed(opportunityFields.ArchivePolicy)"
              [ngSwitch]="opportunity.data?.archive?.type">
            <strong>Archiving Policy: </strong>
            <ng-container *ngSwitchCase="'manual'">Manual Archive</ng-container>
            <ng-container *ngSwitchCase="'auto15'">Automatic, 15 days after response date</ng-container>
            <ng-container *ngSwitchCase="'autocustom'">Automatic, on specified date</ng-container>
          </li>
          <li [attr.id]="generateID(opportunityFields.ArchiveDate, 'general')" *ngIf="shouldBeDisplayed(opportunityFields.ArchiveDate)">
            <strong>Update/Amendment Archive Date: </strong>
            {{ opportunity.data?.archive?.date | dateFormat: 'MMM DD, YYYY' }}
          </li>
          <li [attr.id]="generateID(opportunityFields.OriginalArchiveDate, 'general')" *ngIf="shouldBeDisplayed(opportunityFields.OriginalArchiveDate)">
            <strong>Original Archive Date: </strong>
            <ng-container *ngIf="opportunity.parent != null">{{ originalOpportunity?.data?.archive?.date | dateFormat: 'MMM DD, YYYY' }}</ng-container>
            <ng-container *ngIf="opportunity.parent == null">{{ opportunity?.data?.archive?.date | dateFormat: 'MMM DD, YYYY' }}</ng-container>
          </li>
          <li [attr.id]="generateID(opportunityFields.StatutoryAuthority, 'general')" *ngIf="shouldBeDisplayed(opportunityFields.StatutoryAuthority)">
            <strong>J&A Statutory Authority: </strong>
            {{ opportunity?.data?.award?.justificationAuthority?.authority }}
          </li>
          <li [attr.id]="generateID(opportunityFields.JustificationAuthority, 'general')" *ngIf="shouldBeDisplayed(opportunityFields.JustificationAuthority)">
            <strong>Fair Opportunity / Limited Sources Justification Authority: </strong>
            <ng-container *ngIf="opportunity?.data?.award?.fairOpportunity?.authority && dictionary">
              {{ (opportunity?.data?.award?.fairOpportunity?.authority | filterMultiArrayObject:dictionary.fo_justification_authority:'element_id':false:'')[0]?.value }}
            </ng-container>
          </li>
          <li [attr.id]="generateID(opportunityFields.ModificationNumber, 'general')" *ngIf="shouldBeDisplayed(opportunityFields.ModificationNumber)">
            <strong>Modification Number: </strong>
            {{ opportunity?.data?.award?.justificationAuthority?.modificationNumber }}
          </li>
          <li [attr.id]="generateID(opportunityFields.SpecialLegislation, 'general')" *ngIf="shouldBeDisplayed(opportunityFields.SpecialLegislation)">
            <strong>Special Legislation: </strong>
            <ng-container *ngIf="opportunity?.data?.isRecoveryRelated == true">
              Recovery and Reinvestment Act
            </ng-container>
          </li>
        </ul>
      </section>

      <section [attr.id]="generateID(opportunityFields.Classification)" *ngIf="shouldBeDisplayed(opportunityFields.Classification)">
        <h2>Classification</h2>
        <ul class="usa-unstyled-list">
          <li [attr.id]="generateID(opportunityFields.OriginalSetAside, 'classification')" *ngIf="shouldBeDisplayed(opportunityFields.OriginalSetAside)">
            <strong> Original Set Aside: </strong>
            <ng-container *ngIf="opportunity.parent != null && originalOpportunity?.data?.solicitation?.setAside && dictionary">
              <ng-container *ngFor = "let element of [originalOpportunity?.data?.solicitation?.setAside] | filterMultiArrayObject:dictionary.set_aside_type:'element_id':false:''">
                <ng-container>{{ element.value }}</ng-container>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="opportunity.parent == null && opportunity?.data?.solicitation?.setAside && dictionary">
              <ng-container *ngFor = "let element of [opportunity?.data?.solicitation?.setAside] | filterMultiArrayObject:dictionary.set_aside_type:'element_id':false:''">
                <ng-container>{{ element.value }}</ng-container>
              </ng-container>
            </ng-container>
          </li>
          <li [attr.id]="generateID(opportunityFields.SetAside, 'classification')" *ngIf="shouldBeDisplayed(opportunityFields.SetAside)">
            <ng-container *ngIf="(opportunity.data?.solicitation?.setAside != originalOpportunity?.data?.solicitation?.setAside) && dictionary">
              <strong>Update/Amendment Set Aside: </strong>
              <ng-container *ngFor = "let element of [opportunity.data?.solicitation?.setAside] | filterMultiArrayObject:dictionary.set_aside_type:'element_id':false:''">
                <ng-container> {{ element.value }}</ng-container>
              </ng-container>
            </ng-container>
          </li>
          <li [attr.id]="generateID(opportunityFields.ClassificationCode, 'classification')" *ngIf="shouldBeDisplayed(opportunityFields.ClassificationCode)">
            <strong>Classification Code: </strong>
            <ng-container *ngIf="opportunity.data?.classificationCode && dictionary">
              <ng-container *ngFor = "let element of [opportunity.data?.classificationCode] | filterMultiArrayObject:dictionary.classification_code:'element_id':false:''">
                {{ element.value }}
              </ng-container>
            </ng-container>
          </li>
          <li [attr.id]="generateID(opportunityFields.NAICSCode, 'classification')" *ngIf="shouldBeDisplayed(opportunityFields.NAICSCode)">
            <strong>NAICS Code(s): </strong>
            <ng-container *ngIf="opportunity.data?.naicsCode && opportunity.data?.naicsCode[0] != null && dictionary">
              <ul>
                <li *ngFor = "let element of opportunity.data?.naicsCode | filterMultiArrayObject:dictionary.naics_code:'element_id':false:''">
                  <ng-container *ngIf="element != null">{{ element.value }}</ng-container>
                </li>
              </ul>
            </ng-container>
          </li>
          <li [attr.id]="generateID(opportunityFields.POP, 'classification')" *ngIf="shouldBeDisplayed(opportunityFields.POP)">
            <strong >Place of Performance: </strong>
            <div [attr.id]="generateID(opportunityFields.POPLocation, 'classification')" *ngIf="shouldBeDisplayed(opportunityFields.POPLocation)">
              {{opportunity.data?.placeOfPerformance?.streetAddress}}
            </div>

            <div>
              <span [attr.id]="generateID(opportunityFields.POPCity, 'classification')" *ngIf="shouldBeDisplayed(opportunityFields.POPCity)">
                {{opportunity.data?.placeOfPerformance?.city}}
              </span>
              <ng-container *ngIf="opportunity.data?.placeOfPerformance?.city && opportunity.data?.placeOfPerformance?.state">,</ng-container>
              <span [attr.id]="generateID(opportunityFields.POPState, 'classification')" *ngIf="shouldBeDisplayed(opportunityFields.POPState)">
                {{opportunity.data?.placeOfPerformance?.state}}
              </span>
              <span [attr.id]="generateID(opportunityFields.POPZip, 'classification')" *ngIf="shouldBeDisplayed(opportunityFields.POPZip)">
                {{opportunity.data?.placeOfPerformance?.zip}}
              </span>
            </div>

            <div [attr.id]="generateID(opportunityFields.POPCountry, 'classification')" *ngIf="shouldBeDisplayed(opportunityFields.POPCountry)">
              {{opportunity.data?.placeOfPerformance?.country}}
            </div>
          </li>
        </ul>
      </section>

      <section [attr.id]="generateID(opportunityFields.Synopsis)" *ngIf="shouldBeDisplayed(opportunityFields.Synopsis) && opportunity.data?.descriptions[0].content">
        <h2>Synopsis</h2>
        <h3>
          <ng-container *ngIf="opportunity.data?.type === 'i'">Description of Benefits</ng-container>
          <ng-container *ngIf="opportunity.data?.type !== 'i'">Description</ng-container>
        </h3>
        <div [innerHTML]="opportunity.data?.descriptions[0].content | fixhtml"></div>
      </section>

      <!-- Packages -->
      <section [attr.id]="generateID(opportunityFields.Packages)" *ngIf="shouldBeDisplayed(opportunityFields.Packages)">
        <div class="download-container-header">
          <h2>Packages</h2>
          <ng-container *ngIf="attachment">
            <span class="download-button">
              <a class="usa-button-small usa-button-gray" *ngIf="hasPublicPackages()" href="{{getDownloadAllPackagesURL(opportunity.opportunityId)}}">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                <span>Download All Packages</span>
              </a>
            </span>
          </ng-container>
        </div>

        <ng-container *ngIf="attachment">
          <!-- Header -->
          <div class="card download-container" *ngFor="let package of attachment.packages" [@intro]="fade">

            <!-- It's public -->
            <div *ngIf="package.access === 'Public'" class="card-header {{ package.accordionState }}" (click)="toggleAccordion(package)" tabindex="0" (keyup.enter)="toggleAccordion(package)">
              <h3>{{ package.name }} ({{ package.attachments?.length }})</h3>
              <strong>Type: {{ package.type }}</strong>
            </div>

            <span *ngIf="package.access === 'Public'" class="download-button">
              <a class="usa-button-small usa-button-gray" href="{{getDownloadPackageURL(package.packageId)}}">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                <span>Download</span>
              </a>
            </span>

            <ul *ngIf="package.access === 'Public'" [@accordion]="package.accordionState" class="usa-zebra-list">
              <li *ngFor="let element of package.attachments">
                <!-- Element -->
                <ng-container *ngFor="let resource of attachment.resources">
                  <!-- Resource -->
                  <ng-container *ngIf="element.resourceId === resource.resourceId">
                    <div class="download-info">

                      <span class="download-info-icon">
                        <i class="{{resource.typeInfo.iconClass}}"></i>
                      </span>

                      <span class="download-info-link">
                        <a *ngIf="resource.type === 'link'" href="{{resource.uri}}">
                          {{resource.description}}
                          <sup *ngIf="resource.size && resource.size != 0">
                            {{resource.size | filesize}}
                          </sup>
                        </a>
                        <a *ngIf="resource.type === 'file'" href="{{getDownloadFileURL(resource.resourceId)}}">
                          {{resource.description}}
                          <sup *ngIf="resource.size && resource.size != 0">
                            {{resource.size | filesize}}
                          </sup>
                        </a>
                      </span>

                      <span class="download-info-type">
                        {{resource.typeInfo.name}}
                      </span>
                    </div>
                  </ng-container>
                </ng-container>
              </li>
            </ul>

            <!-- Its private -->
            <div *ngIf="package.access === 'Private'" class="card-header-secure">
              <h3>{{ package.name }} ({{ package.attachments?.length }})</h3>
              <strong>Type: {{ package.type }}</strong>
            </div>

            <div *ngIf="package.access === 'Private'" class="card-secure-content">
              <p>
                <i class="fa fa-lock fa-3x fa-pull-left" aria-hidden="true"></i>
                <em>Secure/sensitive attachments are not currently available, please go to <a href="https://www.fbo.gov/">FBO.gov</a> to view this attachment.</em>
              </p>
            </div>

            <!-- Extra options -->
            <div class="card-extra-content">
              <div class="label-container-inline">
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                <strong>Posted on {{ package.postedDate | dateFormat: 'MMM DD, YYYY' }}</strong>
              </div>
              <div class="label-container-inline" style="float: right;">
                <i class="fa" [ngClass]="{'fa-unlock' : package.access === 'Public', 'fa-lock': package.access === 'Private'}" aria-hidden="true"></i>
                <strong>{{isSecure(package.access)}}</strong>
              </div>
            </div>
          </div>
        </ng-container>

        <div class="card" *ngIf="!attachment && !attachmentError" [@intro]="fade">
          <div class="card-secure-content usa-text-center">
            <i class="fa fa-spinner fa-spin"></i>
            <strong>Loading &hellip;</strong>
          </div>
        </div>

        <div class="card" *ngIf="attachmentError" [@intro]="fade">
          <div class="card-secure-content usa-text-center">
            <strong>No packages uploaded.</strong>
          </div>
        </div>
      </section>

      <section [attr.id]="generateID(opportunityFields.Contact)" *ngIf="shouldBeDisplayed(opportunityFields.Contact)">
        <h2>Contact Information</h2>
        <div class="usa-grid-full">
          <div class="usa-width-one-whole m_B-4x" [attr.id]="generateID(opportunityFields.Office, 'contact')" *ngIf="shouldBeDisplayed(opportunityFields.Office)">
            <h3>Contracting Office Address:</h3>
            <span [attr.id]="generateID(opportunityFields.OfficeStreet, 'contact')" *ngIf="shouldBeDisplayed(opportunityFields.OfficeStreet)">
              {{opportunityLocation?.street}}
            </span>
            <span [attr.id]="generateID(opportunityFields.OfficeCity, 'contact')" *ngIf="shouldBeDisplayed(opportunityFields.OfficeCity)">
              {{opportunityLocation?.city}}
            </span>
            <span [attr.id]="generateID(opportunityFields.OfficeState, 'contact')" *ngIf="shouldBeDisplayed(opportunityFields.OfficeState)">
              {{opportunityLocation?.state}}
            </span>
            <span [attr.id]="generateID(opportunityFields.OfficeCountry, 'contact')" *ngIf="shouldBeDisplayed(opportunityFields.OfficeCountry)">
              {{opportunityLocation?.country}}
            </span>
            <span [attr.id]="generateID(opportunityFields.OfficeZip, 'contact')" *ngIf="shouldBeDisplayed(opportunityFields.OfficeZip)">
              {{opportunityLocation?.zip}}
            </span>
          </div>
        </div>
        <div class="usa-grid-full">
          <div class="usa-width-one-half" [attr.id]="generateID(opportunityFields.POC, 'contact-primary')" *ngIf="shouldBeDisplayed(opportunityFields.POC)">
            <h3>Primary Point of Contact</h3>
            <ul class="usa-unstyled-list">
              <li [attr.id]="generateID(opportunityFields.POCFullName, 'contact-primary')"
                  *ngIf="opportunity.data?.pointOfContact[0]?.fullName && shouldBeDisplayed(opportunityFields.POCFullName)">
                <strong>{{opportunity.data?.pointOfContact[0].fullName}}</strong>
              </li>
              <li [attr.id]="generateID(opportunityFields.POCTitle, 'contact-primary')"
                  *ngIf="opportunity.data?.pointOfContact[0]?.title && shouldBeDisplayed(opportunityFields.POCTitle)">
                <!--TODO: fix capitalize pipe-->
                <em [innerHTML]="opportunity.data?.pointOfContact[0].title"></em>
              </li>
              <li [attr.id]="generateID(opportunityFields.POCEmail, 'contact-primary')"
                  *ngIf="opportunity.data?.pointOfContact[0]?.email && shouldBeDisplayed(opportunityFields.POCEmail)">
                <i class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp;
                <a href="mailto:{{opportunity.data?.pointOfContact[0].email}}">
                  {{opportunity.data?.pointOfContact[0].email}}
                </a>
              </li>
              <li [attr.id]="generateID(opportunityFields.POCPhone, 'contact-primary')"
                  *ngIf="opportunity.data?.pointOfContact[0]?.phone && shouldBeDisplayed(opportunityFields.POCPhone)">
                <i class="fa fa-phone" aria-hidden="true"></i> &nbsp;
                {{opportunity.data?.pointOfContact[0].phone}}
              </li>
              <li [attr.id]="generateID(opportunityFields.POCFax, 'contact-primary')"
                  *ngIf="opportunity.data?.pointOfContact[0]?.fax && shouldBeDisplayed(opportunityFields.POCFax)">
                <i class="fa fa-fax" aria-hidden="true"></i> &nbsp;
                {{opportunity.data?.pointOfContact[0].fax}}
              </li>
            </ul>
          </div>
          <div class="usa-width-one-half" [attr.id]="generateID(opportunityFields.POC, 'contact-secondary')" *ngIf="shouldBeDisplayed(opportunityFields.POC)">
            <h3>Secondary Point of Contact</h3>
            <ul class="usa-unstyled-list">
              <li [attr.id]="generateID(opportunityFields.POCFullName, 'contact-secondary')"
                  *ngIf="opportunity.data?.pointOfContact[1]?.fullName && shouldBeDisplayed(opportunityFields.POCFullName)">
                <strong>{{opportunity.data?.pointOfContact[1].fullName}}</strong>
              </li>
              <li [attr.id]="generateID(opportunityFields.POCTitle, 'contact-secondary')"
                  *ngIf="opportunity.data?.pointOfContact[1]?.title && shouldBeDisplayed(opportunityFields.POCTitle)">
                <!--TODO: fix capitalize pipe-->
                <em [innerHTML]="opportunity.data?.pointOfContact[1].title"></em>
              </li>
              <li [attr.id]="generateID(opportunityFields.POCEmail, 'contact-secondary')"
                  *ngIf="opportunity.data?.pointOfContact[1]?.email && shouldBeDisplayed(opportunityFields.POCEmail)">
                <i class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp;
                <a href="mailto:{{opportunity.data?.pointOfContact[1].email}}">
                  {{opportunity.data?.pointOfContact[1].email}}
                </a>
              </li>
              <li [attr.id]="generateID(opportunityFields.POCPhone, 'contact-secondary')"
                  *ngIf="opportunity.data?.pointOfContact[1]?.phone && shouldBeDisplayed(opportunityFields.POCPhone)">
                <i class="fa fa-phone" aria-hidden="true"></i> &nbsp;
                {{opportunity.data?.pointOfContact[1].phone}}
              </li>
              <li [attr.id]="generateID(opportunityFields.POCFax, 'contact-secondary')"
                  *ngIf="opportunity.data?.pointOfContact[1]?.fax && shouldBeDisplayed(opportunityFields.POCFax)">
                <i class="fa fa-fax" aria-hidden="true"></i> &nbsp;
                {{opportunity.data?.pointOfContact[1].fax}}
              </li>
            </ul>
          </div>
        </div>
      </section>


      <section [attr.id]="generateID(opportunityFields.History)" *ngIf="shouldBeDisplayed(opportunityFields.History) && history">
        <h2>History</h2>
        <history [data]="processedHistory" [currentId]="opportunity.opportunityId"></history>
      </section>
     </div>


    <div [class.hide]="selectedPage !== 1">

      <section [attr.id]="generateID(opportunityFields.AwardSummary)" *ngIf="shouldBeDisplayed(opportunityFields.AwardSummary)">

        <h2 id="opportunity-award-summary">Awards Summary</h2>

        <!-- Awards Metadata -->

        <div *ngIf="relatedOpportunitiesMetadata"  class="usa-grid-full usa-text-center">

          <div class="usa-width-one-fourth segment">
            <strong>Total Number of Awards</strong>
            <p>
              {{relatedOpportunitiesMetadata.count}}
            </p>
          </div>

          <div class="usa-width-one-fourth segment">
            <strong>Total Amount Awarded</strong>
            <p>
              {{relatedOpportunitiesMetadata.totalAwardAmt | currency:'USD':true:'1.2-2'}}<br>
              <em *ngIf="relatedOpportunitiesMetadata.unparsableCount > 0" class="usa-text-small">
                (Plus {{relatedOpportunitiesMetadata.unparsableCount}} other variable amounts)
              </em>
            </p>
          </div>

          <div class="usa-width-one-fourth segment">
            <strong>Total Number of Recipients</strong>
            <p>
              {{relatedOpportunitiesMetadata.recipientCount}}
            </p>
          </div>

          <div class="usa-width-one-fourth segment-with-select">
            <strong>Sort by</strong>
            <samSelect class="sort-select" [(model)]="awardSort" [options]="awardSortOptions" [name]='awardSort' (modelChange)="reloadRelatedOpportunities()"></samSelect>
          </div>
        </div>

        <p *ngIf="relatedOpportunitiesMetadata" class="m_T-2x" style="text-align: right;">
          <strong>{{min +1}} - {{(relatedOpportunitiesMetadata.count < max) ? relatedOpportunitiesMetadata.count : max}}</strong>
          of <strong>{{relatedOpportunitiesMetadata.count}}</strong>
        </p>

        <div id="awards-list" tabindex="-1">
          <div class="card-simple" *ngFor="let element of relatedOpportunities">

            <h3>{{element.data?.award?.awardee?.name}}</h3>

            <div class="card-simple-content">
              <div class="usa-grid-full">
                <div class="usa-width-one-half">
                  <ul class="usa-label-list">
                    <li><span>Contractor Awarded DUNS: </span>
                      <span>
                        {{element.data?.award?.awardee?.duns}}
                      </span>
                    </li>
                    <li>
                      <span>Contractor Awarded Address: </span>
                      <span style="display: block;">
                        {{element.data?.award?.awardee?.location?.streetAddress}}<br>
                        {{element.data?.award?.awardee?.location?.city}}
                        {{element.data?.award?.awardee?.location?.state}}
                        {{element.data?.award?.awardee?.location?.zip}}<br>
                        {{element.data?.award?.awardee?.location?.country}}<br>
                      </span>
                    </li>
                  </ul>
                </div>
                <div class="usa-width-one-half">
                  <ul class="usa-label-list">
                    <li><span>Contract Award Dollar Amount: </span> <span>{{element.data?.award?.amount}}</span></li>
                    <li><span>Contract Award Number: </span> <span>{{element.data?.award?.number}}</span></li>
                    <li><span>Contract Award Date: </span> <span>{{element.data?.award?.date | dateFormat: 'MMM DD, YYYY'}}</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

      <samPagination *ngIf="totalPages" (pageChange)="pageChange($event-1)" [currentPage]="pageNum+1" [totalPages]="totalPages"></samPagination>

    </div>

    <br><br>

  </div>
</div>
