<div class="pending-requests">
  <div class="usa-alert usa-alert-info request-border req-width m_T-0 m-b-04">
    <div class = "usa-alert-body">
      <div class = "usa-alert-heading m_T-0">
        <h3 class = "text-alignm pull-left">{{requests.length}} Request{{requests.length > 1 ? 's' : ''}} {{requests.length > 1 ? 'are' : 'is'}} pending</h3>
        <div *ngIf = "requests.length > 1">
          <div class="pull-right"><span (click)="onCaretClick()"><i class="fa " [ngClass] = "areRequestsVisible ? 'fa-minus' : 'fa-plus'"  aria-hidden="true"></i></span></div>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor = "let request of requests">
    <div class = "request-border" *ngIf = "areRequestsVisible">
      <div class = "usa-grid-full request-content">
        <div class = "usa-width-three-fourths pd-l-1em">
          {{request.role ? (request.role.val | capitalize) : 'Unspecified Role Assocaited'}} for {{request.domain ? (request.domain.val | capitalize) : 'Unspecified Domain'}} at the {{request.organization ? (request.organization.val | capitalize) : 'Unspecified Organization'}}
        </div>
        <div class = "usa-width-one-fourth">
          <div class = "usa-width-one-half">
            {{request.createdDate | dateFormat: 'MMM DD, YYYY'}}
          </div>
          <div class = "usa-width-one-half">
            <a [routerLink]="[hideCancel ? '/access-requests/' + request.id + '/respond' : '/access-requests/' + request.id ]">{{request.status.val | capitalize}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
