<page
  *ngIf="permissions"
  theme="inside"
  [breadcrumbs]="crumbs"
  section="Workspace"
  title="Change Requests">

  <!-- Sidebar section -->
  <sidebar>
    <!-- Navigation -->
    <ul class="usa-sidenav-list">
      <li>
        <a routerLink="/fal/workspace">
          Assistance Listings
        </a>
      </li>
      <li *ngIf="userPermissions && userPermissions._links && this.userPermissions._links['program:regional:offices:create']">
        <a routerLink="/fal/myRegionalAssistanceLocations">
          Regional Assistance Locations
        </a>
      </li>
      <li>
        <a *ngIf="permissions.ORG_LEVELS?.level && permissions.ORG_LEVELS?.level === 'all'" routerLink="/fal/workspace/cfda-numbers">
          CFDA Number Management
        </a>
      </li>
      <li>
        <a class="usa-current">
          Pending Requests
        </a>
      </li>
    </ul>

    <!-- Filters -->
    <div class="sam-ui segment">
      <h4 class="sam-ui header">Search</h4>
      <div custom-input class="search-bar">
        <sam-text name="searchText" [(ngModel)]="keyword"></sam-text>
        <sam-button class="div-right"
                    [buttonType]="'default'"
                    [buttonText]="'Search' "
                    [buttonClass]="'usa-button usa-search-submit search-btn'"
                    (onClick)="onFeedSearchClick()">
        </sam-button>
      </div>

      <div class="sam-ui divider"></div>

      <feedsFilter
        [defaultDomainOption]="defaultDomainOption"
        [defaultEventOption]="defaultEventOption"
        [defaultPendingRequestsOption]="defaultPendingRequestsOption"
        (domainFilterModelChange)="domainFilterModelChangeHandler($event)"
        (eventFilterModelChange)="eventFilterModelChangeHandler($event)"
        (pendingRequestsFilterModelChange)="pendingRequestsModelChangeHandler($event)"
        (alRequestTypeModelChange)="requestTypeFilterModelChangeHandler($event)">
      </feedsFilter>

    </div>
    <div class="sam-ui hidden section divider"></div>
  </sidebar>

  <!-- Page results -->
  <results
    *ngIf="isAL && isRequest && programRequestList"
    [totalElements]="totalElements"
    [showing]="4"
    [totalPages]="totalPages"
    [currentPage]="currentPage+1"
    (pageChange)="pageChangeHandler($event)">

    <!-- Results -->
    <div class="sam-ui segment">
      <ng-container *ngFor="let row of programRequestList">
        <div class="sam-ui section divider"></div>
           <div class="sam-ui grid">
             <div class="row">
               <div class="three wide column request-name">
                 <ng-container *ngIf="row?.createdBy">
                   {{ row.createdBy }}
                 </ng-container>
               </div>
               <div class="six wide column request-type">
                 <div><a *ngIf="row?.requestType?.value" routerLink="/fal/change-request/{{row.id}}/action">
                     {{row.requestType.value | requestTypeLabel}} in {{domainLabel}}
                 </a></div>
                 <div><ng-container *ngIf="row?.entryDate">
                   {{row.entryDate | dateFormat: 'MMM DD, YYYY h:mm a' }}
                 </ng-container></div>
               </div>
               <div class="three wide column">
                 <ng-container *ngIf="row?.completed && row?.actionType">
                   <sam-label [labelType]="'small'" [labelText]="row.actionType | actionHistoryLabel"></sam-label>

                 </ng-container>
                 <ng-container *ngIf="!(row?.completed)">
                   <sam-label [labelType]="'small'" [labelText]="'Request Pending'"></sam-label>
                 </ng-container>
               </div>
             </div>
           </div>
           <div class="usa-grid-full usa-bgcolor-gray-lightest p_All-3x request-comments">
             <div class="content">
               <div class="header">Comments</div>
               <div class="description" *ngIf="row?.reason">
                   {{row.reason}}
               </div>
             </div>
           </div>
     </ng-container>

     <!-- No results -->
     <p *ngIf="!initLoad && programRequestList.length==0">
      There are no requests under the selected criteria.
     </p>

    </div>
  </results>

  <p *ngIf="!isAL || !isRequest || !programRequestList">
    There are no results under the selected criteria.
  </p>

</page>
