<page
  theme="inside"
  [breadcrumbs]="crumbs"
  section="Workspace"
  [title]="isEditForm ? 'Edit Regional Assistance Location' : 'Add Regional Assistance Location'">

  <div class="sam-ui grid">
    <div class="twelve wide mobile eleven wide tablet seven wide computer column">

      <div class="sam-ui info icon message">
        <em class="icon fa fa-info-circle" aria-hidden="true"></em>
        <div class="content">
          Any updates made in this space will not be reflected in the public view.
        </div>
      </div>

      <sam-button
        [buttonDisabled]="buttonDisabled"
        buttonText="Cancel"
        (onClick)="onCancelClick($event)">
      </sam-button>
      <sam-button
        [buttonDisabled]="buttonDisabled"
        *ngIf="isEditForm"
        buttonText="Delete Location"
        (onClick)="modal2.openModal($event)">
      </sam-button>
      <sam-button
        [buttonDisabled]="buttonDisabled"
        [attr.id] = "'submit-regional-assistance-location'"
        buttonText="Submit"
        (onClick)="onSubmit()"
        [buttonType]="(!raoFormGroup.valid ? 'disabled' : 'default')">
      </sam-button>
      <ng-container *ngIf="buttonDisabled === true">Processing Request...</ng-container>

      <div class="sam-ui segment" *ngIf="isEditForm">
        <div class="sam-ui medium header">
          Created By {{RaoFormViewModel.createdBy || 'NA'}}
          <div class="sub header">
            On {{RaoFormViewModel.createdDate|date: 'MMM d, yyyy h:mm a' || ''}}
          </div>
        </div>
        <div class="sam-ui medium header">
          Last Modified By {{RaoFormViewModel.modifiedBy || 'NA'}}
          <div class="sub header">
            On {{RaoFormViewModel.modifiedDate|date: 'MMM d, yyyy h:mm a' || ''}}
          </div>
        </div>
      </div>

      <div class="sam-ui segment">
        <form [formGroup]="raoFormGroup">

          <!--Department and Subtier-->
          <sam-agency-picker-v2 *ngIf="!agencyPickerConfig.disabled && agencyPickerConfig.isReady"
            [attr.id]="agencyPickerConfig.id"
            [control]="raoFormGroup.get('organizationId')"
            [formControl]="raoFormGroup.get('organizationId')"
            [hint]="agencyPickerConfig.hint"
            [label]="agencyPickerConfig.label"
            [limit]="agencyPickerConfig.levelLimit"
            [orgRoots]="agencyPickerConfig.orgRoots"
            [required]="agencyPickerConfig.required"
            formControlName="organizationId"
            [type]="agencyPickerConfig.type">
          </sam-agency-picker-v2>

          <div *ngIf="(agencyPickerConfig.disabled && orgData)" class="sam-ui segment">
            {{ orgData.type }}: {{ orgData.name || orgData.agencyName }}
          </div>

          <!--State/Region-->
          <sam-text
            [control]="raoFormGroup.controls['region']"
            [name]="'region'"
            [label]="'State/Region:'"
            [required]="false"
            formControlName="region">
          </sam-text>

          <!--Point of Contact-->
          <sam-text-area
            [control]="raoFormGroup.controls['pointOfContact']"
            [name]="'poc'"
            [label]="'Point Of Contact:'"
            [required]="true"
            formControlName="pointOfContact">
          </sam-text-area>

          <!--Street Address-->
          <sam-text-area
            [control]="raoFormGroup.controls['streetAddress']"
            [name]="'street:'"
            [label]="'Street:'"
            [required]="true"
            formControlName="streetAddress">
          </sam-text-area>

          <!--City-->
          <sam-text
            [control]="raoFormGroup.controls['city']"
            [name]="'city'"
            [label]="'City:'"
            [required]="true"
            formControlName="city">
          </sam-text>

          <!--State-->
          <sam-select
            [control]="raoFormGroup.controls['state']"
            [label]="'State:'"
            [name]="'state-control'"
            [required]="true"
            [options]="stateDrpDwnOptions"
            formControlName="state">
          </sam-select>

          <!--Zip-->
          <sam-text
            [control]="raoFormGroup.controls['zip']"
            [name]="'zip'"
            [label]="'Zip Code:'"
            [required]="true"
            formControlName="zip">
          </sam-text>

          <!--Country-->
          <sam-select
            [control]="raoFormGroup.controls['country']"
            [label]="'Country:'"
            [name]="'contry'"
            [required]="false"
            [options]="countryDrpDwnOptions"
            formControlName="country">
          </sam-select>

          <!--Phone -->
          <sam-phone-entry [control]="raoFormGroup.controls['phone']"
                           [label]="'Phone:'"
                           [prefix]="'phone'"
                           [required]="true"
                           [numbersOnly]="true"
                           formControlName="phone">
          </sam-phone-entry>

          <!--Sub-Branch-->
          <sam-text
            [control]="raoFormGroup.controls['subBranch']"
            [name]="'subBranch'"
            [label]="'Sub-Branch:'"
            [required]="false"
            formControlName="subBranch">
          </sam-text>

          <!--Division-->
          <sam-select
            [control]="raoFormGroup.controls['division']"
            [label]="'Division:'"
            [name]="'division'"
            [required]="false"
            [options]="divisionDrpDwnOptions"
            formControlName="division">
          </sam-select>

        </form>
      </div>

      <sam-modal #modal2
                 [type]="'warning'"
                 [title]="'Delete Location'"
                 [cancelButtonLabel]="'Cancel'"
                 [submitButtonLabel]="'OK'"
                 [description]="'Are you sure you want to delete this location? Note: Any updates made in this space will not be reflected in the public view.'"
                 (onClose)="onModalClose($event)"
                 (onSubmit)="deleteRAO($event)">
      </sam-modal>

      <sam-button
        buttonText="Cancel"
        [buttonDisabled]="buttonDisabled"
        (onClick)="onCancelClick($event)">
      </sam-button>
      <sam-button
        *ngIf="isEditForm"
        [buttonDisabled]="buttonDisabled"
        buttonText="Delete Location"
        (onClick)="modal2.openModal()">
      </sam-button>
      <sam-button
        [buttonDisabled]="buttonDisabled"
        [attr.id] = "'submit-regional-assistance-location'"
        buttonText="Submit"
        (onClick)="onSubmit()"
        [buttonType]="(!raoFormGroup.valid ? 'disabled' : 'default')">
      </sam-button>
      <ng-container *ngIf="buttonDisabled === true">Processing Request...</ng-container>

    </div>
  </div>

  <div class="sam-ui hidden section divider"></div>

</page>

