<div>
  <div class="widget-body">
    <ng-container *ngIf="user">
      <div class="usa-width-one-whole">
        <div [ngClass]="states.public ? 'usa-width-one-whole' : 'usa-width-one-third'">
          <div class="widget-section usa-avatar fa fa-user">
            <h1 [innerText]="user.fullName"></h1>
            <div [innerText]="user.email"></div>
          </div>
          <div class="widget-section">
            <h2 [innerText]="store.primary" *ngIf="!states.public"></h2>
            <div class="widget-shortcuts" *ngIf="states.public">
              <a [routerLink]="['/profile']" [queryParams]="{ edit: 'business' }" href="#business" pageScroll>Associate myself to an organization</a>
              <a [routerLink]="['/profile']" [queryParams]="{ edit: 'kba' }" href="#kba" pageScroll>Update Security Questions</a>
            </div>
            <div [innerText]="store.secondary" *ngIf="states.federal"></div>
            <!-- Roles -->
            <div *ngIf="states.entity">
              <sam-checkbox name="entity-roles" [options]="store.roles" (modelChange)="onChangeRole($event)"></sam-checkbox>
            </div>
          </div>
        </div>
        <div class="usa-width-two-thirds" *ngIf="!states.public">
          <div class="usa-width-one-third widget-section">
            <h1>My Access</h1>
            <a class="usa-button usa-button-outline shortcut" [routerLink]="['/profile/request-access']">Request Access</a>
            <a class="usa-button usa-button-outline shortcut" [routerLink]="['/profile/migrations']">Migrate Accounts</a>

            <a class="widget-footer text-right" [routerLink]="['/profile/access']">
              Go to My Access <span class="fa fa-chevron-circle-right"></span>
            </a>
          </div>
          <div class="usa-width-one-third widget-section">
            <h1>My Profile</h1>
            <a class="usa-button shortcut" [routerLink]="['/profile/password']">Request Your Password</a>
            <a class="usa-button usa-button-outline shortcut"
               href="#kba"
               [routerLink]="['/profile']"
               [queryParams]="{ edit: 'kba' }"
               pageScroll>Update Security Questions</a>

            <a class="widget-footer text-right" [routerLink]="['/profile']">
              Go to My Profile <span class="fa fa-chevron-circle-right"></span>
            </a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <a class="widget-footer text-right" [routerLink]="['/profile']" *ngIf="states.public">
    Go to My Profile <span class="fa fa-chevron-circle-right"></span>
  </a>
</div>
