#historyItem {
  border-bottom: 2px solid #D3D3D3;
}

#ficalYear {
  text-align:left;
  margin-top:.7em;
}

.historyDetails {
  float:right;
}

#changeDescription {
  text-align:right;
  font-style: italic;
}

.logo{
  margin-top:4.2em;
  width:163px;
  height:142px;
}

.designation {
  background-color: #e4e2e0;
  padding: 15px;
}

.designation h4 {
  margin-top: 0px;
}

.content-block span {
  display: block;
  margin: 3px 0px 3px 0px;
}
