<form [formGroup] = "mainForm">


    <ng-container *ngFor="let item of objectFormData; let i=index;">

      <form-field *ngFor="let field of item.fields; let j=index;"
        [field]="field"
        [control]="mainForm.controls[item.section].controls[field.name]"
        [value]="mainForm.get( item.section + '.' + field.name).value"
        [fieldFormGroup] = "mainForm.get(item.section)"
        ></form-field>

      <div class="pull-left">
        <samButton buttonText="Cancel" (onClick)="onCancelClick($event)"></samButton>
        <samButton *ngIf="i >0" buttonText="Previous" (onClick)="onPreviousClick($event)"></samButton>
        <samButton [buttonType]="(!mainForm.controls[item.section].valid ? 'disabled' : 'default')" buttonText="Save and Exit" (onClick)="onSaveExitClick($event)"></samButton>
        <samButton [buttonType]="(!mainForm.controls[item.section].valid ? 'disabled' : 'default')" buttonText="Save and Continue" (onClick)="onSaveContinueClick($event)"></samButton>
      </div>

    </ng-container>

</form>
