<labelWrapper #fyTableWrapper
              [name]="name"
              [label]="label"
              [hint]="hint"
              [required]="required">

  <div *ngIf="fyTableGroup" [formGroup]="fyTableGroup">
    <samCheckbox [name]="name + '-checkbox'"
                 [options]="checkboxOptions"
                 [formControlName]="'naCheckbox'"
    ></samCheckbox>

    <div [hidden]="model.checkbox.indexOf('na') !== -1">
      <table *ngIf="model.entries && model.entries.length > 0">
        <thead>
        <tr>
          <th scope="col">
            Fiscal Year
          </th>
          <th scope="col">
            {{ options.itemName }}
          </th>
          <th scope="col">
            Actions
          </th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let entry of model.entries; let i=index">
          <tr *ngIf="entry.year == null || entry.year >= getCurrentFY() - 1 && entry.year <= getCurrentFY() + 1">
            <td>{{ entry.year }}</td>
            <td>{{ entry.text }}</td>
            <td>
              <ng-container *ngIf="currentIndex === model.entries.length && !showForm">
                <a class="fal-table-edit" (click)="editEntry(i)">Edit</a>
                <i class="fa fa-pencil fal-table-edit" aria-hidden="true" (click)="editEntry(i)"></i>
                <a class="fal-table-delete" (click)="removeEntry(i)">Delete</a>
                <i class="fa fa-trash fal-table-delete" aria-hidden="true" (click)="removeEntry(i)"></i>
              </ng-container>
              <ng-container *ngIf="currentIndex < model.entries.length || showForm">
                <span class="fal-table-edit disabled">Edit</span>
                <i class="fa fa-pencil fal-table-edit disabled" aria-hidden="true"></i>
                <span class="fal-table-delete disabled">Delete</span>
                <i class="fa fa-trash fal-table-delete disabled" aria-hidden="true"></i>
              </ng-container>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>

      <samSelect *ngIf="showForm"
                 [hint]="'Select a Year'"
                 [name]="name + '-year-select'"
                 [required]="false"
                 [options]="yearOptions"
                 [formControlName]="'year'"
      ></samSelect>

      <samTextArea *ngIf="showForm"
                   [hint]="options?.textarea?.hint"
                   [name]="name + '-textarea'"
                   [required]="false"
                   [formControlName]="'textarea'"
      ></samTextArea>

      <samButton *ngIf="!showForm && yearOptions && yearOptions.length > 0" [buttonText]="'Add ' + options.itemName" (onClick)="displayForm()" [buttonType]="'default'"></samButton>
      <samButton *ngIf="showForm" buttonText="Cancel" (onClick)="resetForm()" [buttonType]="'default'"></samButton>
      <samButton *ngIf="showForm" buttonText="Confirm" (onClick)="addEntry()" [buttonType]="(!fyTableGroup.valid ? 'disabled' : 'default')"></samButton>
    </div>
  </div>

</labelWrapper>
