<page [breadcrumbs]="crumbs" [section]="'Workspace'" [title]="capitalPipe.transform(title)">
  <sidebar>

    <msg-feed-sidenav [filterOption]="filterObj"
                      [requestTypeCountMap]="requestTypeMap"
                      (filterChange)="onFilterChange($event)"
                      [typeIdMap]="typeIdMap">

    </msg-feed-sidenav>
  </sidebar>

  <div class="usa-width-one-whole msg-feed-content">
    <div class="usa-width-one-whole m_B-2x">
      <div class="pull-left p_T-3x">
        Showing &nbsp;{{curStart}}-{{curEnd}}&nbsp; of&nbsp; {{totalRecords}}&nbsp; results
      </div>
      <sam-sort class="pull-right" [(ngModel)]="sortByModel" [options]="msgSortOptions" (ngModelChange)="onSortSelectModelChange($event)">
      </sam-sort>
    </div>

    <!--Message Feeds Content-->
    <div class="usa-width-one-whole msg-feed-items-div" *ngIf="msgFeeds && msgFeeds.length > 0">
      <ng-container  *ngFor="let feed of msgFeeds">
        <div class="usa-width-one-whole msg-feed-item" (click)="onFeedItemClick(feed)">
          <!--<div class="usa-width-one-whole msg-feed-item" *ngFor="let feed of msgFeeds" [innerHTML]="_sanitizer.bypassSecurityTrustHtml(feed.feeds)">-->

          <div class="usa-width-three-fourths p_L-2x p_T-1x" *ngIf="feed.alertTypeName">
            <span class="usa-width-one-whole msg-feed-bold">Alert Title</span>
            <span class="usa-width-one-whole msg-feed-description" [innerHTML]="_sanitizer.bypassSecurityTrustHtml(feed.feeds)"></span>
            <span class="usa-width-one-whole msg-feed-date">{{transformDateStr(feed.requestorDate)}}</span>
          </div>
          <div class="usa-width-three-fourths p_L-2x p_T-1x" *ngIf="!feed.alertTypeName">
            <span class="usa-width-one-whole msg-feed-description" [innerHTML]="_sanitizer.bypassSecurityTrustHtml(feed.feeds)"></span>
            <span class="usa-width-one-whole msg-feed-date">{{transformDateStr(feed.requestorDate)}}</span>
          </div>
          <div class="usa-width-one-fourth p_T-1x" *ngIf="curSection.toLowerCase() === 'requests'">
            <div class="usa-width-one-whole msg-feed-status">{{feed.responderId?'Approved':'Pending'}}</div>
            <div class="usa-width-one-whole msg-feed-name">{{feed.responderId?feed.responderId:''}} &nbsp;</div>
            <div class="usa-width-one-whole msg-feed-date">{{feed.responderDate?transformDateStr(feed.responderDate):''}} &nbsp;</div>
          </div>
          <div class="usa-width-one-fourth p_T-1x" *ngIf="feed.alertTypeName">
            <div class="pull-right usa-alert m_T-2x m_R-3x" [ngClass]="getAlertFeedClass(feed)" *ngIf="!feed.status"></div>
            <div class="usa-width-one-whole msg-feed-status" *ngIf="feed.status">Inactive</div>
            <div class="usa-width-one-whole msg-feed-date" *ngIf="feed.status">{{feed.responderDate?transformDateStr(feed.responderDate):''}} &nbsp;</div>

          </div>
        </div>
      </ng-container>
    </div>

    <div class="usa-width-one-whole" *ngIf="!msgFeeds || msgFeeds.length === 0">
      No Feeds Available
    </div>


    <div class="usa-width-three-fourths usa-offset-one-fourth" *ngIf="msgFeeds && msgFeeds.length > 0">
      <sam-pagination (pageChange)="onPageNumChange($event-1)" [currentPage]="curPage+1" [totalPages]="totalPages"></sam-pagination>
    </div>


  </div>
</page>


