<h2 id="top" [innerText]="store.title"></h2>
<div>
  Select one of our legacy web sites. Then enter the username and password of your legacy account to
  migrate your roles to your new SAM.gov account.
</div>

<div class="usa-content">
  <form *ngIf="migrationForm" [formGroup]="migrationForm" (ngSubmit)="migrate()">
    <div class="usa-grid relative" #form>
      <div class="usa-width-one-half">
        <samSelect label="Web Site"
                   name="system"
                   [(model)]="store.system"
                   [options]="store.systems"
                   [required]="true"
                   [errorMessage]="errors('system')"></samSelect>
      </div>
      <div class="usa-width-one-half">
        <labelWrapper label="Email / User ID" required="true" [errorMessage]="errors('username')">
          <input type="text" autocomplete="off" formControlName="username" readonly="readonly" onfocus="this.removeAttribute('readonly');" />
        </labelWrapper>
        <labelWrapper label="Password" required="true" [errorMessage]="errors('password')">
          <input type="password" autocomplete="off" formControlName="password" readonly="readonly" onfocus="this.removeAttribute('readonly');" />
        </labelWrapper>
        <div class="button-controls">
          <button type="submit" class="usa-primary-button">Migrate</button>
        </div>

        <samAlert [type]="states.confirm.type"
                  [title]="states.confirm.message"
                  [(hidden)]="!states.confirm.show"
                  showClose="true"></samAlert>
      </div>
    </div>
  </form>
  <div>
    <h3>Role Migration History</h3>
    <div>
      <ng-container *ngIf="!store.migrations.length">You have not yet migrated any legacy roles.</ng-container>
      <ng-container *ngIf="store.migrations.length">Your new role(s) may named differently than it was in the Legacy System. You privileges are comparable.</ng-container>
    </div>

    <table *ngIf="store.migrations.length" class="usa-table-borderless usa-migration-history">
      <thead>
        <tr>
          <th scope="col" class="text-right">Role</th>
          <th scope="col">&nbsp;</th>
          <th scope="col" class="text-left">Organization</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody *ngFor="let account of store.migrations; let $index = index;">
        <tr class="group">
          <td class="text-right">
            <h1 [innerText]="account.system">CFDA.gov</h1>
            <div class="key">
              <span class="fa fa-user"></span>
              <span [innerText]="account.name">Jane Smith</span>
            </div>
          </td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>
            <div class="key">Migrated <span [innerText]="account.migratedAt">12/10/2016</span></div>
          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="2">
            <dl>
              <dd *ngFor="let role of account.roles;" [innerText]="role.role"></dd>
            </dl>
          </td>
          <td class="text-center">
            <dl>
              <dd *ngFor="let role of account.roles;" [innerText]="role.department"></dd>
            </dl>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <h3 id="legacy-sites">Legacy Websites</h3>
    <div>
      The following web sites are being moved to the new SAM.gov. If you currently have legacy accounts in any of these systems
      you will be able to migrate all of your associated roles to the new SAM.gov.
    </div>

    <table class="usa-table-borderless usa-legacy-systems">
      <thead>
        <tr>
          <th scope="col">Website</th>
          <th scope="col">Migration Status</th>
          <th scope="col">System Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let system of store.legacy; let $index = index;">
          <td>
            <a [href]="system.target" [innerText]="system.name" target="_blank"></a>
          </td>
          <td [innerText]="system.statuses.migration"></td>
          <td [innerText]="system.statuses.system"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
