<samAlert type="info" class="usa-alert-static" title="Migrate Your Roles">
  If you have a user account at any of the <a (click)="anchorTo('legacy-sites')">web sites</a> that are moving to the new SAM.gov,
  you may migrate your roles and keep your same permissions. <a (click)="anchorTo('top')">Begin Now</a>
</samAlert>

<h2 id="top">Migrations</h2>
<div>Select one of our legacy web sites. Then enter your user name and password from that site to move your roles to the new SAM.gov</div>

<div class="usa-content">
  <form *ngIf="migrationForm" [formGroup]="migrationForm" (ngSubmit)="migrate()">
    <div class="usa-grid" #form>
      <div class="usa-width-one-half">
        <samSelect label="Web Site"
                   name="system"
                   [(model)]="store.system"
                   [options]="store.systems"
                   [required]="true"
                   [errorMessage]="errors('system')"></samSelect>
      </div>
      <div class="usa-width-one-half">
        <labelWrapper label="Email / User ID" required="true" [errorMessage]="errors('username')">
          <input type="text" autocomplete="off" formControlName="username" readonly="readonly" onfocus="this.removeAttribute('readonly');" />
        </labelWrapper>
        <labelWrapper label="Password" required="true" [errorMessage]="errors('password')">
          <input type="password" autocomplete="off" formControlName="password" readonly="readonly" onfocus="this.removeAttribute('readonly');" />
        </labelWrapper>
        <div class="button-controls">
          <button type="submit" class="usa-primary-button">Migrate</button>
        </div>

        <div class="usa-alerts">
          <samAlert [type]="states.confirm.type"
                    [title]="states.confirm.message"
                    [target]="form"
                    [(hidden)]="!states.confirm.show"
                    [offset]="{ top: -10 }"
                    showClose="true"
                    placement='bottom right'></samAlert>
        </div>
      </div>
    </div>
  </form>
  <div>
    <h3>Migration History</h3>
    <div *ngIf="!store.migrations.length">You have not migrated any legacy website accounts yet.</div>

    <table class="usa-table-borderless usa-migration-history">
      <thead>
        <tr>
          <th scope="col" class="text-right">Role</th>
          <th scope="col">&nbsp;</th>
          <th scope="col" class="text-left">Organization</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody *ngFor="let account of store.migrations; let $index = index;">
        <tr class="group">
          <td class="text-right">
            <h1 [innerText]="account.system">CFDA.gov</h1>
            <div class="key">
              <span class="fa fa-user"></span>
              <span [innerText]="account.name">Jane Smith</span>
            </div>
          </td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>
            <div class="key">Migrated <span [innerText]="account.migratedAt">12/10/2016</span></div>
          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="2">
            <dl>
              <dd *ngFor="let role of account.roles;" [innerText]="role.role"></dd>
            </dl>
          </td>
          <td class="text-center">
            <dl>
              <dd *ngFor="let role of account.roles;" [innerText]="role.department"></dd>
            </dl>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <h3 id="legacy-sites">Legacy Websites</h3>
    <div>The following web sites are being moved to the new SAM.gov. If you currently have a user account in one of these systems you will be able to move it here.</div>

    <table class="usa-table-borderless usa-legacy-systems">
      <thead>
        <tr>
          <th scope="col">Website</th>
          <th scope="col">Migration Status</th>
          <th scope="col">System Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let system of store.legacy; let $index = index;">
          <td>
            <a [href]="system.target" [innerText]="system.name" target="_blank"></a>
          </td>
          <td [innerText]="system.statuses.migration"></td>
          <td [innerText]="system.statuses.system"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
