<aside>
  <ul class="usa-sidenav-list">
    <li *ngFor="let child of model.children; let $index = index">
      <a tabindex="0" [ngClass]="{'usa-current': isSelected($index)}" (keyup.enter)="updateUI($index, $event)" (click)="updateUI($index, $event)">{{child.label}}</a>
      <sam-menu-item *ngIf="isSelected($index)"
                    [nodeDepth]="1"
                    [children]="model.children[$index].children"
                    (data)="emitChildData($event)">
      </sam-menu-item>
    </li>
    <li>
      <div class="usa-width-one-whole p_T-2x"><button class="usa-button-primary-alt relative p_L-2x" (click)="feedback.toggleFeedback()">Provide Feedback</button></div>
      <span class="usa-width-one-whole p_T-1x p_B-2x feedback-background"><i class="fa fa-comments" aria-hidden="true"></i> &nbsp;What you think matters!</span>
      <div class="usa-width-one-whole text-align-center" *ngIf="feedback?.showunsubmittedWarning()">
        <sam-alert class="feedback-warning-font-size" [type]="'warning'" [title]="''" [description]="'You have feedback that has not been submitted!'"></sam-alert>
      </div>
    </li>
  </ul>
</aside>
