<page [breadcrumbs]="crumbs" [section]="'Workspace'" [title]="title">
  <sidebar>
    <content-management-sidenav [showStatusFilters]="!!showCreateButton" [filterOption]="filterObj" (filterChange)="onFilterChange($event)"></content-management-sidenav>
  </sidebar>


  <div class="usa-width-one-whole help-content-management" style="margin-bottom: 1em;">

    <div class="usa-width-one-whole m_B-2x">
      <div class="pull-left p_T-3x">
        Showing &nbsp;{{curStart}}-{{curEnd}}&nbsp; of&nbsp; {{totalRecords}}&nbsp; results
      </div>
      <a class="sam-ui primary small button pull-right m_L-2x question-button" (click)="onCreateContentItem()" *ngIf="showCreateButton">{{createTextMap[curSection]}}</a>
      <sam-sort class="pull-right" [(ngModel)]="sortByModel" [options]="sortOptions" (ngModelChange)="onSortModelChange($event)"></sam-sort>
    </div>

    <!--FAQ Repository Content or Data Dictionary Content-->
    <div class="usa-width-one-whole" *ngIf="contents && contents.length > 0; else noContents">
      <div class="usa-width-one-whole content-item" *ngFor="let item of contents;">
        <div class="usa-width-one-whole content-item-header">
          <div class="usa-width-one-third content-header-type-div">{{cmsMapping.getStatusName(item.status).toUpperCase()}}</div>
          <sam-actions-dropdown class="pull-right" *ngIf="hasActions(item)" [actions]="item.actions" (emitAction)="onContentItemAction($event, item)"></sam-actions-dropdown>
        </div>

        <!-- A template for every thing in the search result except for the video -->
        <ng-template #itemDescription let-item>
          <h4 class="content-title-text"><a [routerLink]="['/workspace/content-management',curSection,'detail']" [queryParams]="{id: item.contentId}">{{item.title}}</a></h4>
          <p class="content-description-text"> {{item?.description}}</p>
          <span class="usa-width-one-whole"><strong>Reference ID: </strong>{{item.refId}}</span>
          <span class="usa-width-one-whole"><strong>Keywords: </strong>{{getTagStr(item?.tags)}}</span>
          <span class="usa-width-one-whole"><strong>Domains: </strong>{{getDomainStr(item?.domain)}}</span>
          <span class="usa-width-one-whole"><strong>Latest Update: </strong>{{item.lastModifiedDate | shortDate}}</span>
        </ng-template>

        <div class="usa-width-one-whole p_L-1x" *ngIf="curSection === 'FAQ-repository' || curSection === 'data-dictionary'">
          <ng-container [ngTemplateOutlet]="itemDescription" [ngOutletContext]="{$implicit:item}"></ng-container>
        </div>
        <div class="usa-width-one-whole p_L-1x" *ngIf="curSection === 'video-library'">
          <div class="usa-width-two-thirds">
            <ng-container [ngTemplateOutlet]="itemDescription" [ngOutletContext]="{$implicit:item}"></ng-container>
          </div>
          <div class="usa-width-one-third relative ">
            <img class="video-image" [attr.id]="item.refId" src={{getThumbnailImage(item)}} (error)="onThumbnailImageError(item)">
            <a class="video-play-icon" [routerLink]="['/workspace/content-management',curSection,'detail']" [queryParams]="{id: item.contentId}"><i class="fa fa-play-circle"></i></a>
            <span class="video-time">{{getDurationText(item.duration)}}</span>
          </div>
        </div>
      </div>
    </div>

    <ng-template #noContents>
      <sam-spinner class="m_R-1x" *ngIf="noContentsInfo === 'Loading'"></sam-spinner>{{noContentsInfo}}
    </ng-template>



    <div class="usa-width-three-fourths usa-offset-one-fourth" *ngIf="contents && contents.length && totalPages > 1">
      <sam-pagination (pageChange)="onPageNumChange($event-1)" [currentPage]="curPage+1" [totalPages]="totalPages"></sam-pagination>
    </div>


  </div>
</page>


