<div *ngIf="!isEditing">
  <div>
    <div class="alert-type-indicator" [ngClass]="alert.colorClass()">
      <i class="alert-type-icon fa" [ngClass]="alert.iconClass()"></i>{{alert.severity()}}
    </div>
    <div class="pull-right">
      <i class="fa fa-pencil usa-button-icon" (click)="onEditClick()" title="edit"><span class="usa-sr-only">Edit</span></i>
      <i class="fa fa-trash usa-button-icon" (click)="onDeleteClick()" title="edit"><span class="usa-sr-only">Delete</span></i>
    </div>
  </div>
  <div class="alert-item usa-grid-full">
    <div class="usa-width-three-fourths">
      <h2 class="alert-title clearfix">
        {{alert.title()}}
      </h2>
      <div class="alert-body">
        {{alert.description()}}
      </div>
    </div>
    <div class="usa-width-one-fourth">
      <div class="alert-right-item">
        Published Date: {{alert.publishedDate() | dateFormat: 'MMM DD, YYYY'}}
      </div>
      <div class="alert-right-item">
        End Date: {{alert.endDate() | dateFormat: 'MMM DD, YYYY'}}
      </div>
      <div class="alert-right-item">
        Status: {{alert.status()}}
      </div>
    </div>
  </div>
</div>
<alert-edit *ngIf="isEditing" [alert]="alert" [mode]="'edit'" (publish)="onEditAlertPublish($event)"
            (draft)="onEditAlertDraft($event)" (cancel)="onEditAlertCancel()">
</alert-edit>
