.alert-item {
}

.alert-body {
  margin-top: 8px;
}

.alert-title {
  margin-top: 8px !important;
}

.alert-type-icon {
  margin-right: 4px;
}

.alert-right-item:not(:last-child) {
  margin-bottom: 8px;
}

.alert-type-indicator {
  width: 8em;
  display: inline-block;
  padding: 4px;
  border: 1px solid black;
}
