.workspace-widget {
  $widget-border-width: 1px;
  $widget-border-color: $color-gray-light;

  .workspace-widget-title {
    font-weight: 600;
  }

  .workspace-widget-body-section {
    border: $widget-border-width solid $widget-border-color;
    min-height: 190px;
  }

  .workspace-widget-bot-section {
    border: $widget-border-width solid $widget-border-color;
    border-top: none;

    .workspace-widget-bot-icon {
      position: absolute;
      right: 5px;
      top: 4px;

      .fa::before {
        z-index: -1;
      }
    }
  }

  .workspace-widget-text {
    color: $color-gray;
  }

  .workspace-widget-bot-section:hover, i:hover, a:hover {
    cursor: pointer;
  }
}
