[draggable=true] {
  cursor: move;
}

.workspace-widget{


  .workspace-widget-title{
    font-weight: 600;
  }

  .workspace-widget-body-section{
    border: 2px solid $color-gray-light;
    height: 150px;
  }

  .workspace-widget-bot-section{
    border: 2px solid $color-gray-light;
    border-top: none;

    .workspace-widget-bot-icon{
      position: absolute;
      right: 5px;
      top: 4px;
    }
  }

  .workspace-widget-text{
    color: $color-gray;
  }

}


