/*styles for home content only*/
 select {
     margin: 0;
 }

/*Topic image style in browse topic div*/
.topic-image-link:hover{
  cursor: pointer;
  opacity: 0.5;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.topic-detail{
  border: 1px #aeb0b5 solid;
  padding: 6px;
}

.topic-div-marginCenter{
  margin:0 25%;
}
