<display-page [attr.class]="'opportunity-page usa-grid'" [logoData]="logoData" [sidenavConfig]="sidenavModel" [alerts]="alert">

<div display-title>
  <ng-container *ngIf="program">
    <sam-title-section id="program-information" [title]="program?.data?.title" [titleId]="program-title">
      <p class="field" id="program-alternative-names" *ngIf="program.data?.alternativeNames && program.data?.alternativeNames[0] != null">
        <strong>Popular Name:</strong> {{program.data.alternativeNames[0]}}
      </p>

      <div class="content-block">
        <ng-container *ngIf="errorOrganization">Organization ID: {{program.data.organizationId}} NOTE: Complete Federal Hierarchy information is currently unavailable.</ng-container>
        <p class="field" id="program-fh-information" *ngIf="federalHierarchy">
          <strong class="capitalize">{{federalHierarchy.type}}: </strong>{{ federalHierarchy.name || federalHierarchy.agencyName }}
        </p>
        <span class="field" id="program-number"><strong>CFDA Number: </strong>{{program.data?.programNumber}}</span>

        <span>
          <strong>Related Federal Assistance: </strong>
          <ng-container *ngIf="relatedProgram && program.data?.relatedPrograms?.length > 0 && relatedProgram.length > 0">
            <ng-container *ngFor="let item of relatedProgram; let isLast = last; let i = index">
              <a class="field" [attr.id]="'program-related-' + i" href="programs/{{item.id}}/view">{{item.programNumber}}</a>{{isLast ? '' : ', '}}
            </ng-container>
          </ng-container>

          <span class="field" id="program-related-na" *ngIf="program.data?.relatedPrograms?.length == 0 || relatedProgram.length == 0">Not Applicable.</span>
        </span>
      </div>
    </sam-title-section>
  </ng-container>
</div>

<div display-content>
  <ng-container *ngIf="program">
    <sam-section id="program-overview" title="Overview" titleId="overview">
      <sam-subsection title="Objectives">
        <p class="field" id="program-objective">
          {{program.data?.objective}}
        </p>
      </sam-subsection>

      <sam-subsection title="Examples of Funded Projects">
        <div class="content-block" [ngSwitch]="program.data?.projects?.isApplicable">
          <ng-container *ngSwitchCase="true">
            <span *ngFor="let item of program.data.projects?.list | keys; let i = index">
              <span class="field" [attr.id]="'program-project-example-' + i" *ngIf="item?.description">
                Fiscal Year {{item.fiscalYear}}: {{item.description}}
              </span>
            </span>
          </ng-container>
          <p class="field" id="program-project-example-na" *ngSwitchDefault>Not Applicable</p>
      </div>
      </sam-subsection>
    </sam-section>

    <sam-section id="program-authorizations" title="Authorizations" titleId="authorizations">
      <div *ngFor="let item of authorizationIdsGrouped; let i = index">
        <p class="field" [attr.id]="'program-authorization-' + i">{{ item | authorization }}</p>
      </div>
    </sam-section>

    <!--Financials-->
    <sam-section id="program-financials" title="Financial Information" titleId="financial-information">
      <financial-obligation-chart *ngIf='dictionaries && program.data?.financial?.obligations' [financialData]='program.data?.financial?.obligations' [dictionaries]='dictionaries'></financial-obligation-chart>

      <sam-subsection title="Range and Average of Financial Assistance">
        <p class="field" id="program-financial-additional-info" *ngIf="(program.data?.financial?.additionalInfo?.content) && (program.data?.financial?.additionalInfo?.content != '')">
          {{program.data.financial.additionalInfo.content}}
        </p>

        <p class="field" id="program-financial-additional-info" *ngIf="!(program.data?.financial?.additionalInfo?.content) || (program.data?.financial?.additionalInfo?.content == '')">
          No Data Available.
        </p>
      </sam-subsection>
      
      <sam-subsection title="Accomplishments">
        <div class="content-block" [ngSwitch]="program.data?.financial?.accomplishments?.isApplicable">
          <ng-container *ngSwitchCase="true">
            <ng-container *ngFor="let item of program.data?.financial?.accomplishments?.list; let i = index">
              <span class="m_B-2x field" [attr.id]="'program-accomplishments-' + i" *ngIf="item.description && item.description != ''"><strong>Fiscal Year {{item.fiscalYear}}:</strong> {{item.description}}</span>
              <!--<span class="m_B-2x field" [attr.id]="'program-accomplighments-projected-' + i" *ngIf="item.content?.projection && item.content?.projection != ''"><strong>Fiscal Year {{item.year}}:</strong> {{item.content.projection}}</span>-->
            </ng-container>
          </ng-container>

          <p *ngSwitchDefault>Not Applicable.</p>
        </div>
      </sam-subsection>

      <sam-subsection title="Account Identification">
        <p *ngFor="let account of program.data?.financial?.accounts; let i = index">
          <span class="field" [attr.id]="'program-account-identification-' + i" *ngIf="account.description">{{account.code}}-{{account.description}};</span>
          <span class="field" [attr.id]="'program-account-identification-' + i" *ngIf="!account.description">{{account.code}}</span>
        </p>
      </sam-subsection>
    </sam-section>

    <!--Should I apply?-->
    <sam-section id="program-application-criteria" title="Criteria for Applying" titleId="criteria-for-applying">
      <a name="#/programs/{{programID}}/view#criteria-for-applying"></a>

      <sam-subsection title="Types of Assistance">
        <p *ngIf="dictionaries && dictionaries.assistance_type">
          <ng-container *ngFor="let item of program.data?.assistanceTypes | filterMultiArrayObject:dictionaries.assistance_type:'element_id':true:'elements'; let isLast = last; let i = index">
            <span class="field" [attr.id]="'program-assistance-type-' + i">{{ item.displayValue }}{{isLast ? '' : ', '}}</span>
          </ng-container>
        </p>
      </sam-subsection>
      
      <sam-subsection title="Credentials and Documentation">
        <p>
        <ng-container *ngIf="program.data?.eligibility?.documentation?.description">
          <span class="field" id="program-elegibility-documentation">{{program.data.eligibility?.documentation?.description}}</span>

          <ng-container *ngIf="program.data.compliance?.CFR200Requirements?.questions">
            <ng-container *ngFor="let item of program.data.compliance?.CFR200Requirements?.questions">
              <!-- OMBCircularA87 is subpartC-->
              <ng-container *ngIf="item.code === 'subpartC'">
                <span *ngIf="item.isSelected == true" class="field" id="program-elegibility-question-a87">
                  2 CFR 200, Subpart E - Cost Principles applies to this program.
                </span>
                <!-- flag can be both 'no' or null -->
                <span *ngIf="item.isSelected == false" class="field" id="program-elegibility-question-a87">
                  This program is excluded from coverage under 2 CFR 200, Subpart E - Cost Principles.
                </span>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!program.data?.eligibility?.documentation?.description">None</ng-container>
      </p>
      </sam-subsection>

      <sam-subsection title="Applicant Eligibility">
        <sam-well title="Designations" *ngIf="program.data && dictionaries && dictionaries.applicant_types">
          <ng-container *ngFor="let item of program.data?.eligibility?.applicant?.types | filterMultiArrayObject:dictionaries.applicant_types:'element_id':false:''; let isLast = last; let i = index">
            <span class="field" [attr.id]="'program-applicant-designation-' + i">{{ item.value }}{{isLast ? '' : ', '}}</span>
          </ng-container>
        </sam-well>
        <p>
          <span class="field" id="program-applicant-eligibility">{{program.data?.eligibility?.applicant?.description}}</span>
        </p>
      </sam-subsection>
      
      <sam-subsection title="Beneficiary Eligibility">
        <sam-well title="Designations" *ngIf="program.data && dictionaries && dictionaries.beneficiary_types">
          <ng-container *ngFor="let item of program.data?.eligibility?.beneficiary?.types | filterMultiArrayObject:dictionaries.beneficiary_types:'element_id':false:''; let isLast = last; let i = index">
            <span class="field" [attr.id]="'program-beneficiary-designation-' + i">{{ item.value }}{{isLast ? '' : ', '}}</span>
          </ng-container>
        </sam-well>

        <p>
          <span class="field" id="program-beneficiary-eligibility">{{program.data?.eligibility?.beneficiary?.description}}</span>
        </p>
      </sam-subsection>
      
      <sam-subsection title="Length and Time Phasing of Assistance">
        <p>
          <span class="field" id="program-assistance-lengthtime">{{program.data?.eligibility?.limitation?.description}}</span>
          <span class="field" id="program-assistance-method" *ngIf="program.data?.eligibility?.limitation?.awarded">
            Method of awarding/releasing assistance: {{program.data.eligibility?.limitation?.awarded}}
          </span>
        </p>
      </sam-subsection>
      
      <sam-subsection title="Use of Assistance">
        <sam-well title="Designations" *ngIf="program.data && dictionaries && dictionaries.assistance_usage_types">
          <ng-container *ngFor="let item of program.data?.eligibility?.assistanceUsage?.types | filterMultiArrayObject:dictionaries.assistance_usage_types:'element_id':false:''; let isLast = last; let i = index">
            <span class="field" [attr.id]="'program-usage-designation-' + i">{{ item.value }}{{isLast ? '' : ', '}}</span>
          </ng-container>
        </sam-well>

        <p>
          <span class="field" id="program-usage-rules" *ngIf="program.data?.eligibility?.usage?.rules?.description">{{ program.data?.eligibility?.usage?.rules?.description }}</span>
          <span class="field" id="program-usage-restrictions" *ngIf="program.data.eligibility?.usage?.restrictions?.description">{{ program.data.eligibility?.usage?.restrictions?.description }}</span>
          <span class="field" id="program-usage-discretionary-fund" *ngIf="program.data.eligibility?.usage?.discretionaryFund?.description">{{ program.data.eligibility?.usage?.discretionaryFund?.description }}</span>
          <span class="field" id="program-usage-loan-terms" *ngIf="program.data.eligibility?.usage?.loanTerms?.description">{{ program.data.eligibility?.usage?.loanTerms?.description }}</span>
        </p>
      </sam-subsection>
    </sam-section>

    <!--How do I apply?-->
    <sam-section id="program-application-information" title="Applying for Assistance" titleId="applying-for-assistance">
      <sam-subsection title="Deadlines">
        <div class="content-block" [ngSwitch]="program.data?.assistance?.deadlines?.flag">
          <ng-container *ngSwitchCase="'yes'">
            <!-- repeat over all deadlines. -->
            <span *ngFor="let deadline of program.data?.assistance?.deadlines?.list; let i = index">
              <span class="field" [attr.id]="'program-deadline-dates-' + i">
                <ng-container *ngIf="deadline.start">{{deadline.start | dateFormat: 'MMM DD, YYYY'}}</ng-container>
                <ng-container *ngIf="deadline.start && deadline.end"> to </ng-container>
                <ng-container *ngIf="deadline.end">{{deadline.end | dateFormat: 'MMM DD, YYYY'}}</ng-container>
              </span>
              <span class="field" [attr.id]="'program-deadline-description-' + i">{{deadline.description}}</span>
            </span>
          </ng-container>

          <span id="program-deadline-contact" *ngSwitchCase="'contact'">
            Contact the headquarters or regional office, as appropriate for application deadlines
          </span>

          <span id="program-deadline-na" *ngSwitchDefault>
            Not Applicable.
          </span>
        </div>
      </sam-subsection>
      
      <sam-subsection title="Preapplication Coordination">
        <div>
          <ng-container [ngSwitch]="program.data?.assistance?.preApplicationCoordination?.isApplicable">
            <p *ngSwitchCase="true">
              Preapplication coordination is required.

              <!-- Environmental statements-->
              <ng-container *ngIf="program.data.assistance?.preApplicationCoordination?.environmentalImpact?.reports?.length > 0">
                <ng-container *ngFor="let entry of program.data.assistance?.preApplicationCoordination?.environmentalImpact?.reports; let i = index">
                  <span class="field" [attr.id]="'program-preapplication-coordination-environmental-report-' + i" *ngIf="entry.isSelected == true && entry.reportCode !== 'ExecutiveOrder12372'">
                    An environmental impact {{entry.reportCode}} is required for this program.
                  </span>
                </ng-container>

                <span *ngIf="program.data.assistance?.preApplicationCoordination?.environmentalImpact?.reports?.length==0" class="field" id="program-preapplication-coorindation-environmental-na">
                  Environmental impact information is not required for this program.
                </span>


              </ng-container>

              <!-- Executive Order  -->
              <ng-container *ngIf="program.data.assistance?.preApplicationCoordination?.environmentalImpact?.reports?.length > 0">
                <ng-container *ngFor="let entry of program.data.assistance?.preApplicationCoordination?.environmentalImpact?.reports; let i = index">
                  <ng-container *ngIf="entry.reportCode === 'ExecutiveOrder12372'">
                    <span *ngIf="entry.isSelected == true" class="field" id="program-preapplication-coordination-executive-order">
                      This program is eligible for coverage under E.O. 12372, "Intergovernmental Review of Federal Programs."
                      An applicant should consult the office or official designated as the single point of contact in his or her State for more
                      information on the process the State requires to be followed in applying for assistance, if the State has selected the program for review.
                    </span>

                    <span *ngIf="entry.isSelected == false" class="field" id="program-preapplication-coordination-executive-order">
                      This program is excluded from coverage under E.O. 12372.
                    </span>
                  </ng-container>
                </ng-container>
              </ng-container>

              <!-- additional content-->
              <span class="field" id="program-preapplication-coordination">
                {{program.data.assistance?.preApplicationCoordination?.description}}
              </span>
            </p>

            <p class="m-t-0 field" id="program-preapplication-coordination" *ngSwitchDefault>
              Preapplication coordination is not applicable.
            </p>
          </ng-container>
        </div>
      </sam-subsection>

      <sam-subsection title="Application Procedures">
        <p>
          <ng-container *ngFor="let item of program.data?.compliance?.CFR200Requirements?.questions">
            <ng-container *ngIf="item.code === 'subpartE'">
              <span *ngIf="item.isSelected == true" class="field" id="program-application-procedures-a102">
                2 CFR 200, Uniform Administrative Requirements, Cost Principles, and Audit Requirements for Federal Awards applies to this program.
              </span>

              <span *ngIf="item.isSelected == false" class="field" id="program-application-procedures-a102">
                This program is excluded from coverage under 2 CFR 200, Uniform Administrative Requirements, Cost Principles, and Audit
                Requirements for Federal Awards.
              </span>
            </ng-container>
          </ng-container>

          <!-- additional content-->
          <span class="field" id="program-application-procedures">
            {{program.data?.assistance?.applicationProcedure?.description}}
          </span>
        </p>
      </sam-subsection>

      <sam-subsection title="Criteria for Selecting Proposals">
        <p>
          <ng-container [ngSwitch]="program.data?.assistance?.selectionCriteria?.isApplicable">
            <span class="field" id="program-selection-criteria" *ngSwitchCase="true">
              {{program.data?.assistance?.selectionCriteria?.description}}
            </span>

<!--            <span class="field" id="program-selection-criteria" *ngSwitchCase="'no'">
              No
            </span>-->

            <span class="field" id="program-selection-criteria" *ngSwitchDefault>
              Not Applicable
            </span>
          </ng-container>
        </p>
      </sam-subsection>

      <sam-subsection title="Award Procedure">
        <p class="field" id="program-award-procedure">
          {{program.data?.assistance?.awardProcedure?.description}}
        </p>
      </sam-subsection>

      <sam-subsection title="Date Range for Approval/Disapproval">
        <p class="field" id="program-application-approval-interval" [ngSwitch]="program.data?.assistance?.approval?.interval">
          <ng-container *ngSwitchCase="'1'"><em>From 1 to 15 days</em></ng-container>
          <ng-container *ngSwitchCase="'2'"><em>From 15 to 30 days</em></ng-container>
          <ng-container *ngSwitchCase="'3'"><em>From 30 to 60 days</em></ng-container>
          <ng-container *ngSwitchCase="'4'"><em>From 60 to 90 days</em></ng-container>
          <ng-container *ngSwitchCase="'5'"><em>From 90 to 120 days</em></ng-container>
          <ng-container *ngSwitchCase="'6'"><em>From 120 to 180 days</em></ng-container>
          <ng-container *ngSwitchCase="'7'"><em>&gt; 180 Days</em></ng-container>
          <ng-container *ngSwitchCase="'8'"><em>Not Applicable</em></ng-container>
          <ng-container *ngSwitchCase="'9'"><em>Other</em></ng-container>
          <span class="field" id="program-application-approval">
            {{program.data?.assistance?.approval?.description}}
          </span>
        </p>
      </sam-subsection>

      <sam-subsection title="Renewals">
        <p class="field" id="program-application-renewal-interval" [ngSwitch]="program.data?.assistance?.renewal?.interval">
          <ng-container *ngSwitchCase="'1'"><em>From 1 to 15 days</em></ng-container>
          <ng-container *ngSwitchCase="'2'"><em>From 15 to 30 days</em></ng-container>
          <ng-container *ngSwitchCase="'3'"><em>From 30 to 60 days</em></ng-container>
          <ng-container *ngSwitchCase="'4'"><em>From 60 to 90 days</em></ng-container>
          <ng-container *ngSwitchCase="'5'"><em>From 90 to 120 days</em></ng-container>
          <ng-container *ngSwitchCase="'6'"><em>From 120 to 180 days</em></ng-container>
          <ng-container *ngSwitchCase="'7'"><em>&gt; 180 Days</em></ng-container>
          <ng-container *ngSwitchCase="'8'"><em>Not Applicable</em></ng-container>
          <ng-container *ngSwitchCase="'9'"><em>Other</em></ng-container>
          <span class="field" id="program-application-renewal">
            {{program.data?.assistance?.renewal?.description}}
          </span>
        </p>
      </sam-subsection>

      <sam-subsection title="Renewals">
        <p class="field" id="program-application-renewal-interval" [ngSwitch]="program.data?.assistance?.renewal?.interval">
          <ng-container *ngSwitchCase="'1'"><em>From 1 to 15 days</em></ng-container>
          <ng-container *ngSwitchCase="'2'"><em>From 15 to 30 days</em></ng-container>
          <ng-container *ngSwitchCase="'3'"><em>From 30 to 60 days</em></ng-container>
          <ng-container *ngSwitchCase="'4'"><em>From 60 to 90 days</em></ng-container>
          <ng-container *ngSwitchCase="'5'"><em>From 90 to 120 days</em></ng-container>
          <ng-container *ngSwitchCase="'6'"><em>From 120 to 180 days</em></ng-container>
          <ng-container *ngSwitchCase="'7'"><em>&gt; 180 Days</em></ng-container>
          <ng-container *ngSwitchCase="'8'"><em>Not Applicable</em></ng-container>
          <ng-container *ngSwitchCase="'9'"><em>Other</em></ng-container>
          <span class="field" id="program-application-renewal">
            {{program.data?.assistance?.renewal?.description}}
          </span>
        </p>
      </sam-subsection>
      
      <sam-subsection title="Appeals">
        <p class="field" id="program-application-appeal-interval" [ngSwitch]="program.data?.assistance?.appeal?.interval">
          <ng-container *ngSwitchCase="'1'"><em>From 1 to 15 days</em></ng-container>
          <ng-container *ngSwitchCase="'2'"><em>From 15 to 30 days</em></ng-container>
          <ng-container *ngSwitchCase="'3'"><em>From 30 to 60 days</em></ng-container>
          <ng-container *ngSwitchCase="'4'"><em>From 60 to 90 days</em></ng-container>
          <ng-container *ngSwitchCase="'5'"><em>From 90 to 120 days</em></ng-container>
          <ng-container *ngSwitchCase="'6'"><em>From 120 to 180 days</em></ng-container>
          <ng-container *ngSwitchCase="'7'"><em>&gt; 180 Days</em></ng-container>
          <ng-container *ngSwitchCase="'8'"><em>Not Applicable</em></ng-container>
          <ng-container *ngSwitchCase="'9'"><em>Other</em></ng-container>
          <span class="field" id="program-application-appeal">
            {{program.data?.assistance?.appeal?.description}}
          </span>
        </p>
      </sam-subsection>
    </sam-section>

    <!--Compliance requirements-->
    <sam-section id="program-compliance-requirements" title="Compliance Requirements" titleId="compliance-requirements">
      <sam-subsection title="Reports">
        <div>
          <p class="field" id="program-postaward-reports" *ngIf="([true] | filterMultiArrayObject:program.data?.compliance?.reports:'isSelected':false:null).length > 0">
            <ng-container *ngFor="let item of program.data?.compliance?.reports">
              <span *ngIf="item.isSelected == true" class="field" [attr.id]="'program-postaward-reports-' + item.code">{{item.description}}</span>
            </ng-container>
          </p>

          <p class="m-a-0 field" id="program-postaward-reports" *ngIf="([true] | filterMultiArrayObject:program.data?.compliance?.reports:'isSelected':false:null).length == 0">
            Not Applicable
          </p>
        </div>
      </sam-subsection>

      <sam-subsection title="Audits">
        <div>
          <ng-container [ngSwitch]="program.data?.compliance?.audit?.isApplicable">
            <p *ngSwitchCase="true">
              <ng-container *ngFor="let item of program.data?.compliance?.CFR200Requirements?.questions">
                <ng-container *ngIf="item.code === 'subpartF'">
                  <span *ngIf="item.isSelected == true" class="field" id="program-postaward-audit-a133">
                    In accordance with the provisions of 2 CFR 200, Subpart F - Audit Requirements,
                    nonfederal entities that expend financial assistance of $750,000 or more in Federal
                    awards will have a single or a program-specific audit conducted for that year. Non-Federal
                    entities that expend less than $750,000 a year in Federal awards are exempt from Federal
                    audit requirements for that year, except as noted in 2 CFR 200.503
                  </span>

                  <span *ngIf="item.isSelected == false" class="field" id="program-postaward-audit-a133">
                    This program is excluded from coverage under 2 CFR 200, Subpart F - Audit Requirements.
                  </span>
                </ng-container>
              </ng-container>

              <span class="field" id="program-postaward-audit">{{program.data?.compliance?.audit?.description}}</span>
            </p>

            <p class="m-a-0 field" id="program-postaward-audit" *ngSwitchDefault>
              Not Applicable.
            </p>
          </ng-container>
        </div>
      </sam-subsection>

      <sam-subsection title="Records">
        <p class="field" id="program-postaward-records" *ngIf="(program.data?.compliance?.records?.description) && (program.data?.compliance?.records.description != '')">
          {{program.data?.compliance?.records?.description}}
        </p>

        <p class="field" id="program-postaward-records" *ngIf="!(program.data?.compliance?.records?.description) || (program.data?.compliance?.records?.description == '')">
          No Data Available.
        </p>
      </sam-subsection>
      
      <sam-subsection title="Regulations, Guidelines, and Literature">
        <p>
          <ng-container [ngSwitch]="program.data?.compliance?.documents?.isApplicable">
            <span class="field" id="program-postaward-documents" *ngSwitchCase="true"> {{program.data?.compliance?.documents?.description}}</span>
            <span class="field" id="program-postaward-documents" *ngSwitchDefault> Not Applicable.</span>
          </ng-container>
        </p>
      </sam-subsection>

      <sam-subsection title="Formula and Matching Requirements">
        <!-- statutory formula-->
        <ng-container [ngSwitch]="program.data?.compliance?.formulaAndMatching?.types?.formua">
          <div class="m-a-0 field" id="program-assistance-formula" *ngSwitchCase="true">
            Statutory Formula: Title {{program.data?.compliance?.formulaAndMatching?.formula?.title}} Chapter {{program.data?.compliance?.formulaAndMatching?.formula?.chapter}}
            Part {{program.data?.compliance?.formulaAndMatching?.formula?.part}} Subpart {{program.data?.compliance?.formulaAndMatching?.formula?.subPart}} Public Law {{program.data?.compliance?.formulaAndMatching?.formula?.publicLaw}}
            {{program.data?.compliance?.formulaAndMatching?.formula?.description}}
          </div>

          <div class="m-a-0 field" id="program-assistance-formula" *ngSwitchCase="false">
            Statuary formula is not applicable to this federal assistance listing.
          </div>
        </ng-container>

        <!-- matching requirements -->
        <ng-container [ngSwitch]="program.data?.compliance?.formulaAndMatching?.types?.matching">
          <div class="m-a-0 field" id="program-assistance-matching" *ngSwitchCase="true">
              Matching Requirements: <ng-container *ngIf="program.data?.compliance?.formulaAndMatching?.matching?.percent > 0">Percent: {{program.data?.compliance?.formulaAndMatching?.matching?.percent}}</ng-container>
              {{program.data?.compliance?.formulaAndMatching?.matching?.description}}
          </div>

          <div class="m-a-0 field" id="program-assistance-matching" *ngSwitchCase="false">
            Matching requirements are not applicable to this federal assistance listing.
          </div>
        </ng-container>

        <!-- moe-->
        <ng-container [ngSwitch]="program.data?.compliance?.formulaAndMatching?.types?.moe">
          <div class="m-a-0 field" id="program-assistance-moe" *ngSwitchCase="true">
              This program has MOE requirements, see funding agency for further details. Additional Information:
              {{program.data?.compliance?.formulaAndMatching?.moe?.description}}
          </div>

          <div class="m-a-0 field" id="program-assistance-moe" *ngSwitchCase="false">
            MOE requirements are not applicable to this federal assistance listing.
          </div>
        </ng-container>
      </sam-subsection>
    </sam-section>

    <!--Contact information-->
    <sam-section id="program-contact-information" title="Contact Information" titleId="contact-information">
      <address>
        <sam-subsection title="Regional or Local Office">
          <span class="field" id="program-contacts-local" *ngIf="program.data?.contacts?.local?.flag == 'appendix'"> See Regional Agency Offices. {{program.data.contacts['local']?.description }}</span>
          <span class="field" id="program-contacts-local" *ngIf="program.data?.contacts?.local?.flag == 'none'"> None. {{program.data.contacts['local']?.description }}</span>
        </sam-subsection>
        
        <sam-subsection title="Headquarters Office">
          <div *ngFor="let item of program.data.contacts?.headquarters; let i = index">
            <samPOC [attr.id]="'program-contacts-poc-' + i" [data]="item"></samPOC>
          </div>
          <strong>Website: </strong>
          <ng-container *ngIf="!program.data?.website || program.data?.website == null ">No Data Available</ng-container>
          <ng-container *ngIf="program.data?.website">{{program.data.website}}</ng-container>
        </sam-subsection>
      </address>
    </sam-section>

    <!--History Section-->
    <sam-section id="program-history" *ngIf="historicalIndex" title="History" titleId="history">
      <ng-container *ngFor="let item of historicalIndex; let i = index">
        <div id="historyItem" *ngIf="(!(item.actionType == 'publish' && item.index != 1))">
          <p class="field" [attr.id]="'program-historical-' + i">
            {{item.fiscalYear}}
            <span class="historyDetails" [attr.id]="'program-historical-details-' + i">{{item.actionType | historicalIndexLabel}}</span>
          </p>
          <p id="changeDescription">{{item.changeDescription}}</p>
        </div>
      </ng-container>
    </sam-section>
  </ng-container>
</div>
</display-page>
