<div class="usa-grid-full">

  <!--Introduction to the sam.gov website-->
  <div class="usa-grid-full m_B-6x" >
    <p class="m_0 p_T-6x">
      Bacon ipsum dolor amet picanha frankfurter jerky, cupim tongue
      drumstick filet mignon ribeye porchetta kevin ground round salami spare ribs.
    </p>
  </div>

  <!--search bar-->

  <div class="usa-grid-full marginCenter">
    <samSearchbar [size]="'large'" (onSearch)="runSearch($event)"></samSearchbar>
  </div>

  <!--Browser topics and the register button-->
  <div class="usa-grid-full row m_T-6x" *ngIf="false">

    <!--Browse Topics-->
    <div class="usa-width-one-whole vertical-line">
      <div class="usa-grid-full">

        <div class="usa-grid-full">
          <div class="pull-left">
            <h2>Browse Topics</h2>
          </div>
        </div>

        <!--Origin Format of Four Topics along with images-->
        <div class="usa-width-one-whole">

          <div class="usa-width-one-fourth">
            <div class="usa-width-one-half topic-div-marginCenter">
              <div class="usa-width-one-whole image-wrap topic-image-link">
                <a (click)="selectTopic('XYZ1')"><img src="../assets/img/blank_icon.png"></a>
              </div>
              <div class="usa-width-one-whole centered">
                <a (click)="selectTopic('XYZ1')">XYZ1</a>
              </div>
            </div>

          </div>

          <div class="usa-width-one-fourth">
            <div class="usa-width-one-half topic-div-marginCenter">
              <div class="usa-width-one-whole image-wrap topic-image-link">
                <a (click)="selectTopic('XYZ2')"><img src="../assets/img/blank_icon.png"></a>
              </div>
              <div class="usa-width-one-whole centered">
                <a (click)="selectTopic('XYZ2')">XYZ2</a>
              </div>
            </div>
          </div>


          <div class="usa-width-one-fourth">
            <div class="usa-width-one-half topic-div-marginCenter">
              <div class="usa-width-one-whole image-wrap topic-image-link">
                <a (click)="selectTopic('XYZ3')"><img src="../assets/img/blank_icon.png"></a>
              </div>
              <div class="usa-width-one-whole centered">
                <a (click)="selectTopic('XYZ3')">XYZ3</a>
              </div>
            </div>
          </div>

          <div class="usa-width-one-fourth">
            <div class="usa-width-one-half topic-div-marginCenter">
              <div class="usa-width-one-whole image-wrap topic-image-link">
                <a (click)="selectTopic('XYZ4')"><img src="../assets/img/blank_icon.png"></a>
              </div>
              <div class="usa-width-one-whole centered">
                <a (click)="selectTopic('XYZ4')">XYZ4</a>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <!--Selected Format of Four Topics along with images, shows up when a link is selected-->
  <div class="usa-width-one-whole relative">

    <!--Triangle div to point out which topic detail is currently showing-->
    <div class="usa-width-one-whole tri-div" *ngIf = "showDetail">
      <div class="usa-width-one-fourth" [ngClass]="setClasses('XYZ1')"></div>
      <div class="usa-width-one-fourth" [ngClass]="setClasses('XYZ2')"></div>
      <div class="usa-width-one-fourth" [ngClass]="setClasses('XYZ3')"></div>
      <div class="usa-width-one-fourth" [ngClass]="setClasses('XYZ4')"></div>
    </div>
    <!--Selected Image with detail explanation shows up-->
    <div class="usa-width-one-whole m_T-4x topic-detail" *ngIf = "showDetail">
      <div class="usa-width-one-whole ">

        <span class="pull-right"><a (click)="closeTopicDetail()">
          <i class="fa fa-times-circle"></i></a>
        </span>
      </div>

      <div class="usa-width-one-whole">
        <span>{{curTopicDetail}} </span>

      </div>

      <div class="usa-width-one-whole m_T-3x">
        <span class="pull-right"><a href="#">Learn more..</a></span>
      </div>

    </div>


  </div>


</div>
