<div class="system-widget">
  <div class="widget-body">
    <span class="system-accounts">&nbsp;
      <ul class="list-accounts">
        <li *ngFor="let account of accounts; let $index = index;">
          <a [routerLink]="['system/profile', account._id]" [innerText]="account.systemName"></a>
        </li>
      </ul>
    </span>
    <span class="system-controls text-center">
      <a class="usa-button usa-button-primary" [routerLink]="['system/profile']">Create</a>
    </span>
  </div>
  <a class="widget-footer text-right" [routerLink]="['system']" *ngIf="accounts.length">
    Go to Directory <span class="fa fa-chevron-circle-right"></span>
  </a>
</div>
