@import './profile/details';
@import './profile/reset';
@import './profile/migrations';

.usa-profile {
  position: relative;

  .usa-alert {
    a {
      font-weight: 600;
    }
  }

  .usa-alert-static {
    width: 100%;
    margin-top: 0px;
    top: -34px;
  }

  h2 {
    margin-top: 2.2em;
  }

  h3:nth-child(1) {
    margin-top: 0em;
  }

  /*
   * Responsive
   */
  @media screen and (max-width: $large-screen - 1) {
    padding-left: 2rem;
    padding-right: 2rem;

    .usa-alert-static {
      position: relative !important;
      top: 0px;
      margin-top: 2rem;
    }

    h2 {
      margin-top: 2rem;
    }
  }
}
