@import './profile/details';
@import './profile/reset';

.usa-profile {
  position: relative;

  .usa-alert {
    a {
      font-weight: 600;
    }
  }

  .usa-alert-static {
    width: 100%;
  }

  h2 {
    margin-top: 2.2em;
  }

  h3:nth-child(1) {
    margin-top: 0em;
  }
}
