@import './profile/details';
@import './profile/reset';

.usa-profile {
  position: relative;

  .usa-alert {
    &.usa-alert-static {
      position: absolute;
      width: 100%;
      top: -80px;
    }

    a {
      font-weight: 600;
    }
  }

  h2 {
    margin-top: 2.2em;
  }

  h3:nth-child(1) {
    margin-top: 0em;
  }
}
