<div id="stickyLabel" class="sticky-label" *ngIf="!viewModel.isNew">Edit Header Information - {{ viewModel.title }}</div>

<form [formGroup]="falHeaderInfoForm">
  <sam-text *ngIf="!viewModel.isRevision"
           [maxlength]="144"
           [hint]="titleHint"
           [control]="falHeaderInfoForm.controls['title']"
           [name]="'title-input'"
           [label]="'Title'"
           [required]="true"
           formControlName="title"></sam-text>

  <div *ngIf="viewModel.isRevision">
    Title: {{ viewModel.title }}
  </div>

  <sam-text [hint]="popularNameHint"
           [control]="falHeaderInfoForm.controls['alternativeNames']"
           [name]="'alternative-names-input'"
           [label]="'Popular Name'"
           formControlName="alternativeNames"></sam-text>

  <sam-agency-picker *ngIf="!viewModel.isRevision"
                [label]="'Federal Agency'"
                [multimode]="false"
                [advancedMode]="false"
                [required]="true"
                [orgId]="organizationId"
                [initial]="organizationId ? [organizationId] : []"
                (organization)="onOrganizationChange($event)"
                [levelLimit]='2'
                formControlName="federalAgency" #agencyPicker></sam-agency-picker>

  <div *ngIf="viewModel.isRevision && organizationData">
      {{ organizationData.type }}: {{ organizationData.name || organizationData.agencyName }}
  </div>

  <sam-number *ngIf="!viewModel.isRevision"
             [maxlength]="3"
             [minlength]="3"
             [required]="true"
             [hint]="'Provide a unique three digit program number (for example, enter 244 for CFDA number 10.244)'"
             [control]="falHeaderInfoForm.controls['programNumber']"
             [name]="'programNumber-input'"
             [label]="'FAL Number'"
             formControlName="programNumber"></sam-number>

  <div *ngIf="viewModel.isRevision">
    CFDA Number: {{ falNo }}
  </div>

  <sam-list-display  [newValue]="rpNGModel"
                     formControlName="rpListDisplay"
                     (ngModelChange)="relatedProgramTypeChange($event)"
                     (modelChange)="relatedProglistChange()"
                     [config]="relProAutocompleteConfig">

    <sam-label-wrapper [label]="'Related Federal Assistance Listing'"
                  [hint]="relatedFalHint">

      <sam-autocomplete autofill-falProgram
                        [(ngModel)] = "rpNGModel"
                        formControlName="relatedPrograms"
                        name="relatedProgramSearch"
                        [config]="relProAutocompleteConfig"
                        class="search-bar sam-autocomplete-width">

      </sam-autocomplete>
    </sam-label-wrapper>
  </sam-list-display>
</form>
