<div id="stickyLabel" class="sticky-label" *ngIf="programId">Edit Contact Information - {{title}}</div>
<form [formGroup]="finObligationsForm" novalidate (ngSubmit)="save(finObligationsForm)">
  <div class="usa-grid">
    <div> Select if applicable</div>
    <samCheckbox
      [(model)]="currentFiscalYearCheckboxModel"
      [name]="currentFiscalYearCheckboxConfig.name"
      [options]="currentFiscalYearCheckboxConfig.options"
      [label]="currentFiscalYearCheckboxConfig.label"
      [hint]="currentFiscalYearCheckboxConfig.hint"
      [errorMessage]="currentFiscalYearCheckboxConfig.errorMessage"
      (modelChange)="chkCurrFiscalYearChange($event)"
      class="form-control" formControlName="isFundedCurrentFY" ngDefaultControl
      [(ngModel)]=" currentFiscalYearFlag">
    </samCheckbox>
    <div [class.hide]="obligationsInfo.length == 0">
      <h2>Obligations</h2>
      <table>
        <thead>
        <tr>
          <th scope="col">obligations</th>
          <th scope="col">FY {{pastYear}}</th>
          <th scope="col">FY {{currentYear}} (est.)</th>
          <th scope="col">FY {{budgetYear}} (est.)</th>
          <th>Actions</th>

        </tr>
        </thead>
        <tbody>

        <ng-container *ngFor="let obligation of obligationsInfo; let i = index">
          <tr>
            <td>{{obligation.assistanceType}}</td>
            <td *ngFor="let value of obligation.values let i = index"><span
              *ngIf="(value.radioOptionId=='pFYActual' || value.radioOptionId=='cFYEstimate' || value.radioOptionId=='bFYEstimate')">${{value.textboxValue}}</span>
            </td>
            <td>
              <a class="fal-table-edit" (click)="editObligation(i)">Edit</a>
              <i class="fa fa-pencil fal-table-edit" aria-hidden="true" (click)="editObligation(i)"></i>
              <a class="fal-table-delete" (click)="removeObligation(i)">Delete</a>
              <i class="fa fa-trash fal-table-delete" aria-hidden="true" (click)="removeObligation(i)"></i>
            </td>
          </tr>

        </ng-container>
        <tr>
          <td>Total</td>
          <td><span>$</span>{{totalvalue.totalpFY}}</td>
          <td><span>$</span>{{totalvalue.totalcFY}}</td>
          <td><span>$</span>{{totalvalue.totalbFY}}</td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div *ngFor="let obligation of obligationsInfo; let i=index">
      {{obligation | json}}
      <a (click)="removeObligation(i)">Delete</a>

      <a (click)="editObligation(i)">Edit</a>
    </div>
    <samButton buttonText="Add New Obligation" (onClick)="onAddNewObliClick()"
               [class.hide]="hideAddButton"></samButton>
    <div #subForm formArrayName="obligations" *ngIf="!hideObligationsForm">
      <div *ngFor="let obligation of finObligationsForm.controls.obligations.controls; let i=index">
        <div [formGroupName]="i" [class.hide]="obligationIndex !== i">
          <h2>New Obligation</h2>
          <div>Select if applicable</div>
          <samCheckbox
            [(model)]="recReinveCheckboxModel"
            [name]="recReinveCheckboxConfig.name"
            [options]="recReinveCheckboxConfig.options"
            class="form-control" formControlName="isRecoveryAct" [(ngModel)]="chkRecReinvActObj"
            ngDefaultControl>
          </samCheckbox>

          <div>Assistance Type</div>
          <sam-autocomplete [options]="options" [name]="samauto" formControlName="assistanceType"
                            [config]="autocompleteConfig"></sam-autocomplete>
          <h2>Past Fiscal Year - {{pastYear}}</h2>
          <samTextRadioButton
            [options]="pastFiscalYearConfig.options"
            [label]="pastFiscalYearConfig.label"
            [hint]="pastFiscalYearConfig.hint"
            [name]="pastFiscalYearConfig.name"
            [errorMessage]="pastFiscalYearConfig.errorMessage"
            [formControlName]="'pFY'">
          </samTextRadioButton>
          <h2>Current Fiscal Year - {{currentYear}}</h2>
          <samTextRadioButton
            [options]="currentFiscalYearConfig.options"
            [label]="currentFiscalYearConfig.label"
            [hint]="currentFiscalYearConfig.hint"
            [name]="currentFiscalYearConfig.name"
            [errorMessage]="currentFiscalYearConfig.errorMessage" formControlName="cFY">
          </samTextRadioButton>
          <h2>Budget Fiscal Year - {{budgetYear}}</h2>
          <samTextRadioButton
            [options]="budgetFiscalYearConfig.options"
            [label]="budgetFiscalYearConfig.label"
            [hint]="budgetFiscalYearConfig.hint"
            [name]="budgetFiscalYearConfig.name"
            [errorMessage]="budgetFiscalYearConfig.errorMessage" formControlName="bFY">
          </samTextRadioButton>
          <samTextArea
            [name]="textareaConfig.name"
            [label]="textareaConfig.label"
            formControlName="description">
          </samTextArea>
          <div class="pull-center">
            <samButton buttonText="Cancel" (click)="onObligationCancelClick($event)"></samButton>
            <samButton buttonText="Confirm Obligation"
                       (onClick)="onObligationConfirmClick()"></samButton>
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="pull-left">
    <samButton buttonText="Cancel" (onClick)="onCancelClick($event)"
               [buttonType]="(!finObligationsForm.valid || hideAddButton ? 'disabled' : 'default')"></samButton>
    <samButton buttonText="Previous" (onClick)="onPreviousClick($event)"
               [buttonType]="(!finObligationsForm.valid || hideAddButton ? 'disabled' : 'default')"></samButton>
    <samButton buttonText="Save and Exit" (onClick)="saveData()" (onClick)="saveData()"
               [buttonType]="(!finObligationsForm.valid || hideAddButton ? 'disabled' : 'default')"
    ></samButton>
    <samButton buttonText="Save and Continue"
               [buttonType]="(!finObligationsForm.valid || hideAddButton ? 'disabled' : 'default')"
               (onClick)="onSaveContinueClick($event)"
    ></samButton>
  </div>
</form>






