<!--Delete Modal-->
<sam-modal *ngIf="config.deleteModal" #deleteModal
           [showClose]="true"
           [closeOnOutsideClick]="true"
           [closeOnEscape]="true"
           [type]="'warning'"
           [title]="config.deleteModal.title"
           [description]="config.deleteModal.description"
           [submitButtonLabel]="'Ok'"
           [cancelButtonLabel]="'Cancel'"
           (onSubmit)="onDeleteModalSubmit($event)">
</sam-modal>

<sam-label-wrapper #tafsLabel
                   [name]="config.name"
                   [label]="config.label"
                   [hint]="tatsHint"
                   [required]="config.required">
  <!-- Existing tafs table -->
  <table class="sam-ui table celled" *ngIf="model.tafs && model.tafs.length > 0">
    <thead>
    <tr>
      <th scope="col">
        Treasury Dept. Code
      </th>
      <th scope="col">
        Treasury Account Main Code
      </th>
      <th scope="col">
        TAFS Sub Account
      </th>
      <th scope="col">
        Allocation Transfer Agency
      </th>
      <th scope="col">
        FY 1
      </th>
      <th scope="col">
        FY 2
      </th>
      <th scope="col">
        Actions
      </th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let tafs of model.tafs; let i=index">
      <tr>
        <!-- Table tafs data -->
        <td>
          {{ tafs.departmentCode }}
          <span *ngIf="!tafs.departmentCode" [class]="'usa-input-error-message'">A department code is required</span>
          <span *ngIf="tafs.departmentCode && !hasNDigits(tafs.departmentCode, 2)" [class]="'usa-input-error-message'">
            Provide a valid number using numerical values 00-99.
          </span>
        </td>
        <td>
          {{ tafs.accountCode }}
          <span *ngIf="!tafs.accountCode" [class]="'usa-input-error-message'">An account main code is required</span>
          <span *ngIf="tafs.accountCode && !hasNDigits(tafs.accountCode, 4)" [class]="'usa-input-error-message'">
            Provide a valid number using numerical values 0000-9999.
          </span>
        </td>
        <td>
          {{ tafs.subAccountCode }}
          <span *ngIf="tafs.subAccountCode && !hasNDigits(tafs.subAccountCode, 3)" [class]="'usa-input-error-message'">
            Provide a valid number using numerical values 000-999.
          </span>
        </td>
        <td>
          {{ tafs.allocationTransferAgency }}
          <span *ngIf="tafs.allocationTransferAgency && !hasNDigits(tafs.allocationTransferAgency, 2)" [class]="'usa-input-error-message'">
            Provide a valid number using numerical values 00-99.
          </span>
        </td>
        <td>
          {{ tafs.fy1 }}
          <span *ngIf="tafs.fy1 && !hasNDigits(tafs.fy1, 4)" [class]="'usa-input-error-message'">
            Provide a valid number using numerical values 0000-9999.
          </span>
        </td>
        <td>
          {{ tafs.fy2 }}
          <span *ngIf="tafs.fy2 && !hasNDigits(tafs.fy2, 4)" [class]="'usa-input-error-message'">
            Provide a valid number using numerical values 0000-9999.
          </span>
        </td>
        <!-- Table action buttons -->
        <td>
          <ng-container *ngIf="!isEditing">
            <a class="fal-table-edit" (click)="editTafs(i)">Edit</a>
            <i class="fa fa-pencil fal-table-edit" aria-hidden="true" (click)="editTafs(i)"></i>
            <a class="fal-table-delete" (click)="onDeleteClick(i)">Delete</a>
            <i class="fa fa-trash fal-table-delete" aria-hidden="true" (click)="onDeleteClick(i)"></i>
          </ng-container>
          <ng-container *ngIf="isEditing">
            <span class="fal-table-edit disabled">Edit</span>
            <i class="fa fa-pencil fal-table-edit disabled" aria-hidden="true"></i>
            <span class="fal-table-delete disabled">Delete</span>
            <i class="fa fa-trash fal-table-delete disabled" aria-hidden="true"></i>
          </ng-container>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>

  <!-- Add new tafs form -->
  <div *ngIf="tafsForm" [formGroup]="tafsForm">
    <div [hidden]="!isEditing">
      <sam-text [label]="'Treasury Dept. Code'"
                [name]="config.name + '-treasury-dept-code'"
                [maxlength]="2"
                [required]="true"
                [control]="tafsForm.get('departmentCode')"
                [formControlName]="'departmentCode'"
      ></sam-text>

      <sam-text [label]="'Treasury Account Main Code'"
                [name]="config.name + '-treasury-account-main-code'"
                [maxlength]="4"
                [required]="true"
                [control]="tafsForm.get('accountCode')"
                [formControlName]="'accountCode'"
      ></sam-text>
    </div>
  </div>
</sam-label-wrapper>

<div *ngIf="tafsForm" [formGroup]="tafsForm">
  <div [hidden]="!isEditing">
    <sam-text [label]="'TAFS Sub Account'"
              [name]="config.name + '-sub-account-code'"
              [maxlength]="3"
              [required]="false"
              [control]="tafsForm.get('subAccountCode')"
              [formControlName]="'subAccountCode'"
    ></sam-text>

    <sam-text [label]="'Allocation Transfer Agency'"
              [name]="config.name + '-allocation-transfer-agency-code'"
              [maxlength]="2"
              [required]="false"
              [control]="tafsForm.get('allocationTransferAgency')"
              [formControlName]="'allocationTransferAgency'"
    ></sam-text>

    <sam-text [label]="'FY 1'"
              [name]="config.name + '-fy1-code'"
              [maxlength]="4"
              [required]="false"
              [control]="tafsForm.get('fy1')"
              [formControlName]="'fy1'"
    ></sam-text>

    <sam-text [label]="'FY 2'"
              [name]="config.name + '-fy2-code'"
              [maxlength]="4"
              [required]="false"
              [control]="tafsForm.get('fy2')"
              [formControlName]="'fy2'"
    ></sam-text>
  </div>
  <br>
  <!-- Add new account form action buttons -->
  <sam-button [buttonId]= "'tafs-add-btn'" *ngIf="!isEditing" buttonText="Add New TAF" (onClick)="displayForm()" [buttonType]="'default'"></sam-button>

  <sam-button  [buttonId]= "'tafs-cancel-btn'" *ngIf="isEditing" buttonText="Cancel" (onClick)="resetForm()" [buttonType]="'default'"></sam-button>
  <sam-button  [buttonId]= "'tafs-confirm-btn'" *ngIf="isEditing" buttonText="Confirm TAF" (onClick)="addTafs()" [buttonType]="'default'"></sam-button>
</div>


