<!--Delete Modal-->
<samModal *ngIf="config.deleteModal" #deleteModal
          [showClose]="true"
          [closeOnOutsideClick]="true"
          [closeOnEscape]="true"
          [type]="'warning'"
          [title]="config.deleteModal.title"
          [description]="config.deleteModal.description"
          [submitButtonLabel]="'Ok'"
          [cancelButtonLabel]="'Cancel'"
          (onSubmit)="onDeleteModalSubmit($event)">
</samModal>

<labelWrapper #tafsLabel
              [name]="config.name"
              [label]="config.label"
              [hint]="config.hint"
              [required]="config.required">

  <div *ngIf="tafsForm" [formGroup]="tafsForm">
    <!-- Existing tafs table -->
    <table class="sam-ui table celled" *ngIf="model.tafs && model.tafs.length > 0">
      <thead>
      <tr>
        <th scope="col">
          Treasury Dept. Code
        </th>
        <th scope="col">
          Treasury Account Main Code
        </th>
        <th scope="col">
          TAFS Sub Account
        </th>
        <th scope="col">
          Allocation Transfer Agency
        </th>
        <th scope="col">
          FY 1
        </th>
        <th scope="col">
          FY 2
        </th>
        <th scope="col">
          Actions
        </th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let tafs of model.tafs; let i=index">
        <tr>
          <!-- Table tafs data -->
          <td>{{ tafs.departmentCode }}</td>
          <td>{{ tafs.accountCode }}</td>
          <td>{{ tafs.subAccountCode }}</td>
          <td>{{ tafs.allocationTransferAgency }}</td>
          <td>{{ tafs.fy1 }}</td>
          <td>{{ tafs.fy2 }}</td>
          <!-- Table action buttons -->
          <td>
            <ng-container *ngIf="!isEditing">
              <a class="fal-table-edit" (click)="editTafs(i)">Edit</a>
              <i class="fa fa-pencil fal-table-edit" aria-hidden="true" (click)="editTafs(i)"></i>
              <a class="fal-table-delete" (click)="onDeleteClick(i)">Remove</a>
              <i class="fa fa-trash fal-table-delete" aria-hidden="true" (click)="onDeleteClick(i)"></i>
            </ng-container>
            <ng-container *ngIf="isEditing">
              <span class="fal-table-edit disabled">Edit</span>
              <i class="fa fa-pencil fal-table-edit disabled" aria-hidden="true"></i>
              <span class="fal-table-delete disabled">Remove</span>
              <i class="fa fa-trash fal-table-delete disabled" aria-hidden="true"></i>
            </ng-container>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>

    <!-- Add new tafs form -->
    <div [hidden]="!isEditing">
      <samText [label]="'Treasury Dept. Code'"
               [name]="config.name + '-treasury-dept-code'"
               [maxlength]="2"
               [required]="true"
               [control]="tafsForm.get('departmentCode')"
               [formControlName]="'departmentCode'"
      ></samText>

      <samText [label]="'Treasury Account Main Code'"
               [name]="config.name + '-treasury-account-main-code'"
               [maxlength]="4"
               [required]="true"
               [control]="tafsForm.get('accountCode')"
               [formControlName]="'accountCode'"
      ></samText>

      <samText [label]="'TAFS Sub Account'"
               [name]="config.name + '-sub-account-code'"
               [maxlength]="3"
               [required]="false"
               [control]="tafsForm.get('subAccountCode')"
               [formControlName]="'subAccountCode'"
      ></samText>

      <samText [label]="'Allocation Transfer Agency'"
               [name]="config.name + '-allocation-transfer-agency-code'"
               [maxlength]="2"
               [required]="false"
               [control]="tafsForm.get('allocationTransferAgency')"
               [formControlName]="'allocationTransferAgency'"
      ></samText>

      <samText [label]="'FY 1'"
               [name]="config.name + '-fy1-code'"
               [maxlength]="4"
               [required]="false"
               [control]="tafsForm.get('fy1')"
               [formControlName]="'fy1'"
      ></samText>

      <samText [label]="'FY 2'"
               [name]="config.name + '-fy2-code'"
               [maxlength]="4"
               [required]="false"
               [control]="tafsForm.get('fy2')"
               [formControlName]="'fy2'"
      ></samText>
    </div>

    <!-- Add new account form action buttons -->
    <samButton *ngIf="!isEditing" buttonText="Add New TAF" (onClick)="displayForm()" [buttonType]="'default'"></samButton>

    <samButton *ngIf="isEditing" buttonText="Cancel" (onClick)="resetForm()" [buttonType]="'default'"></samButton>
    <samButton *ngIf="isEditing" buttonText="Confirm TAF" (onClick)="addTafs()" [buttonType]="(!tafsForm.valid ? 'disabled' : 'default')"></samButton>
  </div>

</labelWrapper>
