<div id="stickyLabel" class="sticky-label" *ngIf="programId">Edit Contact Information - {{progTitle}}</div>
<form [formGroup]="falContactInfoForm">

  <h4>Information Contacts</h4>

  <samCheckbox
    [control]="falContactInfoForm.controls['regLocalOffice']"
    [label]="'Regional or Local Office'"
    [name]="'regional_local_office'"
    [options]="checkboxConfig.options"
    formControlName="regLocalOffice"></samCheckbox>

  <samTextArea [control]="falContactInfoForm.controls['addInfo']"
               [name]="'addInfo-input'"
               [label]="'Additional Information'"
               [required]="true"
               formControlName="addInfo"></samTextArea>

  <h4>Headquaters Office</h4>
  <label>Add up to two points of Contacts for your headquarters office.</label>
  <table [class.hide]="contactsInfo.length == 0">
    <thead>
      <th>Contacts</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contactsInfo; let i=index">
        <td>
          {{contact.title}} {{contact.fullName}} <br/>
          {{contact.streetAddress}} <br/>
          {{contact.city}} {{contact.state}} {{contact.zip}} <br/>
          Email: {{contact.email}} <br/>
          Phone: {{contact.phone}} <br/>
        </td>
        <td>
          <a class="fal-table-edit" (click)="editContact(i)">Edit</a>
          <i class="fa fa-pencil fal-table-edit" aria-hidden="true" (click)="editContact(i)"></i>
          <a class="fal-table-delete" (click)="removeContact(i)">Delete</a>
          <i class="fa fa-trash fal-table-delete" aria-hidden="true" (click)="removeContact(i)"></i>
        </td>
      </tr>
    </tbody>
  </table>


  <samButton buttonText="Add Contact" (onClick)="addContact()" *ngIf="falContactInfoForm.controls.contacts.length < 2" [class.hide]="hideAddButton"></samButton>

  <div formArrayName="contacts" *ngIf="!hideContactsForm">

    <h4>{{mode}} Contact</h4>

    <ng-container *ngFor="let contactGrp of falContactInfoForm.controls.contacts.controls; let i=index">

      <div [formGroupName]="i" [class.hide]="contactIndex !== i">

        <samSelect
          [label]="'Contact'"
          [name]="'contact-control'"
          [required]="true"
          [options]="contactDrpDwnOptions"
          formControlName="contact"
          (modelChange)="onParamChanged($event)"></samSelect>

        <div id="newContact" *ngIf="contactGrp.controls.contact.value == 'new' || mode == 'Edit'">

        <samText
          [control]="falContactInfoForm.controls.contacts.controls[i].controls.title"
          [name]="'title-input'"
          [label]="'Title'"
          formControlName="title"></samText>

        <samText
          [control]="contactGrp.controls.fullName"
          [name]="'fullName-input'"
          [label]="'Full Name'"
          [required]="true"
          formControlName="fullName"></samText>

        <samText
          [control]="contactGrp.controls.email"
          [name]="'email-input'"
          [label]="'Email'"
          [required]="true"
          formControlName="email"></samText>

        <samNumber
          [control]="contactGrp.controls.phone"
          [minlength]="10"
          [maxlength]="10"
          [name]="'phone-input'"
          [label]="'Phone'"
          [required]="true"
          formControlName="phone"></samNumber>

        <samNumber
          [control]="contactGrp.controls.fax"
          [minlength]="10"
          [maxlength]="10"
          [name]="'fax-input'"
          [label]="'Fax'"
          formControlName="fax"></samNumber>

        <samTextArea
          [control]="contactGrp.controls.streetAddress"
          [name]="'street-input'"
          [label]="'Street'"
          [required]="true"
          formControlName="streetAddress"></samTextArea>

        <samText
          [control]="contactGrp.controls.city"
          [name]="'city-input'"
          [label]="'City'"
          [required]="true"
          formControlName="city"></samText>

        <samSelect
          [control]="contactGrp.controls.state"
          [label]="'State'"
          [name]="'state-control'"
          [required]="true"
          [options]="stateDrpDwnOptions"
          formControlName="state"></samSelect>

        <samNumber
          [control]="contactGrp.controls.zip"
          [minlength]="5"
          [maxlength]="5"
          [name]="'zip-input'"
          [label]="'Zip'"
          [required]="true"
          formControlName="zip"></samNumber>

        <samSelect
          [label]="'Country'"
          [name]="'country-control'"
          [options]="countryDrpDwnOptions"
          formControlName="country"></samSelect>

        </div> <!-- End of newcontact -->
        <samButton buttonText="Cancel" (onClick)="onSubFormCancelClick(i)"></samButton>
        <samButton
          buttonText="Confirm"
          [buttonType]="(!contactGrp.valid ? 'disabled' : 'default')"
          (onClick)="onConfirmClick()"
          *ngIf="contactGrp.controls.contact.value != 'na'"></samButton>

      </div> <!-- End of formgroup div -->
    </ng-container>
  </div>

  <samText
    [control]="falContactInfoForm.controls['website']"
    [hint]="'Provide the primary web page URL for this listing. When possible, the web page should be specific to this listing.'"
    [name]="'website-input'"
    [label]="'Website'"
    formControlName="website"></samText>

  <div class="pull-left">
    <samButton [buttonType]="(hideAddButton ? 'disabled' : 'default')" buttonText="Cancel" (onClick)="onCancelClick($event)"></samButton>
    <samButton [buttonType]="(hideAddButton ? 'disabled' : 'default')" buttonText="Previous" (onClick)="onPreviousClick($event)"></samButton>
    <samButton [buttonType]="(!falContactInfoForm.valid || hideAddButton ? 'disabled' : 'default')" buttonText="Save and Exit" (onClick)="onSaveExitClick($event)"></samButton>
    <samButton [buttonType]="(!falContactInfoForm.valid || hideAddButton ? 'disabled' : 'default')" buttonText="Save and Continue" (onClick)="onSaveContinueClick($event)"></samButton>
  </div>
</form>
