<div id="stickyLabel" class="sticky-label" *ngIf="!viewModel.isNew">Edit Contact Information - {{ viewModel.title }}</div>
<form [formGroup]="falContactInfoForm">

  <h4>Information Contacts</h4>

  <sam-checkbox
    [control]="falContactInfoForm.controls['useRegionalOffice']"
    [label]="'Regional or Local Office'"
    [name]="'regional_local_office'"
    [options]="checkboxConfig.options"
    formControlName="useRegionalOffice"></sam-checkbox>

  <sam-text-area [control]="falContactInfoForm.controls['additionalInfo']"
               [name]="'addInfo-input'"
               [label]="'Additional Information'"
               formControlName="additionalInfo"></sam-text-area>

  <h4>Headquaters Office</h4>
  <label>Add up to two points of Contacts for your headquarters office.</label>

  <contactInfoTable [contactsInfo]="contactsInfo" [hideContactsForm]="hideContactsForm" (actionHandler)="actionHandler($event)"></contactInfoTable>


  <sam-button buttonText="Add Contact" (onClick)="addContact()" *ngIf="falContactInfoForm.controls.contacts.length < 2" [class.hide]="hideAddButton"></sam-button>

  <div formArrayName="contacts" *ngIf="!hideContactsForm">

    <h4>{{mode}} Contact</h4>

    <ng-container *ngFor="let contactGrp of falContactInfoForm.controls.contacts.controls; let i=index">

      <div [formGroupName]="i" [class.hide]="contactIndex !== i">

        <sam-select
          [control]="falContactInfoForm.controls.contacts.controls[i].controls.contactId"
          [label]="'Contact'"
          [name]="'contact-control'"
          [required]="true"
          [options]="contactDrpDwnOptions"
          [disabled]="(mode == 'Edit' ? true : false)"
          formControlName="contactId"
          (modelChange)="onParamChanged($event)"></sam-select>

        <div id="newContact" *ngIf="contactGrp.controls.contactId.value == 'new' || mode == 'Edit'">

          <sam-text
            [control]="falContactInfoForm.controls.contacts.controls[i].controls.title"
            [name]="'title-input'"
            [label]="'Title'"
            formControlName="title"></sam-text>

          <sam-text
            [control]="contactGrp.controls.fullName"
            [name]="'fullName-input'"
            [label]="'Full Name'"
            [required]="true"
            formControlName="fullName"></sam-text>

          <sam-text
            [control]="contactGrp.controls.email"
            [name]="'email-input'"
            [label]="'Email'"
            [required]="true"
            formControlName="email"></sam-text>

          <sam-number
            [control]="contactGrp.controls.phone"
            [minlength]="10"
            [maxlength]="10"
            [name]="'phone-input'"
            [label]="'Phone'"
            [required]="true"
            formControlName="phone"></sam-number>

          <sam-number
            [control]="contactGrp.controls.fax"
            [minlength]="10"
            [maxlength]="10"
            [name]="'fax-input'"
            [label]="'Fax'"
            formControlName="fax"></sam-number>

          <sam-text-area
            [control]="contactGrp.controls.streetAddress"
            [name]="'street-input'"
            [label]="'Street'"
            [required]="true"
            formControlName="streetAddress"></sam-text-area>

          <sam-text
            [control]="contactGrp.controls.city"
            [name]="'city-input'"
            [label]="'City'"
            [required]="true"
            formControlName="city"></sam-text>

          <sam-select
            [control]="contactGrp.controls.state"
            [label]="'State'"
            [name]="'state-control'"
            [required]="true"
            [options]="stateDrpDwnOptions"
            formControlName="state"></sam-select>

          <sam-text
            [control]="contactGrp.controls.zip"
            [name]="'zip-input'"
            [label]="'Zip'"
            [required]="true"
            formControlName="zip"></sam-text>

          <sam-select
            [label]="'Country'"
            [name]="'country-control'"
            [options]="countryDrpDwnOptions"
            formControlName="country"></sam-select>

        </div> <!-- End of newcontact -->
        <sam-button buttonText="Cancel" (onClick)="onSubFormCancelClick(i)"></sam-button>
        <sam-button
          buttonText="Confirm"
          (onClick)="onConfirmClick()"
          *ngIf="contactGrp.controls.contactId.value != 'na'"></sam-button>

      </div> <!-- End of formgroup div -->
    </ng-container>
  </div>

  <sam-text
    [control]="falContactInfoForm.controls['website']"
    [hint]="'Provide the primary web page URL for this listing. When possible, the web page should be specific to this listing.'"
    [name]="'website-input'"
    [label]="'Website'"
    formControlName="website">
  </sam-text>
</form>
