<div formArrayName="contacts">

  <h4>{{mode}} Contact</h4>

  <ng-container *ngFor="let contactGrp of falContactInfoForm.controls.contacts.controls; let i=index">

    <div [formGroupName]="i" [class.hide]="contactIndex !== i">

      <sam-select
        [control]="falContactInfoForm.controls.contacts.controls[i].controls.contactId"
        [label]="'Contact'"
        [name]="'contact-control'"
        [required]="true"
        [options]="contactDrpDwnOptions"
        [disabled]="(mode == 'Edit' ? true : false)"
        formControlName="contactId"
        (modelChange)="onParamChanged($event)"></sam-select>

      <div id="newContact" *ngIf="contactGrp.controls.contactId.value == 'new' || mode == 'Edit'">

        <sam-text
          [control]="falContactInfoForm.controls.contacts.controls[i].controls.title"
          [name]="'title-input'"
          [label]="'Title'"
          formControlName="title"></sam-text>

        <sam-text
          [control]="contactGrp.controls.fullName"
          [name]="'fullName-input'"
          [label]="'Full Name'"
          [required]="true"
          formControlName="fullName"></sam-text>

        <sam-text
          [control]="contactGrp.controls.email"
          [name]="'email-input'"
          [label]="'Email'"
          [required]="true"
          formControlName="email"></sam-text>

        <sam-number
          [control]="contactGrp.controls.phone"
          [minlength]="10"
          [maxlength]="10"
          [name]="'phone-input'"
          [label]="'Phone'"
          [required]="true"
          formControlName="phone"></sam-number>

        <sam-number
          [control]="contactGrp.controls.fax"
          [minlength]="10"
          [maxlength]="10"
          [name]="'fax-input'"
          [label]="'Fax'"
          formControlName="fax"></sam-number>

        <sam-text-area
          [control]="contactGrp.controls.streetAddress"
          [name]="'street-input'"
          [label]="'Street'"
          [required]="true"
          formControlName="streetAddress"></sam-text-area>

        <sam-text
          [control]="contactGrp.controls.city"
          [name]="'city-input'"
          [label]="'City'"
          [required]="true"
          formControlName="city"></sam-text>

        <sam-select
          [control]="contactGrp.controls.state"
          [label]="'State'"
          [name]="'state-control'"
          [required]="true"
          [options]="stateDrpDwnOptions"
          formControlName="state"></sam-select>

        <sam-text
          [control]="contactGrp.controls.zip"
          [name]="'zip-input'"
          [label]="'Zip'"
          [required]="true"
          formControlName="zip"></sam-text>

        <sam-select
          [label]="'Country'"
          [name]="'country-control'"
          [options]="countryDrpDwnOptions"
          formControlName="country"></sam-select>

      </div> <!-- End of newcontact -->
      <sam-button buttonText="Cancel" (onClick)="onSubFormCancelClick(i)"></sam-button>
      <sam-button
        buttonText="Confirm"
        (onClick)="onConfirmClick()"
        *ngIf="contactGrp.controls.contactId.value != 'na'"></sam-button>

    </div> <!-- End of formgroup div -->
  </ng-container>
</div>
