.object-details-page {
  .dropdown-title.pointer {
    border: 1px solid black;
    padding-left: 1em;
    padding-right: 1em;
  }

  .dropdown {
    padding-left: 0;
  }

  .label-wrapper {
    max-width: 32rem;
  }
}
