.rolemgmt-workspace{
  padding: 0 2.0rem !important;

  .usa-grid-full{
    max-width: initial;
  }

  .page-title {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }

  .role-filters-column {
    padding-right: 2rem;
  }
}
